/* SASS Document */
/*=============================================== Imports ===============================================*/
/*============================================================= Mixins =============================================================*/
/*============================================================= Animations =============================================================*/
/*============================================================= Viewports =============================================================*/
/*=============================================== Reset ===============================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

/*=============================================== Variables ===============================================*/
:root {
  --gray: #f4f3f4;
  --purple: #192592;
  --dark-gray: #2c303f;
  --gray-text: #5b5e6d;
  --nav: #5b5e6d;
  --white: #fff;
  --black: #000;
  --border: #ebebeb;
  --margin-xxl: 48px;
  --margin-xl: 32px;
  --margin-l: 24px;
  --margin-m: 16px;
  --margin-s: 12px;
  --margin-xs: 8px;
  --margin-xxs: 4px;
  --font-family: "Montserrat", sans-serif;
  --font-titles: "Crimson Pro", serif;
  --line-height: 1.5;
  --font-regular: 400;
  --font-bold: 700;
  --radius-xl: 16px;
  --radius-l: 12px;
  --radius-m: 8px;
  --radius-s: 4px;
  --radius-round: 99em;
  --grid-template: 1fr 600px 1fr;
  --grid-column: 2;
  --grid-padding: var(--margin-xxl) 0;
  --transition-short: all 0.2s ease;
  --transition-long: all 0.5s ease;
}

@media (max-width: 1024px) {
  :root {
    --grid-template: 1fr;
    --grid-column: 1;
    --grid-padding: var(--margin-xxl) 5vw;
  }
}

/*=============================================== General ===============================================*/
* {
  outline: none;
}

html,
body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--gray-text);
  line-height: var(--line-height);
}

/*=============================================== Fonts ===============================================*/
h1,
h2,
h3 {
  font-family: var(--font-titles);
  color: var(--dark-gray);
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p a {
  position: relative;
  color: var(--purple);
  text-decoration: none;
}

p a:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  background-color: currentColor;
  height: 2px;
}

/*=============================================== UI ===============================================*/
.btn {
  padding: var(--margin-xxs) var(--margin-s);
  -webkit-border-radius: var(--radius-m);
          border-radius: var(--radius-m);
  border: none;
}

.btn.btn-outline {
  border: 1px solid currentColor;
}

.btn.btn-primary {
  background-color: var(--purple);
  color: var(--white);
  font-weight: var(--font-bold);
  font-size: 18px;
  padding: var(--margin-s) var(--margin-xl);
}

.btn.btn-secondary {
  color: var(--purple);
  font-weight: var(--font-bold);
  background-color: var(--white);
  font-size: 18px;
  padding: var(--margin-s) var(--margin-xl);
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
  }
}

button {
  font-family: var(--font-family);
}

/*=============================================== Sections ===============================================*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
  padding: var(--margin-m) 5vw;
  background-color: var(--white);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

nav .slack-logo {
  height: 50px;
  width: 100px;
}

nav .slack-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

nav #burger {
  display: none;
}

@media (max-width: 960px) {
  nav #burger {
    display: block;
    width: 20px;
    height: 20px;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

nav ul li:not(:last-child) {
  margin-right: var(--margin-m);
}

nav ul a {
  color: var(--nav);
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 960px) {
  nav ul {
    position: absolute;
    top: 0;
    right: -100%;
  }
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 100px 5vw;
}

header img {
  width: 650px;
  margin-right: var(--margin-xxl);
}

header .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  row-gap: var(--margin-l);
}

header .content .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .content .links .btn {
  margin-bottom: var(--margin-s);
}

header .content .links p {
  font-size: 14px;
}

@media (max-width: 768px) {
  header .content .links p {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 960px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header img {
    margin-right: 0;
    width: 60%;
  }
  header .content {
    margin-bottom: var(--margin-xxl);
  }
}

main > div {
  padding: 100px 5vw;
}

main .companies {
  background-color: var(--gray);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .companies h2 {
  margin-bottom: var(--margin-s);
}

main .companies p {
  margin-bottom: var(--margin-l);
}

main .companies .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
  margin-top: var(--margin-l);
  --border-style: 1px solid var(--border);
}

main .companies .images img {
  width: 100%;
  height: 15vw;
  -o-object-fit: contain;
     object-fit: contain;
  padding: var(--margin-xxl);
}

main .companies .images img:first-child, main .companies .images img:nth-child(2), main .companies .images img:nth-child(3) {
  border-bottom: var(--border-style);
}

main .companies .images img:not(:nth-child(3n)) {
  border-right: var(--border-style);
}

@media (max-width: 960px) {
  main .companies .images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 0;
  }
  main .companies .images img:nth-child(4) {
    border-bottom: var(--border-style);
  }
  main .companies .images img:not(:nth-child(3n)) {
    border-right: none;
  }
  main .companies .images img:nth-child(1), main .companies .images img:nth-child(3), main .companies .images img:nth-child(5) {
    border-right: var(--border-style);
  }
}

@media (max-width: 768px) {
  main .companies .images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 0;
  }
  main .companies .images img {
    height: 30vw;
  }
  main .companies .images img:nth-child(1), main .companies .images img:nth-child(3), main .companies .images img:nth-child(5) {
    border-right: none;
  }
  main .companies .images img:not(:last-child) {
    border-bottom: var(--border-style);
  }
}

main .try {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

main .try h3 {
  margin-bottom: var(--margin-xs);
}

@media (max-width: 768px) {
  main .try {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .try .text {
    margin-bottom: var(--margin-l);
  }
}

footer {
  border-top: 1px solid var(--gray);
}

footer .footer-grid {
  padding: 50px 5vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

footer .footer-grid .col-logo img {
  width: 120px;
}

footer .footer-grid .lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

footer .footer-grid .lists ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-grid .lists ul:not(:last-child) {
  margin-right: var(--margin-xxl);
}

footer .footer-grid .lists ul li:first-child {
  font-weight: var(--font-bold);
}

footer .footer-grid .lists ul li:not(:last-child) {
  margin-bottom: var(--margin-m);
}

@media (max-width: 768px) {
  footer .footer-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-grid .lists {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: var(--margin-l);
       -moz-column-gap: var(--margin-l);
            column-gap: var(--margin-l);
    row-gap: var(--margin-l);
  }
}

footer .footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  background-color: var(--gray);
  padding: var(--margin-l) 5vw;
  font-weight: var(--font-bold);
  color: var(--nav);
}

footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

footer .footer-links ul li:not(:last-child) {
  margin-right: var(--margin-m);
}

footer .footer-links > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

footer .footer-links > div .select {
  padding: 0;
  border: none;
  background: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  color: var(--nav);
  font-size: 18px;
  font-weight: var(--font-bold);
}

footer .footer-links > div .select img {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: var(--margin-xs);
}

footer .footer-links > div .select svg {
  margin-left: var(--margin-xs);
}

footer .footer-links > div > *:not(:last-child) {
  margin-right: var(--margin-m);
}

footer .footer-links .icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

footer .footer-links .icons svg:not(:last-child) {
  margin-right: var(--margin-m);
}

footer .footer-links svg {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  footer .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-links ul {
    margin-bottom: var(--margin-l);
  }
  footer .footer-links > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-links .icons {
    margin-top: var(--margin-m);
  }
}

/*=============================================== Components ===============================================*/
/*=============================================== Pages ===============================================*/
/*=============================================== Helpers ===============================================*/
/*============================================================= Helpers =============================================================*/
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.clear-float {
  float: none !important;
}

.hidden {
  position: fixed;
  top: -999em;
  left: -999em;
}

.no-marg {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.no-marg-top {
  margin-top: 0 !important;
}

.no-marg-bottom {
  margin-bottom: 0 !important;
}

.no-marg-left {
  margin-left: 0 !important;
}

.no-marg-right {
  margin-right: 0 !important;
}

.no-padd {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.no-padd-top {
  padding-top: 0 !important;
}

.no-padd-bottom {
  padding-bottom: 0 !important;
}

.no-padd-left {
  padding-left: 0 !important;
}

.no-padd-right {
  padding-right: 0 !important;
}

.no-select {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
