@font-face {
  font-family:Slack-Averta;
  font-style:normal;
  font-weight:400;
  src:url(averta-regular.woff2) format('woff2');
  unicode-range:U+0000-F8FE,U+F900-FFFF;
}
@font-face {
  font-family:Slack-Averta;
  font-style:normal;
  font-weight:700;
  src:url(averta-bold.woff2) format('woff2');
  unicode-range:U+0000-F8FE,U+F900-FFFF;
}
@font-face {
  font-family:Slack-Tiempos;
  font-style:normal;
  font-weight:500;
  src:url(tiempos-headline-semibold.woff2) format('woff2');
  unicode-range:U+0000-F8FE,U+F900-FFFF;
}