// COLOR VARIABLES
$background-purple: #540b51;
$background-ivory: #f3eae2;

$button-blue: #4285f4;
$color-white: #fff;

$titles-black: #191817;

$paragraph-black: #000000;
$paragraph-yellow: #ecb12f;

$links-blue: #2e71a6;
$footer-links-grey: #454245;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 37.5%; // 1rem = 6px --> phone default

  @include respond(ls) {
    font-size: 87.5%; // 1rem = 14px --> large screen
  }
  @include respond(ms) {
    font-size: 75%; // 1rem = 12px --> medium screen
  }
  @include respond(ss) {
    font-size: 62.5%; // 1rem = 10px --> small screen
  }
  @include respond(tablet) {
    font-size: 50%; // 1rem = 8px --> tablet
  }
}

// MAIN

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;

  background-color: $background-ivory;
}
