.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  & div {
    display: flex;
    padding: 0 1.2rem;
    flex-direction: column;
    justify-content: center;

    gap: 2.6rem;

    & div {
      align-self: center;

      @include respond(ss) {
        width: 45%;
      }

      @include respond(ms) {
        width: 50%;
      }

      @include respond(ls) {
        width: 55%;
      }
    }

    & > h2 {
      font-size: 3.4rem;
      color: $titles-black;

      @include respond(ss) {
        font-size: 3.6rem;
      }
      @include respond(ms) {
        font-size: 3.8rem;
      }
      @include respond(ls) {
        font-size: 4rem;
      }
    }
    & > p {
      line-height: 2.2rem;
      font-weight: 600;
      font-size: 1rem;

      @include respond(ss) {
        font-size: 1.2rem;
      }
      @include respond(ms) {
        font-size: 1.2rem;
      }
      @include respond(ls) {
        font-size: 1.4rem;
      }
    }

    & img {
      width: 50%;

      @include respond(ss) {
        width: 55%;
      }
      @include respond(ms) {
        width: 60%;
      }
      @include respond(ls) {
        width: 65%;
      }

      &:nth-child(2) {
        align-self: flex-end;
      }

      &:not(:first-child) {
        margin-top: 3rem;
      }
    }
    & a:link {
      font-size: 1.4rem;
      color: $links-blue;
      font-weight: 500;
      text-decoration: none;

      @include respond(ss) {
        font-size: 1.2rem;
      }
      @include respond(ms) {
        font-size: 1.2rem;
      }
      @include respond(ls) {
        font-size: 1.2rem;
      }
    }
  }
}
