.features {
  background-color: $background-ivory;
  margin-top: -6rem;
  padding: 0 2.8rem;
  position: relative;
  z-index: 999;

  @include flex_column_center;
  gap: 4rem;

  @include respond(ss) {
    margin-top: 0rem;
  }

  & p {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2.6rem;

    @include respond(ms) {
      font-size: 1.8rem;
    }

    @include respond(ls) {
      font-size: 2em;
    }
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.8rem;

    & > img {
      width: 20%;

      @include respond(ss) {
        width: 16%;
      }

      @include respond(ms) {
        width: 14%;
      }

      @include respond(ls) {
        width: 12%;
      }

      & + img:nth-child(2) {
        width: 15%;

        @include respond(ss) {
          width: 8%;
        }

        @include respond(ms) {
          width: 8%;
        }

        @include respond(ms) {
          width: 6%;
        }
      }

      & + img:nth-child(3) {
        width: 14%;

        @include respond(ss) {
          width: 14%;
        }

        @include respond(ms) {
          width: 12%;
        }

        @include respond(ls) {
          width: 12%;
        }
      }

      & + img:nth-child(4) {
        width: 10%;

        @include respond(ss) {
          width: 6%;
        }
        @include respond(ms) {
          width: 6%;
        }
        @include respond(ls) {
          width: 4%;
        }
      }

      & + img:nth-child(5) {
        width: 30%;

        @include respond(ss) {
          width: 20%;
        }

        @include respond(ms) {
          width: 18%;
        }

        @include respond(ms) {
          width: 16%;
        }
      }
    }
  }
}
