.features {
  background-color: $background-ivory;
  margin-top: -6rem;
  padding: 0 2.8rem;
  position: relative;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  @include respond(ss) {
    margin-top: 0rem;
  }

  & p {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2.6rem;
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.8rem;

    & > img {
      width: 25%;
      @include respond(ss) {
        width: 18%;
      }
      & + img:nth-child(2) {
        width: 15%;

        @include respond(ss) {
          width: 8%;
        }
      }

      & + img:nth-child(3) {
        width: 18%;

        @include respond(ss) {
          width: 14%;
        }
      }

      & + img:nth-child(4) {
        width: 10%;

        @include respond(ss) {
          width: 6%;
        }
      }

      & + img:nth-child(5) {
        width: 35%;

        @include respond(ss) {
          width: 20%;
        }
      }
    }
  }
}
