.header {
  display: flex;
  flex-direction: column;
  padding: 0 6.2rem;
  background-color: $background-purple;

  & div {
    text-align: center;

    & :is(h1, p) {
      color: $color-white;
    }
    & h1 {
      font-size: 6.4rem;
      text-align: left;
    }

    & p {
      font-size: 1.6rem;
    }
  }
}
