.header {
  display: flex;

  flex-direction: column;
  padding: 0 6.2rem;
  gap: 2rem;
  background-color: $background-purple;

  @include respond(ss) {
    flex-direction: row;
    height: 50rem;
  }

  & img {
    @include respond(ss) {
      width: 50%;
      height: 50%;

      align-self: center;
      justify-self: flex-end;
    }
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;

    & :is(h1, p) {
      color: $color-white;
      text-align: center;
    }
    & h1 {
      font-size: 5.4rem;
      margin-bottom: 2rem;
      color: $color-white;

      @include respond(ss) {
        font-size: 4.2rem;
        text-align: left;
      }
    }

    & p {
      font-size: 2rem;
      margin-bottom: 2rem;

      @include respond(ss) {
        font-size: 1.4rem;
        text-align: left;
        margin-bottom: 0;
      }

      & span {
        color: $paragraph-yellow;
      }
    }
  }

  &__btn {
    width: 100%;

    & button {
      width: inherit;
      height: 6rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 600;

      @include respond(ss) {
        font-size: 1.4rem;
        width: inherit;
        height: 4rem;
      }

      &:first-child {
        padding-left: 3rem;
      }

      & + :last-child {
        display: flex;
        align-items: center;
        background-color: $button-blue;
        padding-left: 0.6rem;

        & > img {
          width: 4rem;
          background-color: $color-white;

          @include respond(ss) {
            height: 3rem;
          }
        }
        & > span {
          color: $color-white;
          margin: 0 auto;
        }
      }
    }
  }
}
