.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 6.2rem;
  background-color: $background-purple;

  &__start {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > img {
      width: 20%;
      height: 20%;
    }
    & > ul {
      display: none;
    }
  }

  &__end {
    display: flex;
    gap: 2rem;

    & button {
      background-color: inherit;
      border: none;
    }
  }
}
