/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family:'Poppins';
}

@media (max-width: 758px) {
  .nav-bar {
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 6px
  }

  .slack-logo {
    width: 20vw;
  }

  .top-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    justify-content: space-between;
  }

  .header {
    display: block;
    text-align: justify;
    padding: 20px;
  }



  .main-image {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px;
    height: 360px;
    padding-top: 10px;
    padding-left: 6px;
  }

  .form {
    display:block;
    border: solid lightgrey;
    border-width: thin;
   /* border-radius: 20px;*/
    padding: 30px;
   text-align: center;
   color: lightgray;
   font-family: 'Poppins';
   
  }

  .button {
    border: solid;
    background-color: blue;
    border-width: thin;
    border-radius: 10px;
    width: 90vw;
    padding: 30px;
   text-align: center;
   color: white;
   font-family: 'Poppins';
   font-style: bold;
  }

  .main {
    justify-content: center;
    padding: 10px;
  }

  
  .form-2 {
    border: solid lightgrey;
    border-width: thin;
   /* border-radius: 20px;*/
    padding: 30px;
   text-align: center;
   color: lightgray;
   font-family: 'Poppins';
   width: 90vw;
   display: block;
  }

  .button-2 {
    border: solid;
    background-color: blue;
    border-width: thin;
    border-radius: 10px;
    width: 90vw;
    padding: 30px;
   text-align: center;
   color: white;
   font-family: 'Poppins';
   font-style: bold;
  }

  .free {
   flex-direction: block;
   text-align: center;

  }

  .p {
    align-items: center;
    padding-left: 70px;
  }

  .button-3 {
    border: solid;
    background-color: white;
    border-width: thin;
    border-radius: 10px;
    width: 95vw;
    padding: 32px;
   text-align: center;
   color: blue;
   font-family: 'Poppins';
   font-style: bold;
  }

  .all-images {
    
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
  }

  .all-images > img {
  width: 330px;
  height: 125px;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 70px;
  }
  


  .footer > img {
    width: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 20px;;
  }


  .footer-menu {
      background-color: #F4F3F4;
  }

  .footer-menu > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    list-style: none;
   flex-wrap: wrap;
    margin-bottom: 20px;
    padding-top: 30px;
  }

  .footer {
    padding-bottom: 40px;
  } 

  .footer > i {
  padding-left: 40px;
  }

  .footer > span {
    padding-left: 50px;
  }

  .iso-slack-settings {
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 6px

  }

  .iso-slack {
    width: 20vw;
  }
}


@media (min-width: 961px) and (min-width: 767px) {
.nav-bar {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 6px
  }

  .slack-logo {
    width: 20vw;
  }

  .top-menu {
    display: flex;
    flex: content;
    flex-direction: row;
    list-style-type: none;
    margin: 50;
    padding-right: 150px;
    padding-top: 7px;
    justify-content: space-evenly;
  }

  .header {
    flex-wrap: wrap;
    display: flex;
    text-align: left;
    padding-left: 10px;
    padding-right: 185px;
  }


  .main-image {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 500px;
    height: 390px;
    padding-top: 10px;
    padding-left: 90px;
  }

  .form {
    border: solid lightgrey;
    border-width: thin;
    padding: 30px;
    width: 75vw;
   text-align: center;
   color: lightgray;
   font-family: 'Poppins';
  }

  .button {
    border: solid;
    background-color: blue;
    border-width: thin;
    border-radius: 10px;
    width: 80vw;
    padding: 30px;
   text-align: center;
   color: white;
   font-family: 'Poppins';
   font-style: bold;
  }

  .form-2 {
    border: solid lightgrey;
    border-width: thin;
   /* border-radius: 20px;*/
    padding: 30px;
   text-align: center;
   color: lightgray;
   font-family: 'Poppins';
   width: 90vw;
   display: block;
  }

  .button-2 {
    border: solid;
    background-color: blue;
    border-width: thin;
    border-radius: 10px;
    width: 90vw;
    padding: 30px;
   text-align: center;
   color: white;
   font-family: 'Poppins';
   font-style: bold;
  }

  .free {
   flex-wrap: wrap;
   flex-direction: block;
   text-align: center;
   padding-right: 70px;
   padding-left: 0px;

  }

  .button-3 {
    border: solid;
    background-color: white;
    border-width: thin;
    border-radius: 10px;
    width: 95vw;
    padding: 32px;
   text-align: center;
   color: blue;
   font-family: 'Poppins';
   font-style: bold;
  }

  .p {
    align-items: center;
    padding-left: 100px;
  }

  .all-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgrey;
  }

  .all-images > img {
  width: 400px;
  height: 125px;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 220px;
  }
  
  .footer > img {
    width: 40px;
    padding-left: 40px;
  }

  .footer {
    padding-bottom: 40px;
  } 

  .footer > i {
  padding-left: 90px;
  }

  .footer > span {
    padding-left: 70px;
  }


  .footer-menu {
      background-color: #F4F3F4;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    list-style: none;
   flex-wrap: wrap;
    margin-bottom: 20px;
    padding-top: 30px;
  }


  .iso-slack-settings {
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 6px

  }

  .iso-slack {
    width: 20vw;
  }
}
