

body {
  background-color: lightgray;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.square {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 2px solid black;  
}