@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

$color-light-gray: #EBEBEB;
$color-header-gray: #3C434B;
$color-white: #fff;
$color-text-gray: #6E707D;
$color-blue: #4049AA;
$color-background-gray: #F4F3F4;

*{
  margin: 0;
  padding: 0;
}

/*NAV*/
nav{
  position: fixed;
  width: 100vw;
  border-bottom: 2px solid $color-light-gray;
  img[alt="slack_logo"]{
    width: 130px;
  }
  div{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-white;
    ul {
      list-style: none;
    }
  }
  #main-nav{
    display: none;
  }
}/*end of nav*/
/*----------------------------------------------------------------------------*/

/*HEADER*/
header{
  padding: 100px 30px 40px 30px;
  h1{
    font-size: 3.8em;
    line-height: 60px;
    padding: 40px 0;
    color: $color-header-gray;
    box-sizing: border-box;
  }
  p:last-of-type{
    text-align: center;
  }
}

p{
  font-family: 'Muli', sans-serif;
  font-size: 1.4em;
  line-height: 36px;
  color: $color-text-gray;
  padding-bottom: 40px;
}

form{
  width: 100%;
  input{
    width: 100%;
    padding: 20px;
    font-size: 1.3em;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid $color-light-gray;
  }
  button{
    color: $color-white;
    background-color: $color-blue;
  }
}/*end of header*/
/*----------------------------------------------------------------------------*/

/*UNIVERSAL BUTTON STYLES*/
.button-style{
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin: 20px 0;
  border-radius: 6px;
}

img[alt="home_work_happening"]{
  width: 100%;
  padding-top: 30px;
}

/*----------------------------------------------------------------------------*/
/*MAIN*/
main{
  #container-main{
    background-color: $color-background-gray;
    padding: 50px 30px;
    text-align: center;
  }
  h2{
    font-size: 2.2em;
    padding: 14px 0;
  }
  div > button{
    color: $color-blue;
    background-color: $color-white;
    border: 2px solid $color-blue;
  }
  img[alt*="clients"]{
    width: 50%;
    height: auto;
    margin: 40px auto;
    display: block;
  }
  #la-img{
    width: 80%;
  }
  #container-form-two{
    background-color: white;
    padding: 40px 30px;
    text-align: center;
  }
  div:last-child > div > h3{
    font-size: 1.6em;
  }
} /*end of main*/
/*----------------------------------------------------------------------------*/

hr{
  border: 1px solid #EBEBEB;
}
/*FOOTER*/
footer{
  padding-top: 40px;
  font-size: 1.3em;
  color: $color-header-gray;
  font-family: 'Muli', sans-serif;

  img[alt="logo-simple"]{
    width: 80px;
  }
  #footer-top{
    margin: 0 30px;
    ul{
      list-style: none;
      width: 50%;
    }
    li:first-of-type{
      font-weight: 700;
    }
    li{
      padding: 16px 0;
      margin-right: 10px;
    }
    ul:first-of-type, ul:nth-child(2){
      padding-bottom: 30px;
    }

    #footer-links{
      display: flex;
      flex-wrap: wrap;
      padding: 30px 0;
    }
  } /*end of footer-top*/
  #footer-bottom{
    text-align: center;
    background-color: $color-background-gray;
    ul{
      width: 100%;
      padding-top: 40px;
    }
    li{
      padding: 0 8px;
      font-weight: 700;
      display: inline;
    }
    img[alt="flag"]{
      width: 40px;
      height: 40px;
    }
    div{
      margin: 0 auto;
    }
    div > div:first-of-type{
      display: flex;
      justify-content: space-between;
      width: 44%;
      padding-top: 40px;
    }
    div > div:last-of-type{
      display: flex;
      justify-content: space-between;
      width: 24%;
      padding: 40px 0;
    }
  } /*end of footer-bottom*/
} /*end of footer*/

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Ipad Version*/
@media (min-width: 767px){
  /*Section header*/
  header{
    .button-style{
      width: 30%;
    }
    form{
      display: flex;
      input{
        width: 50%;
        margin: 20px 10px 20px 0;
      }
    }
    p:last-of-type{
      text-align: left;
    }
  }   /*End header*/
  /*Section Main*/
  main{
    img[alt*="clients"]{
      width: 34%;
      height: auto;
      margin: 40px auto;
      display: inline-block;
    }
    #la-img{
      width: 34%;
      height: 34%;
    }
    #logo-container{
      display: flex;
      flex-wrap: wrap;
    }
    /*clients form*/
    #container-form-two{
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div{
        width: 50%;
        p{
          font-size: 1em;
        }
      }
      h3,p{
        text-align: left;
      }
      p{
        padding: 0;
      }
    }
    #form-two {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      input{
        width: 45%;
        margin: 20px 0;
      }
      button{
        width: 45%;
        margin-left: 10px;
      }
    }
  }/*End of main*/

  footer{
    #footer-top{
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      ul{
        width: 24%;
        font-size: 0.8em;
        padding: 0;
      }
      #footer-links{
        width: 80%;
        box-sizing: border-box;
        padding-top: 0;
      }
      img[alt="logo-simple"]{
        width: 80px;
        height: 80px;
      }
      li{
        padding: 8px 0;
        margin-right: 10px;
      }
    }
    #footer-bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      padding: 0 30px;
      ul{
        padding: 0;
        margin: 0;
        width: 40%
      }
      li{
        padding: 0 8px;
        font-size: .8em;;
      }
      div{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 400px;
        margin: 0;
      }
      div > div:first-of-type{
        width: 40%;
        padding-top:0;
        span{
          font-size: .8em;
        }
      }
      div > div:last-of-type{
        width: 30%;
        padding:0;
        margin-left: 50px;
      }
      img[alt="flag"]{
        width: 30px;
        height: 30px;
      }
    }


  }/*End of footer*/
}/*--END IPAD VERSION MEDIA QUERY---------------------------------------------*/





/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Mobile Version*/
@media (min-width: 960px){
 body{
   background-color: salmon;
 }
}
