

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

h2{
    margin-top: 50px;
    font-weight: 900;
}

p {
    margin-right: 25px;
}

.menu nav {
    display: flex;
    justify-content: space-between;

}

.menu ul {
    display: none;
}

.logo {
    width: 150px;
    margin-left: 50px;
}

.navicon {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}


.email {
    display: block;
    margin: 0 auto 20px auto;
    height: 50px;
    width: 300px;
}

.button {
    background-color: blue;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px;
    width: 300px;
    display: block;
    margin: 0 auto;
}

.sign-in {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.img-1 {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.middle {
    background-color: rgb(245, 245, 245);
}

.airbnb {
    width: 200px;
    display: block;
    margin: 50px auto;
}

.capital {
    width: 200px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
}

.harvard {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.los-angeles {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.oracle {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.ticketmaster {
    width: 200px;
    display: block;
    margin: 0 auto 50px auto;
}

.box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parr-2 {
    text-align: center;
    display: block;
    margin: 20px auto 20px auto;     
    width: 350px;
}

.button-2 {
    background-color: white;
    color: rgb(10, 10, 160);
    padding: 10px;
    width: 300px;
    font-weight: 900;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .email {
        display: block;
        margin: 0 0;
        width: 100%;
    }

    .button {
        display: block;
        width: 150px;
        margin: 0 0;
    }

    .sign-in {
        display: block;
    }

    .harvard {
        display: none;
    }

    .los-angeles {
        display: none;
    }

    .capital {
        margin: auto auto;
    }

    .parr-2 {
        width: 650px;
    }

    .button-2 {
        width: 200px;
    }

}


@media screen and (min-width: 1020px) {

    .menu nav {
        display: flex;
        align-items: center;
        margin-top: 20px
    }
    .menu ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 50%;
    
    }

    .menu a {
        color: black;
        text-decoration: none;
    }

    .menu .navicon {
        display: none;
    }

    .menu .sub-logo {
        border: 2px solid black;
        padding: 12px;
        border-radius: 5px;
    }

    .parr-1 {
        width: 550px;
    }

    .email{
        display: none;
    }

    .button {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .harvard {
        display: block;
        margin: auto auto;
    }

    .los-angeles {
        display: block;
    }

    .parr-2 {
        width: 800px;
    }


}
