*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

div {
    background-color: black;
    color: aliceblue;
}

h1 {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-around;
}

nav {
    background-color: black;
    color: beige;
    list-style-type: none;
}

.nav-list {
    list-style-type: none;
}

.nav-list a {
list-style-type: none;
list-style: none;
text-decoration: none;
}

.img-cejas {
    width: 40%;
}

nav li a {
    text-decoration: none;
    list-style-type: none;
}