<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/starter_code/stylesheets/style.css">
    <link rel="stylesheet" href="/starter_code/stylesheets/navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- NAVBAR -->
    <nav>
      <div class="nav-container-left">
        <img class="logo" src="/starter_code/images/Slack Logo.svg" alt="Slack logo"/>
        <ul class="nav-links" hidden>
          <li>
            <a href="#">Product</a>
          </li>
          <li>
            <a href="#">Solutions</a>
          </li>
          <li>
            <a href="#">Entreprise</a>
          </li>
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
        </ul>
      </div>

      <div class="nav-container-right">
        <img class="search-icon" src="/starter_code/images/Search Icon.svg" alt="Search icon" />
        <img class="menu-mobile" src="/starter_code/images/Menu Icon.svg" alt="Menu icon" />
        <ul class="connexion">
          <li>
            <a class="sign-in-button" href="#">Sign in</a>
          </li>
          <li>
            <button class="primary-button try-for-free-button"><a class="" href="#">Try for free</a></button>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
