<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/starter_code/stylesheets/style.css" />
    <link rel="stylesheet" href="/starter_code/stylesheets/team-section.css" />
    <link
    href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    <section class="team-section">
      <h3 class="team-section-title">Teams large and small rely on Slack</h3>
      <p class="team-section-text">
        Slack securely scales up to support collaboration at the world’s biggest
        companies.
      </p>

      <ul class="list-figures">
        <li>
          <p><span class="figure">85%</span></p>
          <p class="figure-text">
            of users say Slack has improved communication
            <sup>*</sup>
          </p>
        </li>

        <li>
          <p><span class="figure">86%</span></p>
          <p class="figure-text">
            feel their ability to work remotely has improved has improved
            <sup>*</sup>
          </p>
        </li>

        <li>
          <p><span class="figure">88%</span></p>
          <p class="figure-text">
            feel more connected to their teams*
            <sup>*</sup>
          </p>
        </li>
      </ul>
    </section>
  </body>
</html>
