
img{
    width: 100%;
}
.menu{
   
    display: flex;
    align-content: space-between;
justify-content: space-between;
}
.menu img{
    padding-left:50px;
    width: 200px;
}
.menu ul li{    
    text-decoration: none;
    list-style: none;
margin-right: 10px;
 }
.menu ul{
    padding-top: 29px;
display: none;
align-content: center;
}
.firstpart{
align-content: center;
    text-align: left;
    font-weight: 500;
}
.firstpart h1{
   font-size: 50px;
font-weight: 700;
}
.firstpart button{
    background-color: #192592;
    border-radius: 7px;
    color: white;
    padding: 10px 20px;
}
.firstpart input{
    padding: 0px 20px;
}
.makeit{
    background-color: #F4F3F4;
    margin: 0px;
    align-content: center;
    text-align: center;
    font-weight: 500;
    padding-bottom: 50px;
    padding-top: 50px;
}
.makeit h2{
    font-weight: 700;
}
.makeit button{
    border-color:#192592;
    border-radius:7px ;
    border:2px;
    border: solid;
    background-color: white;
    color:#192592 ;
    padding: 20px 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 40px;
}
section{
  font-weight: 500;  
}
section .try{
    font-size: 36px;
font-weight: 700;
padding-top: 50px;
}
section button{
     background-color: #192592;
    border-radius: 7px;
    color: white;
    padding: 10px 26px;
}
.ejemplo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section input{
    padding: 10px 26px;
    border-radius: 7px;
    display:none;
}
.makeit img{
    width: 150px;
    padding: 2px;
}
footer ul{
       padding-top: 29px;
color:#5b5e6d;
align-content: left;
}
footer ul li{    
    text-decoration: none;
    list-style: none;
    
font-size: 10px;
width: 50px;
justify-content: space-between;
 }
 .down{
     align-content: flex-start;
     background-color:#F4F3F4 ;
     display: flex;
     align-content: center;
 }
 .down ul{
     padding-top: 29px;
     display: flex;
align-content: center;
 }
 .down ul li{    
    text-decoration: none;
    list-style: none;
  
margin-left: 5px;
width: 50px;
 }

 .down i{
    align-content: space-between; 
    width: 2px;}
.flag{
    width: 200px;
    margin-right: 20px;
    background-color: tomato;
}
.down .flag2{
    width: 20px;
    display: flex;
    font-size: 10px;
    padding: 2px;
    align-content:flex-end;
    margin-right: 2px;
}
.flag2 img{
    width: 1px 3px;
}
.nofl{
    width: 200px;
    background-color: tomato;
    margin-left: 5px;
}

@media screen and (min-width: 768px ) {
.menu ul{ display: flex;}
section input{ display: flex;
}

}