/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body{

    margin: 0;
    
}
body img{
    max-width: 100%;
    
}
.textcenter{
    text-align: center;
}
.textleft{
    text-align: left;
}
.navcontent{
background-color: white;
    padding: 10px;
    
    height: 50px;

    border: solid lightgray   1px ;

    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    
}
.navcontent img {
 margin-left: 20px;
  height: 100%;
}
.graybg{
    background-color:#F4F3F4;
}
.headercontent{
    margin-top: 65px;
}
 @media only screen and (max-width:768px){
body{
    margin: 0px;
}
.margincontent{
 padding: 10px; 
}
.navcontent{
    background-color: white;
    padding: 10px;
    height: 50px;
    width: 100%;
    border: solid lightgray   1px ;

    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;

}

.imgsmall{
    width: 30vw;
}
.navcontent li{
display: none;
}
.headercontent  {
    padding: 20px;
display: flex;
flex-direction: column;

margin: 0 auto;
margin-top: 65px;

}
.headercontent img  {
    order: 1;
    width: 90%;
}
.btn{
    color: white;
    background-color: #192592;
    font-weight: bold;
    padding: 10px;
    border: 0px solid red;
}
.btndiscover{
    color: blue;
    background-color: white;
    font-weight: bold;
    height: 50px;
    border: .8px solid blue;
    border-radius: 2px;
  
}
.bg-gray-content{

width: 100%;
overflow: hidden;
display: flex;
flex-direction: column;

}
.bg-gray-content img{
  width: 50vw;
  padding: 30px;
  flex-shrink: initial;
 border-bottom: lightgray .8px solid;
    margin: 0 auto;
 }
 .list1 .list2{
     display: flex;
     flex-direction: row;
    
 
 }
.list1 li  , .list2 li, .list3 li {
    padding-bottom: 15px;
    list-style: none;
   

}
.list1 img{
    width: 30%;
}
.list3{
font-weight: bold;
text-align: center;
font-size: 5vw;
margin: 0 auto  ;
    padding:10px;
}
.list3 li {

display: inline;

}
.list3 img{
    width: 28px;
}
 .bottom{
     bottom: 0px;
     margin: 0;
 }
 .textlistbold{
     font-weight: bold;
 }

}
@media only screen  and (min-width:768px) {
.navcontent{
    width: 100%;

}
.navcontent li{
    display: none;
}
.headercontent  {
    padding: 20px;
display: flex;
flex-direction: column;

margin: 0 auto;
margin-top: 65px;

}
.headercontent img  {
    order: 1;
    width: 90%;
}
.btn{
    width: 20vw;
    color: white;
    background-color: #192592;
    font-weight: bold;
    padding: 10px;
    border: 0px solid red;
}
.btndiscover{
    color: blue;
    background-color: white;
    font-weight: bold;
    height: 50px;
    border: .8px solid blue;
    border-radius: 2px;
    width: 20vw;
    margin: 0 auto;
  
}
.bg-gray-content{
display: flex;


display: flex;
flex-direction: column;

}
.flexitem{
    width: 60vw;
    padding:10px;
    margin: 0 auto;
}
.trycontent{
   display :flex;
   flex-direction: column   ;
   justify-content: space-between;
   align-items: baseline;
}
.tryp{
    display: flex;
    flex-direction: column;


}
.alginr{
    
}
.list1{
    display: flex;
     flex-direction: column;
     list-style-type: none;
}
.list1 li{
    padding:5px;
}
.textlistbold{
    font-weight: bold;
}
.listas{
display: flex;
}

.list3{
    margin:20px;
    display: flex;
    align-items: baseline;
}
.list3 li{
    
    list-style: none;
}
.bottom img {

    width: 20px;
}
}
