/* Footer */

/* Footer - Global */

/* Footer - Mobile */

footer {
    padding: 40px 20px 20px 20px;
}

hr {
  border: 1px solid #ebeaeb;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 44px 20px;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
}

#download {
  color: #1264a3;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0;
}

.legal-note {
  text-align: center;
  color: #454245;
  font-family: "Nunito";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Footer - Small/Medium/Large screens */

@media (min-width: 769px) {

    footer {
        padding: 50px 30px;
    }

    ul {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .social-media {
        justify-content:normal;
        gap: 70px;
      }

}

/* Footer - Medium screens */

@media (min-width: 1025px) and (max-width: 1439px) {
}

/* Footer - Large screens */

@media (min-width: 1440px) {
}
