.trusted-section-container {
    background-color: #F3EAE2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

}

.trusted-section-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    font-weight: 800;
    line-height: 15.75px;
    letter-spacing: 0.5px;
}

.trusted-section-title h2 {
    text-align: center;
}

.logo-container {
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 2000px;
}



/* Small screens */

@media (min-width: 769px) {
    .logo-container img {
        flex-wrap: nowrap;
    }

}
