.welcome-section {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.welcome-section.secondary-button {
width: 100%;
}


/* Medium screens */

@media (min-width: 1025px) and (max-width: 1439px) {
    .welcome-section {
        display: block;
        text-align: center;
    }

    .welcome-title {
        padding-bottom: 40px;
    }

    .welcome-section button {
        display: inline-block;
        width: 30%;
        }

    .welcome-section .primary-button {
        margin-right: 15px;
    }
    
    
}

/* Large screens */

@media (min-width: 1440px) {

}