.company {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    align-items: center;
    background-color: #F4F3F4;
    border-bottom: solid 1px #d8d8d8;
    border-top: solid 1px #d8d8d8;
    ;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company p {
    text-align: center;
}

.img-container {
    padding: 10% 0;
    border-bottom: solid 1px #d8d8d8;
    display: flex;  
    justify-content: center;
}

.img-container img {
    max-width: 200px;
}


#discover-button {
    background-color: white;
    color:  #192592;
    border: solid 1px #192592;
}

@media (min-width: 768px) and (max-width: 961px) {

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.img-container {
    padding: 5%;
    width: 50%;
    border-bottom: solid 1px #d8d8d8;
    box-sizing: border-box;
}
}

@media (min-width: 962px) {

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    }

.img-container {
    padding: 5%;
    width: 33%;
    border-bottom: solid 1px #d8d8d8;
    box-sizing: border-box;
}
}
