.flexcontainer,
.flexcontainer_where {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}

header h1 {
    width: 100%
}

header img {
    width: 100%;
}

.email {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 14px 14px;
    margin: 0;
}


/* Buttons */

.button1,
.button3 {
    background-color: #4048aa;
    color: white;
    font-size: 1rem;
    border-color: unset;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.button2 {
    box-sizing: border-box;
    background-color: white;
    color: #4048aa;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #4048aa;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}


/* End - Buttons */

.centered,
.center_text,
.centered_button,
.centered_sign_in {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.grey_gackground {
    background-color: #F4F3F4;
    padding: 0 7%;
}

main img {
    height: 30px;
    padding: 30px 40px;
}

.logo {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7%;
}

.margins_top_bottom {
    margin: 10px 0;
}

.paddings_left_right {
    margin: 0 7%;
}

.paddings_left_right_footer {
    margin: 0 6% 0 4%;
}

.paddings_left_right_privacy {
    margin: 0 7%;
}

@media(min-width:767px) and (max-width:960px) {
    .email {
        width: 40%;
        margin-right: 10px;
    }
    .button1 {
        width: 50%;
    }
    .button2 {
        width: 40%;
    }
    .centered_sign_in {
        justify-content: flex-start;
        flex-direction: row;
    }
    .two_columns {
        width: 50%;
        box-sizing: border-box;
        justify-content: flex-start;
    }
    .two_columns2 {
        width: 40%;
    }
    .three_columns {
        width: 27vw;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
    }
    .flex_two_column_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
    }
    .flex_three_column_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10% 0;
    }
    .logo {
        width: 50%;
        box-sizing: border-box;
    }
    .center_text {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}

@media(min-width:961px) and (max-width:1024px) {
    .email {
        width: 40%;
        margin-right: 10px;
    }
    .button1 {
        width: 50%;
    }
    .button2 {
        width: 40%;
    }
    .centered_sign_in {
        justify-content: flex-start;
        flex-direction: row;
    }
    .two_columns {
        width: 50%;
        box-sizing: border-box;
        justify-content: flex-start;
    }
    .two_columns2 {
        width: 40%;
    }
    .three_columns {
        width: 27vw;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
    }
    .flex_two_column_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
    }
    .flex_three_column_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10% 0;
    }
    .logo {
        width: 30%;
        box-sizing: border-box;
    }
    .center_text {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}

@media(min-width:1200px) {
    .flexcontainer_where {
        flex-direction: row-reverse;
    }
    .email {
        width: 40%;
        margin-right: 10px;
    }
    .button1 {
        width: 50%;
    }
    .button2 {
        width: 40%;
    }
    .centered_sign_in {
        justify-content: flex-start;
        flex-direction: row;
    }
    .two_columns {
        width: 50%;
        box-sizing: border-box;
        justify-content: flex-start;
    }
    .two_columns2 {
        width: 40%;
    }
    .three_columns {
        width: 27vw;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
    }
    .flex_two_column_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
    }
    .flex_three_column_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10% 0;
    }
    .logo {
        width: 30%;
        box-sizing: border-box;
    }
    .center_text {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}