.flexcontainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header h1 {
    width: 100vw;
}

header img {
    width: 100%;
}


/* Buttons */

.get_started {
    background-color: #4048aa;
    color: white;
    border-color: unset;
    font-weight: bold;
}

button {
    box-sizing: border-box;
    background-color: white;
    color: #4048aa;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #4048aa;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}


/* End - Buttons */

.centered {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.grey_gackground {
    background-color: #F4F3F4;
    padding: 0 7%;
}

main img {
    height: 30px;
    padding: 30px 40px;
}

.logo {
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7%;
}

.margins_top_bottom {
    margin: 10px 0;
}

.paddings_left_right {
    margin: 0 7%;
}