    .two_columns,
    .two_columns_footer {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        list-style-type: none;
    }
    
    .links_height {
        height: 200px;
    }
    
    .footer {
        display: flex;
    }
    
    .privacy {
        box-sizing: border-box;
        background-color: #F4F3F4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        margin: 40px 0 0 0;
    }
    
    .flag {
        height: 25px;
        padding-right: 20px;
    }
    
    .language {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .vertical_align {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        padding-left: 0;
    }
    
    .slack_logo {
        height: 150px;
    }
    
    @media(min-width:767px) and (max-width:960px) {
        .five_columns_footer {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .two_columns_footer {
            width: 20%;
            flex-direction: row;
        }
        .two_rows_footer {
            display: flex;
            flex-direction: row;
        }
        .slack_logo {
            height: 150px;
            padding-right: 50%;
        }
        /* Privacy*/
        .privacy {
            flex-direction: row;
        }
        .spacer {
            padding: 0 10px 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .privacy_left_side {
            display: flex;
            display: flex;
            align-items: center;
            align-content: flex-end;
        }
        .privacy_right_side {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    
    @media(min-width:961px) and (max-width:1024px) {
        .five_columns_footer {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .two_columns_footer {
            width: 20%;
            flex-direction: row;
        }
        .two_rows_footer {
            display: flex;
            flex-direction: row;
        }
        .slack_logo {
            height: 150px;
            padding-right: 50%;
        }
        /* Privacy*/
        .privacy {
            flex-direction: row;
        }
        .spacer {
            padding: 0 10px 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .privacy_left_side {
            display: flex;
            display: flex;
            align-items: center;
            align-content: flex-end;
        }
        .privacy_right_side {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    
    @media(min-width:1025px) {
        .five_columns_footer {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .two_columns_footer {
            width: 20%;
            flex-direction: row;
        }
        .two_rows_footer {
            display: flex;
            flex-direction: row;
        }
        .slack_logo {
            height: 150px;
            padding-right: 50%;
        }
        /* Privacy*/
        .privacy {
            flex-direction: row;
        }
        .spacer {
            padding: 0 10px 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .privacy_left_side {
            display: flex;
            display: flex;
            align-items: center;
            align-content: flex-end;
        }
        .privacy_right_side {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }