body {
    font-family: Arial, Helvetica, sans-serif;
    color: #5b5e6d;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2C303F;
    font-size: 2rem;
    margin: 0;
}

h3 {
    color: #2C303F;
    font-size: 1.6rem;
    margin: 50px 0 10px 0;
}

h4 {
    color: #2C303F;
    font-size: 1.1rem;
    margin: 20px 0 10px 0;
}

p {
    font-size: 1rem;
    line-height: 1.7rem;
}

a {
    font-size: 1rem;
}

.fa {
    padding: 20px;
    color: #5b5e6d;
    font-size: 1.5rem;
}

@media(min-width:767px) and (max-width:960px) {}

@media(min-width:961px) and (max-width:1024px) {}

@media(min-width:1025px) {
    h1 {
        font-size: 2.5rem;
    }
}