
.nav {
    position:fixed;
    color:#5b5e6d;
    border-bottom: 1px solid lightgray;
    width:100%; /* essential to show the hamburger right! */
    background-color:#F4F3F4;
}

.nav img {
    height:80px;
}

.hamburger {
    position:absolute;
    right:0px;
}

.nav ul {
    list-style-type: none;
    display:none;
}
