nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    margin: 0 auto;
    padding: 0 8vw;
    border-bottom: 1px solid #eeeeee;
}

#slack_logo {
    height: 56px;
}

#burger {
    height: 46px;
}

nav ul {
    display: none;
}

.spacer {
    height: 70px;
}