
.nav {
    position:fixed;
    color:#5b5e6d;
    border-bottom: 1px solid lightgray;
    width:100%; /* essential to show the hamburger right! */
    background-color:#F4F3F4; 
}

.nav img {
    height:80px;
}

.hamburger {
    display:none;
    position:absolute;
    right:0px;
}

.nav ul {
    list-style-type: none;
    display:flex;
    position:absolute;
    right:0px;
    top:0.6em;
}
.nav ul li {
    margin-right:1em;
    font-size:1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
