nav {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 1px#F4F3F4;
    background-color: white;
}

.spacer {
    height: 60px;

}
#logo-nav {
    height: 50px;
    margin-left: 5%;
}

#menu {
    height: 48px;
    margin-right: 5%;
}
nav ul {
    display: none;
}

@media (min-width: 1024px) {


nav ul {
    display: inline;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

nav li {
    padding-left: 20px;
    font-weight: 700;
    color: #5b5e6d;
}

#menu {
    display: none;
}

}    