
.nav {
    position:fixed;
    background-color: white;
    border-bottom: 1px;
    border-color:black;
    width:100%; /* essential to show the hamburger right! */
}
.nav img {
    height:80px;
}

.hamburger {
    position:absolute;
    right:0px;
}

.nav ul {
    list-style-type: none;
    display:none;
}
