
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

.last {
    background-color: #F4F3F4;
}

@media only screen and (min-width: 767px) {
    .last {
        display: flex;
        align-items: center;
        padding: 0 25px;
        background-color: #F4F3F4;
    }
} 