/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: white;
    color: black;
    height: 65px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 5vw;
    border-bottom: .05vh solid lightgray;
    border-top: .05vh solid lightgrey;
    align-content: flex-start;
}

nav img {
    width: 120px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 1vw;
    font-size: 18px;
    font-family: sans-serif;
    color: #5b5e6d;
    font-weight: 200;
}

.top-butt {
    background-color: white;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    border: 1px solid #5b5e6d;
}

.sign-in {
    justify-content: flex-start;
}

header{
    display: flex;
    justify-content: space-between;
}
     
header img{
    display: flex;
    width: 48vw;
    padding: 90px 10px 10px 0;
}
    
.header-right {
    width: 80vh;
    flex-direction: column;
    margin-right: 60px;
    padding-top: 40px;
}
       
header h1 { 
    font-size: 80px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    color: #2C303F;
}
    
header p {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #5b5e6d;
}
    
header button{
    background-color: rgb(61, 74, 167);
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 20px 30px;
    border-radius: 6px;
}

main {
    background-color: #F4F3F4;
}

main img {
    width: 15vw;
}

main h2, p, .button-two {
    display: flex;
    justify-content: center;
}

.bottom-main-text p {
    justify-content: flex-start;
}

.button-two button {
    background-color: white;
    color: rgb(61, 74, 167);
    padding: 16px 28px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid rgb(61, 74, 167);
}

.button-two {
    margin-top: 40px;
}

.button-three button {
    background-color: rgb(61, 74, 167);
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 20px 30px;
    border-radius: 6px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #2C303F;
    padding-top: 40px;
}

.sub-text {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 0px;
    color: #5b5e6d;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
}

.bottom-main-text {
    justify-content: flex-start;
    margin-left: 40px;
}

.brand-logos {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 70px;
}

.brand-logos img {
    padding: 30px;
    margin: 0;
}

.col-1 {
    display: inline-flex;
    flex-direction: column;
}

.col-2 {
    display: inline-flex;
    flex-direction: column;
}

.col-3 {
    display: inline-flex;
    flex-direction: column;
}

.air {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
    
.los {
    border-right: 1px solid lightgray;
    
}
       
.cap {
    border-bottom: 1px solid lightgray;
    
}
      
.har {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
    
.tick {
    border-left: 1px solid lightgray;
    
}

.bottom-main {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 30px 0px;
}

.lowkey-header {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    color: #2C303F;
    line-height: 0px;
    font-weight: 600;
}

.button-three {
    display: flex;
    align-self: center;
}
    
.main-text {
    color: #2C303F;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 10px;
}  
    
.butty{
    background-color: rgb(61, 74, 167);
    color: white;
    padding: 16px 28px;;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    margin-right: 40px;
}

footer {
    font-family: sans-serif;
}

.footer-left {
    display: inline-flex;

    width: 25vw;
}

.footer-left img {
    width: 120px;
    height: 120px;
}

.footer-right {
    display: inline-flex;
    width: 70vw;
    justify-content: space-around;
    margin-top: 60px;
    padding: 0 30px 150px 0;
}

.mini-head {
    font-weight: 600;
    line-height: 0.8;
}

.little-text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.2;
}

.footer-right li {
    list-style: none;
    padding: 12px;
    color: #5b5e6d;
}

.footer-left {
    margin-top: 60px;
    margin-left: 20px;
}

.footer-text {
    padding-bottom: 50px;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    background-color: #F4F3F4;

}

.footer-bottom-left ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-bottom-left li {
    list-style: none;
    color: #5b5e6d;
    padding: 6px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.footer-bottom-right {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.footer-bottom-right img, span, i {
    padding: 6px;
    font-family: sans-serif;
    color: #5b5e6d;
    font-size: 15px;
    font-weight: 500;
}

.footer-bottom-right img {
    width: 20px;
}