.different{    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 25px;
    text-align: center;
    border-bottom: 2px solid lightgrey;
}

.different h2, .different p {
    margin-bottom: 10%;
}

.different p:first-child {
    color: black; /*done purposely, so as to distinguish from the rest color*/
    font-weight: bolder;
    margin-bottom: 2px;
}

.different button{
    background-color: #192592;
    text-align: center;
    color: #ffffff;
    padding: 15px 25px;
    outline: none;
    width: 85vw;
    border-radius: 8px;
    border: none;
    margin-top: 2%;
}

.different input {
    border-radius: 8px;
    padding: 15px 25px;
    outline: none;
    border: 1px solid gray;
    width: 85vw;
}

@media only screen and (min-width: 767px) {
    .different button{
        width: 20vw;
        padding: 17px 25px;
    }

    .different input {       
        width: 25vw;
        margin-right: 5px;
    }

    .make-responsive{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        align-content: flex-end;
    }

    .different form {
        margin-left: auto;
    }

    .different {
        flex-direction: row;
    }
}