* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: white;
}

nav img {
    width: 12%;
    margin: 20px 40px;
}

nav ul {
    display: none;
}

header {
    text-align: left;
    display: flex;
    padding: 5% ;
    margin-top: 70px;
    width: 100%;
    background: white;
    flex-flow: column;
}

header h1, img, p, button, input {
    
    width: 80%;
    margin: 50px;
}

header img {
    order: 2;
}

header h1 {
    width: 46%;
    text-align: left;
    font-size: 60px;
    order: 0;
}

header p {
    width: 68%;
    font-size: 2em;
}

header button, input {
    margin-left: 6%;
    padding: 4%;
    width: 80%;
}
 header button {
     color: white;
     font-size: 40px;
     border: none;
     border-radius: 8px;
     background: #192592;
     width: 88%;
 }

 header input {
     font-size: 25px;
     border: 1px solid grey;
 }

 #alreadyUsing {
     margin-left: 22%;
 }

 main {
    text-align: center;
    display: flex;
    padding: 5% ;
    margin-top: 70px;
    width: 100%;
    background: white;
    flex-flow: column;
 }

 main h2 {
     font-size: 4em;
     font-family: arial;
 }

 main p {
     font-size: 2em;
    margin-left: 10%;
 }

 main button {
    color: #192592;
    font-size: 20px;
    border: 2px solid;
    border-radius: 8px;
    background: white;
    width: 88%;
    padding: 4%;
 }

 #try4free {
    font-size: 2em;
    font: bold;
 }

 .main2 input, button {
    margin-left: 6%;
    padding: 4%;
    width: 80%;
 }

 .main2 button {
    color: white;
    font-size: 40px;
    border: none;
    border-radius: 8px;
    background: #192592;
    width: 88%;
 }

 .main2 input {
    font-size: 25px;
    border: 1px solid grey;
 }

 .flex-footer {
     display: flex;
     flex-flow: wrap;
     align-items: flex-start;
 }

 .flex-footer ul {
     font-size: 35px;
     margin: 33px; 
 }

 .flex-footer ul li {
     margin-bottom: 20px;
     list-style: none;
 }

 .flex-footer img {
     float: left;
 }

 #footerlogo {
     margin: 10px;
     margin-right: 530px;
     width: 30%;
 }

 footer {

    color: #5b5e6d;
     margin: -50px auto;
     margin-left: 10%;
 }
 
 .firstli {
     font-size: 50px;     
 }

 #contact {
     font-size: 30px;
     padding: 40px;
     background: #F4F3F4;
     margin: 0px -11%;
     text-align: center;
 }

 #contact ul {
     margin-top: 40px;
 }

 #contact ul li{
     margin: 20px;
     display: inline;
 }

 #contact img {
     margin: 0 auto;
     width: 4%;
 }

 #flagenglish {
     margin-top: 40px;
 }

 #twit-fb-u2be {
    margin: 40px;
 }








 


