
.first{
    background-color: #ffffff;
}

.first img {
    width: 100px;
}


@media only screen and (min-width: 767px) {
    .first {
        display: flex;
        font-size: 15px;
    }

    .first img {
        align-self: flex-start;
    }
}


@media only screen and (min-width: 1200px) {
    .first img {
        margin-right: auto;
        width: 150px;
        height: 90px;
    }
}