@media (min-width: 960px) {
	.company-logos div {
		width: 33%;
	}

	.company-logos div:nth-last-child(3),
	.company-logos div:nth-last-child(2) {
		border-bottom: none;
	}

	.company-logos div:nth-of-type(2),
	.company-logos div:nth-of-type(5) {
		border-left: 1px solid rgb(194, 194, 194);
		border-right: 1px solid rgb(194, 194, 194);
	}
}

@media (min-width: 767px) and (max-width: 959px) {
	.company-logos div {
		width: 50%;
	}

	.company-logos div:nth-of-type(odd) {
		border-right: 1px solid rgb(194, 194, 194);
	}

	.company-logos div:nth-last-child(2) {
		border-bottom: none;
	}
}