/*            Footer           */

#section5 {
    background-color: #F4F3F4;
    text-align: center;
}

footer ul {
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer img {
    width: 7%;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language img, span, i {
    padding: 20px 7px;
}
.social-media {
    color: rgb(109, 111, 122);
    font-size: 1.4em;
}

.social-media i {
    padding: 20px 10px;
}

@media (min-width: 768px) {
    #footer-block {
        margin: 30px 0;
        display: flex;
        flex-direction: row;
    }

    footer li {
        margin: 0 20px 0 0;
    }

    .footer-part2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .language {
        width: 50%;
    }

    footer img {
        width: 15%;
    }
}

@media (min-width: 1024px) {
    #footer-block {
        justify-content: space-between;
    }
}