.isoslck {
    width:100px;
}

.flexfoo {
    display: flex;
    flex-wrap: wrap;
}

.flexfoo ul {
    list-style: none;
}

.list-items {
    width:40%;
    margin: 20px 15px 0 15px;
}

.list-items li {
    line-height: 25px;
}

.finalfoo {
    background-color: #F4F3F4;
    text-align: center;
    padding: 15px;
    
}

.finalfoo ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

}

.finalfoo i {
    margin: 0 5px 0 5px;
}

.flag {
    display: flex;
    align-items: center;
    padding: 0 90px;
    width: 45%;
    margin-top: 30px;
}

.flag span {
    width: 100%;
}

.flag img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.items {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

@media(min-width: 767px) and (max-width: 961px){
    
}