body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    
    
}
.nav-bar {
    
    display: flex;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img {
    
    height: 90px;
    display: block;
}
.nav-bar .img-2 {
    
    height: 90px;
    display: block;
    display: none;
}
.nav-bar ul {
    
    display: flex;
    padding: 0;
    justify-content: space-evenly;;
    font-size: 1.5em
    

}
.nav-bar li {
    
    text-decoration: none;
    display: inline-block;
    color: #5b5e6d;
    padding-right: 15px;

}
header {
    
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top: 100px;
    align-items: center;
    
    height: 700px;
}
header img{
    display: block;
    
    width: 45%;
    padding: 0 10px;
}
header h1 {
    
    color: #2C303F;
    text-align: left;
    width: 45%;
    font-size: 4.8em;
    font-weight: 900;
    padding-left: 20px;
    
    

}
header p{
    
    color: #5b5e6d;
    text-align: left;
    width: 45%;
    box-sizing: content-box;
    font-size: 1.5em;
    line-height: 1.2em;
    margin-left: 0;
    
}

input {
    border: 1px solid #5b5e6d;
    color: #5b5e6d;
    width: 20%;
    font-size: 1.8em;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    display: none;

}

button{
    border: 1px solid black;
    background-color: #192592;
    color: white;
    width: 15%;
    
    font-size: 1.5em;
    font-weight: bold;
    padding: 40px 0;
    border-radius: 10px;

}
.p-2 {
    
    color: #5b5e6d;
    text-align: center;
    width: 40%;
    font-size: 1.2em;
    line-height: 1.5em

}
.p-2 a {
    color: #192592;
}

.section-1 {
    
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 90px;
    background-color: #F4F3F4;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
    
}
.section-1 h2 {
    
    display: block;
    color: #2C303F;
    text-align: center;
    width: 80%;
    font-size: 3.5em;
    margin-top: 100px;
    margin-bottom: 0;
    font-weight: 900;
    
    

}
.section-1 p{
    
    color: #5b5e6d;
    text-align: center;
    width: 90%;
    font-size: 1.2em;
    line-height: 1.5em
    
}
.section-1 button{
    border: 1px solid black;
    background-color: white;
    color: #192592;
    width: 20%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 40px 0;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 110px;
    margin-left: 300px;
    margin-right: 300px;
    display: block;
}
.section-1 img {
    
    box-sizing: border-box;
    width: 45%;
    padding: 0 50px;
    margin-bottom: 50px;
}
.section-2 {
    
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90px;
    align-items: center;
    padding-bottom: 100px;
    
}
.section-2 .p-1 {
    
    display: block;
    color: #2C303F;
    text-align: center;
    width: 50%;
    font-size: 2.6em;
    margin-top: 100px;
    margin-bottom: 0;
    font-weight: 900; 

}


.footer {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 90px;
    
    align-items: center;
    
}
.footer-top {
    
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.footer-top img{
    
    width: 20%;
    height: 20%;
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 50px;
}
.footer-top ul{
    
    width: 15%;
    display: inline-block;
    color: #5b5e6d;
    font-size: 2.2em;
    
    
}
.footer-top li {
    list-style-type: none;
    padding-bottom: 65px;
    padding-bottom: 65px;
    font-weight: bold;
    display: inline-block;
}

.footer-down {
    
    width: 100%;
    background-color: #F4F3F4;
    display: flex;
    justify-content: space-between;
    

    

}
.footer-down ul {
    
    width: 50%; 
    color: #5b5e6d;
    display: flex;
    justify-content: space-evenly;
    color: #5b5e6d;
    font-size: 1.5em;
    align-self: center;
}
.footer-down li {
    list-style-type: none;
    display: inline-block;
    font-weight: 900;
    padding: 6px;
}
.footer-down-2 {
    
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    font-weight: 700;
    color: #5b5e6d;
    justify-content: center;
    align-self: center;

}
.footer-down-2 img{
    width: 60px;
    height: 60px;
}
.footer-down-2 *{
    
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer-down-2 i{
    width: 50px;
    text-align: center;
}