/*            General           */

@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,700&display=swap');

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color:rgb(50, 55, 71);

}

h1 { 
    font-size: 2.8em;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.65em;
}

p, span, li {
    font-family: 'Sarabun';
    color: rgb(109, 111, 122);
}

p {
    font-size: 1.15em;
}

span {
    font-weight: 900;
    font-size: 1.1em;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    font-size: 1.1em;
}

a {
    color:  rgb(109, 111, 122);
    text-decoration: none; 
}

@media (min-width: 768px) {
    html {
        font-size: 1.2em;
    }

    h1 {
        font-size: 3.8em;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 5.2em;
    }
}


.section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .block {
        width: 90%;
    }
}

.email {
    width: 100%;
    padding: 20px 18px;
    box-sizing: border-box;
    font-size: 1.15em;
    font-family: 'Sarabun';
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .email {
        width: 50%;
        padding: 20px 18px;
        box-sizing: border-box;
        font-size: 1.15em;
        font-family: 'Sarabun';
        border: 1px solid rgb(218, 218, 218);
        border-radius: 4px;
    }
}

@media (min-width: 1024px) {
    .email {
        display: none;
    }
}

.sign-in {
    text-align: center;
}

.sign-in a{
    color: rgb(64, 73, 170);
    text-decoration: underline;
    
}

@media (min-width: 768px) {
    .sign-in {
        text-align: left;
    }
}

.button {
    width: 100%;
    padding: 24.5px 18px;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}

#get-started {
    background-color: rgb(64, 73, 170);
    border: none;
    color: white;
}

@media (min-width: 768px) {
    .button {
        width: 236px;
        height: 72px;
    }

    #get-started {
        margin: 0 10px;
    }
}

@media (min-width: 1024px) {
    #get-started {
        margin: 0;
    }
}