/*            Header           */

#section1 {
    margin-top: 110px;
    width: 100vw;
}

.section1-first {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1023px) {
    #section1 { 
        margin-top: 100px;
    }

    header h1 { 
        margin: 60px 0 30px 0;
    }
}

@media (min-width: 1024px) {
    #section1 {
        height: 100vh;
        margin: 40px 0 0 0;
    }
}


@media (min-width: 1024px) {
    header h1 {
        margin: 80px 0 30px 0;
    }
}

header p {
    margin: 0 0 15px 0;
    line-height: 1.6;
}

@media (min-width: 768px) and (max-width: 1023px) {
    header p {
        margin: 0 0 40px 0;
    }
}

@media (min-width: 1024px) {
    header p {
        margin: 0 0 40px 0;
        font-size: 1.3em;
    }
}

.mail1-section {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .mail1-section {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}

#email1 {
    margin: 25px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    #email1 {
        margin: 0;
    }
}

#first-sign {
    margin: 15px 0;
}

@media (min-width: 768px) {
    #first-sign p {
        font-size: 1.07em;
    }
}

@media (min-width: 1024px) {
    #first-sign {
        font-size: 0.9em;
    }
}

header img {
    width: 100%;
    margin: 20px 0 0 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    header img {
        width: 52%;
        margin: 10px 0 0 0;
    }

    .work-people {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    #block1 {
        flex-direction: row-reverse;
    }

    .section1-first, .work-people {
        width: 50%;
    }

    header img {
        width: 87%;
        margin: 160px 0 0 0;
    }

}