
.button{
    width:90%;
    background-color: #192592;
    color: white;
    padding: 19px 40px;
    margin:  0 15px;
    border-radius: 4px;
    text-align: center;
    font-family: "Lato";

}

.email {
    border-radius: 4px;
    border: 1px solid rgb(197, 197, 197);
    box-sizing: border-box;
    width: 90%;
    padding: 19px 40px 15px;
    margin:15px;
}


.sign-in a{
    border-bottom: 1px solid #1264a3;
    text-decoration: none;
}

.title{
    width: 80%;
    padding-left: 25px;
} 

.sign-in {
    padding-left: 20px;
}

.sign-in img {
    width: 100%;
}

@media(min-width: 767px) and (max-width: 961px){

    .email {
        width: 50%;
        height: 50px;
        padding: 10px;
        margin: 20px 0 20px 20px;
        float: left;
      }
    .button {
    width: 20%;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    padding: 10px;
    
    }
    
}