header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 15px 25px;
}

header h1 {
    width: 40vw;
}

header h1, header p, header input, header button {
    margin-bottom: 2vh;
}

.para {
    margin-right: 8vw;
}

header button {
    background-color: #192592;
    text-align: center;
    color: #ffffff;
    outline: none;
    width: 85vw;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    margin-top: 1%;
}

header a{
    text-decoration: none;
    border-bottom: 1px solid blue;
}

header p:last-child{
    align-self: center;
}

header input {
    border-radius: 8px;
    padding: 15px 25px;
    outline: none;
    border: 1px solid grey;
    width: 85vw;
}

section img{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 767px) {    
    header h1 {
        font-size: 22px;
    }

    header input {
        width: 35vw;
     }

    .para {
        width: 90%;
        font-size: 18px;
    }

    header button{
        width: 22vw;
        padding: 17px 25px;
    }

    header p:last-child{
        align-self: flex-start;
    }

    header h1, header p, header input, header button {
        margin-bottom: 2%;
    }
}

@media only screen and (min-width: 1200px) {
    section {
        display: flex;
    }

    section img {
        order: 2;
        width: 40vw;
        height: 65vh;
        padding-top: 9%;
    }

    section header {
        order: 1
    }

    header input {
        width: 22vw;
        display: block;
     }
}