.container {
    display: inline-flex;
    flex-flow: column nowrap;
    background-color: #540b51;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
  }

@media (max-width: 768px) {
.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #540b51;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
  }
.container #itembox1 li {display: none;}
.container footer {display: none;}
.container main section:not(:first-child) {display: none;}
.container[img="Slack logo"] {
order: 1;
align-self: flex-start;
} 




/*smallscreen
media (min-width: 768px and max-width: 1024px)mediumscreen    
media (min-width: 1024px and max-width: 1440px)
Large Screens
media (min-width: 1440px)*/

}