@media (min-width: 1024px) and (max-width: 1440px) {
    nav .menu-list {
        display: flex;
        margin: 0px;
        gap: 90px;
    }

    header {
        display: flex;
        height: 500px;
        justify-content: space-between;
    }

    .container-header {
        width: 70%;
        margin: 0px 50px 0px 10px;
    }

    .photo-movil {
        width: 30%;
        margin: auto 0px;
    }

    nav {
        padding: 25px;
    }

    nav div {
        align-items: center;
        gap: 25px;
    }

    nav .buttons {
        justify-content: center;
        align-items: cent;
        gap: 20px;
    }

    div .dropdown {
        display: none
    }

    .buttons .hidden {
        display: flex;
        padding: 0px;
        align-items: center;
        margin: 0px;
        gap: 20px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-search {
        display: flex;
        align-items: center;
    }

    nav div {
        display: flex;
    }

    nav div li a {
        padding-right: 10px;
        color: #ffff;
    }

    .Sign-in {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border: 1px solid transparent;
        background: #ffffff;
    }

    .Sign-in a {
        color: #540B51;
    }

    .article-one {
        display: flex;
    }

    .container-header h1 {
        font-size: 45px;
        text-align: start;
        padding: 0px 150px 10px 0px;
        display: flex;
        padding-right: 450px;
    }

    header .photo-movil img {
        width: 130%;
        height: 60%;
    }

    .container-header p {
        font-size: 18px;
        text-align: left;
        padding: 0px 350px 0px 0px;
    }

    .container-header-buttons .logo-google,
    .container-header-buttons .sign-up {
        width: 50%;
    }

    .container-header-buttons {
        text-align: initial;
    }

    .main-header-img {
        height: auto;
        gap: 50px;
        flex-wrap: nowrap;
    }

    .main-header-img img {
        width: auto;
        height: 35px;
    }

    .main-header-img .logo-newyork,
    .main-header-img .logo-spotify {
        width: auto;
        height: 35px;
    }

    .main-section-header {
        padding: 50px 20px
    }

    .article-one,
    .article-two,
    .article-three {
        display: flex;
        align-items: center;
        background-color: #F3EAE2;
    }

    .article-one,
    .article-two,
    .article-three {
        display: flex;
    }

    .article-one-img,
    .article-one-text {
        width: 50%;
    }

    .article-two-img,
    .article-two-text {
        width: 50%;
    }

    .article-three-img,
    .article-three-text {
        width: 50%;
    }

    .article-two {
        flex-direction: row-reverse;
    }

    .article-one-text,
    .article-two-text,
    .article-three-text {
        padding: 0px 70px;
    }

    br {
        display: none;
    }

    .article-four-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 15px;
    }

    .article-four-buttons .button-meet {
        width: 30%;
    }

    .article-four-buttons .button-talk {
        width: 20%;
        margin: 0px;
    }

    .list-percentage {
        display: flex;
        padding: 60px 40px;
        justify-content: space-around;
    }

    .article-five div {
        display: flex;
        flex-direction: row-reverse;
    }

    footer {
        padding: 0px 20px;
    }

    footer .footer-columns {
        justify-content: space-between;
    }

    .ul-footer-links {
        display: flex;
        padding: 0px 25px;
        justify-content: space-between;
    }

    .icons-app {
        justify-content: flex-start;
        padding: 0px 25px;
        gap: 90px;
    }
}