* {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
  }
  
  .navbar{
      width:100%;
      padding: 1em 2em;
      position: fixed;
      display: flex;
      justify-content: space-between;
      background-color: white;
      z-index: 1;
      border-bottom: 1px solid #ebebeb;
  }

  .navbar ul{
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .navbar li{
        float: left;
        padding-left: 30px;
        list-style: none;
        font-size:1em;
    }
  
  .slack-logo{
    height: 50px;
  }
  
  /*--------------------------------*/
  
  
  
  .header{
    padding-top: 7em;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    padding-top:5em;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  .header-content h1{
    width: 85%;
    font-size: 4em;
  }
  .header-content p{
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 17px;
    max-width: 40rem;
    padding-right: 10em;
    color: #5B5E6B;
  }
  
  .email-address{
    display: flex;
  }

  .input-address{
    width: 35%;
    padding: 1em 1em;
    font-size: 1rem;
    border: 1px solid #ebebeb;
    margin-right: 1em;
  }
  
  .get-started{
    background-color: #3f46ad;
    border: 1px solid #3f46ad;
    color: white;
    width: 100%;
    border-radius: 4px;
    padding: 20px 40px 20px 40px;
    font-size:1em;
  }
  
  .div-header-img{
    display: flex;
    justify-content: center;
    height: 35em;
  }
  
  .header-img{
    padding-top:2em;
    width: 40em;
    height: 35em;
  }
  
  /*--------------------------------*/
  
  main{
    padding: 2em 2em 2em 2em;
    background-color: #F4F3F4;
  }
  
  .main-content h2,.main-content p{
    text-align: center;
    padding-bottom: 1em;
  }
  .div-discover{
    display: flex;
    justify-content: center;
  }
  .discover{
    background-color: white;
    color: #3f46ad;
    width: 30%;
    border: 1px solid;
    border-radius: 4px;
    padding: 20px 40px 20px 40px;
    font-size: 1em;
  }
  
  .img-companies{
    padding: 2em 2em;
    display: flex;
    flex-flow: wrap; 
  }
  
  .img-companies div{
    display: flex;
    align-items: center;
    width: 33%;
    flex-wrap: wrap;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  
  .img-companies div img{
  padding: 2em 1em 2em 1em;
  width: 75%;
  }
  
  /* -------------------------- */
  
  .main-content-bottom{
    padding: 3em 2em 3em 2em;
    display: flex;
    justify-content: space-between;

    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  
  .get-started-bottom{
    background-color: #3f46ad;
    border: 1px solid #3f46ad;
    color: white;
    width: 25%;
    border-radius: 4px;
    font-size: 1em;
  }
  .main-content-bottom div{
    width: 100%;
    padding-bottom: 0.5em;
  }
  
  .main-content-bottom div p:first-child{
    font-size: 1.5em;
  }
  
  /*------------------------*/
  
  footer{
    padding-left: 2em;
    padding-right: 2em;
  }
  .footer-logo{
    width: 7em;
    height: 7em;
  }
  .bottom-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .bottom-list ul{
    list-style: none;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  .bottom-list ul li:first-child{
    font-weight: bold;
  }
  .bottom-list ul li{
    padding-bottom: 1em;
  }
  
  
  .footer-bottom{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    padding: 1em 1em 1em 1em;
   
    background-color: #F5F5F5;
  }
  
  .footer-bottom ul{
    display: flex;
    flex-grow: 0.2;
    justify-content: space-around;
    list-style: none;
    text-align: center;
  }

  .footer-bottom div {
    display: flex;
    justify-content: center;
  }

  .footer-img{
    width: 20px;
    height: 20px;
  }