html{

}

body{
  background-image: url(https://media.wired.com/photos/5a593a7ff11e325008172bc2/master/w_440,c_limit/pulsar-831502910.jpg); 
  background-size: cover;
  background-repeat: no-repeat;

}
ul{
  list-style: none;
  color: white;

}