/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 40px;
  padding: 0;
  width: 100%;
}

body p, ul {
  color: #5b5e6d;
}

/* ---- Nav ---- */

nav {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;

}

.nav-logo {
  margin-right: 95px;
}

/* ---- Header ---- */
.header {
  display: flex;
  flex-direction: column;
}

.header-button {
  padding: 15px 20px;
  border-radius: 5px;
  color: white; 
  background-color: #192592;
}

header img {
  width: 100%;
}

.sign-in {
  text-align: center;
}



/* ---- Main ---- */

.users {
  background-color: #F4F3F4;
}
.users h2, .users p {
  text-align: center;
}

.users button {
  padding: 15px 20px;
  border-radius: 5px;
  color: #192592; 
  background-color: white;
  margin-bottom: 30px;
}

.images {
  margin: 0 30px;
}

.images img {
  width: 100%;
  margin: 25px 0;

}

.try-it {
  text-align: center;
}

.try-it button {
  margin-bottom: 20px;
}

/* ---- Footer ---- */

footer img {
  width: 25%; 
}

.list {
  display: flex;
  flex-direction: row;
  margin-right: 26px;
}

footer ul {
  list-style: none;
}



.footer-nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.langues {
  display: flex;
  justify-content: center;
}

.social {
  display: flex; 
  justify-content: space-evenly;
}