


* {
    box-sizing: border-box;
}


body {
    font-size: 20px;
}

nav {
    position: fixed;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#logo {
    width: 200px;
    height: 30px;

}

.nav-bar {
    padding-right: 1em;
}

#slack-logo {
    width: 200px;
    padding: 1em;

}

li {
    list-style:  none;
}


.nav-bar li {
    display: inline-block;
    padding-right: 2em;
    padding-top: 0.5em;
}


#home_talking {
	max-width: 100%;
	width: 600px;
    padding-top: 4em;

}



header {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em;
    padding-left: 1em;
    align-items: center;
    text-align: center;
    padding-left: 4em;
    
}


h1 {
	font-size: 50px;
	text-align: left;
}

.box3, .box1, .box3 {
    max-width: 100%;
    width: 600px;

}

.box1 {
	
    padding: 2em;
    padding-left: 8em;
    padding-top: 2em;
	
}
.box1 p {
    text-align: left;
}

.box2 {
	padding-left: 3em;
}

.box3 {
	padding-top: 2em;
   } 

.blue-button {
	background-color: #192592;
	border-radius: 7px;
	color: white;
    padding: 20px 70px;
    font-size: 15px;

}
.white-button {
	background-color: white;
	border-color: #192592;
	border-radius: 7px;
	color: #192592;
    padding: 20px 70px;
    font-size: 15px;

} 

main, footer {
    width: 100%;
    

}


.companies-text {
     width: 100%;
    background-color: #F4F3F4;
    padding-left: 1em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

img {
    width: 200px;

}

#la-times {
    width: 300px;
}

.try   {
	text-align: center;
}  

.try p:first-child {
	font-weight: bold;
	font-size: 30px;
}

.company-logos {
    padding-top: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.companies img {
    padding: 2em;

}



.links li:first-child {
	font-weight: bold;
}

.footer-links {
    padding-top: 2em;
}

.links-logo {
    width: 200px;
    height: 30px;
    float: left;
  }

#iso-slack {
    width: 200px;
}

.links ul {
    
    display: inline-block;
    padding: 2em;
    padding-right: 3em;
    float: right;
}

.links li {
    padding-bottom: 0.5em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.end {
	display: flex;
    flex-direction: row;
    align-items: center;
    background: #F4F3F4;
}
.end li {
	font-weight: normal;
	display: inline-block;
	padding: 0.5em;
}

.english {
    padding-left: 34em;
}

#flag {
    width: 20px;
}

i {
	font-weight: 100;
}

.icones {
    text-align: center;
    padding: 1em;

}
