body {
    margin: 0;
    max-width: 100%;
}


.disc-btn {
    color: #192592;
    border-radius: 4px;
    border: 1px solid #192592;
    background-color: white;
    width: 95%;
    font-weight: bold;
    padding: 10px;
}

.logos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.logos {
    text-align: center;
    background-color: #F4F3F4;
    padding: 10px;
    max-width: 100%;
}

.logos p {
    text-align: center;
}

.logos img {
    display: block;
    max-width: 100%;
    margin: 15px 0 15px;
}

.logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 200px;
    padding: 0% 5%;
}

 .logo-container:last-child {
    border:none;
  }

.try-free {
 text-align: center;
}

.try-free h3 {
    margin:60px 0 20px 0;
}


@media(min-width: 767px) and (max-width: 961px){
    
}

