/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  width: 100%;
  padding: 0 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body p, ul {
  color: #5b5e6d;
}

/* ---- Nav ---- */

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


/* ---- Header ---- */
.header {
  display: flex;
  flex-direction: column;
}

.primary-button {
  padding: 15px 20px;
  border-radius: 5px;
  color: white; 
  background-color: #192592;
  margin: 0 20px;
}

header input {
  margin-bottom: 20px;
  padding: 20px 10px;
  margin: 0 20px 15px 20px;
  border-radius: 20px;
}

header img {
  width: 100%;

}

header p {
  margin-bottom: 40px;
}

.sign-in {
  text-align: center;
}

@media (min-width: 767px){

  header input {
    width: 400px;
  }

  header .primary-button {
    width: 150px;
  }

  .user-input {
    display: flex;
    height: 40px
  }


}




/* ---- Main ---- */

.users {
  background-color: #F4F3F4;
}
.users h2, .users p {
  text-align: center;
}

section.images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.secondary-button {
  padding: 15px 20px;
  border-radius: 5px;
  color: #192592; 
  background-color: white;
  margin-bottom: 30px;
}

.images img {
  width: 100%;
  padding: 25px 75px;
  border-bottom: 1px solid #a2a3a8;

}

.try-it {
  text-align: center;
}

.try-it button {
  margin-bottom: 20px;
}

/* ---- Footer ---- */

footer img {
  width: 25%; 
}

.list {
  display: flex;

  
}

footer ul {
  list-style: none;
}

.footer-nav {
  background-color: #F4F3F4;
}

.footer-nav ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.langues {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.langues img {
  width: 25px;
}

.social {
  display: flex; 
  justify-content: space-evenly;
}