/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
  border-bottom: 0.2px solid lightgray;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 3vw;
}

nav ul li {
  padding: 1vw;
}

header {
  display: flex;
  padding-top: 25vh;
  justify-content: space-evenly;
  margin-bottom: 12vh;
}

header img {
  margin-top: 4vh;
  height: 62vh;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 5vh;
}

.workspace {
  border: 1px solid lightgrey;
  padding: 1vw;
}

.slackLogo {
  width: 8vw;
  margin-left: 3vw;
}

.headerText {
  width: 45vw;
}

.headerText h1 {
  font-size: 6vw;
  margin: 0;
}

.headerParagraph {
  line-height: 1.5;
  font-size: 1.8vw;
  color: #5b5e6d;
}

.blueBackgroundButton {
  padding: 2vh 3vw;
  font-size: 1.2vw;
  border-radius: 5px;
  background-color: #192592;
  color: white;
}

.alreadyUsingSlack {
  font-size: 1.2vw;
}

.companyLogos {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}

.companyLogosTop {
  border-bottom: 1px solid lightgray;
}

.companyLogosTop img {
  padding: 5vh 6vw;
  width: 15vw;
}

.companyLogosBottom {
  padding-bottom: 12vh;
}

.companyLogosBottom img {
  padding: 6vh 6vw;
  width: 15vw;
}

.companyLogosBottom img:nth-child(1) {
  width: 19vw;
  padding: 6vh 4vw;
}

.sideBorders {
  border: 1px solid lightgray;
  border-top: 0;
  border-bottom: 0;
}

.mainTagFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centerItems {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F4F3F4;
}

.centerItems h2 {
  margin: 0;
}
.centerItems p {
  margin-bottom: 5vh;
}

.centerItems button {
  padding: 2vh 3vw;
  font-size: 1.2vw;
  border-radius: 5px;
  border-color: #192592;
  background-color: white;
  color: #192592;
  margin-bottom: 10vh;
}

.notTheActualFooter {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  align-items: flex-start;
}

.notTheActualFooter div {
  display: flex;
  width: 70vw;
  height: 40vh;
  justify-content: space-evenly;
}

.notTheActualFooter div ul {
  list-style: none;
}

.notTheActualFooter div ul li {
  padding-top: 3vh;
}

.theActualFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theActualFooter ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.theActualFooter ul li {
  padding-right: 2vw;
}

.theActualFooterRightSide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 18vw;
}

.flagWithSpan {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 11vw;
}

.flagWithSpan img {
  width: 1.5vw;
}

.socialMediaLinks {
  display: flex;
  justify-content: space-evenly;
  width: 8vw;
}