/* Width 767px - 960px */

@media (min-width: 767px) and (max-width: 960px) {

    /* Header */

    .header h1 {
        font-size: 6em;
    }

    .header-container-email-input {
        display: flex;
        align-items: center;
    }

    .email-input {
        width: 50%;
        padding: 25px;
        margin-right: 10px;
    }

    .header .btn {
        width: 20%;
    }

    .header img {
        width: 50%;
        margin: 0 auto;
    }

    .header .signin {
        text-align: left;
        margin-bottom: 40px;
    }

    /* Main */

    /* Main first container */
    
    .main .btn-discover {
        width: 25%;
    }

    .main-img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-img {
        width: 50%;
        border: 1px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-img img {
        max-width: 100%;
    }

    .main-img:nth-of-type(1) {
        border-top: none;
        border-left: none;
    }

    .main-img:nth-of-type(2) {
        border-top: none;
        border-right: none;
    }

    .main-img:nth-of-type(3) {
        border-left: none;
    }

    .main-img:nth-of-type(4) {
        border-right: none;
    }

    .main-img:nth-of-type(5) {
        border-left: none;
        border-bottom: none;
    }

    .main-img:nth-of-type(6) {
        border-right: none;
        border-bottom: none;
    }

    .line {
        display: none;
    }

    /* Main second container */

    .main .main-second-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 30px; 
    }

    .main .main-container-email-input {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 2;
    }

    .main .email-input {
        width: 40%;
    }

    .main .btn {
        width: 30%;
    }

    /* Footer */

    /* Footer menu */

    .footer-menu {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 30px 20px;
    }

    .footer-logo-div {
        width: 20%;
        margin-right: 10px;
    }

    /* Footer info */

    .footer-info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .footer-info ul{
        margin: 0;
    }

    .footer-info-side {
        display: flex;
        align-items: center;
    }

    .footer-info-english {
        margin-right: 35px;
    }

    .footer-info-fa i:nth-child(2) {
        margin: 0 25px;
    }
}

/* Width 961px - 1024px */

@media (min-width: 961px) and (max-width: 1024px) {
     
    /* Header */

    .header h1 {
        font-size: 6em;
    }

    .header-container-email-input {
        display: flex;
        align-items: center;
    }

    .email-input {
        width: 50%;
        padding: 25px;
        margin-right: 10px;
    }

    .header .btn {
        width: 20%;
    }

    .header img {
        width: 50%;
        margin: 0 auto;
    }

    .header .signin {
        text-align: left;
        margin-bottom: 40px;
    }

    /* Main */

    /* Main first container */
    
    .main .btn-discover {
        width: 25%;
    }

    .main-img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-img {
        width: 30%;
        border: 1px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-img img {
        max-width: 100%;
    }

    .main-img:nth-of-type(1) {
        border-top: none;
        border-left: none;
    }

    .main-img:nth-of-type(2) {
        border-top: none;
    }

    .main-img:nth-of-type(3) {
        border-top: none;
        border-right: none;
    }

    .main-img:nth-of-type(4) {
        border-left: none;
        border-bottom: none;
    }

    .main-img:nth-of-type(5) {
        border-bottom: none;
    }

    .main-img:nth-of-type(6) {
        border-right: none;
        border-bottom: none;
    }

    .line {
        display: none;
    }

    /* Main second container */

    .main .main-second-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 30px; 
    }

    .main .main-container-email-input {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 2;
    }

    .main .email-input {
        width: 40%;
    }

    .main .btn {
        width: 30%;
    }

    /* Footer */

    /* Footer menu */

    .footer-menu {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 30px 20px;
    }

    .footer-logo-div {
        width: 20%;
        margin-right: 10px;
    }

    /* Footer info */

    .footer-info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .footer-info ul{
        margin: 0;
    }

    .footer-info-side {
        display: flex;
        align-items: center;
    }

    .footer-info-english {
        margin-right: 35px;
    }

    .footer-info-fa i:nth-child(2) {
        margin: 0 25px;
    }

}

/* Width more than 1024px */

@media (min-width: 1025px) {

/* Nav */

.hamburger-container {
    display: none;
}

.navbar {
    justify-content: space-between;
    padding: 20px 50px;
}

.menu {
    display: inline-block;
    position: static;
    border: none;
    background: none;
    width: auto;
}

.menu li {
    float: left;
    color: #5b5e6d;
    margin: 10px;
}

.menu li:last-child {
    border: 1px solid #c4c0c0;
    border-radius: 5px;
}

/* Header */

.header {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.header-text-container {
    width: 50%;
    order: 2;
    align-self: flex-start;
}

.header-text-container p {
    line-height: 1.6em;
}

.header h1 {
    font-size: 7em;
}

.header-container-email-input {
    display: flex;
    align-items: center;
}

.email-input {
    width: 45%;
    padding: 25px;
    margin-right: 10px;
}

.header .btn {
    width: 200px;
}

.header img {
    width: 50%;
    align-self: center;
}

.header .signin {
    text-align: left;
    margin-bottom: 40px;
}

/* Main */

/* Main first container */

.main-first-container .btn {
    width: 10%;
    margin-bottom: 50px;
}

.main-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-img {
    width: 30%;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img img {
    max-width: 100%;
}

.main-img:nth-of-type(1) {
    border-top: none;
    border-left: none;
}

.main-img:nth-of-type(2) {
    border-top: none;
}

.main-img:nth-of-type(3) {
    border-top: none;
    border-right: none;
}

.main-img:nth-of-type(4) {
    border-left: none;
    border-bottom: none;
}

.main-img:nth-of-type(5) {
    border-bottom: none;
}

.main-img:nth-of-type(6) {
    border-right: none;
    border-bottom: none;
}

.line {
    display: none;
}

/* Main second container */

.main .main-second-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px; 
}

.main .main-container-email-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.main .email-input {
    width: 40%;
}

.main .btn {
    width: 20%;
}

/* Footer */

/* Footer menu */

.footer-menu {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 30px 20px;
}

.footer-logo-div {
    width: 60%;
    margin-right: 10px;
}

.footer-menu img {
    height: 140px;
}

/* Footer info */

.footer-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.footer-info ul{
    margin: 0;
}

.footer-info-side {
    display: flex;
    align-items: center;
}

.footer-info-english {
    margin-right: 45px;
}

.footer-info-fa i:nth-child(2) {
    margin: 0 25px;
}
}