/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

* {
  font-size: 10px;
  padding: 0;
  font-family: Lora;
  margin: 0;
  color: #5b5e6d;
}

body {
  position: relative;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

h1 {
  font-size: 8em;
  margin: 5% 0;
  color: #2C303F;
}

h2 {
  font-size: 3em;
  color: #2C303F;
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: block;
  line-height: 60px;
  border-bottom: 1px solid #F4F3F4;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: center;
  background-color: white;
}

.nav-bar .slackNav {
  height: 60px;
  float: left;
  margin: auto 5%;
}

.nav-bar .hamburger {
  float: right;
  height: 35px;
  margin: 15px 20px 0;
}

nav ul {
  display: none;
}

header {
  padding: 80px 10px 0;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.header-text {
  width: 50%;
}

.intro {
  font-size: 1.6em;
  margin: 2% 0;
  line-height: 2em;
}

.button-email {
  display: none; 
}

.header-button {
  background-color: #192592;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  width: 200px;
  margin: 0 auto;
  font-size: 1.2em;
  border-radius: 8px;
}

header img {
  width: 45%;
  order: 0;
  float: left;
}

.header-link {
  margin: 5% 0;
  font-size: 1.6em;
}

.header-link a {
  font-size: 1em;
}

.section-2 {
  background-color: #F4F3F4;
  margin: 0 auto;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

.section-2 h2 {
  margin: 2% 0 2%;
}

.section-2-button {
  padding: 1%;
  margin: 2% 0;
  background-color: white; /* Green */
  border: 1px solid #192592;
  border-radius: 3px;
  color: #192592;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 400;
}

.column {
  width: 100%;
}

.column p {
  font-size: 1.6em;
}

.companies {
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}

.companies img {
  width: 20%;
  padding: 30px;
  margin: 20px;
}

.try-it-free {
  width: 80%;
  margin: 3% 0;
  float: left;
  height: 100px;
}

.try-it-free h2, .try-it-free p {
  width: 20%;
  margin: 1% 0 1% 3%;
}

.try-it-free a {
  font-size: 1em;
}

.try-it-button {
  float: right;
  height: 100px;
  margin: 3% 0;
  width: 20%;
  line-height: 100px;
}
.try-it-button button {
  padding: 20px;
  margin: 2% 0;
  background-color: #192592;
  border-radius: 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 400;
  width: 75%;
}

footer {
  height: 350px;
}

.main-footer {
  width: 100%;
  margin-top: 50px;
}

.main-footer-slack-img {
  float: left;
  padding-left: 100px;
  margin-top: -50px;
}

.list {
  /* border: 1px solid black; */
  float: left;
  width: 20%;
}

.list li {
  list-style-type: none;
  font-size: 1.3em;
  line-height: 2.2em;
  font-weight: 200;
}

.footer-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  display: block;
  line-height: 60px;
  border-top: 1px solid #F4F3F4;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: center;
  background-color: #F4F3F4;
}

.footer-bar ul {
  margin: 0 3% 0 0;
  width: 50%;
  float: left;
}

.footer-bar li {
  list-style-type: none;
  float: left;
  margin: 0 0 0 20px;
  padding: 0 2%;
  font-size: 1.2em;
}

.language {
  float: right;
  margin: 0 0 0 20px;
  padding: 0 2%;
  width: 20%;
}

.language img {
  width: 20px;
}

.language i {
  margin: 0 0 0 20px;
  padding: 0 2%;
  font-size: 1.2em;
}