* {
  font-family:Slack-Averta,appleLogo,sans-serif;
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}

.navbar{
    width:100%;
    padding: 1em 2em;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}

.navbar li{
      float: left;
      padding-left: 30px;
      list-style: none;
      font-size:1em;
  }

.slack-logo{
  height: 50px;
}

/*--------------------------------*/

.header{
  display: flex;
  flex-direction: column;
  padding-top:5em;
  padding-left: 2em;
  padding-right: 2em;
}
.header-img{
  padding-top:2em;
  height: 23em;
}

/*--------------------------------*/
.main-content div{
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  background-color: #F4F3F4;
}

.main-content div img{

  padding-bottom: 3em;
  padding-top: 3em;
  height: 11em;
  border-bottom: 1px solid black;
}
