/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
}

.nav-bar {
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  border: solid 1px #5b5e6d;  
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slack-logo {
  height: 70px;
  padding: 15px;
  
}

.menu-icon {
  height: 50px;
  padding: 25px;
}

.main-header {
  //height: 400px;
  margin: 150px 15px 0 15px;
}


.main-header h1 {
  color: #2C303F;
  font-size: 6em;
  font-family: 'Times New Roman', Times, serif;
}

.main-header p {
  font-size:3em; 
  color: #5b5e6d;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
}

.wrapper-form button {
 background-color: #192592;
 color: white;
 padding: 15px;
 text-align: center;
 border-radius: 5px;
 border: none; 
}

.wrapper-form input {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #5b5e6d;
  margin-bottom: 20px;
}

.wrapper-form p {
  text-align: center;
}

.wrapper-form a {
  color: #192592;
}

.work-pic {
  width: 70%;
  display: block;
  margin: 0 auto;
}

main > div {
  background-color: #F4F3F4;
}

main > div h2 {
  padding-top: 40px;
  color: #2C303F;
  font-size: 6em;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

main > div p {
  font-size:3em; 
  color: #5b5e6d;
  text-align: center;
} 

.logos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > div button {
  color: #192592;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #192592;
  background-color: white;
  margin: 0 auto;
  display: block;
  width: 90%;
 }

 .logos-wrapper img {
   width: 30%;
   padding: 40px 0;
 }