/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 10px;
    color: #5b5e6d;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex-wrap: row;
    width: 100%;
    height: 90px;
    background-color: #FFF;
    border-bottom: 1px solid lightgray;
}

nav ul {
    display: none;
}

nav img {
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.fa {
    align-self: center;
    font-size: 40px;
    margin-right: 20px;
    color: #5b5e6d;
}

header {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    padding-top: 100px;
    margin-left: 20px;
}

header h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 5em;
    width: 300px;
    line-height: 1.2;
    color: #2C303F;
}

.header p {
    font-size: 2em;
    width: 380px;
}

.header button {
    background-color: #192592;
    border-color: #192592;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 20px 120px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 20px;
}

.header input {
    padding: 20px 164px 20px 15px;
    font-size: 2em;
    border: 2px solid lightgray;
    border-radius: 6px;
}

.sign-in {
    margin-left: 60px;
}

header img {
    margin-top: 20px;
    height: 360px;
}

.companies {
    background-color: #F4F3F4;
    width: 90%;
    margin: auto;
}

.brands {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.brands img {
    width: 250px;
    padding: 10px 186px 40px 105px;
}

.companies h2 {
    font-family: 'DM Serif Text', serif;
    font-size: 4em;
    width: 100%;
    line-height: 1.2;
    color: #2C303F;
    text-align: center;
}

.companies p {
    font-size: 2em;
    width: 380px;
    text-align: center;
}

.companies button {
    background-color: #FFF;
    border-color: #192592;
    color: #192592;
    text-align: center;
    display: inline-block;
    padding: 20px 150px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 20px;
}

.free h2 {
    font-family: 'DM Serif Text', serif;
    font-size: 4em;
    width: 100%;
    line-height: 1.2;
    color: #2C303F;
    text-align: center;
    margin-bottom: -9px;
}

.free p {
    font-size: 2em;
    width: 380px;
    text-align: center;
}

.free button {
    background-color: #192592;
    border-color: #192592;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 20px 120px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 17px;
}

.free input {
    padding: 20px 164px 20px 15px;
    font-size: 2em;
    border: 2px solid lightgray;
    border-radius: 6px;
}

main {
    margin-left: 20px;
}

footer {
    font-size: 2em;
    line-height: 1.9;
    margin-left: 20px;
}

footer img {
    height: 150px;
    width: 150px;
}

footer ul {
    list-style-type: none;
}

.other {
    display: flex;
    flex-direction: column;
}

.break {
    display: flex;
}

.footer {
    
    
}
.inline {
    display: inline-block;
}

.flag img {
    height: 30px;
    width: 30px;
}