


/* For mobile phones*/

* {
    box-sizing: border-box;
}


body {
    font-size: 20px;
    margin-top: 0;
    margin-right: 0;
}

nav {
    position: fixed;
    background: white;
    width: 100%;
}

#slack-logo {
    max-width: 150px;
    padding: 1em;

}

#home_talking {
	max-width: 100%;
	width: 600px;
}

.nav-bar {
    display: none;
}

header {
    
    max-width: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-left: 2em;
    padding-top: 2em;
    align-items: center;
    text-align: center;

    
}


h1 {
	font-size: 50px;
	text-align: left;
    color: #2C303F;
}

h2 {
    color: #2C303F;
}

p {
    color: #5b5e6d;
}

.box3, .box1, .box3 {
    max-width: 100%;
    width: 600px;

}

.box1 {
	order: 1;
    padding: 2em;
   
  
	
}
.box1 p {
    text-align: left;
}

.box2 {
	order: 2;
}

.box3 {
	order: 3;
}

.blue-button {
	background-color: #192592;
	border-radius: 7px;
	color: white;
    padding: 30px 170px;
    font-size: 20px;

}
.white-button {
	background-color: white;
	border-color: #192592;
	border-radius: 7px;
	color: #192592;
    padding: 30px 170px;
    font-size: 20px;

} 

main, footer {
    max-width: 100%;
    width: 600px;

}
img {
    width: 200px;

}

.companies {
    
    max-width: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F3F4;
    padding-left: 1em;
}  

.try   {
	text-align: center;
}  

.try p:first-child {
	font-weight: bold;
	font-size: 30px;
    color: #2C303F;
}


.companies img {
    padding: 2em;
}

.company-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#la-times {
    width: 300px;
}



li:first-child {
	font-weight: bold;
    color: #2C303F;
}

li {
	list-style:  none;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.links li {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    color: #5b5e6d;
}

.end {
	display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F3F4;
}
.end li {
	font-weight: normal;
	display: inline-block;
	padding: 0.5em;
}


#flag {
    width: 20px;
}

i {
	font-weight: 100;
}

.icones {
    text-align: center;
    padding: 2em;
}

