/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
}

.nav-bar {
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  border: solid 1px #5b5e6d;  
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slack-logo {
  height: 70px;
  padding: 15px;
  
}

.menu-icon {
  height: 50px;
  padding: 25px;
}

.main-header {
  margin: 150px 15px 0 15px;
  width: 100%;
  position: static;
}


.main-header h1 {
  color: #2C303F;
  font-size: 6em;
  font-family: 'Times New Roman', Times, serif;
}

.main-header p {
  font-size:3em; 
  color: #5b5e6d;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
}

.wrapper-form button {
 background-color: #192592;
 color: white;
 padding: 15px;
 text-align: center;
 border-radius: 5px;
 border: none; 
 width: 90%;
}

.wrapper-form input {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #5b5e6d;
  margin-bottom: 20px;
  width: 83%;
  display: inline;
}

.wrapper-form p {
  text-align: center;
}

.wrapper-form a {
  color: #192592;
}

.work-pic {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.colored-bkg {
  background-color: #F4F3F4;
}

.main-block div h2 {
  padding-top: 40px;
  color: #2C303F;
  font-size: 6em;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.main-block div p {
  font-size:3em; 
  color: #5b5e6d;
  text-align: center;
} 

.logos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-block .colored-bkg button {
  color: #192592;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #192592;
  background-color: white;
  margin: 0 auto;
  display: block;
  width: 90%;
 }

 .logos-wrapper img {
   width: 40%;
   padding: 40px 0;
 }

 .try-it {
   width: 90%;
   height: auto;
}

.try-wrapper {  
  display: inline-block; 
  position: static;
  transform: none;
  width: 100%;
}

.try-wrapper input {
  display: inline;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #5b5e6d;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.try-it button {
  display: block;
  position: static;
  transform: none;
  background-color: #192592;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border: none;
  width: 100%;  
}

.flex-footer img {
  display: block;
  margin: 0 70% 0 10%;
  width: 20%
}

.flex-footer ul {
  width: 30%;
}

.flex-footer li, .flex-footer li:first-of-type {
  font-size: 2.5em; 
  margin: 15px 0;
}

.footer-bar {
  position: relative;
  height: 200px;
}

.footer-bar ul {
  position: static;
  display: block;
  padding: 30px 0;
  transform: none;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
}

.footer-bar div {
  position: static;
  transform: none;
  text-align: center;
  font-size: 1.5em;
}

.footer-bar div img {
  width: 5%;
  transform: translateY(35%)
}

.footer-bar div i {
  padding: 10px;
  color: #5b5e6d;
  height: 30%;
  font-size: 2em; 
}