@media [(max-width: 768px)] {
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
    


nav {
    position: fixed;
    z-index: 10;
    background-color: white;
    height: 4%;
    border-top: 1px solid #5b5e6d;
    border-bottom: 1px solid #5b5e6d;
    margin-top:-10px;
    width: 100%;

}

nav img {
    height: 3.3em;
}

nav ul {
    display: none;
}


/* Header */

header {
display: flex;
flex-direction: column;
margin: 0 28px;
justify-content: center;
}

header img {
    order: 1;
}

header h1 {
font-size: 36px;
color: #2C303F;
margin-top: 100px;
text-align: left;
}
    
header p{
font-size: 20px;
color: #5b5e6d;
justify-content: center;
text-align: justify;
}
    
header button {
background-color: #192592;
color: #FFF;
border-radius: 5%;
width: 60%;
height: 6vh;
align-content: center;
font-size: 18px;
font-weight: 20;
margin-left: 120px;
}
    
header a{
color: #192592;
justify-content: center;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    flex-wrap: wrap;
}

.boxgrey {
    background-color: #F4F3F4;
    padding-bottom: 20px;
    border-top: 0.2px solid #818181;
    border-bottom: 0.2px solid #818181;
}

.boxgrey img {
    width: 50%;
    padding: 30px 0;
}

.boxgrey button {
    color: #192592;
    background-color: #fff;
    border: 1px solid #192592;
    border-radius: 4px;
    font-weight: bold;
    height: 6vh;
    width: 60%;
    margin-bottom: 40px;
    font-size: 18px;
}

.boxgrey hr {
    border: 0.2px solid #818181;
    width: 80%;
}

/* White Box */
.whitebox {
    padding: 40px 0;
    border-bottom: 0.2px solid #818181;
}

.whitebox button {
background-color: #192592;
color: #FFF;
border-radius: 5%;
width: 60%;
height: 6vh;
align-content: center;
font-size: 18px;
font-weight: 20;
}

.whitebox span {
font-weight: bold;
font-size: 24px;
}

.whitebox a {
color: #192592;
justify-content: center;
}

/* Footer */
footer {
    max-width: 100%;
}


footer img {
    width: 100px;
    align-items: flex-start;


}

.list {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    padding: 0 10em;
  }

.footer ul {
    width: 70%;
    margin:0 auto;
}

.footer li {
    text-decoration: none;
    list-style: none;
}

.footer span {
    font-weight: bold;

}

.grey {
    background-color: #F4F3F4;
    border-top: 0.2px solid #818181;
    border-bottom: 0.2px solid #818181;
    padding-bottom: 40px;
}


.grey li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-right: 20px;
    font-weight: bold;
    text-align: center;
    
}

.languagesmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.8em;
}

.languagesmenu img {
    width: 2.5em;

}

.languagesmenu span {
    font-weight: bold;
    
}


.socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5em;
    margin-top: 20px;
}

.column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
}
