
@media (max-width: 768px) {
    *{
    padding: 0;
    margin: 0;
    }
    body{
    background-color: #540a51;
    }
    
   .navigation{
    display: flex;
    justify-content:space-between;

   }

   button{
    border-radius: 0.5em;
   }

   .slack-logo{
    height: 2em;
    width: auto;
   }

   .nav-list{
    display: none;
   }
   .nav-button{
    background: none;
    border: none;
   }

   .welcome-text{
    font-size: 3em;
    color: white;
    text-align: center;
    padding: 1.5em;
   }

   .slack-description{
    color: white;
    font-size: 2rem;
    text-align: center;
   }

   .slack-description span{
    color:#e5aa2f;
   }
 
   .sign-up{
    display: flex;
    flex-flow: column;
  
  
   }
 
   .sign-up button{
    height: 5em;
    width: auto;
    margin:0.5em
   }
   .sign-up-button{
    background-color: #ffffff;
    font-size:1em ;
    text-transform: uppercase;
    font-weight: bold;
    color: #540a51;
   }

   .sign-up-button1{
    background-color: #4285f4;
    color:#ffffff;
    font-size:1em ;
    text-transform: uppercase;
    font-weight: bold;
   }


   .sign-up img{
    padding: 0.5em;
    height: 3em;
    width: auto;
    background-color:#ffffff ;
    margin-left:0;
    position: absolute;
    left: 20px;
    top: 447px;
  

   }
   .sign-up span{

   }
   .section1{
    display:flex;
    flex-flow: column;
    justify-content: space-between;
   }

   

   .section1 p{
    color: #0e0e0e;
    text-align: center;
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
   }

  .section2 h2,.bring h2, .section3 h2{
    text-align: left;
    font-size: 2em;
    padding: 0.7em;
    
  }

  .section2 p,.bring p,.section3 p{
    line-height: 1.2em;
    font-size: 1.5em;
    text-align: left;
    padding: 1em 2em 1em 1em;

  }

   main{
     background-color: #f3eae2;
   
   }
   .trusted{
    display: flex;
    margin:2em;
    justify-content: space-around;
    flex-wrap:wrap;
    background-color: #f3eae2;
    overflow: auto;
   }

   .trusted img{
    width: auto;
    height: 3em;
    margin: 1em;
   }

   img{
    width: 100%;
    height: auto;
   }

   a{
    text-decoration: none;
    padding: 0.9em;
    font-size: 1.5em;
    color: #5287b0;
    

   }

   .section4{
    background-color: #ffffff;
   }

   .section5{
    background-color: #540b51;
   }


   footer img{
    height: 4em;
    width: auto;
    margin: 2em;
    
   }

   .section4 h3{
    color: #191817;
    text-align: center;
    font-size: 2.5em;
    padding: 1em;
   }

   .section4 p{
    text-align: center;

   }

   .meet-button{
    display: flex;
    flex-flow: column;
    margin:1em;
   }

   .meet-button button {
    background-color: #ffffff;
    font-size:1em ;
    text-transform: uppercase;
    font-weight: bold;
    color: #540a51;
    height: 5em;
    margin: 0.5em;
   }

   ul p{
    text-align: center;
   }




   .section4 ul span{
    color:#611e5e  ;  
    font-size: 3em;
    font-weight: bold;
   }


   .section5 h3 {
    color: white;
    font-size: 4em;
    text-align: center;
    padding: 1em;

   }

   .section5{
    display: flex;
    flex-flow: column;
   }

   .section5 button{
    height: 4em;
    margin:0.7em
   }

   

   footer{
    background-color:#ffffff;
   }

   .faq{
    display: flex;
    justify-content: space-around;
   }
   li:first-child{
    font-weight: bold;
   }

   li{
    list-style: none;
    margin: 0.5rem;
   }

   .status{
    margin-left: 1.7em;
    font-weight: bold;
    
   }

   .social{
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
   }

   .social li {
    height: 3em;
    width: auto;
   }
  
}