nav{
    display: flex;
    align-items: center;
    padding: 2% 5%;
    border-bottom: 1px solid darkgray;
}

nav img {
    width: 80px;
}

nav i{
    margin-left: auto;
    width: 30px;
}

nav ul {
    display: none;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}

nav ul li:last-child{
    border: 1px solid black;
    padding: 5px;
}

@media only screen and (min-width: 1200px) {
    nav i {
        visibility: hidden;
    }

    nav ul {
        display: inline-block;
    }

    nav {
        padding: 1% 2%;
    }
}