
   .navbar {
        width:90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
        margin-right: 0;
        border-bottom: 2px solid #5b5e6d;
    }
   
    .navbar #logo {
        width: 130px;
    }

    .navbar #hamburger {
        width: 40px;
        height: 40px;
        padding-right: 25px;
    }
    .navbar ul {
        display: none;
    }

    @media(min-width: 767px) and (max-width: 961px){
    
    }