.one, .two {
    display: flex;
}

.one ul, .two ul {
    list-style-type: none;
    padding: 15px 20px;
}

.one ul li, .two ul li {
    padding: 10px;
}

.one ul li:first-child, .two ul li:first-child {
    color: darkgrey; /*done purposely, so as to distinguish from the list color*/
}