

@media screen and (min-width: 961px) {

    nav {
        width: 100%;
        max-width: 1024px;
    }
}

@media screen and (min-width: 767px) {

    nav {
        width: 100%;
        max-width: 961px;
    }

    header .tittle-grey{
        font-size: 90px;
        padding-bottom: 40px;
    }

    .header-btns {
        display:flex;
        flex-direction: row;
        margin-top: 25px;
    }

    .header-btns input {
        width: 50%;
    }

    .header-btns button {
        width: 30%;
        margin-left: 16px;
        font-size: 21px;
        padding: 35px 0px;
    }
    
    #p-center {
        align-self: flex-start;
    }

    main {
        margin-top: 505px;
    }

    main div h2 {
        text-align: center;
    }

    .centered {
        width: 40%;
        margin: 30px 266px;
    }

    }
    .brands {
        flex-wrap: wrap;
        justify-content: space-between;
        /* If i could remove flex-direction: column; and align-items: center; from .brand before the query, it would look similar...*/
     
    }

    .brands img {
        width: 50%;
        border: 1px solid grey;
    }
}

