
@media only screen and (min-width: 37.5em) {
                            .navbar {
                                max-height: inherit;
                                position: relative;
                                right: inherit;
                                width: auto;
                                background: transparent;
                            }
                            .navbar li {
                                display: block;
                                /*Esto es para que los elemenos vayan uno debajo de otro*/
                            }
                            .navbar li {
                                display: inline-block;
                                /* Con esto los elemenos irían en línea*/
                            }
                        }
                        
                        #nav-open {
                            width: 15em;
                            right: -15em;
                            position: absolute;
                            overflow: hidden;
                            display: block;
                            height: 10000%;
                            background-color: #000
                        }
                        
                        @media only screen and (min-width: 37.5em) {
                            #nav-open {
                                width: 0;
                                height: 0;
                            }
                        }