@media (max-width: 1024px) {

.fa, .fabar {
    display: block;
    margin-right: 50px;
}

.navbar .menu {
  display: none;
}

.intro {
  flex-flow: column nowrap;
  align-items: center;
}

.right-content {
  order: -1;
  margin-right: 0;
  width: 80%;
}

.title {
  width: 100%;
}

.left-content {
  width: 60%;
}

}

@media (max-width: 961px) {

/* Done! */

}

@media (max-width: 768px) {

.navbar .logo {
  width: 200px;
}

.navbar .fa, .navbar .fa-bars {
  font-size: 2.5em;
}

.left-content {
  width: 80%;
}


.title {
  font-size: 7em;
  margin-top: 20px;
}

.base-text {
  font-size: 2em;
}

.button, .button-purple {
  width: 100%;
  font-size: 1.6em;
  padding: 30px;
}


.right-content {
  flex-flow: column nowrap;
  align-content: stretch;
}

.caption-text {
  font-size: 2em;
}

.title2 {
  font-size: 3em;
}

.clients .clients-img {
  flex-flow: column nowrap;
}

.clients .clients-img .client-logo {
  margin: 50px;
}

.button-white {
  width: 50%;
}

.tryit {
  flex-flow: column nowrap;
  align-items: center;
}

.tryit-left {
  margin-left: 0;
  text-align: center;
  align-items: stretch;
}

.tryit-right {
  margin-right: 0;
  width: 90%;
}

.footer-first {
  flex-flow: column nowrap;
}

.logo-footer .slack-logo-footer {
  width: 200px;
  margin-left: -20px;
}

.menu-footer {
  flex-flow: row wrap;
}

.menu-column {
  width: 40%;
  font-size: 3em;
  padding-left: 0;
}

.footer-second {
  flex-flow: column;
  font-size: 2em;
}

.menu-language {
  flex-flow: row wrap;
  justify-content: center;

}

}
