.second ul {
    display: flex;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

.second ul li {
    list-style-type: none;
    padding-right: 15px;
}