/*            Section 3           */

#section3 {
    border-bottom: 1px solid rgb(228, 227, 227); 
}

#try-it {
    margin: 60px 0;
}

.sign-in h3 {
    text-align: center;
    margin: 0;
}

#second-sign {
    margin: 2px 0;
}

#email2 {
    margin: 12px 0 25px 0;
}

@media (min-width: 768px) {
    #try-it {
        margin: 75px 0;
        flex-direction: row;
        justify-content: center;
    }

@media (min-width: 1024px) {
    #try-it {
       justify-content: space-between;
     }
 }
    
    #email2 {
        width: 218.14px;
        height: 72px;
        margin: 0 0 0 130px;
    }

    .sign-in h3 {
        text-align: left; 
        font-size: 1.85em;
    }

}

