/*            Section 4           */

#link-block {
    margin: 35px 0;
}

.slack-icon {
    width: 100%;
    padding: 0;
    margin: 0;
}

#iso-slack {
    width: 147.3px;
    padding: 0;
    margin: -20px;
}

.lists {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lists ul { 
    width: 50%;
}

#list-title {
    font-weight: 700;
}

.lists li {
    padding: 10px 17px;
    font-weight: 300;
}

@media (min-width: 768px) {
    #link-block {
        margin: 90px 0;
        flex-direction: row;
    }
    
    .slack-icon {
        width: 20%;
    }
    #iso-slack {
        width: 177.3px;
        margin: 0 0 0 -45px;
    }

    .lists {
        width: 80%;
        flex-wrap: nowrap;
    }
}

@media (min-width: 1024px) {
    .lists li {
        font-size: 0.8em;
    }
}