/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@media (max-width: 768px) {
   
.logo-image {
    height: 70px;
    width: 30%;
    padding-right: 50px;
    margin: auto; 
    padding-left: 0px;        
}

.container-nav  {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;
background-color: white;
/* padding-right: 50px; */
/* margin-bottom: 30px;
margin-right: 50px;
position: fixed; */

}
    
.lst-1 {
list-style: none;
justify-content: space-evenly;
padding-right: 20px;
padding-left:  60px;
width: 50px;

}
.show {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
   }

/* 1 ==================== */

header {
margin: 30px;
}

.main-title {
color: #2C303F; 
padding-left: 0%; 
padding-top: 30px;
}

.logo-image2 {
    /* height: 60px; */
width: 100%;
        
}  

.blue-button{
display: flex;
justify-content: center;

}

.button-1 {
    display: flex;
    justify-content: center;
    background-color: #3f46ad;
    color: white;
    height: 50px;
    width: 290px;
    padding: 10px;
}

/* 2 ===================== */

.container-good {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    padding-left: 40PX;

}
.h-3{
    text-align: center;
}
.color{
    color: lightslategray;
    font-family: sans-serif;
}
.button-white {
    display: flex;
    justify-content: center;
    background-color: white;
    color: BLUE;
    height: 50px;
    width: 250px;
    padding-left: 0px;
    margin-left: 25PX;
}


/* 3 ======================== */

.flex-company {
background-color: whitesmoke;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0px;
padding: 70px;
height: 25;
width: 65%;
padding-bottom: 35px;
}

.company-img {
    display: flex;
    border: 0;
    max-width: 81%;
    height: 35px;
    align-content: center;
    justify-content: center;
}

/* 4 ================== */


.button-2 {
    display: flex;
    justify-content: center;
    background-color: #3f46ad;
    color: white;
    height: 50px;
    width: 250px;

    padding-left: 30px;
}

.flexCompany-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
color: darkgray;
list-style: none;
}

.lst-2 > {
display: flex;
color: darkgray;
font-weight: 10;
list-style: none;
font-size: 2em;
line-height: 100px;
font-family: sans-serif;
}

.logo-image3 {
    height: 100px;
    width: 30%;
    padding-right: 50px;
    margin: auto; 
    padding-left: 20px;        
}


}

}