/*
background purple: 
background ivory: 
button blue: 
titles black: #191817
paragraph black: #000000
paragraph yellow: 
links blue: #2E71A6
footer links grey: #
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:768px){
    body{
        background-color: #540B51;
        margin: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    nav div ul{
        display: none;
    }
    nav img{
        width: 200px;
    }
    nav > div > img{
        margin-left: 40px;
    }
    #superior-derecha button{
        padding: 0;
        border-width: 0;
        width: 30px;
        height: 30px;
        margin-right: 30px;
    }
    #superior-derecha button img{
        width: 30px;
        height: 30px;
        background-color: #540B51;   
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header div h1{
        color: white;
        font-size: 80px;
        text-align: center;
        max-width: 100%;
    }
    header div p{
        display: block;
        text-align: center;
        color: white;
        font-size: 30px;
    }
    header div p b{
        color: #ECB12F;
    }
    header div div{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
    #email{
        background-color: white;
        height: 90px;
        margin-bottom: 30px;
        color: #540B51;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        text-transform: uppercase;
        width: 90%;
    }
    #Google{
        display: flex;
        height: 90px;
        background-color: #4285F4;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        text-transform: uppercase;
        margin-bottom: 70px;
        width: 90%;
    }
    #Google img{
        height: 50px;
        background-color: white;
        padding: 10px 15px;
    }
    #Google span{
        margin-right: 21.5%;
    }
    #imagen-telefono img{
        max-width: 100%;
    }
    #empresas{
        background-color: #F3EAE2;
    }
    #empresas p{
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 50px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    #empresas div{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .empresas-1{
        width: 20%;  
        height: 10%;  
        margin: 0 15px;
    }
    .empresas-2{
        margin: 0 20px;
        padding-bottom: 50px;
    }
    #new-york{
        width: 40%;
    }
    #Spotify{
        width: 200px;
    }
    #porcentajes{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10%;
    }
    #porcentajes h3{
        padding-top: 10%;
        color: #540B51;
        font-size: 30px;
    }
    #porcentajes p{
        margin-top: 10px;
    }
    #porcentajes h3, p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #porcentajes ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;     
    }
    .porc-parrafo{
        text-align: center;
        max-width: 55%;
    }
    .numeros{
        font-size: 40px;
        font-weight: bold;
        color: #540B51;
    }    
    #esto{
        text-align: center;
        color: gray;
    }
    #Welcome h3{
        text-align: center;
        color: white;
        font-size: 60px;
        margin-right: 30px;
        margin-left: 30px;
    }
    #Welcome button{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    #try-for-free{
        background-color: white;
        height: 90px;
        margin-bottom: 30px;
        color: #540B51;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        width: 90%;
    }
    #talk-to-sales{
        display: flex;
        height: 90px;
        background-color: #540B51;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 60px;
        width: 90%;
        border-color: white;
    }
    footer{
        background-color: white;
    }
    footer hr{
        margin-top: 30px;
        color: gray;
        width: 90%;
    }
    footer ul{
        margin-top: 30px;
        list-style: none;
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    footer ul li{
        margin-bottom: 30px;
    }
    #Status{
        margin-top: 20px;
    }
    footer ul li img{
        margin-right: 10px;
    }
    #Download{
        text-decoration:none;
        color: #4285F4;
    }
    #redes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #redes img{
        width: 30px;
        margin-right: 20px;
    }
    footer div{
        text-align: center;
        max-width: 90%;
        display: flex;
        margin: 0 5%;
        color: #454245;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    body{
        background-color: #540B51;
        margin: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    nav div ul{
        display: none;
    }
    nav img{
        width: 200px;
    }
    nav > div > img{
        margin-left: 40px;
    }
    #superior-derecha button{
        padding: 0;
        border-width: 0;
        width: 30px;
        height: 30px;
        margin-right: 30px;
    }
    #superior-derecha button img{
        width: 30px;
        height: 30px;
        background-color: #540B51;
        
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border-top: #F3EAE2 1px solid;
        padding-bottom: 50px;
    }
    #great{
        background-image: url(../images/background-singup.png);
        background-size: cover;
    }
    header div h1{
        color: white;
        font-size: 80px;
        max-width: 100%;
        margin-left: 40px;
    }
    header div p{
        display: inline;
        color: white;
        font-size: 30px;
        margin-left: 40px;
    }
    header div p b{
        color: #ECB12F;
    }
    header div div{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
    #email{
        background-color: white;
        height: 90px;
        margin-bottom: 30px;
        color: #540B51;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        text-transform: uppercase;
        width: 620px;
        margin-left: 30px;
        margin-top: 20px;
    }
    #Google{
        display: flex;
        height: 90px;
        background-color: #4285F4;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        text-transform: uppercase;
        margin-bottom: 70px;
        width: 620px;
        margin-left: 30px;
    }
    #Google img{
        height: 50px;
        background-color: white;
        padding: 10px 15px;
    }
    #Google span{
        margin-right: 21.5%;
    }
    #imagen-telefono img{
        max-width: 100%;
    }
    #empresas{
        background-color: #F3EAE2;
    }
    #empresas p{
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 50px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    #empresas div{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 60px;
    }
    .empresas-1{
        width: 10%;  
        height: 10%; 
    }
    #new-york{
        width: 20%;
    }
    #Spotify{
        width: 15%;
    }
    #porcentajes{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10%;
    }
    #porcentajes h3{
        padding-top: 10%;
        color: #540B51;
        font-size: 30px;
    }
    #porcentajes p{
        margin-top: 30px;
    }
    #porcentajes h3, p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #porcentajes ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;     
        padding: 0;
    }
    .porc-parrafo{
        max-width: 65%;
    }
    .numeros{
        font-size: 40px;
        font-weight: bold;
        color: #540B51;
    }    
    #esto{
        display: none;
    }
    #Welcome h3{
        display: flex;
        text-align: center;
        color: white;
        font-size: 50px;
        justify-content: center;
    }
    #Welcome button{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    #try-for-free{
        background-color: white;
        height: 90px;
        margin-bottom: 30px;
        color: #540B51;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        width: 80%;
    }
    #talk-to-sales{
        display: flex;
        height: 90px;
        background-color: #540B51;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 60px;
        width: 80%;
        border-color: white;
    }
    footer{
        background-color: white;
    }
    footer hr{
        margin-top: 30px;
        color: gray;
        width: 95%;
    }
    footer ul{
        margin-top: 30px;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-weight: bold;
        justify-content: space-between;
        max-width: 90%;
    }
    footer ul li{
        margin-bottom: 30px;
    }
    footer ul li img{
        margin-right: 10px;
    }
    #Download{
        text-decoration:none;
        color: #4285F4;
    }
    #redes{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    #redes img{
        width: 30px;
        margin-right: 80px;
    }
    footer div{
        text-align: center;
        max-width: 90%;
        display: flex;
        margin: 0 5%;
        padding-bottom: 50px;
        color: #454245;
    }
}
@media (min-width: 1024px) and (max-width: 1440px){
    body{
        background-color: #540B51;
        margin: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    nav div{
        display: flex;
        align-items: center;
    }
    nav div ul{
        list-style: none;    
        display: flex;    
    }
    .nav-bar{
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin-right: 35px;
    }
    nav img{
        width: 200px;
    }
    nav > div > img{
        margin-left: 40px;
    }
    #superior-derecha button{
        padding: 0;
        border-width: 0;
        width: 30px;
        height: 30px;
    }
    #superior-derecha button img{
        width: 30px;
        height: 30px;
        background-color: #540B51;
    }
    #superior-derecha ul{
        display: flex;
        padding: 0;
    }
    #menu{
        display: none;
    }
    #sign-in{
        text-decoration: none;
        color: white;    
        margin-right: 30px;
        font-weight: bold;
        margin-left: 30px;
    }
    #try-link{
        text-decoration: none;
        background-color: white;
        text-transform: uppercase;
        color: #540B51;
        margin-right: 40px;  
        font-weight: bold;  
        padding: 15px;
        border-radius: 5px;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border-top: #F3EAE2 1px solid;
        padding-bottom: 50px;
    }
    #great{
        background-image: url(../images/background-singup.png);
        background-size: cover;
    }
    header div h1{
        color: white;
        font-size: 80px;
        max-width: 100%;
        margin-left: 40px;
    }
    header div p{
        display: inline;
        color: white;
        font-size: 30px;
        margin-left: 40px;
    }
    header div p b{
        color: #ECB12F;
    }
    header div div{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
    #email{
        background-color: white;
        height: 90px;
        margin-bottom: 30px;
        color: #540B51;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        text-transform: uppercase;
        width: 620px;
        margin-left: 30px;
        margin-top: 20px;
    }
    #Google{
        display: flex;
        height: 90px;
        background-color: #4285F4;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        text-transform: uppercase;
        margin-bottom: 70px;
        width: 620px;
        margin-left: 30px;
    }
    #Google img{
        height: 50px;
        background-color: white;
        padding: 10px 15px;
    }
    #Google span{
        margin-right: 21.5%;
    }
    #imagen-telefono img{
        max-width: 100%;
    }
    #empresas{
        background-color: #F3EAE2;
    }
    #empresas p{
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 50px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    #empresas div{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 60px;
    }
    .empresas-1{
        width: 10%;  
        height: 10%; 
    }
    #new-york{
        width: 20%;
    }
    #Spotify{
        width: 15%;
    }
    #porcentajes{
        background-color: white;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5%;
    }
    #porcentajes h3{
        padding-top: 10%;
        color: #540B51;
        font-size: 50px;
    }
    #porcentajes p{
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
    }
    #porcentajes h3, p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #porcentajes ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;     
        padding: 0;
    }
    #porcentajes ul li{
        width: 33%;
    }
    .porc-parrafo{
        max-width: 45%;
        text-align: left;
        font-size: 17px;
    }
    .numeros{
        font-size: 90px;
        font-weight: bold;
        color: #540B51;
    }    
    #esto{
        display: none;
    }
    #Welcome h3{
        display: flex;
        text-align: center;
        color: white;
        font-size: 50px;
        justify-content: center;
        width: 100%;
    }
    #Welcome{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #Welcome button{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        border-radius: 10px;
    }
    #try-for-free{
        background-color: white;
        height: 90px;
        margin-bottom: 30px;
        color: #540B51;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        width: 25%;
        margin-left: 11.5%;
        margin-right: 5px;
    }
    #talk-to-sales{
        display: flex;
        height: 90px;
        background-color: #540B51;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 60px;
        border-color: white;
        width: 25%;
        margin-right: 11%;
        margin-left: 5px;
    }
    footer{
        background-color: white;
    }
    footer hr{
        margin-top: 30px;
        color: gray;
        width: 95%;
    }
    footer ul{
        margin-top: 30px;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-weight: bold;
        justify-content: space-between;
        max-width: 90%;
    }
    footer ul li{
        margin-bottom: 30px;
    }
    footer ul li img{
        margin-right: 20px;
    }
    #Download{
        text-decoration:none;
        color: #4285F4;
    }
    #redes{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    #redes img{
        width: 30px;
        margin-right: 100px;
    }
    footer div{
        text-align: center;
        max-width: 90%;
        display: flex;
        margin: 0 5%;
        padding-bottom: 50px;
        color: #454245;
    }
}
@media (min-width: 1440px){
    body{
        background-color: #540B51;
        margin: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    nav div{
        display: flex;
        align-items: center;
    }
    nav div ul{
        list-style: none;    
        display: flex;    
    }
    .nav-bar{
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin-right: 35px;
    }
    nav img{
        width: 200px;
    }
    nav > div > img{
        margin-left: 40px;
    }
    #superior-derecha button{
        padding: 0;
        border-width: 0;
        width: 30px;
        height: 30px;
    }
    #superior-derecha button img{
        width: 30px;
        height: 30px;
        background-color: #540B51;
    }
    #superior-derecha ul{
        display: flex;
        padding: 0;
    }
    #menu{
        display: none;
    }
    #sign-in{
        text-decoration: none;
        color: white;    
        margin-right: 30px;
        font-weight: bold;
        margin-left: 30px;
    }
    #try-link{
        text-decoration: none;
        background-color: white;
        text-transform: uppercase;
        color: #540B51;
        margin-right: 40px;  
        font-weight: bold;  
        padding: 15px;
        border-radius: 5px;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border-top: #F3EAE2 1px solid;
        padding-bottom: 50px;
    }
    header div h1{
        color: white;
        font-size: 90px;
        max-width: 80%;
        margin-left: 80px;
    }
    header div p{
        display: inline;
        color: white;
        font-size: 30px;
        margin-left: 80px;
    }
    header div p b{
        color: #ECB12F;
    }
    header div div{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 100px;
        margin-left: 80px;
    }
    #email{
        background-color: white;
        height: 90px;
        color: #540B51;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        text-transform: uppercase;
        width: 400px;
    }
    #Google{
        display: flex;
        height: 90px;
        background-color: #4285F4;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        text-transform: uppercase;
        margin-left: 30px;
        width: 450px;
    }
    #Google img{
        height: 50px;
        background-color: white;
        padding: 10px 15px;
    }
    #imagen-telefono img{
        max-width: 100%;
        margin-bottom: 200px;
    }
    #empresas{
        background-color: #F3EAE2;
    }
    #empresas p{
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 50px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    #empresas div{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 60px;
    }
    .empresas-1{
        width: 10%;  
        height: 10%; 
    }
    #nasa{
        width: 100px;
    }
    #target{
        width: 100px;
    }
    #new-york{
        width: 20%;
    }
    #Spotify{
        width: 15%;
    }
    #porcentajes{
        background-color: white;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5%;
    }
    #porcentajes h3{
        padding-top: 10%;
        color: #540B51;
        font-size: 50px;
    }
    #porcentajes p{
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
    }
    #porcentajes h3, p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #porcentajes ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;     
        padding: 0;
    }
    #porcentajes ul li{
        width: 33%;
    }
    .porc-parrafo{
        max-width: 45%;
        text-align: left;
        font-size: 17px;
    }
    .numeros{
        font-size: 90px;
        font-weight: bold;
        color: #540B51;
    }    
    #esto{
        display: none;
    }
    #Welcome h3{
        display: flex;
        text-align: center;
        color: white;
        font-size: 50px;
        justify-content: center;
        width: 100%;
    }
    #Welcome{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #Welcome button{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        border-radius: 10px;
    }
    #try-for-free{
        background-color: white;
        height: 90px;
        margin-bottom: 30px;
        color: #540B51;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        width: 25%;
        margin-left: 11.5%;
        margin-right: 5px;
    }
    #talk-to-sales{
        display: flex;
        height: 90px;
        background-color: #540B51;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 60px;
        border-color: white;
        width: 25%;
        margin-right: 11%;
        margin-left: 5px;
    }
    footer{
        background-color: white;
    }
    footer hr{
        margin-top: 30px;
        color: gray;
        width: 95%;
    }
    footer ul{
        margin-top: 30px;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-weight: bold;
        justify-content: space-between;
        max-width: 90%;
    }
    footer ul li{
        margin-bottom: 30px;
    }
    footer ul li img{
        margin-right: 20px;
    }
    #Download{
        text-decoration:none;
        color: #4285F4;
    }
    #redes{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    #redes img{
        width: 30px;
        margin-right: 100px;
    }
    footer div{
        text-align: center;
        max-width: 90%;
        display: flex;
        margin: 0 5%;
        padding-bottom: 50px;
        color: #454245;
    }
}