/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

h1 {
    font-family: serif;
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    border-bottom: 0.1rem solid rgb(219, 219, 219);
    width: 100%;
    position: fixed;
    background: white;
    color: #5b5e6d;
}

nav img {
    height: 5rem;
}

.menu-desktop {
    display: none;
}

.menu-mobile {
    font-size: 4rem;
    color: grey;
}

@media (min-width: 780px){
    .menu-desktop {
        display: flex;
    }
    
    .menu-mobile {
        display: none;
    }

    .menu-desktop li {
        font-size: 1.3rem;
        padding: 1rem;
    }

    .menu-desktop li:last-child{
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        margin-left: 2.5rem;
    }
}

footer{
    display:flex;
    flex-direction:column;
}

footer img{
    height:8rem;
    margin-left:2rem;
}

.lists-container {
    display:flex;
    flex-wrap:wrap;
    padding:2rem;
}
.lists-container ul{
    width:50%;
    display:flex;
    flex-direction: column;
    margin-bottom:2rem;
}

.lists-container ul li{
    padding:1.3rem;
    font-size:1.4rem;
}

.lists-container ul li:first-of-type{
    font-weight:800;
}

.last-footer{
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:2rem;
    background-color: #F4F3F4;
}


.language-selector{
    display:flex;
}

.language-selector img{
    height:2rem;
}

.last-footer ul{
    display:flex;
    margin: 2rem;
}

.last-footer ul li{
    margin-right:3rem;
    font-weight:800;
    font-size:1.4rem;
}

.last-footer ul li:last-of-type{
    margin-right:0;
}

.language-selector{
    display:Flex;
    align-items: center;
    padding-bottom:2rem;
    
}

.language-selector span{
    font-size: 1.4rem;
    
}

.language-selector img{
    margin-right:1rem;
}

.social_buttons{
    font-size:3rem;
    display:flex;
    justify-content: center;
    padding-bottom:3rem;
}

@media (min-width:350px){

    .footer-menu{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
        }

    .lists-container{
        width:70%;
    }
    
}