/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body{
  width: 100%;
  margin: 0 auto;
  
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.05px solid rgb(193, 193, 193);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: white;

}
nav ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 10px;
  
}

ul{
  list-style-type: none;
}
nav li{
  margin-left: 5%;
  padding: 9px;
}

nav .borderForLi{
  border: 0.7px solid rgb(173, 173, 173);
  border-radius: 5px;
  
}

.slackLogo{
  width: 10%;
  padding-left: 2%;
}

header{
  display: flex;
  margin: 3%;
  margin-right: 0%;
  justify-content: space-between;
  padding-top: 70px;
}

.rigthDiv{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 2%;
  margin-right: 0%;
}

h1{
  font-size: 460%;
  margin: 2%;
  color: #2C303F;
  line-height: 1em;
}

p{
  justify-content: flex-start;
  width: 85%;
}

.leftDiv{
  width: 50%;
  display: flex;
}

.leftDivImg{
  width: 100%;
}

.getStartedButton{


  width: 170px;
  height: 46px;
  /* width: 30%;
  height: 9%; */
  border-radius: 5px;
  background-color: #192592;
  color: white;
  border: none;
}

.pByTheA{
  font-size: 14px;
}

a{
  color: #3F4BA4;
}


.topAndMiddle{
  background-color:#F4F3F4;
  padding: 75px 35px;
}

.mainTop{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

.pClass{
  text-align: center;
}

.mainTop h2{
  font-size: 36px;
  line-height: 1em;
  margin-bottom: 0;
}

.mainTop p{
  font-size: 18px;
}

.mainTop > button{
  background-color: white;
  padding: 20px 32px;
  color: #192592;
  font-size: 16px;
  border-radius: 5px;
}


.mainPictures1, .mainPictures2{
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.mainPictures1 img{
  height: 55px;
}

.mainPictures2 img{
  height: 30px;
}


.mainBottom{
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  align-items: center;
  border-bottom: 0.2px solid rgb(193, 193, 193);
}


.footerTop{
  padding: 50px 20px;
}


.footerTopLeft{
  float: left;
  width: 30%;
}

.footerTopLeft img{
  width: 120px;
}

.footerTopRight{
  float: right;
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
}

.footerTopRight li {
  margin: 20px;
}



.footerBottom{
  clear: both;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

}

.footerBottom ul{
  display: flex;
  justify-content: space-between;
  width: 25%;
  font-size: 14px;
}

.footerBottom div{
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-right: 20px;
  
}

.footerBottom img{
  height: 20px;
}
