/* @media (min-width: 961px) and (max-width: 1023px) */

header {
  height: 790px;
}

header form {
  flex-direction: row;
}

header form input {
  width: 50%;
}

header form button {
  width: 30%;

  margin: 20px 0 20px 10px;
}

header p:last-child {
  text-align: left;
}

.good-company h2 {
  width: 100%;
}

.good-company p {
  width: 100%;
}

.good-company button {
  width: 30%;
}

.good-company .brands {
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 80%;
  height: 300px;
}

.brands img {
  width: 30%;
}

.try-it {
  height: 120px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.try-it form {
  width: 50%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  height: 100%;
}

.try-it form input {
  width: 50%;
}

.try-it form button {
  width: 50%;
  margin-left: 10px;
}

footer > div:first-child {
  flex-direction: row;
  width: 90%;
}

footer .lists {
  flex-wrap: nowrap;
}

footer .lists ul {
  padding-left: 10px;
}

footer .lists ul:nth-child(even) {
  margin-right: 0;
}

footer .bottom {
  height: 100px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

footer .bottom ul {
  align-self: flex-start;
  margin: auto auto auto 20px;
}

.social {
  margin-right: 20px;
}

.language > * {
  margin: auto 5px auto 10px;
}

.social > * {
  margin: auto 5px auto 10px;
}
