/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* logo-menu ul {
    gap: 2rem;
} */

@media all and (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        font-family: sans-serif;
    }

    img {
        width: 100%;
    }

    /* purple part - nav */
    
    nav,
    #logo-menu ul,
    #logo-menu {
        gap: 1rem;
    }
    
    nav,
    header {
        background-color: #540B51;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #logo-menu {
        padding: 4rem;
    }

    #logo-menu img {
        width: 10rem;
    }
    
    #logo-menu ul {
        display: none;
    }

    #search-sign-in {
        display: flex;
        align-items: center;
        padding: 2rem;
    }

    #search-btn,
    #search-img,
    #sign-in-btn,
    #sign-in-img {
        background-color: #540B51;
        width: 1.6rem;
    }

    #search-btn,
    #sign-in-btn {
        border: none;
    }

    #search-btn {
        margin-right: 2rem;
    }

    #sign-in-btn {
        margin-right: 1.5rem;
    }

    /* purple part - header */

    header h1 {
        color: white;
        font-weight: 600;
        font-size: 4.5rem;
        text-align: center;
        margin: 3rem 2rem;
    }

    header p {
        color: white;
        text-align: center;
        font-size: 1.75rem;
    }

    #free-to-try {
        color: #ECB12F;
    }

    #sign-up,
    #meet-slack-talk-to-sales {
        display: flex;
        flex-direction: column;
    }

    #sign-up-email,
    #sign-up-google,
    #meet-slack,
    #talk-to-sales,
    #try-for-free,
    #talk-to-sales-2 {
        text-transform: uppercase;
        margin: 0.5rem 2rem;
        padding: 1.7rem 0;
        border-radius: 7px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    #sign-up-email,
    #sign-up-google {
        border: none;
    }

    #sign-up-email {
        background-color: white;
        margin-top: 2.5rem;
        color: #540B51;
    }

    #sign-up-google {
        background-color: #4285F4;
        color: white;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    #sign-up-google-logo {
        width: 2rem;
        background-color: white;
        padding: 0.75rem;
        position: absolute;
        margin: -1.1rem 0 0 -13.5rem;
        border-radius: 3px;
    }

    #main-img-container {
        height: 35rem;
    }

    #main-img-container img {
        width: 71rem;
    }

    /* main part */

    main {
        background-color: rgb(242, 234, 227);
    }

    /* logos */

    #trusted-companies {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        margin: 5rem auto 1.6rem auto;
    }

    #companies-div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 16rem;
        flex-wrap: wrap;
        margin: 0 4rem 5rem 4rem;
    }

    #uber-logo {
        width: 8rem;
    }

    #airbnb-logo {
        width: 10rem;
    }

    #nasa-logo {
        width: 6rem;
    }

    #target-logo {
        width: 5rem;
    }

    #ny-times-logo {
        width: 23rem;
    }

    #spotify-logo {
        width: 13rem;
    }

    /* phones/description part */

    #connectedness img,
    #flexibility img,
    #speed img {
        width: 45rem;
        margin-bottom: 4.5rem;
    }

    #connectedness-large,
    #flexibility-large,
    #speed-large {
        display: none;
    }

    #reversed-section {
        display: flex;
        flex-direction: column-reverse;
    }

    #flexibility img {
        float: right;
    }

    .features {
        margin: 0 1.25rem 4.5rem 1.25rem;
    }

    .features h2 {
        font-size: 3.25rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        line-height: 1.15;
    }

    .features p {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    .features a {
        text-decoration: none;
        color: #2E71A6;
        font-size: 1.5rem;
    }

    .features a::after {
        content: " →"
    }

    /* teams part */

    #teams-large-enterprise {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #teams-large-enterprise h3 {
        font-weight: bold;
        font-size: 3.25rem;
        text-align: center;
        margin: 0 3.5rem 0 3.5rem;
        padding-top: 7rem;
    }

    #slack-securely-scales {
        font-size: 1.5rem;
        margin: 2rem 2rem 1.5rem 2rem;
        text-align: center;
    }

    #meet-slack-talk-to-sales {
        height: 5rem;
        width: 100%;
    }

    #meet-slack,
    #talk-to-sales {
        border: 2px solid #540B51;
    }

    #meet-slack,
    #talk-to-sales-2 {
        color: white;
        background-color: #540B51;
    }

    #talk-to-sales,
    #try-for-free {
        color: #540B51;
        background-color: white;
    }

    #teams-large-enterprise ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13rem 0 0 0;
        width: 50%;
    }

    #percentages-div {
        display: flex;
        justify-content: center;
    }

    .percentages,
    .percentages-p,
    .percentages-description {
        font-weight: bold;
        font-family: sans-serif;
        text-align: center;
    }

    .percentages {
        color: #540B51;
        font-size: 4rem;
    }

    .percentages-p {
        margin-bottom: 1rem;
    }

    .percentages-description {
        line-height: 1.5;
        font-size: 1rem;
        padding-bottom: 3rem;
    }

    /* HQ part */

    #digital-hq {
        background-color: #540B51;
        color: white;
    }

    #digital-hq h3 {
        text-align: center;
        font-size: 3.5rem;
        margin: 0 5.5rem 4rem 5.5rem;
        padding-top: 5rem;
        font-weight: 500;
    }

    #try-talk-to-sales-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    #try-for-free,
    #talk-to-sales-2 {
        border: 2px solid white;
    }

    #try-for-free {
        margin-bottom: 4.5rem;
    }

    /* footer */

    #slack-logo {
        width: 4rem;
        padding: 3.5rem 2rem 2rem 2rem;
    }

    #footer-div {
        display: flex;
        justify-content: space-around;
    }

    #footer-div ul li {
        line-height: 2.5;
        font-size: 1.2rem;
    }

    #footer-div ul li:first-child {
        font-weight: bold;
    }

    #footer-hr {
        border: 1px solid lightgrey;
        width: 91%;
        margin: 3rem 2rem;
    }

    #status-privacy li {
        line-height: 3;
        font-weight: bold;
        padding-left: 2rem;
    }

    #change-region-img,
    #download-slack-img {
        width: 1.3rem;
        margin-right: 0.4rem;
    }

    #download-slack {
        color: #2E71A6;
    }

    #download-slack::before {
        content: " "
    }

    #social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.6rem;
        padding: 2rem;
    }

    #copyright {
        color: grey;
        padding-top: 2rem;
        margin: 0 2rem 2rem 2rem;
    }
}

