
/*
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245*/


@media (max-width: 768px) {

    .container {
        display: flex;
        display: none;
        background-color:purple;
    }

    .container-button {
        display: flex;
        flex-direction: column;
        height: 10vh;
        
    }

    .nav-buttons button {
        border: none;
        background-color: purple;
    }



    #google-button{
        width: auto;
        height: 25%;
    }
    
    #google-logo{
        height: 90%;
        object-fit: contain;
    }

    .trust-companies {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    height: 50% ;

    }
    
    .trust-companies img{
        width: 20vw;
        object-fit: contain;
    }


    h1 {
        color: white;
        text-align: center;
        font-size: 4em;
    }


    #logo-name{
        width: 35%;
        height: auto;
    }


    nav {
       display: flex;
        
    }

    .section {
        background-color: ivory;
    }

    .screenshot {
        width: 100%;
        height: 100%;
    }

    .subtitle {
        text-align: center;
        color: white;
    }

    .subtitle-trust {
        color: black;
        text-align: center;
    }


}


body{
    background-color: purple;
}