* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 4vw;
    border-bottom: 1px solid rgba(103, 106, 123, 0.2);
    background-color: #fff;
    position: fixed;
    min-height: 10vh;
}

.slack-logo-nav {
    display: flex;
    align-items: center;
    width: 150px;
}

.slack-logo-nav img {
    width: 10vw;
    min-width: 100px;
}

.nav-menu {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.nav-menu i {
    font-size: 1.8rem;
    color: rgba(103, 106, 123, 1);
    display: none;
}

.nav-menu li {
    list-style: none;
    color: rgba(103, 106, 123, 0.6);
    padding: 1rem;
    font-size: 1rem;
}

.nav-menu li a {
    border: 1px solid #5b5e6d;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(103, 106, 123, 0.6);
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10rem 5vw 5rem;
}

.home-main-img-container {
    order: 1;
    flex-basis: 50%;
    padding: 5vh 0;
}

.home-main-img-container img {
    width: 90%;
}

.home-landing-main-text {
    order: 2;
    flex-basis: 50%;
}

.home-landing-main-text h1 {
    font-size: 4.8rem;
    line-height: 1.05;
    font-family: "Times New Roman", Georgia, serif;
    margin-bottom: 2rem;
    color: #2C303F;
}

.home-landing-main-text p {
    color: rgba(103, 106, 123, 0.8);
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.home-landing-main-text button {
    color: #fff;
    background-color: #3F46AD;
    font-size: 0.9rem;
    border: none;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 22px 40px 23px;
    border-radius: 4px;
    font-weight: 700;
}

.home-landing-main-text p:last-child {
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.2;
}

.home-landing-main-text p:last-child a {
    color: #3F46AD;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #3F46AD;
    font-size: 0.9rem;
    line-height: 1.2;
}

.other-companies-row {
    background-color: #F5F5F5;
    border-top: 1px solid #EBEBEB;
    overflow: hidden;
    padding: 3rem 4vw;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.other-companies-row h2 {
    margin-top: 0;
    color: #323648;
    font-family: "Times New Roman", Georgia, serif;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.other-companies-row p {
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #5b5e6d;
    line-height: 1.5;
}

.other-companies-row p button {
    font-size: 0.9rem;
    background-color: #fff;
    color: #1C299D;
    box-shadow: inset 0 0 0 1px #9BA0D3;
    border-radius: 4px;
    padding: 22px 40px 23px;
    border: 0;
    font-weight: 700;
    line-height: 1.3;
}

.logo-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-container div {
    box-sizing: border-box;
    align-items: center;
    flex-basis: 33%;
    padding: 2rem;
    height: auto;
}

.logo-container div img {
    width: 70%;
}

.try-it-row {
    display: flex;
    border-top: 1px solid #EBEBEB;
    padding: 3rem 4vw;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}

.try-it-row div:first-child {
    box-sizing: border-box;
    flex-basis: 20%;
    flex-grow: 1;
}

.try-it-row h3 {
    font-size: 1.7rem;
    color: #323648;
    font-family: "Times New Roman", Georgia, serif;
    font-weight: 700;
    line-height: 1.45;
}

.try-it-row p {
    font-size: 1rem;
    color: rgba(103, 106, 123, 1);
    line-height: 1.5;
}

.try-it-row p a {
    color: #3F46AD;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #3F46AD;
    font-size: 1rem;
    line-height: 1.5;
}

.try-it-row div:last-child {
    box-sizing: border-box;
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.try-it-row button {
    color: #fff;
    background-color: #3F46AD;
    font-size: 0.9rem;
    border: none;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 22px 40px 23px;
    border-radius: 4px;
    font-weight: 700;
}

.sitemap-row {
    border-top: 1px solid #EBEBEB;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5rem 4vw;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.sitemap-row span {
    flex-grow: 1;
}

.sitemap-row img {
    align-self: flex-start;
    width: 55px;
}

.sitemap-row div {
    flex: 1;
    flex-basis: 45%;
    justify-content: space-around;
    display: flex;
}

.sitemap-row ul li {
    list-style: none;
    padding: 0.55rem 0;
    font-size: 0.9rem;
    line-height: 1.5;
    color: rgba(103, 106, 123, 0.8);
}

.sitemap-row ul li:first-child {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.2;
    color: #6D6F7B;
}

.sub-footer {
    overflow: hidden;
    background-color: #F5F5F5;
    padding: 0 4vw;
    margin: 0 auto;
    align-items: center;
}

.sub-footer ul {
    display: inline;
    align-items: center;
}

.sub-footer ul li {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1.2rem;
    display: inline-block;
    list-style: none;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.2;
    color: #6D6F7B;
}

.sub-footer ul:last-child {
    float: right;
    display: flex;
}

.sub-footer ul:last-child li:first-child {
    margin-right: 2rem;
}

.sub-footer ul:last-child li:first-child i {
    font-weight: 100;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.sub-footer ul:last-child li i {
    font-size: 1.5rem;
}

.sub-footer ul:last-child li img {
    width: 20px;
    align-self: flex-end;
    line-height: 1.2;
    margin-left: 8px;
    margin-right: 10px;
    vertical-align: text-top;
}

@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
    }

    .home-landing-main-text {
        order: 1;
    }

    .home-main-img-container {
        order: 2;
    }

    .nav-menu li {
        display: none;
    }

    .nav-menu i {
        display: inline-block;
    }
}

@media screen and (max-width: 960px) {
    .logo-container div {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
    }

    .home-landing-main-text button {
        width: 100%;
    }

    .logo-container div {
        flex-basis: 100%;
    }

    .logo-container div img {
        width: 30%;
    }

    .try-it-row div:first-child {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .try-it-row button {
        flex-basis: 100%;
        box-sizing: border-box;
    }

    .sitemap-row span {
        margin-bottom: 1rem;
    }

    .sitemap-row div {
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .sitemap-row div ul {
        flex-basis: 50%;
    }

    .sub-footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sub-footer ul li {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .sub-footer ul {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    .sub-footer ul:last-child {
        float: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sub-footer ul:last-child li:first-child {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
}