/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 768px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav, header {
    background-color: #540B51;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slack-logo {
    width: 250px;
    padding: 40px;
}

.nav-bar-btns {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 40px 40px;
}

h1 {
    font-size: 72px;
    line-height: 1em;
    text-align: center;
    color: white;
    padding: 15px;
}

header p {
    font-size: 28px;
    text-align: center;
    color: white;
    padding: 20px 0px 20px 0px;
}

header p span {
    color: #ECB12F;
}

.header-btns {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    justify-content: space-between;
}

.btn-google-search {
    width: 700px;
    height: 70px;
    background-color:#4285F4 ;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;  
}

.btn-google-search img {
    width: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.btn-google-search span {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding-right: 32%;
}

.btn-singIn {
    width: 700px;
    height: 70px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #540B51;
    font-size: 20px;
    text-transform: uppercase;
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    background-color: #F3EAE2;
}

.section-one p {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;

}

.section-one div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.section-one div img {
    max-width: 180px;
    height: auto;
    padding: 20px;

}

.section-two {
    height: 1200px;
    
}
.section-two-img {
    background-color: #F3EAE2;
}

.section-two-text {
    height: 500px;
    background-color: #F3EAE2;
    padding-top: 30px;

}

.section-two-text h2 {
    font-size: 48px;
    padding-left: 30px;
}

.section-two-text p, .section-two-text span {
    font-size: 28px;
    padding: 30px;
    text-decoration: none;
}

.section-three, .section-four {
    background-color: #F3EAE2;
    height: 1200px;    
}

.section-three-text {
    font-size: 28px;
    padding: 30px;
}

.section-three-text h2 {
    font-size: 48px;
    padding-left: 15px
}

.section-three-text span {
    font-size: 26px;
    text-decoration: none;
}

.section-four-text {
    font-size: 28px;
    padding: 30px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    padding: 40px 20px;
}

.section-five {
    height: 1200px; 
}

.section-five h3 {
    font-size: 48px;
    text-align: center;
    padding: 30px;
}
#section-five-p {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.section-five-btn1{
    width: 700px;
    height: 70px;
    background-color: #540B51;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.section-five-btn2 {
    width: 700px;
    height: 70px;
    background-color: white;
    border: 1px solid #540B51;
    border-radius: 5px;
    color: #540B51;
    font-size: 20px;
    text-transform: uppercase;
}

.section-five div {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-five ul {
    height: 600px;
    margin-top: 80px;  
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
}

.section-five li {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}

.section-five li span {
    font-size: 60px;
    font-weight: bold;
    color: #540B51;
    text-align: center;
}

.section-five-text1 {
    width: 250px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;   
}

.section-five-text2 {
    width: 400px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.section-five-text3 {
    width: 300px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.section-six {
    height: 500px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #540B51;
    padding: 60px;
}

.section-six h3 {
    font-size: 48px;
    text-align: center;
    width: 600px;
    padding: 20px 10px;
    color: white;
}

.section-six-btn1 {
    width: 700px;
    height: 70px;
    background-color: white;
    border: 1px solid #540B51;
    border-radius: 5px;
    color: #540B51;
    font-size: 20px;
    text-transform: uppercase;
}

.section-six-btn2 {
    width: 700px;
    height: 70px;
    background-color: #540B51;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

footer img {
    height: 200px;
    padding: 40px;
}

footer div {
    display: flex;
    height: 600px;
    justify-content: space-around;
    align-items: baseline;
}

footer div li {
    font-size: 24px;
    width: 150px;
    line-height: 40px;
    list-style-type: none;
    color: #454245;
    padding-bottom: 30px;
}

.footer-li-title {
    line-height: 40px;
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.footer-ul-links {
    height: 600px;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: bold;
}

.footer-ul-links li {
    padding: 20px 0px 15px 20px ;
    list-style-type: none;
}

.footer-ul-links li:last-child {
    color: #2E71A6
}

.social-midia-links{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
}

.social-midia-links i {
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
}

div small {
    color: #454245;
    height: 200px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

}

.rodape {
    height: 200px;
}

