/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1.25rem 1.5rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7.5rem;
    border-bottom: 1px solid lightgrey;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 2rem;
}

.nav-header img {
    height: 4.25rem;
}

.nav-header ul {
    display: none;
}

#workspace-button {
    border: 2px solid grey;
    border-radius: 5px;
    padding: .5em .75em;
}


.hero-container {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
}


.hero-img {
    order: 1;
}

h1 {
    font-size: 3rem;
    margin: 1.5rem 0;
    line-height: 0.9;
}

.hero-container p {
    font-size: 1.15rem;
    color: #444;
    margin: 1.25rem 0;
}

.cta-input {
    margin: 1em 0 1.15em 0;
    padding: 1.5em;
    font-size: 1rem;
    border-radius: 5px;
    border: 0.5px solid lightgray;
    width: 100%;
}

.cta-btn {
    background-color: #192592;
    color: #fff;
    padding: 2em;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
}

.center-p {
    text-align: center;
}

main {
    width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F3F4;
}

.main-section h2 {
    font-size: 2rem;
    margin: 1.25em auto 1em;
}

.main-section p {
    width: 80%;
    margin: 1em auto;
}

.main-section button {
    color: #192592;
    background-color: #fff;
    border: 1px solid #4049aa;
    padding: 1.75em;
    width: 80%;
    border-radius: 5px;
    margin: 1em auto 2em;
    font-weight: bolder;
}

.main-logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-logos img {
    max-height: 6rem;
    padding: 2em;
}

hr {
    width: 80%;
    border-bottom: 0.5px solid lightgrey;
}

.main-cta {
    margin: 2em auto 1.25em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.main-cta p:nth-child(1) {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 1.15em 0 0 0; 
}

.main-cta p:nth-child(2) {
    font-size: 1.15rem; 
}

footer {
    margin: -1.25rem -1.5rem;
}

footer div img {
    width: 30%;
    align-self: flex-start;
}

.footer-links {
    font-size: 1.4rem;
    color:  #5b5e6d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links ul {
    margin: 0 1em; 
}

.footer-links ul li {
     margin: 1em 0;
}

.footer-links ul li:first-child {
    font-weight: bold;
}


.footer-links-1,
.footer-links-2 {
    display: flex;
}

.footer-end {
   background-color: #F4F3F4;
   color: #5b5e6d;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.footer-end ul {
    display: flex;
    gap: 1em;
    font-size: 1.4em;
    margin: 1em 0 2em;

}

.footer-end-location  {
    display: flex;
    gap: 1em;
    margin: 0 0 1.25rem;
}

.footer-end-location img {
    width: 1.25rem;
}

.footer-end-social {
    display: flex;
    gap: 1em;
    margin: 0 0 2rem 2rem;
}

@media (min-width: 767px) {
    .hero-cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero-cta input {
        flex: 0.8;
        margin-right: 1.25rem;
    }

    .hero-cta button {
        flex: 0.2;
    }
    .center-p {
        text-align: left;
    }

    hr {
        width: 0;
    }

    .main-logos {
        max-height: 22rem;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;
    }

    .main-logos img {
        max-width: 50%;
        height: auto;
    }

    .main-cta {
        display: flex;
        flex-direction: row;  
        align-items: center;
    }

    .main-text{
        width: 80%;
        margin-right: 2rem;
    }

    .main-cta .cta-input {
        margin-right: 1rem;
    }

    .footer-links {
        flex-direction: row;
    }

    .footer-links img {
        width: 10%;
        align-self: flex-start;
    }

    .footer-end {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
    }

    .footer-end div{
        display: flex;
        flex-direction: row;
        align-items: center;   
    }

    .footer-end-social {
        margin-top: .5rem;
    }
}
@media (min-width: 962px) {

    .nav-header {
        display: flex;
        align-items: center;
    }

    .nav-header ul {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #burguer-menu {
        display: none;
    }

    .hero-container {
        flex-direction: row;
    }

    .hero-img {
        order: 0;
        width: 50%;
    }

    .hero-wrapper {
        margin-left: 6em;
    }

    .hero-cta {
        flex-direction: column;
        width: 60%;
    }

    .cta-btn {
        margin-left: -.8em;
    }
       
    .main-logos {
        max-height: 18rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-logos img {
        max-width: 32%;
        height: auto;
    }
}
