nav .nav-div-1 {
  display: flex;
}

nav .nav-links {
  display: block;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 50px;
  padding-left: 100px;
  align-items: center;
  margin: 0;
}

nav a {
  color: #fff;
}

nav .nav-div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-div-2 button:nth-child(2) {
  display: none;
}

.nav-div-2 > .nav-signin {
  display: block;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-div-2 .btn-try-free {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
}

.nav-div-2 .btn-try-free a {
  color: #540b51;
  text-transform: uppercase;
}

header h1 {
  padding: 0;
  padding-right: 200px;
  margin-bottom: 80px;
  font-size: 3.5rem;
}

header > .header-app-img {
  width: 90vw;
}

main .sec-images {
  max-height: 300px;
}

main section .sec-text {
  max-width: 400px;
  padding: 0 80px;
}
.team,
.speed-mobile,
.flexible {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.flexible {
  flex-direction: row-reverse;
}

.welcome-section {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.welcome-section h3 {
  width: 100vw;
}
.welcome-section button {
  width: 280px;
}
