/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #540B51;
}

nav {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100vw;
    background-color: #540B51;
}

.navbar-buttons {
    margin-right: 20px;
    margin-top: 5px;
}

#hamburguer-nav-icon{
    margin-left: 30px;
    margin-right: 30px;
    background-color: #540B51;
    border-width: 0;
}
#search-nav-icon{
    
    background-color: #540B51;
    border-width: 0;
    
}

#slack-img {
    display: flex;
    margin-left: 50px;
    height: 8vh;
    
}

#list {
    display: none;
}

#main-title-desciption-area {
    
    display: block;
    margin-top: 50px;
    
}
#main-title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #F3EAE2;
    font-size: 50px;
    text-align: center;;
}

#first-paragraph {

    font-size: 1.5em;
}

#first-paragraph{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

#orange-letters-p{
    color:orange;
    margin-right: 5px;
}

.sign-up-buttons {
    display:flex;
    flex-direction: column;
    margin-bottom: 35px;
}

#sign-up-email-button {
    height: 10vh;
    color: #540B51;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#sign-up-google-button {
    height: 10vh;
    color: #540B51;
    background-color: #4285F4;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#google-img {
    height: 4vh;
    margin-left: 10px;
    border-color: #F3EAE2;
    background-color: #F3EAE2;
    padding: 5px;
    position: absolute;
    left: 5px;
    
}

#sign-up-google-text{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #540B51;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    text-transform: uppercase;  
    letter-spacing: 0;
    color: #F3EAE2;
}

#slack-app-screenshot {
    width: 150vw;
}

#beige-middle-changes{
    background-color: #F3EAE2;
    margin: 0;
    padding: 0;
}

#middle-first-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    font-size: 1.5em;
}

#companies-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    gap: 20px;
}

.company-logo{
    height: 11vh;
}

#section-first-big-pic{
    height: 90vh;
    
}

#middle-h2-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    font-size: 1.3em;   
}

#middle-paragraph {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:left;
    margin-left: 70px;
    margin-right: 70px;
    font-weight: 600;
    margin-bottom: 20px;
}

#middle-section-first-link {
    color: #2E71A6;
    margin-left: 70px;
    font-weight: bold;
    text-decoration: none;
    
}

#section-first-big-pic {
    
    height: 90vh;
}

.section-middle{
    display: flex;
}

#section-first-big-pic {
    height: 90vh;
}

#section-second-big-pic{
    height: 100px;
    
}

#middle-second-div {
    display: flex;
    order: 1;
}

#section-third-big-pic{
    height: 40px;
    
}

.section-third-big-image-div {
    display: flex;
    width: 100vw;
}