/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
body {
    background-color: #540B51;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {


    .navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .navbar img {
        width: 200px;
        padding: 20px;
    }

    .left-top-content {
        align-self: flex-start;
    }

    .right-top-content {
        align-items: center;
        display: flex;
    }

    .right-top-content button {
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
    }

    .right-top-content img {
        width: 30px;
        height: 30px;
    }

    /* 

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*/

    h1 {
        text-align: center;
        font-size: 4em;
        color: white;
    }

    .title-container p {
        color: white;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
    }

    span {
        color: #ECB12F;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 300px;
    }

    .email-btn {
        background-color: #F3EAE2;
        width: 90%;
        padding: 5px 10px 5px 10px;
        margin-top: 100px;
        margin-bottom: 40px;
        height: 100px;
        font-size: 1.8rem;
        color: #540B51;
        border-radius: 15px;
        border: 0px;
        font-weight: bold;
    }

    .google-btn {
        background-color: #4285F4;
        width: 90%;
        height: 100px;
        margin-bottom: 20px;
        color: white;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        border: 0px;
        align-content: center;
        margin-bottom: 100px;
    }

    .google-btn img {
        justify-self: flex-start;
        align-self: center;
        width: 70px;
        background-color: white;
        margin-left: px;
    }

    .google-btn span {
        color: white;
        align-self: center;
        padding-right: 50px;
        width: 90%;
        font-weight: bold;
    }

    .product-container {
        text-align: left;

    }

    .product-container img {
        width: 85vh;
        position: absolute;
        top: 95%
    }

    .companies-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        background-color: bisque;
        text-align: center;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
        margin-bottom: 0;
        position: relative;

    }

    .companies-container img {
        width: 25%;
    }


    .companies-container p {
        text-align: center;
        color: #540B51;
        font-size: 2rem;
        font-weight: bold;

    }

    .companies-container img {
        margin: 50px;
    }

    #statistics {
        background-color: white;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px;
    }

    #statistics h3 {
        margin: 0;
        text-align: center;
        color: #540B51;
        font-size: 4em;
        padding-top: 60px;
        padding-bottom: 0;
    }

    #statistics p {
        color: black;
        font-size: 1.8em;
        text-align: center;
        padding-top: 0;
    }

    #statistics li {
        list-style: none;
    }

    #statistics ul {
        padding: 0;
    }

    #statistics span {
        color: #540B51;
        font-size: 4em;
        font-weight: bold;
    }

    li p {
        font-weight: bold;
    }

    #digital-hq {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    #digital-hq h3 {
        color: white;
        font-size: 3em;
        text-align: center;
    }

    #digital-hq .btn-try {
        background-color: white;
        width: 90%;
        height: 100px;
        font-size: 1.8rem;
        color: #540B51;
        border-radius: 5px;
        border: 0px;


    }

    #digital-hq .btn-talk {
        background-color: #540B51;
        ;
        width: 90%;
        margin-top: 40px;
        margin-bottom: 30px;
        height: 100px;
        font-size: 1.8rem;
        color: white;
        border-radius: 5px;
        border: 0px;
        border: 2px solid white;

    }


    footer {
        background-color: white;
    }

    footer ul {
        padding-top: 80px;
        list-style: none;
    }

    footer li {
        padding: 10px;
    }

    footer span {
        color: #4285F4;
    }

    .social {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 10px 10px;
        margin: 10px;
    }

    .small {
        text-align: center;
        font-size: 1.2em;
    }

}