@media(min-width:767px) {
    .inputEmail {
        width: 350px;
        margin-right: 0;
    }
    .getStarted {
        width: 200px;
        margin-left: 0;
    }
    .whereWork div {
        justify-content: flex-start;
    }
    .why {
        width: 200px;
    }
    .title3 {
        text-align: left;
        margin: 0;
    }
    .alrUse {
        text-align: left;
        margin: 0;
    }
    .btns1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center
    }
    .tryIt {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .catalog div {
        width: 25%
    }
    .footer {
        padding: 40px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 20px 0;
    }
    footer ul {
        margin: 0;
    }
    .language {
        margin: 0;
    }
    .contact {
        align-items: center;
    }
    .rightItems {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}