@media (min-width:960px) and (max-width:1024px) {
    .people {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .whereWork div {
        justify-content: flex-start;
    }
    .why {
        width: 200px;
    }
    .companies {
        flex-direction: row;
    }
    .companies div {
        width: 33%;
    }
    .companies div:nth-child(5) {
        border-right: solid 1px lightgray;
        border-bottom: none;
    }
    .companies div:nth-child(4) {
        border-right: solid 1px lightgray;
        border-bottom: none;
    }
    .companies div:nth-child(1) {
        border-right: solid 1px lightgray;
    }
    .companies div:nth-child(2) {
        border-right: solid 1px lightgray;
    }
}