/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@media only screen and (max-width: 768px) {
  * {
    background-color: red;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  * {
    background-color: green;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  * {
    background-color: blue;
  }
}

@media only screen and (min-width: 1440px) {
  * {
    background-color: black;
  }
}
