/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #540B51;
}

h1{
    font-size: 70px;
    width: 440px;
    font-weight: 600;
    color: white;
}

h2{
    color: #191817;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

h3{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #540B51;
}

.menu-hidden-btn{
    display: none;
}

/*------NAVEGATION BAR------*/

nav{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding:  10px 20px;
}

.menu img{
    display: flex;
    align-self: center;
    width: 90px;
    margin-right: 20px;
}

.menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

.sign-in{
    display: flex;
    justify-content: flex-end;
}

.sign-in button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-try{
    display: flex;
    background-color: white;
    border-radius: 5px;
    height: 40px;
}

.btn-try a{
    align-self: center;
    color: #540B51;
    font-weight: 700;
}

/*------HEADER------*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 60px 70px;
    padding-bottom: 100px;
}

.main-sign{
    display: flex;
    flex-direction: column;
}

.main-picture{
    display: flex;
    align-items: center;
    width: 50%;
}

.main-picture img{
    display: block;
    max-width: 100%;
    height: auto;
}

.sign-up{
    margin-top: 100px;
}

.sign-up p{
    width: 440px;
    font-size: 25px;
    color: white;
}

.yellow-text{
    color: #ECB12F;
}

.btns-sign-up{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.btn-email{
    background-color: white;
    color: #540B51;
    font-weight: 600;
    font-size: 15px;
    border:none; 
    border-radius:5px; 
    padding:15px 50px;
    cursor: pointer;
}

.btn-google{
    height: 50px;
    padding: 10px 35px;
    line-height: 30px;
    text-align: left;
    text-indent: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4285F4;
    cursor: pointer;
    margin-left: 20px;
}

.btn-google img{
    float:left;
    margin-left: -1.7em;
    margin-top: -0.2em;
    width: 35px;
    background-color: white;
    border-radius: 5px;
}

/*------COMPANIES------*/

#companies{
    display: inline-block;
    background-color: #F3EAE2;
    width: 100%;
    margin-bottom: -1px;
}

#companies p{
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
}

.companies-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 38px 127px;
}

.logo {
    width: 82px;
    height: 26px;
}

.logo-rounded{
    width: 57px;
    height: 49px;
}

/*------FEATURES STYLES------*/

.feature-style{
    background-color: #F3EAE2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-feaure-style{
    margin-top: 50px;
}

.img-feaure-style img{
    width: 450px;
}

.text-feature-style{
    display: flex;
    flex-direction: column;
    width: 488px;
}

.text-feature-style p{
    width: 440px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
}

.text-feature-style a{
    color: #2E71A6;
    text-decoration: none;
    font-weight: 600;
}


/*------FEATURES 2------*/

#feature-2{
    margin-top: -1px;
}

#feature-2 .text-feature-style{
    width: 424px;
    margin-left: 40px;
}

/*------FEATURES 3------*/

#feature-3{
    margin-top: -1px;
}

#feature-3 .text-feature-style{
    margin-bottom: 100px;
}

#feature-3 .img-feaure-style{
    margin-bottom: 100px;
}

/*------ABOUT------*/

#about{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about p{
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
}

.btns-about{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-enterprise{
    background-color: #540B51;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border:none; 
    border-radius:5px; 
    padding:15px 50px;
    cursor: pointer;
}

.btn-sales,
.btn-free{
    background-color: white;
    color: #540B51;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #540B51; 
    border-radius:5px; 
    padding:15px 50px;
    cursor: pointer;
}

.percentajes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
    gap: 306px;
}

.percentajes span{
    font-size: 60px;
    color: #540B51;
    font-weight: 700;
}

.percentajes p{
    width: 186px;
}

/*------WELCOME NEW USERS------*/

#welcome-new-user{
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#welcome-new-user h3{
    color: white;
}

.btns-welcome{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#welcome-new-user .btn-sales{
    background-color: #540B51;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

/*------FOOTER------*/

footer{
    background-color: white;
    display: flex;
    flex-direction: column;
}

footer img{
    width: 50px;
    margin: 40px 80px;
    text-align: center;
}

.information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 80px
}

.information ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.heading-list{
    font-weight: 700;
}

hr{
    margin: 0 80px;
}

.menu-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 80px;
    margin-right: 100px;
}

.menu-bottom li{
    font-weight: 700;
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-bottom: 30px;
    margin: 0 80px;
}

.copyright{
    margin: 40px 80px;
}

/*------RESPONSIVE------*/

@media screen and (max-width:768px){
    .menu-hidden-btn{
        display: inline-block;
        margin-left: 40px;
    }

    .menu ul{
        display: none;
    }

    .sign-in ul{
        display: none;
    }

    header{
        flex-direction: column;
        padding: 60px 39px;
        padding-bottom: 100px;
    }

    h1{
        text-align: center;
        width: 670px;
    }

    h2{
        font-size: 45px;
    }

    .sign-up {
        margin-top: 46px;
    }

    .sign-up p{
        width: 498px;
    }

    .btns-sign-up{
        flex-direction: column;
    }

    .btn-google {
        text-indent: 0;
        text-align: center;
        margin-top: 20px;
        margin-left: 0;
    }

    .main-picture {
        display: flex;
        align-items: center;
        width: 105.6%;
        margin-top: 20px;
        overflow: hidden;
    }

    .main-picture img {
        display: block;
        max-width: 200%;
        height: auto;
    }

    #companies {
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 34cm;
        margin-bottom: -1px;
    }

    .companies-logo{
        flex-direction: column;
    }

    .feature-style{
        flex-direction: column;
    }
    
    #feature-2{
        flex-direction: column-reverse;
    }

    .img-feaure-style img {
        width: 100%;
    }

    #feature-3 .img-feaure-style{
        margin-bottom: 0;
    }

    #feature-2 .text-feature-style {
        width: 600px;
    }

    .text-feature-style {
        width: 554px;
        margin-top: 40px;
    }

    .text-feature-style p{
        font-size: 25px;
        width: 554px;
    }

    .btns-about {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
    }

    .percentajes {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 0px;
    }

    .btns-welcome{
        flex-direction: column;
        width: 80%;
    }

    .menu-bottom {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }
}