/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 768px;
    position: relative;
    line-height: 50px;
}

h1, h2, #try-it {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3.5em;
    width: 50%
}

h2 {
    font-size: 3.5em;
}

p {
    font-size: 2.5em;
    margin: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid red;
    line-height: 1em;
}

nav img {
    width: 150px;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}

header img {
    order: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form button {
    width: 100%;
    font-size: 2em;
    margin: 10px;
    padding: 30px;
    background-color: #192592;
    color: white;
    border-radius: 10px;
}

.form input {
    width: 95%;
    font-size: 2em;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.sign-in {
    text-align: center;
}
main div {
    background-color: #F4F3F4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 20px;
}

main div button {
    width: 100%;
    font-size: 2em;
    margin: 10px;
    padding: 30px;
    background-color: white;
    color: #192592;
    border: 2px solid #b0b5e3;
    border-radius: 10px;
}

main div button:hover {
    cursor:pointer;
    background-color: #192592;
    color: white;
}

section div {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

.logo {
    width: 200px;
    margin: 0px auto;
}

#la-times {
    width: 400px;
    margin: 0px auto;
}

hr {
    width: 90%;
    border-bottom: 1px solid rgb(228, 225, 225);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.white-background {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#email-button {
    width: 100%;
    font-size: 2em;
    margin: 200px;
    margin-top: 30px;
    padding: 35px;
    background-color: #192592;
    color: white;
    border-radius: 10px;
}

#email-input {
    width: 95%;
    font-size: 2em;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
