header {
  background-image: none;
  background-color: #540b51;
}

header > div:first-child {
  margin-top: 30px;
  margin-left: 50px;
}
.header-app-img {
  text-align: center;
}

.signup-btns {
  display: flex;
  gap: 20px;
}
