/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/


img{
    max-width: 100%;;
}
.navBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 45px;
    top: 0px;
}

.logoSlack{
    width: 70px;
}

.logoSlack img{
    width: 100%;;
}

header{
    margin-top: 50px;
}

h1{
    font-family: serif;
    margin-right: 40px;
    color: #2C303F;
}
h2{
    font-family: serif;
    margin-right: 40px;
    color: #2C303F;
}

p{
    color: #5b5e6d
}



.getstarted{
    align-content: center
}

#usingslack{
    text-align: center
}

.header{
    display: flex;
    flex-wrap: wrap;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #F4F3F4

}

.goodInCompany{
    width: 330px;
}
.textoGood{
    width: 330px;
}



@media screen and (max-width: 767px){

    .navBar{
            position: fixed;
            width: 100vh;
            background: white;
    }

    .navBar ul{
          display: none;  
    }
   
    #tirapabajo{
         order: 1;
    }
    .ancho{
        width: 100vh;
    }

    .anchobueno{
        width: 100vh;

    }

    .goodInCompany{
        width: 330px;
    }
    .textoGood{
        width: 330px;
        text-align: center
    }

    button{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        background-color: #192592;
        color: white;
        font-family: serif;
        height: 40px;
    }

    .empresas{
        margin: 35px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
    }

    .empresas2{
        padding: 20px;
        border-bottom: 1px solid #2C303F
    }


    .try{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .botonGetStarted{
        margin: 20px 0 
   }

    .slackLogo{
        width: 120px;
        margin: 0 -20px;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: #5b5e6d;
        width: 100%;
        flex-wrap: wrap
    }

    .doscolumnas{
        text-align: center ;
        display: flex;
        flex-direction: column;
        align-items: left;

    }
    .doscolumnas ul{
    }

    .doscolumnas2{
        display: flex;
        text-align: left;
        padding: 0px
    }

    .footer2{
        background-color: #F4F3F4;
        width: 100%;
        display: inline-block;
    }
    .footer2 li {
        justify-content: space-around;
        display: inline-block;
        justify-content: space-between;
        
    }

    li{
        list-style: none;
    }

    .eeuu{
        width: 20px;
    }

    .eeuucontainer{
        display: flex;
        justify-content: center
    }
    .saltolinea{
        margin-right: 40px;
    }
}


@media screen and (961px > width > 767px){
    .navBar{
    position: fixed;
    width: 100vh;
    background: white;
}

.navBar ul{
      display: none; 
}

#tirapabajo{
     order: 1;
}

.goodInCompany{
    width: 330px;
}
.textoGood{
    width: 330px;
    text-align: center
}

button{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    background-color: #192592;
    color: white;
    font-family: serif;
    height: 40px;
}

.empresas{
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.empresas2{
    padding: 20px;
    border-bottom: 1px solid #2C303F
}


.try{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.botonGetStarted{
    margin: 20px 0 
}

.slackLogo{
    width: 120px;
    margin: 0 -70px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #5b5e6d;
    width: 100%;
    flex-wrap: wrap
}

.doscolumnas{
    display: flex;
    flex-direction: row

}

.footer2{
    background-color: #F4F3F4;
    width: 100%;
    display: inline-block;
}
.footer2 li {
    justify-content: space-around;
    display: inline-block;
    justify-content: space-between;
    
}

li{
    list-style: none;
}

.eeuu{
    width: 20px;
}

.eeuucontainer{
    display: flex;
    justify-content: center
}
.saltolinea{
    margin-right: 40px;
}
    
}