/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* Global Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

/* MEDIA QUERY MOBILE */

@media (max-width: 600px) {
  /* Nav bar */
  #container_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
  }

  .fixed_nav_bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 90px;
    vertical-align: middle;
    border-bottom: solid 1px #c2c2c4;
    background-color: white;
  }

  .slack_logo {
    height: 65px;
    margin: 10px 30px;
    padding: 5px;
  }

  .logo_burger {
    margin-top: 33px;
    margin-left: 100px;
  }

  #burger {
    font-size: 30px;
    color: #5b5e6d;
  }

  .overlay {
    display: none;
  }

  /* CONTAINER HEADER */
  #container_header {
    display: flex;
  }

  h1 {
    position: left;
    font-family: "Playfair Display", serif;
    width: 200px;
    margin: 20px;
    color: #2c303f;
    font-size: 3rem;
  }

  #header {
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
  }

  .p_header {
    justify-content: start;
    width: 300px;
    font-size: 1.8rem;
    color: #5b5e6d;
    margin-left: 20px;
    letter-spacing: 1px;
    line-height: 25px;
  }

  .header_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .img_talk {
    height: 300px;
    margin-top: 20px;
  }

  .form_buttom {
    margin: 20px 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .input_header {
    border: solid 1px #cacddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 320px;
    height: 50px;
  }

  .placeholde_header {
    font-size: 1.7rem;
    margin-top: 13px;
    padding-left: 10px;
    color: #e3e5ee;
  }

  .buttom {
    background-color: #4049aa;
    border-radius: 5px;
    color: white;
    width: 320px;
    height: 50px;
  }

  .buttom_get_started {
    display: flex;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    margin-left: 100px;
    margin-top: 5px;
  }

  .p_signin {
    color: #5b5e6d;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.7rem;
  }

  /* MAIN CONTAINER */
  #container_main {
    display: flex;
    background-color: #f4f3f4;
    flex-direction: column;
    height: 900px;
  }

  h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    color: #2c303f;
    font-size: 2.3rem;
  }

  .p_main {
    margin-top: 20px;
    width: 250px;
    text-align: center;
    flex-direction: row;
    color: #5b5e6d;
    font-size: 1.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .buttom_discover {
    background-color: white;
    border-radius: 5px;
    border: solid 1px #4049aa;
    margin-top: 20px;
    padding: 10px;
    width: 280px;
    height: 30px;
    text-align: center;
    color: #4049aa;
  }

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
  }

  .airbnb,
  .capital {
    height: 60px;
    margin-top: 50px;
  }

  .harvard {
    height: 50px;
    margin-top: 40px;
  }

  .la {
    height: 40px;
    margin-top: 50px;
  }

  .oracle {
    height: 25px;
    margin-top: 50px;
  }

  .ticketmaster {
    height: 27px;
    margin-top: 50px;
  }

  hr {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 330px;
    height: 0.5px;
    background-color: #d5d8e4;
    justify-content: center;
    border-style: none;
  }

  .get_started {
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .p_signin_2 {
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: lighter;
  }

  .form_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .input_main {
    float: center;
    border: solid 1px #cacddd;
    border-radius: 5px;
    width: 320px;
    height: 50px;
    vertical-align: auto;
  }

  .placeholde_main {
    font-size: 1.7rem;
    margin-top: 13px;
    padding-left: 10px;
    color: #e3e5ee;
  }

  .buttom_started {
    background-color: #4049aa;
    border-radius: 5px;
    color: white;
    width: 320px;
    height: 50px;
    margin-top: 20px;
  }

  /* FOOTER CONTAINER */
  #container_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo_alone {
    height: 90px;
    flex-direction: row;
    justify-content: start;
  }

  .slack_logo_alone {
  }

  .guides_main {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-left: 20px;
  }

  .institucional {
    flex-direction: column;
    text-align: start;
  }

  .company,
  ul,
  li {
    list-style: none;
    justify-content: flex-start;
    font-size: 1.7rem;
    margin-top: 20px;
    color: #5b5e6d;
  }

  .institutional_left {
    flex-direction: row;
    align-items: flex-start;
    float: left;
    margin-left: 30px;
  }

  .institutional_right {
    flex-direction: column;
    align-items: flex-start;
    float: right;
    margin-left: 80px;
  }

  .footer_bottom_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3f4;
    margin-top: 50px;
  }

  .footer_bottom {
    flex-direction: row;
    justify-content: center;
  }

  .try_it {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: bold;
  }

  .flag {
    height: 30px;
  }

  .status {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    margin-top: 0;
  }

  .american {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin-top: 20px;
    align-content: center;
  }

  .version {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    color: #5b5e6d;
  }

  .american_flag {
    display: flex;
    vertical-align: middle;
  }

  #chevron {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 100;
    color: #5b5e6d;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    font-size: 2rem;
    color: #5b5e6d;
    width: 110px;
  }
}
