/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  color: #5b5e6d;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: #323648;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: auto;
  max-width: 1230px;
}

.navigation {
  background-color: #fff;
  border-bottom: 1px solid #E1E1E4;
  left: 0;
  padding: 10px 30px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.navigation-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.slack-logo {
  height: 60px;
}

.fa.hamburger-icon {
  color: #67687B;
  font-size: 3rem;
}

.navigation-list {
  display: none;
  font-size: 1.6rem;
}

.navigation-item {
  margin-right: 2rem;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-list a {
  color: #6d6f7b;
  text-decoration: none;
}

.header {
  padding: 12rem 2rem 4rem;
}

.header h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.header p {
  margin-bottom: 3rem;
}

.header p:last-of-type {
  margin-bottom: 4rem;
}

.sign-in {
  color: #192592;
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1.8rem 3rem;
}

.btn-purple {
  background-color: #192592;
  color: #fff;
}

.btn-inverse {
  background-color: #fff;
  border: 1px solid #192592;
  color: #192592;
}

.btn-small {
  padding: 10px;
}

.btn-gray {
  box-shadow: inset 0 0 0 1px #323648;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 420ms cubic-bezier(.165,.84,.44,1);
}

.btn-gray:hover {

}

.header .btn-purple {
  margin-bottom: 1.4rem;
}

.header-image {
  max-width: 100%;
}

.header-image-holder {
  text-align: center;
}

.main-content {
  background-color: #F4F3F4;
  padding: 5rem 2rem;
}

.main-content h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.main-content p {
  margin-bottom: 3rem;
}

.text-centered {
  text-align: center;
}

.main-content h2,
.main-content p {
  text-align: center;
}

.main-content .btn {
  margin-bottom: 4rem;
}

.logos-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center
}

.logos-list-item {
  margin-bottom: 7rem;
}

.logos-list img {
  width: 150px;
}

.action {
  border-bottom: 1px solid #ddd;
  padding: 5rem 2rem 5rem;
  text-align: center;
}

.action h3 {
  font-size: 2.6rem;
}

.action p {
  margin-bottom: 2rem;
}

.action .btn {
  max-width: 400px;
  width: 100%;
}

.footer {
  padding-top: 3rem;
}

.footer-info {
  padding: 0 2rem 3rem;
}

.footer a {
  color: #5b5e6d;
  text-decoration: none;
}

.footer-logo {
  left: -1em;
  position: relative;
  width: 80px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer h4 {
  margin-bottom: 1rem;
}

.footer-lists {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
}

.footer-lists ul {
  flex-basis: 50%;
  margin-bottom: 2rem;
}

.footer-contact {
  background-color: #F4F3F4;
  padding: 2rem;
}

.footer-contact-list {
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.idiom {
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 3rem;
}

.flag-holder {
  padding-top: 5px;
}

.flag {
  padding-right: 1rem;
  width: 20px;
}

.footer-idiom {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.social-icons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin-right: 1.6rem;
}

.social-icons i {
  font-size: 2rem;
}

.fa.fa-chevron-down {
  font-size: 1.4rem;
}

.small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .logos-list {
    flex-direction: row;
  }

  .logos-list-item {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .hamburger-holder {
    display: none;
  }

  .navigation {
    position: static;
  }

  .navigation-list {
    display: flex;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .header-image-holder {
    order: 1;
    padding-top: 5rem;
    width: 40%;
  }

  .header-content {
    order: 2;
    width: 55%;
  }

  h1 {
    max-width: 400px;
  }

  .logos-list-item {
    width: 33.33%;
  }

  .action {
    padding: 3rem 0;
  }

  .action p {
    margin-bottom: 0;
  }

  .action .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .action .btn {
    width: auto;
  }

  .footer {
    padding-top: 6rem;
  }

  .footer-info {
    display: flex;
    padding: 0 0 6rem;
  }

  .footer-info a {
    flex-basis: 40%;
  }

  .footer-contact {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .footer-contact-list {
    margin-bottom: 0;
  }

  .footer-lists {
    flex: 1;
  }

  .footer-lists ul {
    flex-basis: 25%;
  }

  .footer-contact-list li {
    margin-right: 2rem;
  }

  .footer-logo {
    top: -1.3em;
  }

  .footer-idiom {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .footer-group {
    display: flex;
  }
}
