/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@media (max-width: 767px) {
  html,
  body {
    margin: 0px;
    font-family: "awesome", sans-serif;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  /* Nav bar */
  .nav {
    background-color: #540b51;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav > .nav-img-links {
    display: flex;
    align-items: center;
  }

  .nav > .nav-img-links > img {
    width: 80px;
  }

  .nav > .nav-img-links > #nav-links > li {
    display: none;
  }

  .nav > .nav-buttons > button {
    background: none;
    border-style: none;
  }

  /* Header */
  .header {
    background-color: #540b51;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header > div > h1 {
    color: white;
    text-align: center;
  }

  .header > div > #catchy-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .header > div > #catchy-line > p {
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: white;
    margin: 3px;
  }

  .header > div > #catchy-line > #catchy-line-start {
    color: orange;
    font-weight: bold;
  }

  .header > div > .header-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .header > div > .header-signup > button {
    height: 50px;
    width: 90%;
    margin: 5px;
  }

  .header > div > .header-signup > #email-signup-btn {
    color: #540b51;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
  }

  .header > div > .header-signup > #google-signup-btn {
    display: flex;
    align-items: center;
    color: white;
    background-color: #4285f4;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
  }

  .header > div > .header-signup > #google-signup-btn > #google-signup-btn-img {
    width: 30px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
  }

  .header > div > .header-signup > #google-signup-btn > span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header > #header-img {
    background-size: cover;
  }

  /* Main */
  .main {
    background-color: #f3eae2;
    width: 100%;
  }

  .main #main-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }

  .logos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logos img {
    height: 15%;
  }

  .main h2 {
    font-weight: bold;
    text-align: left;
  }

  .main p {
    text-align: left;
    font-size: 12px;
  }

  /* Teams */

  .teams {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .teams h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .teams p {
    text-align: center;
    font-weight: bold;
  }

  .teams > .teams-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .teams > .teams-btns > button {
    height: 50px;
    width: 90%;
    margin: 5px;
  }

  .teams #teams-btn-enterprise {
    background-color: #540b51;
    color: white;
    border-radius: 5px;
  }

  .teams #teams-btn-sales {
    background-color: white;
    color: black;
    border-radius: 5px;
  }

  .teams ul > li {
    list-style: none;
  }

  .teams ul > li p > span {
    color: #540b51;
    font-size: 36px;
    font-weight: bold;
  }

  /* HQ */

  .hq {
    background-color: #540b51;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .hq h3 {
    text-align: center;
    color: white;
  }

  .hq button {
    height: 50px;
    width: 90%;
    margin: 5px;
    border-radius: 5px;
  }

  .hq #sales-try-btn {
    background-color: #540b51;
    color: white;
  }

  .hq #sales-try-btn {
    background-color: white;
    color: black;
  }
}

/* Footer */

.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer img {
  height: 35px;
  width: 35px;
}

.footer ul > li {
  list-style: none;
}
