@media (max-width: 961px) and (min-width: 767px) {
    .people {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .companies {
        flex-direction: row;
    }
    .companies div {
        width: 50%;
    }
    .companies div:nth-of-type(odd) {
        border-right: solid 1px lightgray;
    }
    .companies div:nth-child(5) {
        border-bottom: none;
    }
    .endPage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: left;
        flex-wrap: wrap;
    }
}