/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

p{
    color: #5b5e6d;
    font-family: arial;


}
 nav{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   margin: 0 5%;
   
   /* position: fixed;
   height: 20%;
   background-color: white; */
 }
 nav > img{
     width: 15%;
 }
 nav ul{
     font-size: 1.2em;
     text-decoration: none;   
     
 }
 li{
    flex-direction: row;
    list-style: none;
    display: inline;
    font-size: 15px;
    margin:0  20px;
    font-size: 20px;
    color: #5b5e6d;
    font-family: Arial;
 }

 #workspace{
     border: 2px  solid black;
     padding: 10px;
     border-radius: 7%;
 }
 .wrap{
     display:flex;
     justify-content: space-around;
     margin: 5%;
     flex-wrap: wrap;
 }

 .wrap >img{
     padding-top: 10%;
 }
 .textButton{
     width: 43%;
     font-size: 1.5em;
     text-align: left;
 }
 h1{
    font-size: 4em;
    text-align: left;
    align-items: flex-start;
    padding-right: 20%;
 }

 .wrap2{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center; 
     background-color: #F4F3F4;
     padding: 20px, 20px;
 }
 .wrap2 > h2{
     font-size: 2em;
 }
 .wrap2 > button{
    font-weight: bold;
    color: #192592;
    background-color: white;
    height: 70px;
    width: 200px;
    font-size: 15px;
    padding : 10px 0;
}
 .logos{
     flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    margin: 30px, 30px;
 }
 .logos > img{
     width: 15%;
     margin-left:5.5%;
     padding: 30px 100px;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
 }
 .try4free{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 5%;
 }
 .text{
     color: #5b5e6d;
 }
 h2{
     color: black;
     font-size: 2em;
 }
 button{
     color: white;
     font-weight: bold;
     background-color: #192592;
     height: 70px;
     width: 200px;
     font-size: 15px;
     border-radius: 9%;
 }