/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


body {

    margin: 0%;
}

@media (max-width:768px){


    body {
        max-width: 768px;
    
    }
    
    img {
        height: 3vh;
    }
    
    
    nav {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 3vh;
        justify-content: space-between;
        background-color: #540B51;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 1vw;
        padding-right: 2vw;

    }
    
    .nav-bar {
       visibility: hidden;   
    }
    
    .nav-icons > button {
        background-color: #540B51;
        border: none;
    }
    
    .background-purple {
        background-color: #540B51;
    }
    
    main {
        background-color: #F3EAE2;
    }

    header {
        
        margin: 0%;
        padding-top: 20%;
        display: flex;
        color: white;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

   #iphone-pic {

    height: 50vh;
    padding-left: 15%;
    


   }

    header button {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    


}


