/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: 


nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left:-300px; 
    width: 300px;
    z-index: 1;
    padding: 90px 30px 30px;
    background: #68C5DB;
    opacity: 0;
    transition: all 0.75s ease;
    font-size: 1.2em;
    overflow-y: auto;
    background-color: blueviolet;
}
*/

.slack-logo{
    height: 80px;
}
nav{
    position: fixed;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   width: 100%;
   border-bottom: solid 1px  #5b5e6d;
   

}
header{
   padding-top: 80px;
}
h1{
 font-size: 50px;
}
.p-header{
  font-size: 25px;
  
}
.main{
   padding: 0 30px;
}
.email{
   width: 100%;
}