/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F3EAE2;
    
}

@media (width < 768px) {

    body {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
    }

    .children {
        display: flex;
        flex-direction: column;
    }

    /* --------- NAV BAR --------- */

    #nav-bar {
        display: flex;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        background-color: #540B51;
    }

    #slack-logo {
        width: 15%;
        height: auto;
        margin-left: 30px;
    }

    #nav-buttons-div {
        margin-left: 30px;
    }

    .nav-button {
        background-color: #540B51;
        border: none;
        padding: 8px;
    }

    /* ------------------------- */

    #header {
        color: white;
        text-align: center;
        background-color: #540B51;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #sign-up > button {
        height: 70px;
        margin: 10px;
    }

    #google-button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        background-color: #4285F4;
    }

    #google-button > img {
        height: 60%;
        width: auto;
        background-color: white;
        
    }

    #google-button > span {
        flex-grow: 1;
        padding-right: 5%;
        color: white;
    }

    
    #slack-div > img {
        margin-top: 12px;
        margin-left: -40px;
        width: 100%;
        height: auto;
    }

    #main {
        margin-top: -100px;
    }

    #first-section {
        background-color: #F3EAE2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #first-section > p {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    #section-logos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    #section-logos > img {
        padding: 15px;
        height: 20%;
    }

    .sections {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    .sections-text {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .sections-images > img {
        display: flex;
        width: 90%;
    }

    .sections-text-p {
        font-size: 20px;
        font-weight: 500;
    }

    #first-section {
        margin-top: 10px;
    }

    #third-section-image {
        display: flex;
        justify-content: flex-end;
    }

    #third-section-text {
        order: 1;
    }

    #third-section-image > img {
        order: 0;
    }

    #fifth-section {
        align-items: center;
        background-color: white;
    }

    #fifth-section > p {
        text-align: center;
    }

    .sub-section > button {
        display: flex;
        align-items: center;
    }

    .sub-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 40px;
    }
    .list-item {
        width: 40%;
        text-align: center;
        list-style: none;
    }

    .span {
        font-size: 50px;
        font-weight: 600;
        color: #540B51;
    }

    .list-item > p {
        font-size: 16px;
        font-weight: 550;
    }

    .buttons-style {
        height: 60px;
        margin: 8px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }

    

    #slack {
        background-color: #540B51;
        color: white;
    }

    #sales {
        background-color: white;
        color: #540B51;
        border: 2px solid #540B51;
    }
    
    #sixth-section {
        background-color: #540B51;
        height: 250px;
        margin-top: 0;
        align-items: center;
    }

    #sales-2 {
        background-color: #540B51;
        color: white;
        border: 2px solid white;
        order: 1;
    }

    #free {

    }

}