/*
background purple: #540B51
background ivory: #F3EAE2
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    margin: 0;
    padding: 0;
}

.orange {
    color: orange;
}
    
    .slackLogo {
        width: 120px;
    }

    header {
        background-image: url("../images/background-singup.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex; 
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat; 
    }

    nav {
        background-color: #540B51;
        background-size: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 20px;
        border-bottom: solid;
        border-color: #F3EAE2;
        border-width: 1px;
    }
    
    nav button {
        background-color: #540B51;
        border: none; 
    }

    header h1 {
        font-weight: bolder;
        color: white;
        text-align: center;
        font-size: 45px;
    }

    header p {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 18px;
        color: white;
    }
    
    .google-image {
        position: absolute;
        width: 20px;
        left: 6px;
        background-color: white;
    } 
    
    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 10px;
    }

    header button {
        position: relative;
        margin-top: 10px;
        padding: 15px 40px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    .app-screen {
      width: 550px;
    }

    .btn-1 {
        color: #540B51;
        border-radius: 5px;
    }

    .btn-2 {
        color: white;
        background-color:#4285F4 ;
        border-radius: 5px;
    }
    
    .main-class {
       display: flex;
       flex-direction: column;
    } 

    .background-main {
        background-color: #F3EAE2;
    }

   .p-main {
        text-align: center;
        margin-top: 45px;
        font-size: 15px;  
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .images {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }

    .images img {
        height: 30px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .image-main {
        width:350px;
        margin-top: 50px;
    }

    .link-main {
        text-decoration: none;
        color: #2E71A6;
    }
    
    .btn-3 {
        border-radius: 5px;
        background-color: #540B51;
        color:white;
        border: none;
    }

    .btn-4 {
        border-radius: 5px;
        border-color: #540B51;
        color:#540B51;
    }
    
    .section-css button {
        margin-top: 10px;
        padding: 15px 40px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    } 

    .section-h3 {
        text-align: center;
        margin-top: 70px;
        font-size: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .section-p {
        text-align: center;
    }

    .section-css li {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }
   
   .purple {
       color:#540B51;
       font-size: 40px;
       font-weight: bold;
    }

   .css-p {
      font-size: 15px;
      font-weight: bold;
      width: 40%;
   }
   
   .background-section {
    background-color: #540B51;
    padding-bottom: 30px;
   }

   .background-section h3 {
    text-align: center;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
   }

   .btn-5 {
     color: white;
     background-color: #540B51;
     border-color: white;
   }

   .btn-6 {
    color: #540B51;
   }

   .background-section button {
    margin-top: 10px;
    padding: 15px 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
   }

   .section-2-css {
    font-size: 30px;
    text-align: center;
   }

   .list-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
   }

   footer {
    margin-left: 20px;
   }

   .logo-img-2 {
    width: 50px;
    margin-top: 30px;
   }

   .list-footer li {
    list-style-type: none;
    margin-bottom: 20px;
   }

   .titles {
    font-weight: bold;
   }
   @media(min-width: 770px) {

}
