/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

<style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
</style>

* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

a {
  color: blue;
}

p,
span {
  font-size: 1.2 em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5b5e6d;
  line-height: 150%;
}

li {
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5b5e6d;
  line-height: 135%;
}

hr {
  border-top: 1px solid #e2e0e0;
}

/* mobile first */

@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    perspective: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #5b5e6d;
  }

  .navbar ul li {
    display: none;
  }

  .logotipo img{
    height: 1em;
  }

  .hamburguer-menu {
    background-color: transparent;
    border: none;
    margin-right: 2em;
  }

  .hamburguer-menu img {
    width: 2em;
  }

/* header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 9em auto;
}
.header-text {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 0.8em;
}
.header p{
  text-align: justify;
}
.register{
  display: flex;
  flex-direction: column;
  width: 85%;
  
}
.email-input{
  height: 2.5em;
  padding: 0.35em;
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  color: #5b5e6d;
  margin: 2em 0 2em 0;
}
.btn-get-started{
  background-color: #192592;
  height: 3.5em;
  border: 1px solid #192592;
  border-radius: 4px;
  color: #fff;
  padding: 0.35em;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.sign-in{
  font-size: 0.8em;
}
.header img{
  width: 85vw;
  margin-top: 2.5em;
}

/* Main */

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5em;
}

.logos-company div img{
  width: 50vw;
}
.main-good-company{
  background-color: #f4f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.main h2{
  color: #2c303f;
  text-align: center;
  font-size: 1.4em;
  padding: 0.4em;
}

.main p{
  margin-bottom: 2em;
  text-align: center;
}
.btn-discover-why{
  height: 3.5em;
  width: 21em;
  border: 1px solid #4048af;
  padding: 0.35em;
  margin-bottom: 5em;
  background-color: #fff;
  color: #4048af;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: 600;
}
.logos-company{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -2em;
}

.logos-company div img{
  width: 50vw;
}

.logos-company div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2em;
  border-bottom: 1px solid #e2e0e0;
}
.logos-company div:last-child{
  border: none;
}

/* Main try it for free */

.main-try-itfree{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 2em 0 2em 0;
  width: 90%;
}

.main-try-itfree p{
  margin-bottom: 0.2em;
}

.try-it-free-text h2{
  font-size: 2em;
}

/* Footer */

.menu-footer{
  display: flex;
  flex-wrap: wrap;
  padding: 1.2em;
  width: 90%;
  border-top: 1px solid #e2e0e0;
}
.menu-footer-logo{
  width: 100%;
  margin-top: -1em;
  margin-left: -1em;
}
.menu-footer-logo img{
  width: 40%;
}
.menu-footer ul{
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #000;
  margin: 0.5em auto;
}
.menu-footer li{
  list-style: none;
  padding: 0.8em;
  font-size: 1em;
}
.menu-footer ul li:first-child{
  font-weight: bold;
}

/* Footer menu contacts */
.contact-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f3f4;
}
.contact-footer-menu{
  width: 100%;
}

.contact-footer-menu ul{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-size: 0.8em;
}
.contact-footer-menu li{
  list-style: none;
  margin-top: 2em;
  color: #545661;
}

/* Footer menu language icons */
.footer-icons{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-language{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}
.footer-language span,
.footer-language i {
  font-size: 1em;
  padding: 0 .5em;
}

.footer-language img{
  width: 1.6em;
  margin-right: 0.5em;
}

/* Social Midia Footer Icons */
.social-midia-footer{
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-midia-footer i{
  color: #5b5e6d;
  margin: 0.8em;
}

}
