/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
  display: flex;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
    Tahoma, Arial, sans-serif;
  flex-direction: column;
}

img {
  width: 100%;
}

.menu {
  list-style: none;
  display: flex;
  margin-top: 30px;
}

header {
  border-bottom: rgb(161, 159, 159) 1px solid;
}

.menu a {
  margin-left: 20px;
  display: none;
}

header i {
  text-align: end;
  font-size: 25px;
  margin-top: 20px;
}

.logoslack {
  margin-left: 40px;
  padding-left: 20px;
}

.fotogrande {
  display: none;
}

.boton {
  padding: 20px 35px;
  border: solid 2px #192592;
  background-color: #192592;
  color: white;
  width: 450px;
  display: flex;
  justify-content: space-evenly;
}

.botonEmail {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 35px;
  border-color: rgb(189, 178, 178);
  border-width: 0.5px;
  margin-bottom: 10px;
}

.already {
  text-align: center;
}

h2 {
  font-size: 2.5em;
}
.abajo {
  margin: auto;
  margin-bottom: 1rem;
  font-size: 1.5em;
  width: 70%;
  font-weight: 200;
  color: rgb(155, 153, 153);
  margin-top: 25px;
}

.section2 {
  background-color: #f4f3f4;
  padding-top: 100px;
}

.botonDiscover {
  padding: 20px 35px;
  border: solid 2px #007bff;
  background-color: white;
  color: blue;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  margin-bottom: 50px;
}

.imgCenter {
  margin: 0 auto;
  width: 350px;
  padding: 70px 0px;
}

.filete {
  border-bottom: solid 2px rgb(228, 218, 218);
}

h3 {
  text-align: center;
  padding-top: 80px;
  font-size: 3em;
}

.grande {
  text-align: center;
  font-size: 2em;
  font-weight: 200;
}

.grande a {
  text-decoration: underline;
}

.botoAbajo {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 35px;
  border-color: rgb(189, 178, 178);
  border-width: 0.5px;
}

footer {
  border-top: rgb(228, 218, 218) 1px solid;
  padding-top: 20px;
  color: #868688;
}

li {
  list-style: none;
}

.imgFooter {
  width: 200px;
}

.encabezado {
  font-size: 1.2em;
  text-transform: uppercase;
}

.banderita {
  width: 40px;
  margin: 0 auto;
  align-content: center;
}
.pintado {
  background-color: #f4f3f4;
}

@media (min-width: 992px) {
  .boton {
    width: 200px;
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  hamburguesa {
    display: none;
  }
  .menu a {
    display: block;
  }
  .menu {
    align-items: flex-end;
  }
}
