/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
html {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 1.2;
}
body {
	margin: 0 0;
}
h1,
h2 {
	font-family: 'PT Serif', serif;
	color: #2c303f;
	line-height: 1.1;
}
nav {
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	position: fixed;
	padding-top: 8px;
	background-color: #fff;
	width: 100%;
	z-index: 5;
	box-shadow: 0 2px 8px #5b5e6d;
	align-items: center;
	flex-wrap: wrap;
}
.list {
	-webkit-padding-start: 0;
	color: #2c303f;
}
.slack-logo {
	width: 200px;
	margin-left: 16px;
}
.dropdown-button {
	margin-right: 16px;
	border: none;
	padding: 10px 12px;
	background-color: #fff;
	color: #2c303f;
	width: 50px;
}
#drops {
	display: none;
	width: 100%;
	background-color: #f4f3f4;
}
.navigation-list {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.navigation-list li a {
	text-decoration: none;
	color: #2c303f;
}

.navigation-list li {
	display: inline-block;
	height: 24px;
	list-style-type: none;
}

.header {
	position: relative;
	top: 100px;
}
.large-image {
	width: 100vw;
}
.get-started {
	width: 80vw;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 12px auto;
}
#main {
	position: relative;
	margin: auto;
}
.container {
	padding: 8px;
}
.partners {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.partner-list {
	background-color: #f4f3f4;
	width: 100vw;
	flex-direction: row;
	align-content: space-around;
}

.partners img {
	justify-content: center;
	width: 60vw;
	margin: 10px auto;
}
.button {
	height: 48px;
	border-radius: 10px;
	width: 100vw;
}
.button-purple {
	background-color: #192592;
	color: #fff;
}
.discover {
	color: #192592;
	background-color: #fff;
	border: solid 2px #192592;
}
.email-form {
	padding-left: 6px;
}
.footer-flex {
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: space-around;
}
.links-flex {
	display: flex;
	flex-wrap: wrap;
}
.footer li {
	list-style-type: none;
	font-size: 0.8rem;
}
.footer .list-title {
	font-weight: 500;
}

.social {
	background-color: #f4f3f4;
}
.contact-list {
}
.contact-list li {
	display: inline-block;
	margin: auto 8px;
	font-size: 0.6;
	font-weight: 500;
}
.language-selector {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 8px;
}
.language-selector img {
	width: 48px;
}
@media (min-width: 768px) {
	.large-image {
		width: 640px;
	}
	.slack-logo {
		width: 300px;
	}
	.nav {
		display: flex;
		justify-content: space-between;
	}
	.navigation-list li {
		display: inline-block;
	}
	#drops {
		display: block;
	}
}
