/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body{
  margin: 0px;
}
.navbar {
  background: white;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  display: flex;
  padding-top: 25vh;
  justify-content: space-evenly;
  margin-bottom: 12vh;
}

header img {
  margin-top: 4vh;
  height: 62vh;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 5vh;
}

.navbar img{
  display: flex;
  width: 10vw;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}
.navbar ul li {
  list-style-type: none;
  margin-right: 30px;
  font-size: 1.5vw
}

.headText {
  width: 45vw;
}

.headText h1 {
  font-size: 6vw;
  margin: 0;
}

.bigP {
  line-height: 1.5;
  font-size: 1.8vw;
  color: #5b5e6d;
}
.smallP {
  font-size: 1.4vw;
  color: #5b5e6d;
}
.button{
 border: 1px solid black;
  border-radius: 5px;
  padding: 2px 10px;
}
.buttonpurple {
  background-color: #192592;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  padding: 25px 45px;
}
. {
  display: flex;
  centerItemsjustify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F4F3F4;
}

.centerItems h2 {
  margin: 0;
}
.centerItems p {
  margin-bottom: 5vh;
}
.centerItemsTop p{

    display: flex;
    justify-content: center;
    font-size: 1.5vw;
}
.centerItemsTop h2{
      font-size: 2.5vw;
    display: flex;
    justify-content: center;
}

.centerItems button {
  padding: 2vh 3vw;
  font-size: 1.2vw;
  border-radius: 5px;
  border-color: #192592;
  background-color: white;
  color: #192592;
  margin-bottom: 10vh;
}
.companyLogosTop {
  border-bottom: 1px solid lightgray;
}

.companyLogosTop img {
  padding: 5vh 6vw;
  width: 15vw;
}
.sideBorders {
  border: 1px solid lightgray;
  border-top: 0;
  border-bottom: 0;
}
.companyLogosBottom {
  padding-bottom: 12vh;
}

.companyLogosBottom img {
  padding: 6vh 6vw;
  width: 15vw;
}

.companyLogosBottom img:nth-child(1) {
  width: 19vw;
  padding: 6vh 4vw;
}
.mainTagFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.centerItemsTop button{
 padding: 2vh 3vw;
  font-size: 1.2vw;
  border-radius: 5px;
  border-color: #192592;
  background-color: white;
  color: #192592;
  margin-bottom: 10vh;
  position: relative;
  left: 40vw;
  }
  .notTheActualFooter {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  align-items: flex-start;
}

.notTheActualFooter div {
  display: flex;
  width: 70vw;
  height: 40vh;
  justify-content: space-evenly;
}

.notTheActualFooter div ul {
  list-style: none;
}

.notTheActualFooter div ul li {
  padding-top: 3vh;
}

.theActualFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theActualFooter ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.theActualFooter ul li {
  padding-right: 2vw;
}

.theActualFooterRightSide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 18vw;
}

.flagWithSpan {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 11vw;
}

.flagWithSpan img {
  width: 1.5vw;
}

.socialMediaLinks {
  display: flex;
  justify-content: space-evenly;
  width: 8vw;
}