/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  font-family: "Varela Round" ;
  margin: 0;
  padding: 0;
}


.nav-bar {
 position: fixed;
 top: 0;
 width:100%;
 overflow: hidden;
 background-color: white;
 display: flex;
 border-bottom: 1px solid rgba(145, 145, 145, 0.2);
 align-items: center;
 justify-content: space-between;
}
.main {
  margin: 100px 25px 50px 25px;

}

.main p {
  color: #5b5e6d;
}

.nav-bar img{
  width: 30%;
  height: 100%;
  margin-left: 10px;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
}

.nav-bar li {
  list-style: none;
}

h1 {
  width: 70%;
}

.email {
  border: 1px solid rgba(175, 175, 175, 0.2);
  width: 90%;
  padding: 10px;
}

img {
  width: 100%;
}

.get-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu {
  height: 40px;
  width: 40px;
  margin-right: 25px;
  cursor: pointer;
}

.button-gs {
  color: white;
  border-radius: 5px;
  background-color: rgb(56, 68, 199);
  width: 90%;
  height: 50px;
  margin-top: 20px;
}

#working-area {
  margin-top: 25px;
}

main {
  background: #F4F3F4;
}

.good-company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.good-company h2 {
  font-weight: 800;
}

.good-company p {
 color: #5b5e6d;
 margin: 0 25px;
 text-align: center;
}

.good-company img {
  width: 40%;
  margin: 15px 0;
  border-bottom: 1px solid rgba(149, 149, 149, 0.3); 
  padding-bottom: 25px;
}

#la {
  width: 70%;
}

#button-dw {
  color: rgb(56, 68, 199);
  border-radius: 5px;
  border: 1px solid rgb(56, 68, 199);
  background-color: white;
  width: 90%;
  height: 50px;
  margin: 20px 0;
}

.for-free {
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.for-free h3 {
  margin-top: 30px;
  margin-bottom: -10px;
}

#fixed {
  margin: 0 100px;
}

#slack-logo {
  display: flex;
  width: 35%;
  justify-content: flex-start;
  margin: 20px 0;
}

.options {
  display: flex;
  flex-flow: column no-wrap;
  flex-basis: 25;
  justify-content: flex-start;
}

.options ul {
  width: 20%;
  margin-bottom: 50px;
}

.options li {
  list-style: none;
  margin: 20px 0;
  font-size: 16px;
  color: #5b5e6d;
}

.footer {
  background: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.footer li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 10px;
  color: #5b5e6d;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flag {
  display: flex;
  justify-content: center;
}

.flag img {
  width: 10%;
  height: 10%;
}

.flag span {
  margin: 0 10px;
}

.rss {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rss i {
  margin: 20px 15px;
  width: 10%;
}

@media screen and (min-width: 1024px) {
    .nav-bar {
        height: 5rem;
    }
    .nav-bar img {
        width: 12%;
        height: 100%;
        margin-left: 10px;
    }

}