/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
    background: #540b51;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.slack-icon {
    width: 100px;
}
.nav-list {
    display: none;
}
.nav-icon {
    background: transparent;
    border: none;
} 
#hero {
    padding: 8px;
}
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.hero-title {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-align: center;
}
.hero-subtitle {
    text-align: center;
    color: black;
}
.first-half{
    color: rgba(255, 255, 0, 0.74);
}
.hero-subtitle:before{
    
    color: rgba(238, 238, 49, 0.466);
}
.hero-btn-container {
    display: flex;
    flex-direction: column;
}
/*clase de boton general*/
.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    color: #540b51;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 6px;
    border: none;
    margin-bottom: 10px;
    border-radius: 3px;
}
.btn-google {
    background: #4285f4;
}
.btn-purple {
    background: #540b51;
    color: #fff;
    border: 1px solid #fff;
}
.icon-google-container {
    background: #fff;
    padding: 2px;
}
.google-button-text{
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.google-icon {
    padding: 3px;
    width: 15px;
    height: 15px;
    background: #fff;
    border: none;
    display: inline-block;
    vertical-align: middle; 
    order: -1;   
}