/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@charset "UTF-8";

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #540B51;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 100px;
}

.magnafyer {
  display: none;
}

.menu-superior {
  display: none;
}

.btn-cabecalho {
  background-color: transparent;
  border: none;
  text-align: center;
}

.btn-cabecalho img {
  width: 35px;
  margin: 0 10px;
}

.search-menu {
  display: flex;
  justify-content: space-evenly;
}

header {
  background-color: #540B51;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header p {
  color: white;
  margin-left: 0px;
}

header div h1 {
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
}

header div p {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-size: 0.9rem;
}

div p span {
  color: #ECB12F;
}

#btn-signup button {
  width: 300px;
  height: 50px;
  font-size: 0.7rem;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

#signup-email{
  color: #540B51;
  font-weight: 600;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}

#btn-signup img {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 5px 55px 5px 5px;
}

#btn-signup :nth-child(2) {
  background-color: #4285F4;
  color: white;
  font-weight: 400;
}

#signup-google {
  display: flex;
  align-items: center;
}

#slack img {
  width: 100vw;
  margin-top: 15px;
}

/* ------------------- first-section -------------------*/

.sections {
  background-color: #F3EAE2;
} 

#first-section p {
  color: black;
  text-align: center;
  padding: 25px 0px 20px 0px;
  margin-left: 0px;
}

#logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#logos img {
  padding: 10px;
}

#airbnb {
  width: 70px;
  margin-left: 20px;
}

#nasa {
  width:45px;
}

#uber {
  width: 50px;
  height: 20px;
}

#target {
  width: 35px;
  margin-right: 20px;
}

#nyt {
  width: 200px;
  margin-left: 20px;
}

#spotify {
  width: 90px;
  margin-right: 20px;
}

/* ------------------- second-section -------------------*/

#connectedness-mobile img {
  width: 100vw;
  padding: 50px 0px 10px 0px;
}

#connectedness-grande {
  display: none;
}

#flexibility-mobile img {
  width: 100vw;
  padding: 50px 0px 10px 0px;
}

#flexibility-grande {
  display: none;
}

#second h2, p {
  margin: 20px 15px;
  color: black;
}

#second a {
  margin-left: 20px;
  text-decoration: none;
  color: #2E71A6;
}

/* ------------------- third-section -------------------*/

#third h2 {
  padding: 20px;
}

#third a {
  margin-left: 20px;
  text-decoration: none;
  color: #2E71A6;
}

/* ------------------- fourth-section -------------------*/

#fourth img {
  width: 100vw;
  padding: 80px 0px 30px 0px;
}

#speed-grande {
  display: none;
}

#move-faster h2, p {
  margin: 0px 0px 20px 20px;
}

#fourth a {
  margin-left: 20px;
  text-decoration: none;
  color: #2E71A6;
  padding-bottom: 30px;
}

#move-faster {
  padding-bottom: 40px;
}

/* ------------------- fifth-section -------------------*/

#fifth h3 {
  padding: 70px 0 15px;
  text-align: center;
  font-size: 1.85rem;
}

#fifth p {
  text-align: center;
  margin-left: 0px;
}

#fifth-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#fifth button {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
}

#meet-slack-btn {
  color: white;
  background-color: #540B51;
  border: none;
}

#talk-slack-btn {
  background-color: white;
  color: #540B51;
  font-weight: 400;
  border: 1px solid #540B51;
}

#fifth span {
  color: #540B51;
  font-size: 1.65rem;
  font-weight: bolder;
}

#fifth ul li p {
  width: 110px;
  font-size: 0.6rem;
  font-weight: bolder;
}

#fifth ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#missing-paragraph {
  font-size: 0.7rem;
  font-weight: 100;
}

/* ------------------- sixth-section -------------------*/

#sixth {
  background-color: #540B51;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sixth h3 {
  color: white;
  margin-top: 30px;
  padding: 10px 0px 20px 0px;
  font-weight: 500;
  width: 230px;
  text-align: center;
}

#sixth button {
  width: 300px;
  height: 40px;
  border-radius: 3px;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
}

.laptop {
  display: flex;
  flex-direction: column;
}

#talk-to-sales-btn {
  background-color: #540B51;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
}

#try-for-free-btn{
  color: #540B51;
  background-color: white;
  border: 1px solid white;
}

/* ------------------- footer -------------------*/

#footer-slack-logo {
  width: 50px;
  margin: 50px 0px 30px 20px;
}

#footer-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#no-margin-bottom :nth-child(1) {
  font-size: 0.7rem;
  font-weight: 900;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 8px;
  list-style-type: none;
  color: black;
}

#margin-bottom :nth-child(1) {
  font-size: 0.7rem;
  font-weight: 900;
  width: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
  list-style-type: none;
}

#no-margin-bottom li {
  color: #454245;
  list-style-type: none;
  margin-left: 10px;
  font-size: 0.74rem;
  padding-bottom: 20px;
  width: 80px;
}

#margin-bottom li {
  list-style-type: none;
  margin-left: 10px;
  font-size: 0.74rem;
  padding-bottom: 20px;
  width: 80px;
}

hr {
  width: 95vw;
  margin: auto;
  color: lightgray;
}

#last-menu {
  list-style-type: none;
  font-size: 0.6rem;
  font-weight: bold;
  margin: 20px;
}

#last-menu li {
  padding-bottom: 20px;
}

#icon-region {
  display: flex;
}

#icon-region img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

#icon-download {
  display: flex;
}

#icon-download img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

#icon-download li {
  color: #2E71A6;
}

#links {
  list-style-type: none;
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#copyright {
  font-size: 0.65rem;
  width: 70vw;
  display: block;
  margin: 50px 0px 50px 20px;
}