/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* header */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    nav {
        display: flex;
        justify-content: space-between;
        background-color: #540B51;
        padding: 40px;
    }
    .logo {
        width: 30%;
    }
    .icon {
        width: 30%;
        background-color: #540B51;
        border-style: none;
        margin-left: 12px;
    }
    header {
        background-color: #540B51;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        text-align: center;
    }
    header span {
        color: #ECB12F;
    }
    .signup-btns, .free {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
      }
    #google {
        background-color: #2254B8;
        height: 70px;
        width: 240px;
        padding: 10px;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 9px;
    }
    .signup-google {
        color: white;
    }
    #google img {
        width: 30px;
        background-color: white;
        border-radius: 5px;
    }
    #signup {
        background-color: white;
        color: #540B51;
        height: 70px;
        width: 240px;
        padding: 10px;
        font-size: 20px;
        border-radius: 9px;
    }
    .screen {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .screen img {
        width: 150vw;
        margin-left: 180px;
    }
    /* main */
    .trusted-brands {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #F3EAE2;
    }
    .brands-images {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-flow: row wrap;
        margin-left: 50px;
    }
    .trusted-brands img {
        height: 40px;
        margin: 20px;
    }
    .trusted-brands p {
        font-size: 30px;
    }
    #connect1, #flex, #speed {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .bring, #flex {
        display: flex;
        flex-direction: column;
        background-color: #F3EAE2;
        padding: 30px;
        line-height: 30px;
    }
    .bring a {
        text-decoration: none;
    }
    .flexibility-text {
        display: flex;
        flex-direction: column-reverse;
    }
    .cta {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 40px;
    }
    .cta h3 {
        font-size: 25px;
    }
    .slack-btn, .sales-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        height: 70px;
        width: 480px;
        padding: 10px;
        border-radius: 9px;
      }
      .slack-btn {
          background-color: #540B51;
          text-transform: uppercase;
          border-color: white;
          color: white;
      }
      .sales-btn {
        background-color: white;
        text-transform: uppercase;
        border-color: #540B51;
        color: #540B51;
    }
    .percentages {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 200px;
        line-height: 20px;
        margin: 20px 0;
    }
    .number {
        color: #540B51;
        font-size: 40px;
    }
    .welcome{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        background-color: #540B51;
        color: white;
        height: 350px;
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 60%;
    }
    .welcome h3 {
        margin: 20px;
        font-size: 30px;
    }
    /* footer */
    footer img {
        width: 7%;
        margin-left: 20px;
    }
    .features1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .features1 li {
        list-style: none;
        margin: 20px;
    }
    .first-element > li:first-child {
        font-weight: bold;
    }
    hr {
        margin: 10px;
        border-color: #454245;
        width: 90%;
    }
    .contact {
        list-style: none;
        margin: 20px;
        line-height: 30px;
    }
    .contact img {
        width: 3%;
        margin-left: 1px;
    }
    .icons {
        display: flex;
        justify-content: space-between;
        margin: 16px;
        list-style: none;
    }
    .icons > li > i {
        font-size: 30px;
    }
    .rights {
        color: #454245;
        padding: 10px;
    }
}