/* Small Screen */

/* Medium Screen */

/* Large Screen */

/* ------GENERAL----- */
h1, h2, h3 {
    font-family: 'Neuton', serif;
    font-weight: 700;
    color: #323648;
    margin: 0;
}
h1 {
    font-size: 76px;
    margin-bottom: 32px;
    line-height: 1;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #3f46ad;
}

/* ------     ----- */

body {
  font-family: 'Muli', sans-serif;
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.3;
  color: #5B5E6D;
}
@media (min-width: 768px) {
nav {
  border-bottom: 1px solid #EBEBEB;
}
}

.flex {
  display: flex;
}

.inner-wrap {
  padding: 0 47px;
  margin: 0 auto;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0 auto;
}

nav ul li {
  padding: 16px;
  display: inline-block;
  font-family: 'Muli', sans-serif;
  color: #5b5e6d;
  font-size: 16px;
}

.logo-size {
  width: 121px;
  height: 62px;
}

.flex-list {
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}

.borderItem {
  border-top-right-radius: 4px;
  border-top-left-radius:  4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid black;

}

.sectionPad {
  padding: 60px 0 64px 0;
}

.lower-wrapper {
  margin: 0 auto;
  max-width: 1230px;
}


.right-box {
  text-align: left;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 20px;
}
.logosize2 {
  flex-flow: wrap-reverse;
  flex-direction: column;
}

.signInContainer p {
  font-size: 14px;
}

.signInContainer a {
  border-bottom: 1px solid #3F46AD;
}

.right-box p {
  line-height: 1.5;
}

button {
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18.2px;
  padding: 20px 40px 19px 40px;
  border-style: none;
}

button.getStarted {
  background-color: #3f46ad;
  color: #fff;
}


/* -----MAIN----- */


main {
background-color: #f5f5f5;
color: #323648;
padding: 48px 0;
font-size: 16px;
border-top: 1px solid rgb(235, 235, 235);

}

.mainContainer {
  flex-flow: column;

}

.flexItem-1 {
  text-align: center;
}

.flexItem-1 p {
  line-height: 24px;
  border-bottom: 32px;
  margin-bottom: 35px;
}

.discoverWhy {
  background-color: #fff;
  color: rgb(28, 41, 157);
  font-weight: 700;
  border-color: #9BA0D3;
  border-style: solid;
}

.flexItem-2 {
  text-align: center;
  font-size: 16px;
}

.logoContainer {
  flex-direction: column;
}

.imageLogos img {
  width: 20%;
  height: 20%;
  padding: 32px;
  border-right: 1px solid #ebebeb ;
}

.first-row-img {
    border-bottom: 1px solid #ebebeb ;
}
.second-row-img {
    border: none;
}

.brn {
  border-right: 0 !important;
}

.tryArea {
  justify-content: space-between;
  align-items: center;
}

.tryArea button {
  background-color: #3f46ad;
  color: #fff;
  margin-right: 3%;
}

.tryBox {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  color: #323648;
  flex-direction: column;
}

.tryBox p {
  font-size: 16px;
}

.fancy-sec {
  border-top: 1px solid #ebebeb;
  padding-left: 48px 0 48px 0;
}
.box-wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding-top: 1%;
}
