/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
    margin: 5vw 5vw 5vw 5vw;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

nav img {
    width: 10vw;
}

nav {
    border-bottom: 1px grey solid;
    position: fixed;
    background-color: white;
    top: 0px;
    width: 100vw;
    overflow: hidden;
    height: 10vh;
}
#homeTalking1 {
    display: none;
}

header {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    width: 60vw;
}

img {
    width: 50vw;
}
#images {
    display: flex;
    flex-direction: column;
    width: 10px;
}

#getStartedButton {
    width: 100vw;
    background-color: blue;
    color: white;
    border: none;
    height: 5vw;
    font-weight: bold;
    border-radius: 50%;
}

#slack {
    align-self: center;
}


#homeTalking2 {
    align-self: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

main {
    background-color: #F4F3F4;
    display: flex;
    flex-direction: column;
}