/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body{
    font-size: 18px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 20px;
}

nav > div > i{
    color: #5b5e6d;
}

header{
    display:flex;
}

input{
    border: 1px solid #5b5e6d;
    padding: 5px 80px;
    border-radius: 4px;
}


img{
    max-width: 100%
}

footer{
    display:flex;
}

.btn{
    border-style: none;
    display: block;
    background-color: #192592;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

.grey-btn{
    border: 0.5px solid #192592;
    display: block;
    background-color: white;
    color: #192592;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

#good-company{
    display: flex;
}

#try-free{
    display:flex;
}

@media (max-width: 767px) {
    nav > ul {
        display: none;
    }

    .logo-container{
        max-width: 100%;
        width: 80px;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    .header-image-container {
        order: 2;
    }

    .header-text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #good-company{
        background-color: #F4F3F4;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #good-company > p{
        padding: 10px;
    }
    #good-company > img {
        height: 50px;
        margin: 10px 5px;
    }

    #good-company > .image-container{
        width: 230px;
        max-width: 100%;
    }
    hr{
        size: 2px;
        color: #5b5e6d;
        width: 200px;
    }

    #try-free{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        line-height: 1px;
    }
    .btn{  
        padding: 5px 80px;
    }
    .grey-btn{  
        padding: 5px 80px;
    }
    .email{
        padding: 5px 40px;
    }
    
    footer{
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
    }

    .image-footer-container{
        width: 100px;
        max-width:100%;
    }

    footer > div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    footer > div > ul {
        margin: 0;
        padding: 0;
        width: 40%;
        list-style: none;
    }
    .li-title{
        font-weight: bold;
    }
    footer > div > ul > li{
        color: #5b5e6d;
    }

    #terms{
        background-color: #F4F3F4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

}
