/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
/*
body {
  font-family: Arial, Helvetica, sans-serif
}

nav{
width: 100%;
position: fixed;
background-color: white;
height: 10%;
z-index: 10;
border-top: 1px solid #5b5e6d;
border-bottom: 1px solid #5b5e6d;
}

nav img {
height: 5em;
vertical-align: center;
}

nav ul {
display: none;
}

header {
display: flex;
flex-direction: column;
}

header img {

}

header h1 {
font-size: 30px;
color: #2C303F;
}

header p{
font-size: 20px;
color: #5b5e6d
}

header button {
background-color: #192592;
color: #FFF;
border-radius: 5%;
width: 70em;
padding: 0px 20px 0px 20px;
height: 75px;
align-content: center;
font-size: 18px;
font-weight: 20;
}

header a{
color: #192592;
justify-content: center;
}
*/
nav {
  width: 100%;
  position: fixed;
  background-color: white;
  height: 16%;
  top: 0;
  z-index: 10;
  border-top: 1px solid #5b5e6d;
  border-bottom: 1px solid #5b5e6d;
}
nav img {
  height: 70px;
  margin-left: 30px;
}
nav ul {
  display: none;
}