/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

html {
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Work Sans', sans-serif;
}

@media(max-width: 768px) {
    p {
        margin: 5px 0 10px 0;
        color: #5b5e6d;
    }

    body {
        font-size: 1rem;
    }

    header h1,
    div:first-of-type h2,
    main div:last-of-type div>p:first-of-type {
        font-family: 'Gelasio', serif;
        color: #2C303F;
    }

    nav {
        top: 0;
        position: fixed;
        overflow: hidden;
        background-color: white;
        display: flex;
        border-bottom: 1px solid #BBBBBB;
        justify-content: space-between;
    }

    nav img {
        padding: 3%;
        width: 16vw;
    }

    nav ul {
        display: none;
    }

    #burger {
        width: 8vw;
    }

    header {
        margin-top: 20%;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    header h1,
    header p {
        width: auto;
        padding-top: 3%;
        padding-left: 10%;
    }

    header button,
    header input {
        margin-top: 3%;
        margin-left: 10%;
    }

    header h1 {
        padding-top: 5%;
        justify-content: flex-start;
        width: 60%;
    }

    header p {
        margin: 0;
        width: 70%;
    }

    button {
        border: 1px solid #192592;
        background-color: #192592;
        color: white;
        width: 75vw;
        padding: 3%;
        border-radius: 1vw;
        font-weight: bold;
    }

    input {
        border: 1px solid #E2E2E2;
        background-color: white;
        color: #C1C1C1;
        width: 70vw;
        padding: 3%;
        border-radius: 1vw;
    }

    header p:last-of-type {
        width: 45%;
        align-self: center;
        font-size: .8rem;
    }

    main {
        display: flex;
        background: #F4F3F4;
        height: auto;
        flex-direction: column;
    }

    main div:first-of-type div {
        background: none;
        border: 0;
    }

    main div:first-of-type {
        border-top: .5px solid #BBBBBB;
        border-bottom: .5px solid #BBBBBB;
        padding-top: 3%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    div:first-of-type h2 {
        font-size: 3rem;
        padding-top: 5%;
    }

    main div:last-of-type div {
        background: none;
        border: 0;
    }

    div:first-of-type p {
        margin: 0;
        padding-top: 4%;
        padding-bottom: 7%;
        width: 80vw;
    }

    div:first-of-type button {
        border: 1px solid #192592;
        background-color: white;
        color: #192592;
        width: 80vw;
        padding: 3%;
        border-radius: 1vw;
        font-weight: bold;
    }

    div:first-of-type img {
        width: 40vw;
        padding: 10%;
        border-bottom: .5px solid #BBBBBB;
    }

    main div:last-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100vw;
    }

    main div:last-of-type p {
        padding: 1%;
        text-align: center;
        margin: 0;
        color: #2C303F;
    }

    main div:last-of-type p:last-of-type {
        padding-bottom: 4%;
    }

    main div:last-of-type div>p:first-of-type {
        border: 0;
        padding-top: 5%;
        font-weight: bold;
        font-size: 1.5rem;
    }

    footer {
        display: flex;
        text-decoration: none;
        flex-direction: column;
    }

    footer div:first-of-type img {
        display: block;
        display: flex;
        margin-right: auto;
    }

    footer div:first-of-type {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-grow: initial;
        color: #5b5e6d;
    }

    footer div:first-of-type li {
        padding: 5%;
        width: auto;
        margin: auto;
    }

    footer div:first-of-type>ul {
        margin-top: 0;
        padding: 5%;
        list-style-type: none;
        width: 40vw;
    }

    .bold {
        font-weight: bold;
    }

    footer div:last-of-type {
        display: flex;
        background-color: #F4F3F4;
        color: #5b5e6d;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    footer div:last-of-type ul {
        font-size: .7rem;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
    }

    footer div:last-of-type li {
        width: auto;
        padding: 3%;
    }

    footer div:last-of-type img,
    footer div:last-of-type span {
        display: flex;
        display: inline-block;
        flex-direction: row;
    }

    footer div:last-of-type span {
        width: auto;
    }

    footer div:last-of-type img {
        margin: 0px;
        width: 5vw;
    }

    footer div:last-of-type i {
        display: inline;
        flex: 0 1 auto;
    }

}

@media(max-width: 961px) and (min-width: 767px){
     body {
         font-size: 1rem;
     }

     header {
         font-size: 1.5rem;
     }

     header button {
         margin-left: 0;
     }

     button {
         width: 15vw;
         padding: 3%;
         margin-top: 3%;
         margin-left: 1%;
         align-self: center;
     }

     div:first-of-type button {
         margin-top: 0;
         width: 20vw;
         padding: 3%;
         align-self: center;
         margin-left: auto;
         margin-right: auto;
     }

     input {
         width: 30vw;
         padding: 3%;
         align-self: flex-start;
         margin-left: 5%;
     }

     header p:last-of-type {
         align-self: flex-start;
         margin: 0;
         width: 70%;
     }
     
     main div:first-of-type {
         flex-flow: row wrap;
     }

     main div:first-of-type img {
         width: 30vw;
     }

     main div:first-of-type p {
         color: #5b5e6d;
         padding-top: 2%;
         font-size: 1.3rem;
     }


     main div:last-of-type {
         flex-direction: row;
         width: auto;
         align-items: center;
     }

     main div:last-of-type div {
         border: none;
         display: flex;
         width: 30vw;
         flex-direction: column;
         justify-items: center;
     }

     main div:last-of-type div>p {
         width: 30vw;
         flex-direction: row;
     }

     main div:last-of-type div p:first-of-type {
         font-size: 1.5rem;
     }

     }

}

@media(max-width: 1024px) and (min-width: 960px) {

}

@media(min-width: 1200px) {

}