/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #540B51;
    display: flex;
    justify-content: space-between;
    /* width: 98vw; */


}

.left-div{
    display: flex;
    justify-content: space-evenly;

}

.right-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list{
    
}

@media (min-width: 1000px) {
    .responsive-div {
      background-color: blue;
    }
  }
  