/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

img {
  width: 100px;
}



/* ---- reset ---- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}



/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 20px 0;
  font-size: 1.2em;
  line-height: 1.4em;
}



/* buttons */

.btn {
  padding: 0.8em 1.5em;
  font-size: 1.3em;
  border: 2px solid #42c299;
  border-radius: 5px;
  background-color: white;
  color: #42c299;
}

.btn-block {
  width: 100%;
}



.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}



/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5%;
  background-color: white;
}

.navbar-logo {
  width: 120px;
}

.navbar-menu {
  display: none;
}

/* header */

.header-like {
  margin-top: 67.52px;
}

.header-like h1 {
  font-family: serif;
  font-size: 2.3em;
  line-height: 1.3em;
}

.header-like img {
  width: 100%;
}

.header-like-content {
  overflow: hidden;
}



@media (min-width: 1200px) {
  .header-like {
    display: flex;
    flex-direction: row-reverse;
  }

  .header-like-content {
    width: 50%;
  }
}