/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* mobile first no media query */

nav div ul {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 40px 20px;
}

nav img {
    height: 35px;
}

header .login-container {
    display:flex;
    flex-direction: column;
}

header button {
    margin: 10px 0;
    padding: 20px;
}

header .google-button  {
    position: relative;
    background-color: #4285F4;
}

header .google-button img {
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: white;
    padding: 10px;
}

.google-button {
    text-align:center;
}

section {
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div {
    padding: 10px 0;
}

header .container img {
    width: 100%;
}

.section1 {
    flex-direction: column;
    align-items: center;
}

.section1 div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
}

.section1 p {
    padding-top: 20px;
}

.section1 img {
    height: 40px;
    padding: 20px 0;
}

.other-sections {
    display: flex;
    flex-direction: column;
}

.other-sections img {
    width: 100%;
}

nav, header, section.welcome {
    background-color: #540B51;
}
section.overlay-background {
    background-color: #F3EAE2;
}

main .contact {
    display:flex;
    flex-direction: column;
    align-items: center;
}

main .contact div {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.contact ul {
    list-style-type: none;
    text-align: center;
    width: 40%;
}

main .contact button {
    margin: 5px; 0;
    padding: 10px;
}

main .contact button {
    color: #540B51;
    background-color: white ;
}

main .contact .button1 {
    color: white;
    background-color: #540B51 ;
}



@media (min-width: 768px) and (max-width: 1024px) {

    header {
        flex-direction: row;
    }

    header div.container {
        width: 500px;
        position: relative;
        right: -25%;
    }

    body .section1 div{
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
            }

    body .other-sections div img {
        padding: 15px 0;
        width: 60%;
    }

   .right-image {
    position: relative;
    right: -40%;
   }

   main .contact div {
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
   }

   .contact ul {
    display: flex;
    width: 90%;
    padding-left: 0;
}

   .contact {
    align-items: stretch;
   }


   main .contact div button {
    flex-grow: 1;
   }
}
