@media(min-width:1024px) {
    .fullSize {
        display: flex;
        flex-direction: row-reverse;
    }
    .fullSize div {
        width: 50%;
    }
    .whereWork div {
        width: 100%;
        justify-content: flex-start;
    }
    .companies {
        flex-direction: row;
    }
    .companies div {
        width: 33%;
    }
    .companies div:nth-child(5) {
        border-right: solid 1px lightgray;
        border-bottom: none;
    }
    .companies div:nth-child(4) {
        border-right: solid 1px lightgray;
        border-bottom: none;
    }
    .companies div:nth-child(1) {
        border-right: solid 1px lightgray;
    }
    .companies div:nth-child(2) {
        border-right: solid 1px lightgray;
    }
    .language {
        margin-right: 20px;
    }
}