/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
* {
  border: 2px solid black;
}

/*This is style for the small screens*/

html {
  width: 100%;
  text-align: center;
  margin: 0%;
  padding: 0%;
}
body {
  width: 100%;
  text-align: center;
  margin: auto;

  margin-left: 0;
}
.nav-menu {
  margin: 0%;
  background-color: #f4f3f4;
  width: 1100;
  position: sticky;
  display: flex;
  margin-bottom: 5%;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid rgba(195, 177, 177, 0.309);
}
.hamburger-menu ul > li {
  margin-left: 40px;
}

.hamburger-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}
.nav-menu img {
  width: 100px;
  height: 75px;
}

.nav-items {
  display: block;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

#hamburger-menu ul {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0px;
  width: 200px;
  height: 100%;
  background-color: #3d0e61;
  padding: 0px 10px;
  box-sizing: border-box;
}

header {
  width: 1100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.titel-img {
  width: 100%;
  margin-right: 10%;
}

.title h1 {
  width: 70%;
  font-size: 66px;
  text-align: left;
  padding-left: 5%;
  color: #2c303f;
}

.title p {
  color: #5b5e6d;
  line-height: 1em;
  text-align: center;
}
.email {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: white;
}

#email-box {
  width: 40%;
  height: 50px;
  border: 1px solid #5b5e6d;
  margin-bottom: 2%;
  border-radius: 5%;
}
.button {
  width: 40%;
  height: 50px;
  background-color: #192592;
  color: #f4f3f4;

  border-radius: 5%;
}
.email p {
  color: #5b5e6d;
  font-size: small;
}
.email a {
  color: #192592;
  font-size: small;
}
.email h1 {
  color: black;
  font-size: 22px;
  margin-bottom: 0;
}
header img {
  width: 100%;
  text-align: center;
}
main {
  background-color: #f4f3f4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.main-box {
  text-align: center;
}
.main-img {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 22%;
}
.main-img img {
  width: 50%;
  padding: 5%;
  border-bottom: 1px solid #5c658849;
}
#dis-button {
  width: 40%;
  height: 50px;
  background-color: white;
  color: #192592;
  border: 1px solid #5c658849;
  border-radius: 5%;
}
footer img {
  margin-left: 0%;
}
.list-box {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: left;
}
.list-box ul li {
  color: #5b5e6d;
  padding: 3%;
  font-family: sans-serif;
}
footer {
  width: 100%;
}

footer ul {
  list-style: none;
}
.about {
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.about img {
  width: 150px;
}
.footer-h {
  color: #2c303f;
  font-weight: bolder;
  font-family: Impact;
  size: 2em;
  padding: 2%;
}
.footer-bottom {
  width: 100%;
  background-color: #f4f3f4;
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: space-between;
}
.footer-bottom1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.footer-bottom2 {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.footer-bottom2 img {
  width: 30px;
  padding-right: 5%;
}

.footer-bottom3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.footer-bottom3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #5b5e6d;
}
