/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@media (max-width : 768px){

  body {
    color: #5b5e6d;
    padding: 0 5%;
  }
  nav{
    position: fixed;
    background-color: white;
    height:100px;
    width: 100%;
  }

  .backgroundGrey{
    background-color: #F4F3F4;
    text-align: center;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
  
  }
  .hamburgerMenuBar {
    width: 35px;
    height: 5px;
    background-color: #5b5e6d;
    margin: 2px 0;
}

  .hamburgerContent{
    display: none;
  }
  
  .talking{
    text-align: center;
    width: 100%;
  }

  h1 {
    padding-top: 150px;
    color: #2C303F;
    font-size: 41px;
    width: 82%;

  }
  .firstPar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }



  .email {
    text-align: center;
    border: 2px solid #F4F3F4;
    border-radius: 8px;
    width: 90%;
    padding: 15px;

  }
  .get-started {
    background-color: #192592;
    color: white;
    text-align: center;
    padding: 15px 32px;
    width: 90%;
    border : 1px solid transparent;
    border-radius: 8px;
  }

.discover {
  background-color: white;
  color: #192592;
  text-align: center;
  padding: 15px 32px;
  width: 90%;
  margin: 0 auto;
  border : 1px solid #192592;
  border-radius: 8px;

}

.elise {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logos{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  align-items: center;
}
.logosSize{
 width: 40vw;
 padding: 10px;

}

.footerLogo{
  text-align: center;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.list {
  padding: 5px 10px;
  list-style-type: none;
}

.list>li{
padding: 8px
}

.lastFlex {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

.english {
  font-family: Arial, Helvetica, sans-serif;
}
}



/* ---------------------- */




@media (min-width : 768px){

  body {
    color: #5b5e6d;
    padding: 0 5%;
  }
  nav{
    position: fixed;
    background-color: white;
    height:100px;
    width: 100%;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
  
  }
  .hamburgerMenuBar {
    width: 35px;
    height: 5px;
    background-color: #5b5e6d;
    margin: 2px 0;
}

  .hamburgerContent{
    display: none;
  }

  .backgroundGrey{
    background-color: #F4F3F4;
    text-align: center;
  }

  .talking{
    text-align: center;
    width: 100%;
  }

  h1 {
    padding-top: 150px;
    color: #2C303F;
    font-size: 41px;
    width: 82%;

  }
  .firstPar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }


  .elise {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .email {
    text-align: center;
    border: 2px solid #F4F3F4;
    border-radius: 8px;
    width: 60%;
    padding: 15px;

  }
  .get-started {
    background-color: #192592;
    color: white;
    text-align: center;
    padding: 15px 32px;
    width: 40%;
    border : 1px solid transparent;
    border-radius: 8px;
  }

.discover {
  background-color: white;
  color: #192592;
  text-align: center;
  padding: 15px 32px;
  width: 30%;
  margin: 0 auto;
  border : 1px solid #192592;
  border-radius: 8px;

}

.logos{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 20px 10px;
  align-items: center;
}
.logosSize{
 width: 40vw;
 padding: 10px;
}

.footerLogo{
  text-align: center;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.list {
  padding: 5px 10px;
  list-style-type: none;
}

.list>li{
padding: 8px
}

.lastFlex {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

.english {
  font-family: Arial, Helvetica, sans-serif;
}
}

@media (min-width : 1200px){
  body{
    background-color: red;
    }
}