/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS*/
body {
    color: #5b5e6d;
}

nav {
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5b5e6d;
}
 
nav img {
    width: 25%;
    height: 25%;
    margin-left: 5%;
}

/* nav ul{
    margin-right: 5%;
} */

nav i{
    margin-right: 5%;
    font-size: 10%;
}

header{
    padding-top: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

header img{
    order: 1;
}

header h1 {
    color: #2C303F;
    font-size: 32px;
    font-weight: bold;
    width: 78%;
    margin-bottom: 5%;
    
}

header p {
    width: 78%;
}
img {
    width: 100%;
}

header input {
    color: #5b5e6d;
    width: 76%;
    padding: 4% 2%;
    border: 1px solid #5b5e6d;
    border-radius: 3px;
    margin-bottom: 5%;
    margin-top: 10%;
}

header button {
    background-color: #192592;
    color: white;
    border-radius: 3px;
    border: 1px solid  #192592;
    width: 80%;
    padding: 4% 0%;
    margin-bottom: 5%;
}

.signin{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10%;
}

header img {
    height:80%;
    width: 80%;
}

main{
    background-color: #F4F3F4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid #5b5e6d;
    border-bottom: 1px solid #5b5e6d;
}

main img{
    width: 50%;
}

.discoverywhy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discoverywhy h2 {
    color: #2C303F;
    margin-top: 10%;
    font-size: 28px;
    font-weight: bold;
}

.discoverywhy p {
    text-align: center;
    margin-top: 5%;
    width: 80%;
}

.discoverywhy button {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    color: #192592;
    border-radius: 3px;
    border: 1px solid  #192592;
    width: 80%;
    padding: 4% 0%;
    margin-top: 10%;
}

.logos{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.logos img{
    height: 100%;
}

.ultimo-logo {
    margin-bottom: 10%;
}

hr {
    background-color: #5b5e6d;;
    width: 80%;
    margin-top: 10%;
}

.tryitforfree {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #5b5e6d;
}

.tryitforfree h2 {
    color: #2C303F;
    margin-top: 10%;
    font-size: 28px;
    font-weight: bold;
}

.tryitforfree p {
    margin-top: 2%;
}

.tryitforfree input {
    color: #5b5e6d;
    width: 76%;
    padding: 4% 2%;
    border: 1px solid #5b5e6d;
    border-radius: 3px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.tryitforfree button {
    background-color: #192592;
    color: white;
    border-radius: 3px;
    border: 1px solid  #192592;
    width: 80%;
    padding: 4% 0%;
    margin-bottom: 10%;

}

.slackico{
    width: 35%;
    height: 35%;
    margin-bottom: -5%;
}

.bottom-menu1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 5%;
}

.bottom-menu1 li{
    margin-top: 15%; 
}

.bottom-menu2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 10%;
}

.bottom-menu2 li{
    margin-top: 15%; 
}

.titlelist{
    font-weight: bold;
}

.bottom-menu3{
    background-color: #F4F3F4;
}

.terms li{
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}

.terms ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 5%;
    font-weight: bold;
    margin-bottom: 5%;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5%;
}

.language img{
    width: 8%;
    height: 8%;
    margin-right: 2%;
}

.language i{
    margin-left: 2%;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.social i{
    margin-right: 3%;
}

@media (max-width: 961px) and (min-width: 768px){

header{
    padding-top: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start; 
    margin-left: 5%;
}

header .email{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 4% 0% 2% 0%;
}

header .email input{
    width: 50%;
    margin: 0;
    padding: 2%;
}   

header .email button{
    width: 20%;
    margin: 0;
    margin-left: 2%;
    padding: 2%;
}

.signin{
    display: flex;
    justify-content: start;
}

.signin p{
    display: flex;
    justify-content: start;
}

.signin a {
    margin-left: 1%;
}

header img {
    width: 60%;
}

.discoverywhy button{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.rowlogo1{
    display: flex;
    flex-direction: row;
}

.rowlogo1 hr{
    position: absolute;
    width: 0%;
    height: 0%;
}

.rowlogo2{
    display: flex;
    flex-direction: row;
}

.rowlogo2 hr{
    position: absolute;
    width: 0%;
    height: 0%;
}

.rowlogo3{
    display: flex;
    flex-direction: row;
}

.rowlogo3 hr{
    position: absolute;
    width: 0%;
    height: 0%;
}

.logos {
    width: 50%;
    height: 50%;
}

.tryitforfree{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0%
}

.tryitforfree input {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 5%;    
}

.tryitforfree button{
    width: 50%;
    height: 50%;
    padding: 5%;
}

.tryitforfreeform {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tryitforfreeform button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 3%;
}

.colum-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slackico {
    width: 75%;
    height: 50%;
}

.bottom-menu1-1{
    margin-right: 10%;
}

.bottom-menu1-2 {
    margin-right: -10%;
    margin-left: 10%;
}

.bottom-menu2-1{
    margin-right: 10%;
}

.bottom-menu2-2{
    margin-right: 20%;
}

.bottom-menu3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.terms{
    width: 40%;
}
.terms ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.language{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.bottom-menu3 img{
    width: 10%;
    height: 40%;
}

.social{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social i {
    margin-left: 20%;
}

}