nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 7%;
    background: white;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    z-index: 1;
    width: 100%;
    height: auto;
    
}

nav > img{
    max-height: 70px;
    margin-left: 3%;

}
header{
    color: black;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 120px;
    text-align: center;
    margin-left: 3%;

}
header > h1{
    text-align: left;
    width: 26%;

}
header > p{
    width: 27%;
    text-align: left;
    line-height: 149%;
  
}
input{
    margin: 3%;  
    margin-left: 0%;
    width: 38%;
    height: 28px;

}
button{
    background: blue;
    border-radius: 7px;
    font-family: "Raleway", sans-serif;
    padding: 2%; 
    font-weight: bold;
    margin-left: 0%;
    color: white;
    width: 40%;
    box-shadow: none;
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid white;

}
#special{
    margin-left: 6%;
}
header > img{
    max-width: 640px;
    margin: 2%;
    position:relative;
    left: 24%;
}
main{
 
    flex-direction: column;
    position: relative;
    top: 70px;
}
main > div{

    text-align: center;
    background: lightgrey;
    position: relative;
    left: 1%;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    margin-right: 17px;
}
main > div > div > img{
        
    position: relative;
    margin: 20px 15px;
    left: 15%;
    height: auto;
  

}
main > div > p{
    width: 50%;
    position: relative;
    left: 25%;
    margin-bottom: 50px;
}
main > div > button{
    margin-bottom: 30px;
    background-color: white;
    color: blue;
    border: 1px solid blue;
    position: relative;
    left: 30%;
}
#blue{
    background: blue;
    color: white;
    border: 2px solid white;
}
.notsomuch{
    margin-bottom: 2px;
    margin-top: 2px;
}
#footerInput{
    position: relative;
    left: 30%;
}
hr{
    width: 66%;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.2;
}
footer{
    position: relative;
    top: 55px;
}
footer > div{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    line-height: 36px;
    margin-left:13%;
    font-family: "Raleway", sans-serif;

    

}
#extras{
    margin-left: 24px;
}
#termsconds{
    background: lightgrey;
    width: 69%;
}
#termsconds > ul{
    display: inline-flex;
    font-weight: bold;
    list-style-type: none;

}
.lit{
    margin: 10px;
}
.fat{
    position: relative;
    top: 177px;
    width: 5%;
    height: 25%;
    opacity: 0.2;
    right: 163px;
}
figcaption{
    position: relative;
    top: 30%;
    right: 16%;
}
footer > div > img{
    position: relative;
    right: 14%;
    bottom: 4px;
}
.hellothere{
    position: relative;
    top: 97px;
    right: 10%;
}
#special980{
    justify-content: center;
    display: flex;
    flex-direction: row;
    max-width: 80%;

}
br, hr{
    display: none;
}
