/*  TABLET Widths 768px X 992px) */
@media (min-width:768px) and (max-width: 991px){
    *{
        font-size: 20px;
    }

    .logos1 {
        scale: 300%;
        align-items: center;
        margin: 20px;
        padding: 0px 0px 30px 0px;
    }
    
    .logos2 {
        scale: 220%;
        align-items: center;
        margin: 10px;
        padding: 0px 0px 10px 20px;
    }
    
    .logos3 {
        scale: 220%;
        align-items: center;
        margin: 10px;
        padding: 0px 0px 15px 0px;
    }
    
    .logos4 {
        scale: 160%;
        align-items: center;
        margin: 20px;
        padding: 0px 0px 0px 0px;
    }
    
    .logos5 {
        scale: 440%;
        align-items: center;
        margin: 10px;
        padding: 0px 15px 0px 0px;
    }
    
    .logos6 {
        scale: 220%;
        align-items: center;
        margin: 10px;
        padding: 0px 0px 2px 35px;
    }
}



/*  Mobile S  */
*{
   padding: 0;
   margin: 0; 
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
}

.div-nav-bar{
    background-color: #540B51;
    padding: 20px 0px ;
    width: 100%;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-topo{
    scale: 220% ;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left
}

.header-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #540B51;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 15px 0px;
 }

 h1{
    font-size: 2.3rem;
    text-align: center;
    padding: 20px;
    width: 80vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }

.btn-topo {
    display: flex;
    flex-direction: row;
    background-color: #540B51;
    border: 0px;
    margin: 10px;
    width: 20px
}

.hidden-menu {
    display: none;
   }

img{
    width: 50px;
}

.buttons-nav{
    display: flex;
    flex-direction: row;
}

.bold-orange{
    color: orange;
    font-weight: bold
}

.btn-logs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sign-in{
    margin: 15px;
    padding: 15px 90px;
    font-weight: bold;
    color: purple;
}

.sign-in2 {
    width: 90%;
    padding: 0px 10px;
    font-weight: bold;
    background-color: blue;
    color: rgb(255, 255, 255);
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
}

.google-logo {
    scale: 65%;
}

.google-span {
    width: 100%;
    padding: 20px 10px;
}

.main-div-image  {
    width: 100%; 
    padding: 0px 0px 0px 0px;
    
}

.main-image {
    width: 100%; 
    padding: 0px 0px
}

.p-title {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.section-fundo {
    padding: 10px 0px;
    background-color: #F3EAE2;
}

.section-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sub-div-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.logos1 {
    scale: 150%;
    align-items: center;
    margin: 10px;
    padding: 0px 0px 15px 0px;
}

.logos2 {
    scale: 110%;
    align-items: center;
    margin: 10px;
    padding: 0px 0px 5px 10px;
}

.logos3 {
    scale: 110%;
    align-items: center;
    margin: 10px;
    padding: 0px 0px 15px 0px;
}

.logos4 {
    scale: 80%;
    align-items: center;
    margin: 10px;
    padding: 0px 0px 0px 0px;
}

.logos5 {
    scale: 320%;
    align-items: center;
    margin: 10px;
    padding: 0px 15px 0px 0px;
}

.logos6 {
    scale: 220%;
    align-items: center;
    margin: 10px;
    padding: 0px 0px 2px 35px;
}

h2 {
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 15px;
}

p{
    font-size: 1.1rem;
    margin: 15px;
}

a{
    font-size: 1.1rem;
    margin: 15px;
    font-weight: bold;
    color: #2E71A6
}

h3 {
    color: black;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 50px 25px 10px 25px;
}

.centered-text{
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
}

.percentage{
    font-size: 4rem;
    color: purple;
    text-align: center;
    font-weight: bold;
}

.textos{
    width: 80%;
    vertical-align: center;
    margin-left: 10%;
    margin-bottom: 5%;
}

.botoes-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.btn-end{
    width: 100%;
    padding: 10px 10px;
    margin: 5px;
    color: white;
    border: 0px;
    background-color: purple;
    text-align: center;
    font-weight: bold;
}

.btn-end2{
    width: 100%;
    padding: 10px 10px;
    margin: 5px;
    color: purple;
    border-color: purple;
    border-style:solid;
    background-color: white;
    text-align: center;
    font-weight: bold;
}

.last-section{
    background-color: purple;
    width:100%;
}

.last-div-section{
    width:80%;
    padding:0px 0px 10px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
}

.last-h3{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2rem
}

.btn-end3{
    width: 100%;
    padding: 10px 10px;
    margin: 5px;
    color: white;
    border-color: white;
    border-style: solid;
    background-color: purple;
    text-align: center;
    font-weight: bold;
}

.btn-end4{
    width: 100%;
    padding: 10px 10px;
    margin: 5px;
    color: purple;
    border: 0px;
    border-style:solid;
    background-color: white;
    text-align: center;
    font-weight: bold;
}

.img-footer{
 margin: 15px 15px;
} 

.footer-div1{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
}

.footer-text{
    margin: 8px;
    font-size: 0.7rem;
    padding: 10px 0px 0px 0px;
    
} 

.footer-text-title{
    margin: 0px;
    font-size: 0.8rem;
    font-weight: bold;
    
} 

.footer-text-small{
    margin: 8px;
    font-size: 0.7rem;
    padding: 10px 0px 0px 0px;
    
} 

.footer-text-title2{
    margin: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    border: 0.5px 0px 0.5px 0px
    
} 

.final-ul{
    margin-top: 25px;
    margin-bottom: 25px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}    

li{
    list-style-type:none;
}
/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


