/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


@media (max-width: 768px) {
   body {
      font-family: sans-serif;
      max-width: 100%;
   }

   ul {
      list-style-type: none;

   }

   nav {
      display: flex;
      flex-direction: row;
      background-color: #540B51;
      justify-content: space-evenly;
      height: 100px;
   }

   nav>div {
      display: flex;
      justify-content: space-evenly;
   }

   div>img {
      display: flex;
      justify-content: flex-start;
      width: 30%;
      padding: 10px 10px;
      margin: 25px;
   }

   div>button {
      width: 20%;
      background-color: #540B51;
      margin-top: 5px;
      border: none;
   }


   header {
      background-color: #540B51;
      margin: 0;
   }

   header p {
      display: flex;
      justify-content: center;
   }

   h1 {
      color: white;
      display: flex;
      justify-content: center;
   }

   .google {
      display: flex;
      background-color: #4285F4;
      border: 10px;
      margin: 20px;
      border-radius: 3px;
      max-width: 100%;
      width: 90%;
     
   }

   .google img {
      background-color: white;
      width: 5%
   }

   .sign-up {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 230px;
      color: white;
      text-align: center;
   }

   .email {
      display: flex;
      color: purple;
      background: white;
      border: 10px;
      margin: 20px;
      padding: 15px;
      border-radius: 3px;
      max-width: 100%;
      width: 90%;
      justify-content: center;
      font-size:20px;
   }

   .slack-app {
      display: flex;
      align-content: center;
      max-width: 100%;
      width: 85%;
   }

   .companies {
      background-color: rgb(184, 181, 181);
      padding: 25px 10px;
   }

   .companies p{
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
   }

   .companies .logos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px 20px;
   }
   .companies img{
      max-width:20%;
      max-height: 20%;
   }

   .companies .nytimes{
      max-width:30%;
      max-height: 20%;
   }

   .teams {
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
   }

   .teams h3,
   .teams span {
      color: purple;
      font-size: 40px;
      font-weight: bolder;
   }

   .digi-hq {
      display: flex;
      background-color: purple;
      color: white;
      padding: 2px;
      flex-direction: column;
   }

   .digi-hq h3 {
      font-size: 34px;
      padding: 20px 90px;
      /* justify-content: center; */
      display: flex;
      align-items: center;
   }

   .digi-hq button {
      width: 90%;
      font-size: 20px;
      padding: 10px;
      margin: 10px 20px;
      border-radius: 10px;
   }

   .digi-hq .free {
      color: purple;
      background: white;
   }

   .digi-hq .sales {
      color: white;
      background: purple;
      border: 2px solid white;
   }

   footer {
      width: auto;
      max-width: 100%;
      flex-direction: column;
      padding: 20px 10px;

   }

   .links {
      color: black;
      padding: 0px;
      font-size: 12px;
      font-weight: bold;
   }

   .links li {
      padding: 0px 0px 20px 0px;
   }

   .download {
      color: rgb(11, 144, 239);
   }

   .social-media {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }











}