/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

nav {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

nav ul {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 30%;
  position: absolute;
  right: 100px;
  top: 10px;
}

nav li {
  color: #5b5e6d;
  text-decoration: none;
  list-style: none;
}

nav img {
  margin-left: 50px;
  width: 10%;
  height: 5%;
}

.square {
  border: 1px solid #ebebeb;
}

header {
  position: relative;
}

header img {
  margin: 87px;
}

.workHappens {
  display: inline-block;
  width: 36%;
  position: absolute;
  top: -7px;
  right: 92px;
}

.workHappens h1 {
  font-size: 72px;
}

.workHappens p {
  color: #5b5e6d;
}

header button {
  color: white;
  background-color: #192592;
  padding: 16px 28px;
  border: none;
  border-radius: 3px;
}

main {
  position: relative;
}

.company {
  background-color: #F4F3F4;
  padding-bottom: 60px;
}

.company h2 {
  text-align: center;
  padding-top: 72px;
  font-size: 40px;
}

.company p {
  text-align: center;
  font-size: 23px;
  color: #5b5e6d;
}

.company button {
  padding: 20px 32px;
  position: absolute;
  top: 220px;
  left: 625px;
  background-color: white;
  color: darkblue;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #192592;
  border-radius: 3px;
}

.threeImages {
  display: flex;
  flex-direction: row;
}

.lastImages {
  display: flex;
  flex-direction: row;
}

main img {
  width: 25%;
  height: 7%;
  margin: 40px;
}

.images {
  margin-top: 125px;
  margin-left: 78px;
}

.cabecera {
  font-size: 30px;
}

.try {
  position: relative;
}

.try .text {
  color: #5b5e6d;
  margin-top: -20px;
}

.try a {
  color: blue;
}

.try button {
  position: absolute;
  right: 107px;
  top: 21px;
  color: white;
  background-color: #192592;
  padding: 16px 28px;
  border: none;
  border-radius: 3px;
}

.cabeceraText {
  margin-left: 70px;
}

footer {
  margin-top: 100px;
}

.theLast {
  flex-direction: row;
  display: flex;
  padding-bottom: 50px;
}

.imageFooter img {
  width: 106px;
  height: 95px;
  margin-left: 37px;
  margin-right: 300px;
}

footer li {
  list-style: none;
  color: #5b5e6d;
  font-family: sans-serif;
  margin: 20px 50px;
  font-size: 12px;
}

footer .h1 {
  font-weight: bold;
}

.credits {
  background-color: #F4F3F4;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 50px;
}

.credits ul {
  display: inline-block;
  margin-top: 50px;
}

.credits li {
  display: inline-block;
  margin: auto 10px;
}

.BanderaEng {
  position: absolute;
  right: 30px;
}
