/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #540b51;
  padding: 25px;
}

nav,
nav div {
  display: flex;
  justify-content: space-between;
}

nav img {
  max-width: 200px;
}

nav .block-left {
  align-items: center;
}

button#search,
button#menu-mobile {
  background-color: #540b51;
  border: none;
  margin-right: 20px;
}

header {
  background-color: #540b51;
  color: white;
  text-align: center;
  padding: 50px 25px;
}

header p {
  padding: 25px 0;
}

.span-color {
  color: #ecb12f;
}

.bt-stl1,
.bt-stl2 {
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  padding: 5px;
  margin: 10px 0;
}

.bt-stl1 {
  color: #540b51;
}

.bt-stl2 {
  background-color: #4285f4;
  display: flex;
  align-items: center;
  border: none;
  justify-content: space-evenly;
}

.bt-stl2 img {
  width: 30px;
  background-color: white;
  border-radius: 5px;
}

.bt-stl2 span {
  text-align: center;
}

.hero {
  padding: 25px;
}

.hero img {
  width: 100vh;
}

.companies {
  background-color: #f3eae2;
  padding: 20px;
}

.companies p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.companies div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.companies div img {
  height: 30px;
  padding: 10px;
}

.team {
  background-color: #f3eae2;
  display: flex;
  flex-direction: column;
}

.team img {
  width: 90vw;
}

.team .team-div {
  padding: 20px;
}

.team .team-div p {
  padding: 10px 0;
}

.team .team-div a {
  text-decoration: none;
  color: #4285f4;
}

.team .team-div a:after {
  content: "\2192";
}

.reverse-elements {
  flex-direction: column-reverse;
  align-items: end;
}

.white-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.white-section p {
  padding: 10px 0;
}

.white-section div {
  display: flex;
  flex-direction: column;
}

.white-section div .meet-bt {
  background-color: #540b51;
  padding: 25px;
}

.white-section div .meet-bt,
.white-section div .talk-bt {
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.white-section div .meet-bt {
  background-color: #540b51;
  color: white;
}

.white-section div .talk-bt {
  background-color: white;
  color: #540b51;
  border: 1px solid #540b51;
}

.white-section ul {
  padding: 50px 0;
}

.white-section ul li {
  list-style: none;
}

.white-section ul li p span {
  color: #540b51;
  font-size: 1.75rem;
  font-weight: bold;
}

.white-section ul li p {
  font-size: 0.75rem;
  font-weight: bold;
}

.purple-section {
  background-color: #540b51;
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: white;
  text-align: center;
}

.purple-section div {
  display: flex;
  flex-direction: column;
}

.purple-section h3 {
  padding-bottom: 25px;
  font-size: 1.5rem;
}

.purple-section .try-bt,
.purple-section .sales-bt {
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}

.purple-section .sales-bt {
  background-color: #540b51;
  color: white;
  border: 1px solid white;
}

.purple-section .try-bt {
  background-color: white;
  color: #540b51;
}

footer {
  padding: 20px;
}

footer img {
  padding-bottom: 25px;
  width: 50px;
}

footer .footer-ul {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
  padding: 20px 0;
}

footer .footer-ul ul li:first-child {
  font-weight: bold;
  font-size: 0.75rem;
}

footer .footer-ul ul li {
  font-size: 0.6rem;
  padding: 5px;
}

footer .custom-ul li {
  font-weight: bold;
  padding: 10px;
  font-size: 0.75rem;
}

footer .custom-ul li.li-download {
  color: #2e71a6;
}

footer .social-media {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

footer div small {
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .purple-section div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .purple-section div button {
    min-width: 250px;
    padding: 25px;
    margin: 25px;
  }
  footer .custom-ul {
    display: flex;
    justify-content: space-between;
  }
  footer .social-media {
    justify-content: initial;
  }
  footer .social-media li {
    padding-right: 20px;
  }
  .purple-section div {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .team {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .team img {
    width: 50vw;
  }
  footer .custom-ul {
    display: flex;
    justify-content: space-between;
  }
  footer .social-media {
    justify-content: initial;
  }
  footer .social-media li {
    padding-right: 0 20px;
  }
  ul#menu {
    display: flex;
    list-style: none;
    margin-left: 50px;
  }
  ul#menu li {
    padding: 25px;
  }
  ul#menu li a {
    text-decoration: none;
    color: white;
  }
  ul#bts-header {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
  }
  ul#bts-header li a {
    text-decoration: none;
    padding: 0 20px;
    color: white;
  }
  ul#bts-header li.bt-stl0 a {
    background-color: white;
    color: #540b51;
    padding: 10px;
    min-width: 200px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .mobile {
    display: none;
  }
  header div .bts-header {
    display: flex;
  }
  header div .bts-header button {
    margin: 15px;
  }
  .white-section div {
    flex-direction: row;
    justify-content: center;
  }
  .white-section div button {
    min-width: 250px;
    margin: 25px;
  }
  .white-section ul {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
  }
  .white-section ul li {
    padding: 25px;
    max-width: 200px;
  }
}
