/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 10px;
}
a {
    text-decoration: none;
    color: white;
}
h3 {
    font-size: 3rem;
    padding: 50px 30px 0;
}
.bg-purple {
    background-color: #540B51;
}
.white-font {
    color: white;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-right {
    align-self: flex-end;
}
.button {
    width: 90vw;
    height: 50px;
    position: relative;
    border-radius: 5px;
    border: none;
    margin: 5px auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
 }
#nav-bar {
    height: 12vh;
    padding: 20px;
    border-bottom: 1px solid white;
}
#nav-bar div {
    align-items: center;
}
#nav-organizer {
    justify-content: space-evenly;
    list-style-type: none;
}
#nav-organizer li {
    padding: 0 10px;
    font-weight: 400;
}
#slack-lg {
    height: 30px;
}
.hide {
    display: none;
}
.nav-button {
    background-color: transparent;
    border: none;
    margin: 15px;
}
#header {
    flex-direction: column;
    align-items: center;
}
/* .hero {
    width: 100vh;
}
 */
 #hero-title {
    flex-direction: column;
    text-align: center;
 }
 #hero-title h1{
    font-size: 4rem;
    padding: 30px;
 }
 #hero-title p {
    color: #ECB12F;
    font-size: 1.2rem;
    margin-bottom: 10px;
 }
 #signin-btn{
    color:#540B51;
    background-color: white;
 }
 #google-btn {
    background-color: #4285F4;
 }
 #google-btn img {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 40px;
    background-color: white;
 }
 .hero img {
    margin: 15px auto;
    width: 500px;
    object-fit: cover;
 }
 /*----------------------------------------------- MAIN*/
 
.companies-section {
    text-align: center;
}
.companies-section p {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 30px;
    text-transform: uppercase;
}
main {
    background-color: #F3EAE2;
}
#main-img {
    text-align: center;
}
#main-img img {
    height: 100px;
    padding: 20px;
}
.specs {
    flex-direction: column;
    font-size: 1.6rem;
}
.specs img {
    width: 90vw;
    margin: 30px 0;
}
.specs h2 {
    padding: 20px 10px;
}
.specs p {
    padding: 0 10px 10px;
}
.specs a {
    padding: 0 10px 50px;
    color: #2E71A6;
}
.specs a img {
    width: 15px;
    margin: 0 5px;
}
.text-to-order {
    order: 1;
}
/*----------------------------------------CFA*/
#cfa {
    background-color: white;
    text-align: center;
}
#cfa > p {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 30px;
    text-transform: uppercase;
}
.dual-buttons {
    flex-direction: column;
    align-items: center;
}
.white-btn {
    background-color: white;
    border: 2px solid #540B51;
    color: #540B51;
}
#cfa ul {
    list-style: none;
    margin: auto;
    flex-direction: column;
}
#cfa ul span {
    color:#540B51;
    font-size: 5rem;
    font-weight: 700;
}
#cfa ul li {
    margin: 30px;
}
#cfa ul p {
    font-size: 1.2rem;
    font-weight: 600;
    width: 200px;
    margin: auto;
}
#welcome-section h3 {
    text-align: center;
    margin-bottom: 30px;
}
#welcome-section div {
    padding-bottom: 30px;
}
#talk-btn {
    border: 2px solid white;
}
/*--------------------------------------------FOOTER*/
footer {
    margin: 20px 10px;
}
footer img {
    width: 30px;
    margin-bottom: 20px;
}
footer ul {
    list-style: none;
}
.emph-text {
    font-size: 1.2;
    font-weight: 800;
}
footer ul li {
    margin: 10px 0;
}
#footer-links {
    flex-direction: column;
}
#footer-links img {
    width: 10px;
    margin: 0 5px;
}
hr {
    margin: 20px 0;
}
#download {
    color: #2E71A6;
}
.fab {
    font-size: 1.5rem;
}
@media (min-width: 769px) {
    .hide {
        display: inherit;
    }
    .visible {
        display: none;
    }
    
    #nav-link {
        width: 400px;
    }
    #header {
        flex-direction: row;
        padding: 30px 50px;
    }
    #hero-title {
        width: 50vw;
        text-align: left;
     }
     #hero-title h1{
        padding-left: 0;
     }
    #hero {
        width: 40vw;
    }
    #hero-buttons {
        justify-content: space-between;
        width: 100%;
    }
    .button {
        width: 250px;
        margin: 5px 0;
     }
     /*-------------------------------------------MAIN*/
     .specs {
        flex-direction: row;
        justify-content: space-between;
    }
    .specs img {
        width: 500px;
        height: auto;
    }
    .specs .text-container {
        width: 300px;
        margin: 0 30px;
    }
    .specs a {
        font-size: 1rem;
    }
    .text-to-order {
        order: -1;
    }
    /*-------------------------------------------CFA*/
    .dual-buttons {
        flex-direction: row;
        justify-content: center;
    }
    #cfa-buttons button {
        margin: 10px;
    }
    #cfa ul {
        flex-direction: row;
    }
    #welcome-section button {
        margin: 10px;
    }
    /*--------------------------------------------FOOTER*/
    #footer-links {
        flex-direction: row;
    }
    #social-media {
        justify-content: flex-start;
    }
    #social-media li {
        margin-right: 50px;
    }
}