/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/


/*nav{
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 1;
}*/

.navigation {
  display: flex;
  width: 100%;
  height: 120px;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; /*display items in one row*/ 
  justify-content: space-between;  /*flex-end;*/
  border-bottom: solid 1px rgba(230, 223, 223, 0.5);
}
.navigation img{

  height: 120px;

}
.navigation button{
  width: 100px;
}




.container-nav {
  display: flex; 
  justify-content: space-between;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/*.container-nav-justify  { 
  justify-content: space-between;
}*/

.flex-item {

  width: 20px;
}