/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
* {
  margin: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}
.container-menu {
  width: 100vw;
  position: fixed;
  z-index: 10;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.img-logo img {
  width: 150px;
  margin: 1% 2%;
}
.menu {
  margin-top: 1%;
  margin-left: 300px;
}

.menu ul li {
  display: inline-block;
  margin-right: 30px;
}
.workspace {
  border: 1px solid #5b5e6d;
  border-radius: 7px;
  padding: 10px;
}
.header {
  display: flex;
  padding-top: 10%;
  padding-right: 4%;
  margin: 0 3%;
}
.img-people img {
  width: 40vw;
}

.text-right {
  color: #2c303f;
  padding-left: 5%;
}
.text-right h1 {
  font-size: 5em;
}
.text-right p {
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 3%;
  font-weight: 150;
}
button {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #192592;
  border-radius: 5px;
  padding: 15px 25px;
}
.p-smaller p {
  font-size: 16px;
  font-weight: 100;
}
.main {
  height: 8%;
  background-color: #f4f3f4;
  margin-top: 7%;
}
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 25pt;
  padding: 2% 2%;
}
.main-heading p {
  padding-top: 0 3%;
  font-size: 12pt;
  font-weight: 100;
}
.second-button {
  margin-top: 30px;
  background-color: #fff;
  color: #192592;
  border-color: #192592;
}

.all-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5% 0;
}
.logo-single {
  width: 26%;
  padding: 30px;
}
.logo-single img {
  width: 45%;
  margin: 0 24%;
  justify-content: center;
}
.try {

  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 5% 3%;
  align-items: baseline;
}
.p-one {
  font-size: 18pt;
}
.p-two {
  font-size: 14pt;
}
.get-started button {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #192592;
  border: 1px solid #192592;
  border-radius: 5px;
  padding: 15px 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  padding: 5% 0;
  color: #5b5e6d;
}

.footer-img img {
  width: 150px;
}
.footer-text {
  text-decoration: none;
  width: 26%;
  font-size: 12pt;
}
.footer-text ul li {
  list-style: none;
  margin: 6px;
}


.footer-end {
  width: 100vw;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.img-logo img {
  width: 150px;
  margin: 1% 2%;
}
.footer-nav {
  margin-top: 1%;
  color: #5b5e6d;
}

.footer-nav ul li {
  display: inline-block;
  margin-right: 30px;
}
.language {
  display: inline-block;
  color: #5b5e6d;
}
.language img {
  width: 6%;
}


@media (max-width: 768px) {
  body {
      font-size: 24px;
  }
  .try{
    width: 100%
  }
  .menu {
      display: none;
  }
  .container-menu {
      width: 100vw;
      position: fixed;
      z-index: 10;
  }
  .buger-div {
      display: flex;
      height: 30px;
      width: 20px;
      flex-direction: column;
      justify-content: space-between;
  }
  .email{
    width: 100%;
    height: 50px;
    border: 0.5px solid black;
    font-size: 80%;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left:0px;
    text-align: center;
  }
  button {
      width: 100%;
      height: 50px;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-left:0px;
      font-size: 80%;
      letter-spacing: 2px;
      font-weight: 700;
  }
  .p-smaller {
      text-align: center;
  }
  .text-right {
      font-size: 50%;
  }
  .img-people img {
      width: 100%;
  }
  .all-logos {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }
  .logo-single {
      width: 150%;
      flex-wrap: nowrap;
  }
  .try {
      flex-wrap: wrap;
      width: 100%;
  }
  .footer img {
      width: 100%;
      height: 100%;
  }
  .footer-text {
      flex-direction: column;
      align-content: center;
  }
  .footer {
      font-size: 18px;
      line-height: 1.3;
  }
  .footer-nav {
      font-size: 14px;
  }
  .language img {
      margin-right: 10px;
  }
}

@media (max-width: 961px) {
  .menu {
      display: none;
  }
  .buger-div {
      display: flex;
      height: 30px;
      width: 300px;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 3%;
  }
  .email{
    width: 40%;
    height: 50px;
    border: 0.5px solid black;
    font-size: 80%;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left:0px;
    text-align: center;
  }
  .burger-lines {
      width: 50px;
      height: 3%;
      margin: 20% 20%;
      background-color: grey;
  }
  .header {
      flex-direction: row-reverse;
      flex-wrap: wrap;
  }

  .text-right {
      width: 80%;
      order: -1;
      margin-left: 10%;
      margin-top: 4%;
  }
  .logo-single {
      width: 50%;
      padding: 50px 0;
  }
}


@media (max-width: 1024px){
  .menu {
      display: none;
  }
  .buger-div {
      display: flex;
      height: 30px;
      width: 300px;
      flex-direction: column;
      justify-content: space-around;
  }
  
  .burger-lines {
      width: 50px;
      height: 3%;
      margin: 20% 20%;
      background-color: grey;
  }
  
}