/*******  ITERATION 1 ******/

/* Base Styles */

* {
  margin: 0;
}
body {
  background: #540b51;
  color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 390px;
  height: 58px;
  margin-bottom: 16px;
  padding: 7px;
  border-radius: 4px;
  border: none;
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  outline: inherit;
}
.button-icon {
  position: absolute;
  left: 8px;
  background: #fafafa;
  width: 28px;
  height: 28px;
  padding: 8px;
  border-radius: 2px;
}

.button-blue {
  background: #4285f4;
  color: #fafafa;
  margin: 0.5em;
  height: 3em;
  width: 4em;
}

.button-white {
  background: #fafafa;
  color: #540b51;
  margin: 0.5em;
  height: 3em;
  width: 4em;
}

.button-purple {
  background: #540b51;
  color: #fafafa;
  border: 2px solid #fafafa;
}

.text-regular {
  font-size: 20px;
  font-weight: 400;
}

.text-small-bold {
  font-size: 16px;
  font-weight: 800;
  color: #191817;
}

.numbers-large {
  font-size: 56px;
  font-weight: 800;
  color: #540b51;
}

.text-orange {
  color: #ecb12f;
  font-weight: 800;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em 2em;
}

nav > * {
  margin: 0.5em;
}

#nav-menu {
  display: inline;
  text-align: left;
}

#nav-menu li {
  display: inline;
  margin: 0.2em;
  font-size: 1.2rem;
}

nav > :nth-child(2) {
  flex-grow: 1;
}

#nav-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: row;
}

#nav-icons li {
  display: inline;
  margin: 0 10px;
}

.try-for-free {
  border: 1em solid white;
  background-color: white;
  color: #540b51;
  border-radius: 0.5em;
}

#search-icon,
#menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.slack-logo {
  width: 100px;
}

/* Header */
header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 3rem;
}
h1 {
  font-size: 50px;
  line-height: normal;
}

h3 {
  font-size: 44px;
  line-height: normal;
}

header div h1,
header div p {
  padding: 20px 18px;
  text-align: center;
}

header section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.header-image-container {
  width: 100%;
  height: 380px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.header-image-container img {
  width: 767px;
  position: relative;
  left: -50px;
}

/* Main */
/* Section one */

main > section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f3eae2;
  padding: 50px 16px;
}

main > section:first-child div {
  max-width: 460px;
}

main > section:first-child img {
  height: 44px;
  width: auto;
}

main > section:first-child p {
  color: #191817;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 24px;
}

main > section:first-child div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  row-gap: 40px;
  margin: 20px 0 0 0;
}

/* Section two */
main > section:nth-child(2) {
  text-align: center;
  background: #fafafa;
  color: #191817;
  padding: 50px 16px;
}

main > section:nth-child(2) h3 {
  margin-bottom: 12px;
  color: #540b51;
  padding: 40px 40px 12px;
}

main > section:nth-child(2) p {
  padding: 0 40px 12px;
}

main > section:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  padding: 48px;
  gap: 45px;
}

main > section:nth-child(2) ul li {
  width: 260px;
}

/* Section three */
main > section:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  padding: 20px 16px 40px;
}

main > section:nth-child(3) h3 {
  text-align: center;
  margin-bottom: 40px;
  padding: 40px 30px 12px;
}

/* Footer */
footer hr {
  border: 1px solid #e6e6e6;
}
footer {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  color: #454245;
  padding: 40px 20px;
  gap: 40px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-links > li:nth-last-child(2)::before {
  content: url("../images/icon-region.png");
  display: inline-block;
  margin-right: 8px;
}

.footer-links > li:last-child {
  color: #1264a3;
}

.footer-links > li:last-child::before {
  content: url("../images/icon-download.png");
  display: inline-block;
  margin-right: 8px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.footer-social li i {
  font-size: 24px;
  color: #454245;
}

footer div {
  text-align: center;
  color: #737373;
}

/*******  ITERATION 2 ******/

/* MEDIA QUERIES */
@media (min-width: 769px) and (max-width: 1023px) {
  /* Header */

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
  }

  header div:first-child {
    width: 45%;
  }

  .header-image-container {
    width: 35%;
    height: 380px;
    position: relative;
  }

  header div h1,
  header div p {
    text-align: left;
  }

  h1 {
    font-size: 60px;
    line-height: normal;
  }

  header div section {
    padding-left: 12px;
    align-items: flex-start;
  }

  .header-image-container img {
    height: 300px;
    width: auto;
    position: relative;
    left: 0;
  }

  /* Main */
  /* Section one */
  main > section:first-child {
    padding: 60px 40px;
  }

  h3 {
    font-size: 36px;
  }

  main > section:first-child div {
    margin-top: 40px;
    flex-wrap: nowrap;
    max-width: fit-content;
  }

  main > section:first-child img {
    height: 36px;
    width: auto;
  }

  /* Section two */
  main > section:nth-child(2) ul {
    flex-direction: row;
    align-items: baseline;
    margin-top: 24px;
    padding: 24px;
    gap: 20px;
  }

  main > section:nth-child(2) ul li {
    text-align: left;
  }

  /* Section three */
  main > section:nth-child(3) * {
    width: 520px;
  }

  /* Footer */
  .footer-links {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
  }

  .footer-social {
    justify-content: flex-start;
    gap: 80px;
  }

  footer div {
    text-align: left;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  nav ul {
    display: none;
  }

  #nav-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  button {
    min-width: 300px;
  }

  .button-icon {
    width: 20px;
    height: 20px;
  }
}
