header {
  flex-wrap: nowrap;
}

.trusted-companies {
  overflow: hidden;
}
.trusted-companies > div {
  flex-wrap: nowrap;
}
.trusted-companies img {
  height: 30px;
  width: auto;
}
.sec-images {
  height: 600px;
}

.teams-large-small ul {

}

.teams-large-small ul li {
  width: 150px;
  text-align: left;
}

.tls-btns {
  padding: 0 80px;
  display: flex;
  gap: 10px;
}

.tls-btns > button {
  /* display: none; */
  flex-basis: 20px;
}

.tls-btns > *:first-child {
  /* display: none; */
  flex-grow: 8;
}
.tls-btns > *:nth-child(2) {
  /* display: none; */
  flex-grow: 4;
}

footer .ul-status {
  display: flex;
  justify-content: space-between;
}
footer .social-media {
  justify-content: flex-start;
  gap: 50px;
}
