/* @media (min-width: 1024px)  */

nav li:not(:last-child) {
  display: inline-block;
}

nav li:last-child {
  display: none;
}

header {
  height: 430px;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: flex-start;
}

header h1 {
  width: 60%;
}

header p {
  width: 60%;
}

header form {
  width: 60%;
  flex-direction: row;
}

header form button {
  width: 180px;
}

header form input {
  display: none;
}

header p:last-child {
  width: 60%;
  text-align: left;
  margin-top: 0;
}

header > img {
  margin-top: 0;
  width: 350px;
}

.good-company h2 {
  width: 100%;
}

.good-company p {
  width: 100%;
}

.good-company button {
  width: 30%;
}

.good-company .brands {
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 80%;
  height: 300px;
}

.brands img {
  width: 30%;
}

.try-it {
  height: 120px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.try-it form {
  width: 50%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  height: 100%;
}

.try-it form input {
  display: none;
}

.try-it form button {
  width: 180px;
  margin-left: 10px;
}

footer > div:first-child {
  flex-direction: row;
  width: 90%;
}

footer .lists {
  flex-wrap: nowrap;
}

footer .lists ul {
  padding-left: 10px;
}

footer .lists ul:nth-child(even) {
  margin-right: 0;
}

footer .bottom {
  height: 100px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

footer .bottom ul {
  align-self: flex-start;
  margin: auto auto auto 20px;
}

.social {
  margin-right: 20px;
}

.language > * {
  margin: auto 5px auto 10px;
}

.social > * {
  margin: auto 5px auto 10px;
}
