/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {

}

* {
  width: 100%;
  height: auto;
}

.btest {
  border: 1px solid #000000;
}

.responsive {
  width: 100%;
  height: auto;
}

/*Media for Mobile*/
@media (max-width: 767px) {
  .responsive-div .header-image {
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
  }
 }

/*Media for Tablets*/
@media (min-width: 768px) and (max-width:966px) {
  .responsive-div {
    width: 100%;  
    position: fixed; 
    color:red;
  }
 }

 /*Media for PC*/
@media (min-width: 967) and (max-width: 1200px) {
  .responsive-div {
    width: 100%;
  }
 }
