header {
  flex-wrap: nowrap;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 150px;
  background: url(../images/background-singup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 80px;
}

header h1 {
  padding: 0;
  padding-right: 250px;
}

.signup-btns {
  padding: 0;
}

.header-app-img {
  margin-top: 0;
  align-self: center;
  height: auto;
  padding-left: 50px;
}

.header-app-img img {
  width: 500px;
}

main .sec-images {
  max-height: 400px;
}

main section .sec-text {
  align-self: center;
  max-width: 500px;
}
.trusted-companies {
  overflow: hidden;
}

.trusted-companies > div {
  flex-wrap: nowrap;
}

.trusted-companies img {
  height: 30px;
  width: auto;
}

.teams-large-small ul {
  margin: 0;
  padding: 50px 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}

.teams-large-small ul li {
  width: 150px;
  text-align: left;
}

.tls-btns {
  place-self: center;
  gap: 10px;
  width: 55vw;
  display: flex;
}

.tls-btns > button {
  flex-basis: 20px;
}

.tls-btns > *:first-child {
  flex-grow: 8;
}
.tls-btns > *:nth-child(2) {
  flex-grow: 4;
}

footer .ul-status {
  display: flex;
  justify-content: space-between;
}

footer .social-media {
  justify-content: flex-start;
  gap: 50px;
}
