/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
@import url("./_nav.largescreens.css");

/* fix to have no margin at the top */
body {
    margin-top:0px;
    background-color:#F4F3F4;
}
p {
    color:#5b5e6d;
}
/* mobile screens */
.spacer {
    height:100px;
}

header {
    text-align:center;
    display:flex;
    flex-direction:row-reverse;
    flex-wrap:nowrap;
}
header img {
    height:550px;
}
/* a bit bigger */
header h1 {
    font-size:3.5em;
}
header input {
    width:70%;
    margin-left:8px;
    margin-right:16px;
}
/*
@media (min-width:768px)and(max-width:960px){
    width:50%;
    margin-left:8px;
    margin-right:16px;
}
*/
button {
    background-color:#192592;
    color:white;
}
header button {
    height:40px;
    width:11em;
    margin-top:1em;
}

.signin {
    text-align:center;
}

/* DISCOVER */
.discoverslack {
    text-align:center;
}
.discoverslack button {
    width:70%;
}
.discoverslack img {
    height:39px;
    padding-bottom:8px;
    /* border-bottom:1px solid black; */
    margin-top:8px;
}
.discoverslack .separator {
    background-color:lightgrey;
    height:1px;
    width:90%;
    border-bottom:1px solid black;
    margin-top:8px;
}
.discoverslack .images {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    width:100%;
}
.discoverslack .images .image {
    width:32%;
    border-bottom:1px solid darkgray;
}

/* TRYIT */
.tryitforfree {
    text-align:center;
    margin-left:8px;
}
.tryitforfree input {
    width:70%;
    margin-right:16px;
}
.tryitforfree button {
    width:70%;
    margin-right:8px;
}

.footerlists {
    display:flex;
    /* justify-content:center; */
    flex-wrap:wrap;
    /* flex:2; */
}
.footerlists ul {
    min-width:19%; /* changed from 40% to 20%  */
    list-style-type: none;
}

/* FINALE */
.finale {
    position:relative;
    width:100%;
}
.finale ul {
    position:absolute;
    left:0px;
    display:flex;
    list-style-type: none;
    width:100%;
}
.finale ul li {
    /* width:33%;  to make the 3 items spread out over the entire width */
    margin-right:8px;
}
.finale img {
    height:50px;
}
.finale .localeandsocialmedia{
    position:absolute;
    top:0px;
    right:0px;
    display:flex;
    align-items: center;
}
/*
.finale .socialmedia {
    width:40%;
    margin:auto;
}
*/
.finale .locale {
    margin-right:8px;
    display:flex;
    align-items:center; /* did the trick in getting the text centered vertically next to the flag */
}


