/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
div, ul, li, p, header, footer {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #5b5e6d;
}

p, ul, span {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom:  1px solid #DDD;
}

.logo {
  margin-left: 2em;
  height: 50px;
}

@media (max-width: 740px) {
  nav ul {
    display: none;
  }
}



header::before {
  content: "";
  height: 80px;
}


header {
  margin: 0 2em;
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 3em;
  order: 1;
}

header > p {
  order: 2;
  text-align: center;
}

header img {
  align-self: center;
  order: 5;
  width: 350px;
}

header button {
  order: 3;
}

header button + p {
  order: 3;
}

main {
  border-top:  1px solid #DDD;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4em;
  background-color: #F5F5F5;
}
main h2 {
}

main img {
  width: 140px;
  padding-bottom: 4em;
  margin: 0 auto;
  display: block;
}

main img::after {
  width: 100%;
}

button {
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 1.5em 0;
  background-color: #1B1C9D;
  width: 100%;
  margin: 2em 0;
}

footer img {
  width: 120px;
}

footer li {
  font-size: .9em;
}

ul {
  list-style: none;
}

ul > :first-child {
  font-weight: bold;
}

.legal li {
  margin-bottom: 2em;
  font-weight: bold;
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #F5F5F5;
  font-size: 12px;
}
@media (min-width: 800px) {
  .legal {
    flex-direction: row;
    justify-content: space-around;
  }
  .legal li {
    display: inline-block;
  }
}
  /*.footer {
    background-color: red;
    display: flex;
    flex-direction: row;
  }
}*/


.legal ul {
  padding-left: 0;
}
.legal img {
  width: 20px;
}

.legal span {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 1em;
}

.social i {
  font-size: 20px;
  margin: 1em 1em 1em 0;
}

.flag {
  margin-bottom: -5px;
}
