/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    height: 5vw;
    border-bottom: 1px solid lightgray;
    position: fixed;
    width: 90vw;
    background-color: white;
    top: 0;
  }
  
  nav > img {
    width: 7vw;
  }
  
  nav > ul {
    display: flex;
    width: 34vw;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #5b5e6d;
    font-size: 1.4vw;
  }
  
  /* end of nav styling */
  
  /* header styling */
  
  header {
    display: flex;
    justify-content: space-between;
    height: 91vh;
    align-items: center;
    padding: 5vw 5vw 0 0;
  }
  
  header div {
    height: 70vh;
    width: 50vw;
  }
  
  header > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vw;
  }
  
  header > div:nth-child(1) > img {
    height: 34vw;
  }
  
  header > div:nth-child(2) > h1 {
    font-size: 6.7vw;
    margin: 0;
  }
  
  header > div:nth-child(2) > p:nth-child(2) {
    font-size: 2vw;
    line-height: 2.3vw;
  }
  
  .blueButton {
    padding: 1.8vw 3.3vw;
    border-radius: 5px;
    background-color: #3f48a8;
    color: white;
    font-size: 1.3vw;
  }
  
  header > div:nth-child(2) > p:nth-child(4) {
    font-size: 1.35vw;
  }
  
  /* end of header styling */
  
  /* main section styling */
  
  main {
    height: 88vh;
    padding-top: 5vw;
    background-color: #f4f3f4;
  }
  
  main > div img {
    width: 14vw;
  }
  
  .whiteButton {
    padding: 1.8vw 3.3vw;
    border-radius: 5px;
    background-color: white;
    color: #3f48a8;
    font-size: 1.3vw;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }