/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body{
    margin: 0;
    padding: 0;
}

.nav-logo{
    width: 120px; 
    margin-left: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.25px solid #bbb;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: white;
}

nav > ul{
    list-style: none;
    display: flex;  
    margin-right: 40px;
    align-items: center;
}

nav > ul > li{
    margin: 10px 20px;
    color:#5b5e6d;
    letter-spacing: 1.5px;
}

nav > ul > li:last-child{
    border: 1px solid #5b5e6d;
    border-radius: 3px;
    padding: 8px;
}

header{
    padding-top: 100px;
    display: flex;
}

header img{
    width: 500px;
}

header .column{
    width: 50%;
}

header .leftColumn{
    padding-left: 3%;
    padding-top: 80px;
}

header h1{
    font-size: 87px;
    line-height: 0.9em;
}

header .rightColumn{
    margin-right: 40px;
}

header .rightColumn p{
    font-size: 20px;
    color: #5b5e6d;
    line-height: 1.5em;
    letter-spacing: 1px;
}

header .rightColumn button, .try-free-section button{
    padding: 20px 40px;
    background-color: #192592;
    border-radius: 4px;
    color: white;
    font-size: 15px;
}

header > .rightColumn > .already-using{
    font-size: 14px;
}

main{
    margin-top: 200px;
}

.good-company{
    text-align: center;

}

.good-company > h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.good-company > p{
    color: #5b5e6d;
    font-size: 16px;
    letter-spacing: 1px;
}

.good-company > button{
    padding: 20px 40px;
    color: #192592;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    border: 1px solid #192592;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 50px;
}

.brand-images{
    display: flex;
    flex-wrap: wrap;
}

.brand-images .img-container{
    width: 33%;
    padding: 0 100px;
    height: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-images .img-container:nth-child(1){
    border-right: 0.5px solid #ddd;
    border-bottom:  0.5px solid #ddd;
}
.brand-images .img-container:nth-child(2){
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    border-bottom:  0.5px solid #ddd;
}
.brand-images .img-container:nth-child(3){
    border-left: 0.5px solid #ddd;
    border-bottom:  0.5px solid #ddd;
}

.brand-images .img-container:nth-child(4){
    border-right: 0.5px solid #ddd;
    border-top:  0.5px solid #ddd;
}
.brand-images .img-container:nth-child(5){
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    border-top:  0.5px solid #ddd;
}
.brand-images .img-container:nth-child(6){
    border-left: 0.5px solid #ddd;
    border-top:  0.5px solid #ddd;
}



@media (max-width: 1000px){
    .brand-images .img-container{
        width: 50%;
    }
}

.brand-images img{
    width: 75%;
}

main section{
    padding: 50px 30px;
    background-color: #F4F3F4;
    margin-bottom: 30px;
}


.try-free-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.try-free-section > div{
    margin: 0 40px;
}

.try-free-section h2{
    margin-bottom: 30px;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid #ddd;
    margin-top: 40px;
    padding-top: 50px;
}

.ul-container{
    display: flex;
    padding-right: 120px;
}

.ul-container > ul{
    list-style: none;
}

.ul-container > ul > li{
    margin: 15px;
    color: #5b5e6d;
    letter-spacing: 1px;
}

.ul-container > ul > li:first-child{
    font-weight: bold;
}

.main-footer img{
    width: 120px;
    margin-left: 30px;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-bar > div img {
    width: 20px;
}

.bottom-bar > ul > li {
    list-style: none;
    display: inline;
    margin-left: 50px;
}