/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body{
  
    width:auto;
    margin:0;
    background-color: #fff;
    color:#5b5e6d;
    font-size:2rem;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
    color:#2C303F;
}

a{
 color:#192592;   
}
ul {
    display: flex;
    list-style: none;
    flex-flow: column wrap;
}
button{
    background-color: #192592;
    border-radius: 15px;
    border-style: solid;
    border-color: #192592;
    padding: 40px 100px;
    width: 90vw;
    color:#fff;
    font-weight: bold;
    font-size:1.4rem;
    align-self:center;
}
input{
    color:#5b5e6d;
    border-radius: 15px;
    border-style: solid;
    border-color: #F4F3F4;
    margin: 20px 0px 40px 0px;
    padding: 40px;
    box-sizing: border-box;
    width: 90vw;
    font-weight: bold;
    font-size:1.4rem;
    align-self:center;
}

nav{
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between ;
     align-items: center;
     flex-wrap: wrap;
     position:fixed;
     background-color: #ffffff;
     width:100vw;
     height: 120px;
 }
nav>div {
    flex-direction: column;
    height: 10px;
    width:30px;
}
nav img{
    height: 80px;
    width: 140px;
    margin-left:5vw;
 }
nav img:last-of-type{
     height: 50px;
     width: 50px;
     margin: 40px;
 }
nav>ul{
     display:none;
 }
header{
     padding: 120px 30px 0 30px;
     display: flex;
     flex-flow: column;
 }
header>p:last-of-type{
    align-self:center;
 }
header img{
     order:1;
     height: 630px;
     width: 560px;
     align-self:center;
 }
main{
    display: flex;
    flex-wrap: wrap;
    background-color: #F4F3F4;
 }
main>div{
    padding: 0 20px;
    text-align: center;
 }
main>div:last-of-type{
     background-color: #fff;
 }
 main>div>div>p:first-of-type{
     font-weight: bold;
 }
main>div{
    border-top: 2px solid #d0d1d4;
}
main>div>div{
    border-bottom: 2px solid #d0d1d4;
    width: 70vw;
    justify-content: center;
    margin:0 auto;   
}
main>div>div:last-of-type{
    border:none;
}
main>div:first-of-type>button{
    background-color: #fff;
    border-color: #5b5e6d;
    color:#192592;
    margin: 30px 0;
    justify-content: center;
}
main img{
    width:50vw;
    margin: 40px 0;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 2px solid #d0d1d4;
    margin-top: 100px;
 }
footer>div:last-of-type{
    background-color: #F4F3F4;
}
footer>div:first-of-type{
    display: flex;
    flex-flow: row wrap;
 
}
footer>div:first-of-type>ul{
    width: 40vw;
}
footer>div:first-of-type>img {
    margin-right: 40vw;
}
footer>div:first-of-type>ul>li:first-of-type{
    font-weight: bold;
}
footer>div:first-of-type>ul>li{
    margin: 20px 0;
}
footer>div:last-of-type{
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

footer>div:last-of-type img{
    width:40px;
}
footer>div:last-of-type ul{
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding:0;
}

footer>div:last-of-type>div>div{
display: flex;
justify-content: center;

}
footer>div>div>div:last-of-type>i{
    margin: 20px;
}


@media (min-width: 768px) {
    header{
        display: flex;
        flex-flow: row wrap;
    }
    button{
        width: 230px;
        height: 80px;
        padding:0;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    input{
        width: 40vw;
        height: 80px; 
        margin:30px 0;
        margin-right: 20px;

    }
    header img{
        display: flex;
        margin-left: 10vw;
    }
    main>div:first-of-type>button{
        background-color: #fff;
        border-color: #5b5e6d;
        color:#192592;
        margin: 30px 35vw 70px 35vw;
        justify-content: center;
        display: flex;
    }
    main>div:first-of-type{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding:0 0 50px 0;
    }
    main>div:first-of-type>div{
        width:35vw;
        margin: 0px;
        padding: 0  ;
    }
    nav>ul{
        display:none;
    }
    main img{
        width:30vw;
        margin: 40px 0;
    }
   
    main>div>div:nth-last-of-type(2){
        border-bottom: none;
    }
    main>div>div:nth-of-type(2n){
        border-left: 2px solid #d0d1d4;
    }
    main>div:last-of-type{
        width: 100vw;
        display: flex;
        flex-flow: row nowrap;
    
    }
    main>div:last-of-type{
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        height: fit-content;
    }
    main>div:last-of-type>div{
        width: 30vw;
        align-self: center;
        font-size: 1.4rem;
    }
    main input{
        width: 30vw;
        height: 80px; 
        margin:30px 0;
        margin-right: 20px;

    }
    footer {
        margin: 10px;
    }
    footer>div:first-of-type{
        display: flex;
        flex-flow: row nowrap;
        font-size: 1rem;
    }
    footer>div:first-of-type>ul{
        width: 15vw;
        padding-left:20px;
    }
    footer>div:first-of-type>ul>li{
        margin:10px;
    }
    footer>div:last-of-type>ul>li{
        margin:0px 10px;
    }
    footer>div:first-of-type>img {
        margin-right: 5px;
        width:220px;
        height: 220px;
    }
    footer>div:last-of-type{
        display: flex;
        flex-flow: row nowrap;
        font-size: 1rem;
        justify-content: space-between;
    }
    footer>div:last-of-type>div{
        display: flex;
        flex-flow: row nowrap;
    }
    footer>div>div>div:last-of-type>i{
        font-size: 2rem;
    }
    footer span,footer i{
        align-self: center; ;
    }
    footer img{
        width: 40px;
        height: 40px;
        align-self: center;
    }
}
@media (min-width: 961px) {
    nav>ul{
        display:none;
    }
    main img{
        width:18vw;
        margin: 20px 0;
    }
   
    main>div>div:nth-of-type(4){
        border-bottom: none;
        border-left: none;
    }
    main>div>div:nth-of-type(2){
        border-left: 2px solid #d0d1d4;
        border-right: 2px solid #d0d1d4;        
    }
    main>div>div:nth-of-type(4){

        border-right: 2px solid #d0d1d4;        
    }
    main>div:first-of-type>div{
        width:25vw;
        margin: 0px;
        padding: 0  ;
    }
}

 
 