/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

div {
    border: solid 4px black
}

nav {
    border: dashed 4px red
}

header {
    border: solid 4px green
}

main {
    border: solid 4px blue
}

section {
    border: solid 4px orange
}

img {
    border: dashed 4px black
}

/* lo anterior era para aclararme con los elementos,
 lo dejo pero la intencion era quitarlo al final */



body {
    max-width: 100vw;
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: stretch;
}

nav {
    display: flex;
    background-color: #540B51;
    justify-content: space-between;
    align-items: center;
}

#nav-slack-div {
    display:flex;

    max-width: 1vw;
    flex-shrink: 10;
}

#nav-div-menu {
    display: flex;
    align-self: flex-end;

}
/* 
#img-slack *{
    flex-shrink: 50;
    padding: 2.5vh 2vw;
    flex-basis: auto;
} */

header {
    background-color: #540B51;
    height: 120vh;
    padding: 0 3vw
}

#header-div {
    height: ;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 3.5em;
}

header p {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

#google-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2vh;
}

#google-div button {
    height: 10vh;
    border-radius: 0.5em;
}

#google-div button:first-child {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    color: #540B51;
}

#google-div button:nth-child(2) {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #4285F4;
    display: flex;
}

#google-div button:nth-child(2) img {
    width: 10vw;
    background-color: white;
    border-radius: 0.2em;
    max-width: 100%;
    max-height: 100%;
    

}

#google-div button:nth-child(2) span {
    margin: auto;
    text-align: center;

}

#unicorn-div {
    padding-top: 2vh;
    height: 57vh;
    overflow: visible;
}

#unicorn-div img{
    height: 65vh;
    overflow: visible;
    position: absolute;
    left: -7vw;
}

main {
    background-color: #F3EAE2;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

section {
    width: 100vw
}

main section:first-child {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main section:first-child p {
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;

}
#banners-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#banners-div img{
    max-height: 7vh;

}









/* 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
}

body * {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
}

nav {
    background-color: #540B51;
}

#nav-div-slack {
    display: flex;
    width: 30vw;
    padding: 2.5vh 3vw;

}

#imagen1 {
    flex-shrink: 3;
}




@media (max-width: 767px) {
    nav {
        height: 60vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;        
        flex-direction: row;
    }

    #nav-div-slack {
        display: flex;
        order: 1;
        position: fixed;
        top:0;
        align-self: flex-start;

    }

    #nav-div-menu {
        display: flex;
        order: 3;
        position: fixed;
        top:0;
        align-self: flex-end;
    }

    header {
        margin-top: 60vh;
    }

} */