/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body {
  font-size: 16px;
}
img {
  max-width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  background: white;
  top: 0;
}
.logo {
  width: 120px;
}
nav > ul {
  display: none;
}
.burguer {
  width: 50px;
  height: 50px;
  margin-right:10px;
}
header {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 80px; /* PREGUNTAR LA FORMA CORRECTA*/
}
.button-signin {
  display: flex;
  align-items: center;
  flex-direction: column; 
}
.header-text{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5em; 
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F4F3F4;
  font-size: 1.5em;
}

.marcas img{
  background: #F4F3F4;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  max-width: 100%;
}
.footer-lists{
  display: flex;
  flex-direction: row;
  height: 600px;
  flex-wrap: wrap;
}
footer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 200px;
  font-size: 1.5em;
  line-height: 1.5em;
  
}
.footer-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.flag{
  width:80px;
}
.flag-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
}