/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
* {
  color: #5b5e6d;
}

@media screen and (min-width: 961px) and (max-width: 1700px) {
  body {
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }
  header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 1px solid #f4f3f4;
    position: fixed;
    font-size: 1.3vw;
    margin: auto;
    background: white;
    padding: 1vw;
  }
  /**/
  #btn-nav {
    display: none;
  }
  header img {
    width: 7vw;
    align-self: center;
  }
  header a {
    padding: 0.7vw;
    text-decoration: none;
    margin: 0 30px;
  }
  ul :nth-child(4) {
    border: 2px solid #f4f3f4;
    border-radius: 5px;
  }

  .headerassociated {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 2.5vw;
  }

  .associated {
    background-color: #f4f3f4;
    padding: 1.5vw 0;
  }

  .features {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }

  .features img {
    margin: 3vw 5vw;
  }
  .headerassociated p {
    font-size: 1.1vw;
  }

  .btn-get-asso {
    font-size: 0.9vw;
    background: white;
    border: 1px solid #192592;
    border-radius: 0.3vw;
    width: 11vw;
    height: 3.2vw;
    color: #192592;
    margin: 1vw 0;
  }
  .main {
    display: flex;
    margin: 1vw 2vw;
  }

  .main ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .main img {
    width: 50vw;
  }

  h1 {
    font-size: 4vw;
  }

  #textmain {
    text-align: justify;
    font-size: 1.4vw;
    margin: 0 4vw;
  }

  .btn-get {
    font-size: 0.9vw;
    background: #192592;
    border: 1px solid #192592;
    border-radius: 0.3vw;
    width: 11vw;
    height: 3.2vw;
    color: white;
    margin: 1vw 0;
  }

  .linkmain {
    font-size: 01vw;
  }

  .aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .aboutus div {
    margin: 2vw 4vw;
  }
  .aboutus p {
    font-size: 01vw;
  }

  .lastsection {
    display: flex;
    justify-content: space-around;
    margin: 2vw 4vw;
    font-size: 01vw;
    line-height: 2.3vw;
  }
  .lastsection div {
    display: flex;
  }

  .lastsection li {
    list-style: none;
  }
  .lastsection ul {
    margin: 0 3.5vw;
  }

  footer {
    display: flex;
    justify-content: space-between;
    font-size: 01vw;
    padding: 2vw 0;
    margin: 0 0;
    width: 100%;
    background-color: #f4f3f4;
  }
  footer div {
    margin: 0.1vw 3vw;
  }
  footer span,
  i,
  img {
    margin: 0 1vw;
    justify-content: baseline;
  }
}

/* MEDIA 967 PX --> */

@media screen and (min-width: 767px) and (max-width: 960px) {
  body {
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #f4f3f4;
    position: fixed;
    font-size: 1.3vw;
    background: white;
    padding: 0 3vw;
  }

  header img {
    width: 10vw;
    align-self: center;
  }

  header label img {
    padding: 0 4vw;
  }

  nav {
    display: none;
  }

  header label:hover {
    cursor: pointer;
  }

  header a {
    padding: 0.7vw;
    text-decoration: none;
    margin: 0 30px;
  }
  ul :nth-child(4) {
    border: 2px solid #f4f3f4;
    border-radius: 5px;
  }

  .headerassociated {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 4vw;
  }

  .associated {
    background-color: #f4f3f4;
    padding: 1.5vw 0;
    width: 100%;
  }

  .features {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }

  .features img {
    margin: 6vw 5vw;
    width: 20vh;
    height: auto;
  }
  .headerassociated p {
    font-size: 1.8vw;
  }

  .btn-get-asso {
    font-size: 1.6vw;
    background: white;
    border: 1px solid #192592;
    border-radius: 1vw;
    width: 20vw;
    height: 6vh;
    color: #192592;
    margin: 1vw 0;
  }
  .main {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    text-align: justify;
    margin: 1vw 2vw;
  }

  .main ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .main img {
    width: 80vw;
  }

  h1 {
    font-size: 5vw;
  }

  h3 {
    font-size: 2.5vw;
  }

  #textmain {
    text-align: justify;
    font-size: 2.2vw;
    margin: 0 4vw;
  }

  .btn-get {
    font-size: 2vw;
    background: #192592;
    border: 1px solid #192592;
    border-radius: 1vw;
    width: 20vw;
    height: 6vw;
    color: white;
    margin: 1vw 0;
  }

  .linkmain {
    font-size: 1.8vw;
  }

  .aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .aboutus div {
    margin: 2vw 4vw;
  }
  .aboutus p {
    font-size: 1.6vw;
  }

  .lastsection {
    display: flex;
    flex-direction: row;
    margin: 2vw 4vw;
    font-size: 1.7vw;
    line-height: 4vw;
  }
  .lastsection li {
    list-style: none;
  }
  .lastsection div {
    display: flex;
  }

  footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.8vw;
    padding: 2vw 0;
    width: 100%;
    background-color: #f4f3f4;
  }
  footer div {
    margin: 0.1vw 3vw;
  }
  footer span,
  i,
  img {
    margin: 0 1vw;
    justify-content: baseline;
  }
}

/*MEDIA SMALL SCREEN*/
@media screen and (min-width: 200px) and (max-width: 766px) {
  body {
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #f4f3f4;
    position: fixed;
    font-size: 1.3vw;
    background: white;
    padding: 1vw 3vw;
  }

  header img:nth-child(1) {
    width: auto;
    height: 10vw;
  }

  header label img {
    padding: 0 4vw;
  }

  nav {
    display: none;
  }

  header label:hover {
    cursor: pointer;
  }

  header a {
    padding: 0.7vw;
    text-decoration: none;
    margin: 0 30px;
  }
  ul :nth-child(4) {
    border: 2px solid #f4f3f4;
    border-radius: 5px;
  }

  .headerassociated {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 6vw;
  }

  .associated {
    background-color: #f4f3f4;
    padding: 1.5vw 0;
    width: 100%;
  }

  .features {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .features img {
    margin: 3vw 5vw;
    width: 40vw;
    height: auto;
    padding: 4vw 0;
  }
  .headerassociated p {
    text-align: center;
    font-size: 3.5vw;
  }

  .btn-get-asso {
    font-size: 3.5vw;
    background: white;
    border: 1px solid #192592;
    border-radius: 1vw;
    width: 85%;
    height: 10vh;
    color: #192592;
    margin: 1vw 0;
  }
  .main {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    text-align: justify;
    margin: 1vw 2vw;
  }

  .main ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .main img {
    width: 80vw;
  }

  h1 {
    font-size: 9vw;
  }

  h3 {
    font-size: 4.3vw;
  }

  #textmain {
    text-align: justify;
    font-size: 3.5vw;
    margin: 0 4vw;
  }

  .btn-get {
    font-size: 3.5vw;
    background: #192592;
    border: 1px solid #192592;
    border-radius: 1vw;
    width: 100%;
    height: 14vw;
    color: white;
    margin: 1vw 0;
  }

  .linkmain {
    font-size: 2.9vw;
    display: flex;
    justify-content: center;
  }

  .aboutus {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 100%;
  }
  .aboutus div {
    margin: 2vw 4vw;
  }
  .aboutus p {
    font-size: 3vw;
  }

  .lastsection {
    margin: 2vw 5vw;
    font-size: 3.6vw;
    line-height: 9vw;
  }

  .lastsection div {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
  }
  .lastsection li {
    list-style: none;
  }
  .lastsection ul {
    padding: 0 5vw;
  }
  .lastsection img {
    width: 26vw;
  }
  footer {
    display: flex;
    flex-flow: column;
    font-size: 3.6vw;
    padding: 2vw 0;
    width: 100%;
    background-color: #f4f3f4;
  }
  footer div {
    margin: 0vw 3vw;
    display: flex;
    justify-content: center;
  }
  footer span,
  i,
  img {
    margin: 2vw 2vw;
  }
}
