/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


/* Reset default margin and padding*/
html, body {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* Style the navigation bar */
  nav {
    background-color: #540B51; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  nav img {
    height: 40px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  /* Style the buttons inside the navigation */
  nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Style the header section */
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .startingPoint{
    flex: 1;
    padding: 20px;
  }


  header h1 {
    font-size: 24px;
  }
  
  header p {
    font-size: 16px;
    color: black;
    text-align: center;
    margin-bottom: 20px;   /* it doesnt work ?! why ?? */
  }
  
  .buttonSpace{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  header button {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
  }

  .imagemGrande{
    flex: 1;
  }

  .imagemGrande img {
    max-width: 100%;
  }
  
  /* Style the main content section */
  .bodypage {
    padding: 20px;
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .section h2 {
    font-size: 24px;
  }
  
  .section p {
    font-size: 16px;
    color: #777;
  }

  .img-restriction{
    width: 50%;
    max-width: 100%;
    align-items: right;
    scale: 0.6;
  }
  

  @media(min-width: 768px){
   
    header{
        flex-direction: row;
    }

    .buttonSpace{
        margin-right: 20px;
    }
  }

  @media(min-width: 1025) and (max-width: 1439){
    header h1{
        font-size: 30px;
    }

    .section {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
      }
    
      .section h2 {
        font-size: 24px;
        width: 50%; 
      }
    
      .section p {
        font-size: 16px;
        color: #777;
        width: 50%; 
      }
    
      .img-restriction {
        max-width: 100%;
        width: 50%; 
      }

      .digitalhq{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    
    
    
    
    
    



  }



