/*
//
//
FUENTES
//
//
*/

@font-face{
  font-family: Slack-Averta;
  src: url(https://a.slack-edge.com/436da/marketing/fonts/averta/averta-regular.woff2) 
}

@font-face {
  font-family: Slack-Tiempos;
  src: url(https://a.slack-edge.com/436da/marketing/fonts/tiempos-headline/tiempos-headline-semibold.woff2);
}



/*
//
//
MEDIA
//
//
*/

@media (min-width: 1200px) {
  .nav-bar, header, .section1-text, .section1-logos, .section2, .footer-main, .footer-end {
  margin: 0 calc((100% - 1200px)/2);
  }
  .menu-icon{
  display: none;
  }
  header {
  justify-content: center;
  }
  .header-image, .header-text{
  width: 50%;
  }
  .section1-logos div{
  margin: 15px 32px ;
  }

}

@media (min-width: 800px) and (max-width: 1199px) {
  .nav-bar, header, .section1-text, .section1-logos, section2, .footer-main, .footer-end  {
  margin: 0 auto;
  }
  .menu-icon{
    display: none;
    }
  header {
  flex-direction: column-reverse;
  }
  .section1-logos div{
    margin: 15px 55px ;
  }
  
}

@media (max-width: 799px) {
  .nav-bar, header, .section1-text, .section1-logos, section2, .footer-main, .footer-end {
    margin: 0 auto;
    }
    .menu-text, .menu-text li{
      display: none; 
    }
    header {
    flex-direction: column-reverse;
    }
    .section1-logos div{
      margin: 15px 120px ;
    }
  
}

/* 
 //
 //
 GENERAL
 //
 //
 */ 

body {
    margin: 0;
    padding: 0; 
    font-family: Slack-Averta; 
    font-size:14px;
    color: #5b5e6d;
    font-weight: 400;
  }

ul{
  list-style:none;
  padding-left: 0;
  margin: 0;
  }

 /* 
 //
 //
 NAVIGATION BAR
 //
 //
 */ 
  nav {
    height: 50px;
    border-bottom: 1px solid #a0a0a0;
  }

  .nav-bar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 30px;
  }

  .nav-logo {
    height: 50px;
    background-color: rgb(255, 255, 255);
  }
  
  .nav-menu {
    display: flex;

  }
  
  .menu-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .menu-text li {
    margin: 0 20px 0 0;
    font-size: 16px;
  }

  .menu-text li:last-of-type {
    border: 1px solid #5b5e6d;
    padding: 2px 15px;
  }

  .menu-icon{
    height: 50px;
    margin-right: 20px;
  }


/* 
//
//
HEADER
//
//
*/ 
header {
  display: flex;
  margin-top: 50px;
  padding: 0 30px;
}

.header-image {
  display: flex;
  justify-content: center;
}
.header-image img{ 
  width: 100%;
  object-fit: scale-down ;
}

.header-text{
  display: flex;
  flex-direction: column;
}

.header-text h1 {
  font-family:  Slack-Tiempos;
  color: #2C303F;
  margin-top: 0;
}
@media (min-width: 800px) {.header-text h1 {font-size: 76px; margin-bottom: 32px;}}
@media (max-width: 799px) {.header-text h1 {font-size: calc(26px + 6vw); margin-bottom: 4vw;}}

.header-text p {
  font-family:  Slack-Averta;
  color: #5b5e6d;
}
@media (min-width: 800px) {.header-text p {font-size: 20px; }}
@media (max-width: 799px) {.header-text p {font-size: calc(12px + 1vw); }}

.header-text p:last-of-type {
  font-size: 12px;
}

.button-purple {
  background-color: #192592;
  font-family: Slack-Averta;
  font-size: 1em;
  font-weight: bold;
  color: white;
  height: 50px;
  border: none;
  border-radius: 7px;
}
@media (min-width: 800px) {.button-purple {width: 200px; }}
@media (max-width: 799px) {.button-purple {width: 100%; }}


/*
//
//
SECTION1
//
//
*/
.section1 {
  background-color: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 0 30px;
}

.section1-text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1 h2 {
  font-family:  Slack-Tiempos;
  color: #2C303F;
  font-size: 32px;
  margin-bottom: 16px;
  }

.section1 p {
font-family:  Slack-Averta;
color: #5b5e6d;
font-size: 16px;
}

.button-white {
  background-color: white;
  color: #192592;
  font-family: Slack-Averta;
  font-size: 1em;
  width: 200px;
  height: 50px;
  border: 1px solid #192592;
  border-radius: 7px;
  margin: 20px;
}

.section1-logos {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.section1-logos div{
  display: flex;
  align-items: center;
  width: 275px;
  height: 125px;
}

.section1-logos img{
  width: 100%;
  object-fit: contain ;
}



/*
//
//
SECTION2
//
//
*/
.section2{
  margin-top: 50px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 30px;
}
@media (min-width: 800px) {.section2 {flex-direction:  row; }}
@media (max-width: 799px) {.section2 {flex-direction:  column; }}
@media (max-width: 799px) {.section2 div{margin-bottom: 30px; }}

.section2 div{
  display: flex;
  flex-direction:  column; 
  justify-content: flex-start;
  
}

.section2 p:first-of-type {
  font-family:  Slack-Tiempos;
  color: #2C303F;
  font-size: 24px;
  margin: 0px; 
  /*PREGUNTA: de donde herada un margen top y bottom de 24px???? que por eso le he puesto o */
  }

.section2 p:last-of-type {
font-family:  Slack-Averta;
color: #5b5e6d;
font-size: 14px;
margin: 0px; 

}

/*
//
//
FOOTER
//
//
display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
*/
footer{
  margin-top: 50px;
  border-top: 1px solid #a0a0a0;
}

.footer-main, .footer-end{
  margin-top: 50px;
  padding: 0 30px;
}

.footer-main, .footer-end, .footer-main-menus, .footer-end-menu ul, .footer-end-icons {
  display: flex;
  align-items: flex-start;
}

@media (min-width: 800px) {.footer-main, .footer-end, .footer-end-icons {flex-direction:  row; }}
@media (max-width: 799px) {.footer-main, .footer-end, .footer-end-icons {flex-direction:  column; }}


@media (min-width: 800px) {.footer-main-menus {justify-content:space-between; }}
@media (max-width: 799px) {.footer-main-menus {flex-wrap: wrap }}



.footer-main-logo{
  height: 100px;
}
.footer-main-logo img{
  height: 100%;
  object-fit: contain ;
}

.footer-main-menus div{
  margin: 0 20px 20px;
  vertical-align: top;
}

@media (min-width: 1200px) {.footer-main-menus div  {width: 150px; }}
@media (min-width: 800px) and (max-width: 1199px) {.footer-main-menus div  {width: 15vw; }}
@media (max-width: 799px) {.footer-main-menus div  {width: 30vw; }}

.footer-main-menus ul li{
  margin-bottom: 10px;
}
.footer-main-menus ul li:first-child{
  font-weight: 700;
}

@media (min-width: 800px) {.footer-end {justify-content:space-between; }}
@media (max-width: 799px) {.footer-end {align-items:center;}}

.footer-end-gray {
  background-color:#F4F3F4;
  padding-top: 1px;
  padding-bottom: 25px;
}

.footer-end-menu ul{
  font-weight: 700;
}
.footer-end-menu li{
  margin-right: 20px;
}
.footer-end-icons img{
  margin-top: 5px;
  max-width: 25px;
}
.footer-end-icons i{
  margin-left: 10px;
}