/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@media (min-width: 970px) {
  html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
    background: #f4f3f4;
  }

  html p {
    color: #5b5e6d;
  }
  #sec-1 {
    height: 100vh;
    padding-bottom: 6vw;
  }
  nav {
    position: fixed;
    top: 5px;
    width: 100vw;
    border-top: 1px solid rgb(5, 5, 5, 0.2);
    border-bottom: 1px solid rgb(5, 5, 5, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
  }
  nav img {
    width: 7vw;
  }
  nav ul {
    display: flex;
    list-style: none;
    padding-right: 10vw;
  }
  nav li {
    padding: 1.1vh 1.5vh;
    color: #5b5e6d;
    font-size: 1.5vw;
  }
  nav li:hover {
    border: 1px solid rgb(5, 5, 5, 0.2);
    padding: 1vh 1vh;
    border-radius: 5px;
  }
  header {
    padding-top: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  header input {
    display: none;
  }
  header #img-div {
    padding-top: 5vw;
    width: 45vw;
    height: 45vw;

    display: flex;
    justify-content: center;
    align-content: center;
  }
  header #work-div {
    width: 45vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  header div p:nth-child(2) {
    font-size: 1.6vw;
    line-height: 2.2vw;
    width: 40vw;
  }
  header div p:nth-last-child(1) {
    font-size: 1.2vw;
  }
  header img {
    width: 35vw;
    display: flex;
    align-self: center;
  }
  header h1 {
    font-size: 5.5vw;
    color: #2c303f;
    margin: 0;
    padding: 0;
  }
  header button,
  main button:nth-last-child(1) {
    padding: 1.5vw 2.5vw;
    border: 1x solid rgb(15, 15, 15);
    background: #192592;
    color: #fff;
    opacity: 0.8;
    font-size: 1.3vw;
    border-radius: 7px;
  }

  /* ============main section================= */

  main {
    height: 100vh;
    border-bottom: 1px solid rgb(5, 5, 5, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vw 0;
  }
  main h2 {
    font-size: 2.7vw;
    margin: 0;
    color: rgb(0, 0, 0, 0.7);
  }
  main h2 + p {
    padding-bottom: 1.7vw;
    font-size: 1.3vw;
  }
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(163, 161, 161, 0.2);
    padding: 2vw 0;
  }

  main img {
    width: 12vw;
    padding: 5vw 10vw;
  }
  .main-imges {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
  }
  #main3 img:nth-child(1) {
    font-size: 55vw;
  }
  #discover-btn {
    padding: 1.5vw 3vw;
    font-size: 1vw;
    font-weight: bolder;
    background: #f4f3f4;
    color: #192592;
    border: 2px solid rgb(5, 5, 238, 0.3);
    border-radius: 5px;
  }
  .main-bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 2vw 3vw;
  }
  .main-bottom div p:nth-child(1) {
    font-size: 2.2vw;
    color: rgb(0, 0, 0, 0.7);
    font-weight: bolder;
    margin: 0;
  }
  .main-bottom div p:nth-child(2) {
    font-size: 1.2vw;
  }
  main input {
    display: none;
  }

  /* ==============footer================ */
  footer ul {
    list-style: none;
    line-height: 2.5vw;
    opacity: 0.6;
  }
  .footer-top ul li:nth-child(1) {
    font-weight: bold;
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: baseline;
    height: 30vw;
    font-size: 1.2vw;
    padding-right: 5vw;
    padding-top: 10vw;
  }
  .footer-img {
    width: 20vw;
    display: flex;
    align-self: flex-start;
  }
  footer img {
    width: 9vw;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(163, 161, 161, 0.2);
    font-size: 1.3vw;
    height: 7vw;
  }
  .footer-bottom ul {
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom li {
    padding-right: 2.5vw;
  }

  .footer-bottom2 {
    width: 22vw;
    height: 1.3vw;
    padding-right: 2.5vw;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background: none;
    color: #5b5e6d;
  }
  .footer-bottom2 i {
    font-size: 1.6vw;
  }
  #us-flag {
    position: absolute;
    top: 0vw;
    left: -1vw;
    width: 1.5vw;
  }
}

/* ========================================= */

@media (min-width: 760px) and (max-width: 970px) {
  html {
    margin: 0 5vw;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    background: black;
  }

  html p {
    color: #5b5e6d;
  }
  body {
    background: #f4f3f4;
  }
  nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    border-top: 1px solid rgb(5, 5, 5, 0.2);
    border-bottom: 1px solid rgb(5, 5, 5, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 1vw 5vw 0 5vw;
    height: 6vw;
  }
  nav img {
    width: 10vw;
  }
  nav ul {
    display: flex;
    list-style: none;
    padding-right: 16vw;
  }
  nav li {
    padding: 0.5vh 2vh;
    color: #5b5e6d;
    font-size: 1.7vw;
  }
  nav li:hover {
    border: 1px solid rgba(199, 120, 120, 0.2);
    padding: 1vh 0.5vh;
    border-radius: 3px;
  }
  header {
    padding-top: 0vw;
    margin-bottom: 20;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vw;
    flex-wrap: wrap-reverse;
  }
  header input,
  main input {
    width: 35vw;
    height: 6vw;
    border-radius: 5px;
    border: 1px solid #cacbce;
    padding: 0 20px;
    font-size: 1.7vw;
    margin-right: 3px;
  }
  #input-btn {
    display: flex;
    align-self: flex-start;
    padding: 0 2vw;
  }
  header #img-div {
    padding-top: 5vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  header #work-div {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  header div p:nth-child(2) {
    font-size: 2.5vw;
    line-height: 3.5vw;
    width: 75vw;
  }
  header div p:nth-last-child(1) {
    font-size: 1.7vw;
    align-self: flex-start;
    padding: 0 2vw;
  }
  header img {
    width: 40vw;
    display: flex;
    align-self: center;
  }
  header h1 {
    font-size: 8vw;
    color: #2c303f;
    margin: 0;
    padding: 0;
  }
  header button,
  main button:nth-last-child(1) {
    padding: 2vw 4vw;
    border: 1x solid rgb(15, 15, 15);
    background: #192592;
    color: #fff;
    opacity: 0.9;
    font-size: 1.7vw;
    border-radius: 7px;
  }

  /* ============main section================= */

  main {
    height: 120vh;
    border-bottom: 1px solid rgb(5, 5, 5, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vw 0;
  }
  main h2 {
    font-size: 4.2vw;
    margin: 0;
    color: rgb(0, 0, 0, 0.7);
  }
  main h2 + p {
    padding-bottom: 1.7vw;
    font-size: 1.8vw;
  }
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(163, 161, 161, 0.2);
    padding: 2vw 0;
  }

  main img {
    width: 25vw;
    padding: 5vw 5vw;
  }
  .main-imges {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 88vw;
  }
  #main3 img:nth-child(1) {
    font-size: 100vw;
  }
  #discover-btn {
    padding: 2vw 4vw;
    font-size: 1.7vw;
    font-weight: bolder;
    background: #f4f3f4;
    color: #192592;
    border: 2px solid rgb(5, 5, 238, 0.3);
    border-radius: 5px;
  }
  .main-bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 2vw 3vw;
  }
  .main-bottom div p:nth-child(1) {
    font-size: 3vw;
    color: rgb(0, 0, 0, 0.7);
    font-weight: bolder;
    margin: 0;
  }
  .main-bottom div p:nth-child(2) {
    font-size: 1.6vw;
  }
  main input {
    width: 17vw;
  }

  /* ==============footer================ */
  footer ul {
    list-style: none;
    line-height: 4vw;
    opacity: 0.6;
  }
  .footer-top ul li:nth-child(1) {
    font-weight: bold;
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 40vw;
    font-size: 2vw;
    padding-right: 5vw;
    padding-top: 3vw;
  }
  .footer-img {
    display: flex;
    align-self: flex-start;
  }
  footer img {
    width: 15vw;
    padding-top: 0vw;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(163, 161, 161, 0.2);
    font-size: 2vw;
    height: 7vw;
  }
  .footer-bottom ul {
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom li {
    padding-right: 2.5vw;
  }

  .footer-bottom2 {
    width: 30vw;
    height: 1.3vw;
    padding-right: 2.5vw;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background: none;
    color: #5b5e6d;
  }
  .footer-bottom2 i {
    font-size: 2.5vw;
  }
  #us-flag {
    position: absolute;
    top: -0.6vw;
    left: -4vw;
    width: 2.5vw;
  }
}
