/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/




@media (max-width: 768px){

    .slack-icon {
        height: 2.5em;
        width: auto;
        padding: 0,5em;    
    }

    nav {
        background-color: #540B51;
        display: flex;
        flex-direction: row;
        padding: 0 2rem;
        height: 100%;
        justify-content: space-between;
        
    }

    .icon {
        background-color: #540B51;
        border: 0;
        margin-top: 0px;
        padding: 0.5em;
    }

    header {
        background-color: #540B51;
    }

    h1 {
        display: block;
        color: white;
        text-align: center;
        font-size: 3em;
        margin-top: 0px;

    }

    .try-me {
        color: white;
        text-align: center;
        justify-content: center;
        font-size: 1.5em;

    }

    .free {
        color: #ECB12F;
        text-align: center;
        justify-content: center;
    }

    #signup{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
        
    }

    .sign-up {
        margin-left: 4em;
        margin-right: 4em;
        text-align: center;
        padding: 20px;
        font-size: 1em;
    }

    .sign-up-google {
        margin-left: 4em;
        margin-right: 4em;
        background-color: #4285F4;
        text-align: center;
        position: relative;
        padding: 20px;
        font-size: 1em;
        color: white;

    }

    .google-logo {
        height: 3em;
        width: auto;
        position:absolute;
        left: 25px;
        background-color: white;
        top: 0.2em;

    }

    .hero-product {
        height: auto;
        width: 100%;

    }

    #logos {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    }

    .logos1 {
    width: 8em;
    height: auto;
    }

    .logos2 {
    width: 5em;
    height: auto;
    }

    .logos3 {
    width: 7em;
    height: auto;
    
    }
    .logos4 {
    width: 4em;
    height: auto;
    
    }
    .logos5 {
    width: 18em;
    height: auto;
   }

    .logos6 {
    width: 7em;
    height: auto;
    
}

    .main2 {
        background-color: #F3EAE2;
    }

    .trusted {
        font-size: 1.5em;
        text-align: center;
        font-weight: 800;
        margin-top: 0px;
        padding: 1em;
        
    }
    .trusted2 {
        font-size: 1.5em;
        text-align: center;

    }
    .trusted3 {
    text-align: center;
    }

    .percentage {
    font-size: 3em;
    text-align: center;
    }
        
    .percentage-text {
    display: block;
    text-align: center;
    font-weight: bolder;
    
    }
    li{
        list-style: none;
    }

        .main3 {
        background-color:#540B51;
        font-size: 2em;
        padding-top: 1em; ;

    }

    .welcome-final {
        color: white;
        text-align: center;
    }

    .logo-final {
        width: 4em;
        padding: 2em;
    }

    #buttons {  
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;

    }

    .button1 {
        margin-left: 1.5em;
        margin-right: 1.5em;
        background-color:#540B51;
        text-align: center;
        padding: 20px;
        font-size: 0.5em;
        color: white;
        border-radius: 0.5em;
        
        outline: 0.5em;
        border: 1px solid white
    }
    .button2 {
        margin-left: 1.5em;
        margin-right: 1.5em;
        text-align: center;
        padding: 20px;
        font-size: 0.5em;
        border-radius: 0.5em;
        
    }


}