/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
  margin: 0;
  background-color: white;
  padding: 0 10px 0 10px;
}

#hero {
  background-color: #540b51;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  /* margin: 10px 0 10px 0; */
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
  width: 90px;
  height: 25px;
  margin: 30px 10px 20px 20px;
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  margin: 32px 0px 0px 0px;
  list-style-type: none;
}

.nav-container li {
  padding: 0px 20px 0px 20px;
}

.nav-container li a {
  color: white;
}

.nav-actions {
  display: flex;
  justify-content: flex-end;
}

.search-button {
  width: 40px;
  height: 40px;
  background-color: #540b51;
  border: none;
  margin: 20px 0px 0px 0px;
}

.menu-button {
  width: 40px;
  height: 40px;
  background-color: #540b51;
  border: none;
  margin: 20px 0px;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 15px 15px 0px 0px;
  padding: 0px 20px 0 10px;
  list-style-type: none;
}

.options button:first-child {
  color: white;
  background-color: #540b51;
  border: none;
  width: 70px;
  height: 20px;
}

.options button:last-child {
  color: #540b51;
  background-color: white;
  border: none;
  width: 100px;
  height: 40px;
  margin: 2px;
  border-radius: 5px;
}

#main-container {
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  color: white;
  margin: 20px;
}

.team-text {
  justify-content: flex-start;
}

.sign {
  display: flex;
}

.sign-up-text {
  display: flex;
  flex-direction: row;
}

.team-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 50px;
}

.first-paragraph {
  color: white;
  font-size: 30px;
  margin: 100px 0px 0px 20px;
}

span {
  color: #ecb12f;
}

.sign-up-text button {
  color: #540b51;
  width: 200px;
  height: 50px;
  margin: 10px 20px;
  border-radius: 10px;
}

.sign-up2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4180ed;
  width: 200px;
  height: 50px;
  margin: 10px 20px;
  border-radius: 10px;
}

.sign-up2 img {
  background-color: white;
  width: 25px;
  height: 25px;
}

.sign-up2 button span {
  color: white;
  padding: 10px;
}

.img-container {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  margin: 100px 0px 20px 80px;
}

.middle-container {
  background-color: #f2eae2;
  padding: 0px 0px 40px 0px;
  font-size: 20px;
  font-weight: 700;
}

.middle-container p {
  text-align: center;
  padding: 30px 0px 20px 0px;
}

.companies {
  display: flex;
  justify-content: center;
}

.companies img:nth-child(1) {
  width: 100px;
  height: 30px;
  padding: 25px 50px 0px 0px;
}
.companies img:nth-child(2) {
  width: 80px;
  height: 70px;
  padding: 5px 20px 20px 0px;
}
.companies img:nth-child(3) {
  width: 90px;
  height: 60px;
  padding: 5px 30px;
}
.companies img:nth-child(4) {
  width: 60px;
  height: 60px;
  padding: 5px 30px;
}
.companies img:nth-child(5) {
  width: 170px;
  height: 45px;
  padding: 10px 30px;
}
.companies img:nth-child(6) {
  width: 125px;
  height: 40px;
  padding: 10px 30px;
}

.teams {
  display: flex;
  flex-direction: column;
}

.teams h3 {
  text-align: center;
  color: #540b51;
  font-size: 40px;
  font-weight: 700;
  margin: 80px 0 35px 0;
}

.teams-text {
  text-align: center;
  margin: 0 0 50px 0;
}

.percentage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.percentage li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.percentage span {
  text-align: center;
  font-size: 50px;
  color: #540b51;
}

.percentage li p:last-child {
  margin: 0 0 50px;
  padding: 0 128px 0 150px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  background-color: #540b51;
  color: white;
}

.bottom-container h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: ;
}

.options2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 20px 0;
}

.try {
  font-size: 18px;
  color: #540b51;
  background-color: white;
  padding: 15px 50px 15px;
  border-radius: 7px;
  border: none;
  margin: 0 20px 0 0;
}

.talk {
  font-size: 18px;
  color: white;
  background-color: #540b51;
  padding: 15px 50px 15px;
  border-color: #540b51;
  border: none;
  border-radius: 7px;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.social {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.social i.fab {
  width: 100px;
  margin: 0px;
  padding: 0px 20px 30px 0px;
}

div small {
  color: #454245;
  padding: 0px 0px 40px 0px;
}

/* Mobile View */
@media (max-width: 767px) {
  body {
    padding: 0 10px; /* Optional padding for better mobile view */
  }

  #hero {
    height: auto;
  }

  .nav-container {
    flex-direction: column;
  }

  .logo {
    max-width: 100%;
    height: auto;
    margin: 20px 0px;
  }

  .hero1 {
    flex-direction: row;
  }

  .nav-container {
    flex-direction: row;
  }
  .nav-container ul {
    font-size: 15px;
    margin: 20px 0px 0px 20px;
    padding: 0px;
  }

  .nav-container li {
    font-size: 12px;
    padding: 5px;
  }

  .nav-actions {
    flex-direction: row;
    align-items: flex-end;
  }

  .search-button,
  .menu-button {
    margin: 10px 0;
  }

  .options {
    margin: 10px 0;
    padding: 0 10px;
    display: none;
  }

  .options button:first-child {
    width: auto;
  }

  #main-container {
    flex-direction: column;
  }

  .first-paragraph {
    margin: 25px;
  }

  .slackimg {
  }

  .img-container {
  }

  .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sign-up-text,
  .sign-up2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px 0;
  }

  .sign-up-text button,
  .sign-up2 button {
    width: 100%;
    margin: 0 30px 0 0;
  }

  .mcontainer {
    margin: -20px auto 0;
  }
  .middle-container {
    padding: 0;
  }

  .middle-container p {
    padding: 20px 10px;
  }

  .companies {
    flex-wrap: wrap;
    justify-content: center;
  }

  .companies img {
    width: auto;
    height: 50px;
    padding: 10px;
  }

  .teams h3 {
    font-size: 65px;
    margin: 20px 0 10px 0;
  }

  .teams-text {
    font-size: 20px;
    margin: 20px 10px 20px 10px;
    padding: 0 140px 0 140px;
    font-weight: 400;
  }

  .percentage {
    flex-direction: column;
  }

  .percentage li {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 800;
    padding: 0 170px 0 170px;
    text-align: center;
  }

  .percentage span {
    font-weight: 700;
    font-size: 50px;
  }

  .percentage li p:last-child {
    padding: 0 10px;
  }

  .bottom-container h3 {
    font-size: 60px;
  }

  .options2 {
    flex-direction: column;
    margin: 10px 0 20px 0;
  }

  .try,
  .talk {
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 20px 0 10px 20px;
  }

  .info {
    flex-direction: row;
    margin: 20px 20px 0px 0px;
  }

  .social {
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 0 0 10px 0;
  }

  .social i.fab {
    width: auto;
    margin: 10px 0px 5px 40px;
  }

  div small {
    width: auto;
    padding: 0 10px 40px 10px;
  }
}

/* Small Screens (width > 768px and width < 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-container {
    flex-direction: row;
  }

  .nav-container ul {
    font-size: 15px;
    margin: 28px 0px 0px 20px;
    padding: 0px;
  }

  .nav-container li {
    font-size: 12px;
    padding: 5px;
  }

  .search-button,
  .menu-button {
    margin: 15px 0;
  }

  .options {
    margin: 10px 0;
    padding: 0 10px;
    display: none;
  }

  .options button:first-child {
    width: auto;
  }

  #hero {
    padding: 0px 20px 100px 0px;
  }

  #main-container {
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-size: 65px;
  }

  .first-paragraph {
    margin: 25px;
  }

  .img-container {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    margin: 190px 0px 50px 0px;
  }

  .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sign-up-text,
  .sign-up2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px 0;
  }

  .sign-up-text button,
  .sign-up2 button {
    width: 90%;
    margin: 0 30px 20px 0;
  }

  .middle-container {
    padding: 0;
    margin: -20px auto;
  }

  .middle-container p {
    padding: 20px 10px;
    margin: -20px 0px 20px 0px;
  }

  .companies {
    flex-wrap: wrap;
    justify-content: center;
  }

  .companies img {
    width: auto;
    height: 50px;
    padding: 10px;
    margin: 0px 0px 30px 0px;
  }

  .teams h3 {
    font-size: 65px;
    font-weight: 800;
    margin: 50px 80px 0px 80px;
  }

  .teams-text {
    font-size: 20px;
    margin: 30px 5px 20px 5px;
    padding: 0 120px 0 140px;
    font-weight: 500;
  }

  .percentage {
    flex-direction: column;
  }

  .percentage li {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 800;
    padding: 0 170px 0 170px;
    text-align: center;
  }

  .percentage span {
    font-weight: 700;
    font-size: 50px;
  }

  .percentage li p:last-child {
    padding: 0 10px;
  }

  .bottom-container h3 {
    font-size: 60px;
  }

  .options2 {
    flex-direction: column;
    margin: 10px 0 20px 0;
  }

  .try,
  .talk {
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 20px 20 10px 40px;
  }

  .info {
    flex-direction: row;
    margin: 20px 20px 0px 0px;
  }

  .social {
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 0 0 10px 0;
  }

  .social i.fab {
    width: auto;
    margin: 10px 0px 5px 40px;
  }

  div small {
    width: auto;
    padding: 0 10px 40px 10px;
  }
}
