/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/



@media(max-width: 768px) { 
    nav > img {
        max-width: 100px;
    }
        header > img {
            order: 5;
            width: 75vw;
        }
        header {
            display:flex;
            flex-direction: column;
        }
        h1 {
            order: 1;
        }
        p {
            order: 2;
        }
        button {
            order: 3;
        }
        a {
            order: 4;
        }

        .company {
            display: bottom;
        }
        .image-list > img {
            height: 40px;
            
        }
        .image-list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 500px;
            align-items: center;
        }
    }
