/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@media screen and (max-width: 767px) {

body {
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  color: #5b5e6d;
}

h1 {
color: #2C303F;
font-size: 3em;
}

h2 {
color: #2C303F;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.nav-ul {
  display: none;
}

.logo-wrap {
  width: 160px;
}

.logo-wrap img {
  width: 100%;
}

header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
}

.home-wrapper {
  width: 380px;
  order: 2;
  margin: 20px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F3F4;
  height: 1000px;
  padding-bottom: 20px;
}

.main-wrapper h2{
  text-align: center;
  width: 500px;
}

.img-main{
  width: 180px;
  height: 50px;
  padding: 30px 0px;
}

.img-main img{
  width: 100%;
}

.main-wrapper p{
  text-align: center;
  width: 250px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.footer-logo {
  width: 100%;
}

.footer-ul {
  width: 50%;
}

}

