/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/


/*-----------------------------------*/
/*-----------SMALL SCREENS-----------*/
/*-----------------------------------*/

header,
body {

}

.nav-container {
  border: 1px solid black;
  color: black;
  width: 400px;
  height: 70px;
  overflow: auto;
  background-color: white;
}

ul {
  visibility: hidden;
}

nav img {
  width: 120px;
  margin: 5px 0 5px 10px;
}

i {
  font-size: 50px;
  color: #5b5e6d;
  float: right;
  margin: 5px 30px 5px 0;
}

.first-text-container {
  width: 400px;
  height: auto;
}

h1 {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.first-text-container p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #5b5e6d;
  font-family: lato;
}

.people-standing {
  width: 300px;
  height: auto;
  margin: 0 50px 0 50px;
}

.sign-in p {
  font-size: 13px;
  font-family: lato;
}

button {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 5px auto 5px;
  background-color: #4047ac;
  color: white;
  border-radius: 5px;
  border: none;
}


main {
  background-color: #F4F3F4;
}

main img {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 60px 140px 60px 140px;

}

.partners {
  width: 400px;
}

.partners button {
  background-color: white;
  color: #192592;
  border: 1px solid #192592;
  width: 200px;
  margin-bottom: 40px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

.partners p {
  text-align: center;
  font-family: lato;
  font-size: 15px;
}

.try-free-container {
  width: 400px;
  text-align: center;
  background-color: #fff;
  padding-top: 50px;
}

.try-free-txt {
  font-size: 30px;
  font-weight: 700;
  margin: 0;

}

.small-txt {
  font-size: 14px;
  color: #5b5e6d;
  font-family: lato;
}

.footer-container {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}


.slack-icon {
  width: 20%;
  height: 20%;
  margin: 0;
  padding: 0;

}

.footer-container ul {
  font-size: 10px;
  color: #5b5e6d;;
  font-family: lato;
  font-size: 17px;
  visibility: visible;
  width: 120px;
  height: 160px;
  list-style-type: none;
  padding: 0;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-container li { margin-top: 5px;}

.bottom-container {
  width: 400px;
  height: 180px;
  background-color: #F4F3F4;


}

.bottom-container ul {
  visibility: visible;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
}

.bottom-container li {
  font-family: lato;
  margin-left: 10px;

  font-weight: bolder;
  color: #5b5e6d;
  margin-top: 10px;
}

.bottom-wrapper img {
  width: 5%;
  margin-top: 14px;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: lato;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}

span{
  margin-top: 10px;
}
.ion-chevron-down {
  font-size: 14px;
  font-weight: 500;
  margin-left: 3px;
  margin-top: 15px;
}

.social-media {
display: flex;
justify-content: center;
font-size: 25px;
margin-top: 40px;

}



/*------------------------------------*/
/*-----------MEDIUM SCREENS-----------*/
/*------------------------------------*/
@media (min-width: 768px) {

  .nav-container {
    width: 100%;
  }

  .nav-container ul {
    visibility: visible;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
  }

  .nav-container li {
    margin-left: 10px;
    position: relative;
    bottom: 70px;
    font-family: lato;
    color: #5b5e6d;
  }


  .ion-android-menu {
    visibility: hidden;
    width: 0;
    margin: 0;
  }

  header {
    overflow: auto;
  }

  .first-text-container {
    float: right;
    width: 500px;
    height: 300px;
  }

  h1 {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    font-size: 38px;
  }

  .first-text-container p {
    display: flex;
    justify-content: left;
    font-size: 14px;

  }

  .people-standing {
    width: 400px;
    margin-top: 80px;
  }

  .first-text-container button {
    width: 20%;
    margin-right: 400px;
  }

  .sign-in p {
    font-size: 12px;
  }

  .center {
    display: flex;
    justify-content: center;
  }
  .partners {
    margin: 0;
    display: inline-block;
    width: 100%;
  }

  .partners h2 {
    display: flex;
    align-content: center;
  }

  .partners img {
    width: 10%;
    height: 10%;

    margin: 0;
  }

  .try-free-container {
    width: 100%;
    overflow: auto;
  }

  .try-free-txt,
  .small-txt {
    float: left;
  }

  .small-txt {
    margin-top: 50px;
    position: relative;
    right: 170px;
  }

  .try-free-container button {
    width: 20%;
    margin: 0;
    float: right;
  }

  .footer-container {

    float: right;
  }

  .footer-container ul {
  }

  .bottom-container {
    width: 100%;
  }

}


/*-----------------------------------*/
/*-----------LARGE SCREENS-----------*/
/*-----------------------------------*/
