/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

nav {
  background-color: white;
  border-bottom: 1px solid #EBEBEB;
  position: fixed;
  width: 100%;
}

@media (min-width: 1024px) {
  .main-menu li:last-child {
       display: none;
}
 }

@media (min-width: 960px) and (max-width: 1024px) {
      .main-menu .li-menu  {
        display: none;

  }
      .main-menu li:last-child {
        width: 30px;
      }

      header {
        flex-direction: column-reverse;

      }
      .landing-pic {
        padding-left: 150px;
      }
      .container {
        padding-left: 80px;
      }
}

#logo {
  padding-left: 40px;
  display: inline-block;


}

.nav-menu {
 display: inline-block;
 text-align: right;
 position: absolute;
 top: 0px;
 right: 50px;
}


nav ul li {
  list-style: none;
  color: grey;
  display: inline-block;
  padding-right: 25px;

}

h1 {
 color: #2C303F;
 font-size: 80px;
 font-weight: bold;
}

h2 {
  font-size: 32px;
  color: #2C303F;
}

p {
  font-size: 21px;
  line-height: 30px;
  color: #5b5e6d;
}

header {
  display: flex;
  padding-top: 100px;
}

#container-text {
  padding-right: 7%;
}

.landing-pic {


}

.container {

}

button {
  padding: 20px;
  background-color: #192592;
  color: white;
  font-weight: bold;
}

main {
  padding: 64px 0;
}
.company {
  padding: 32px 0;
  background-color: #F4F3F4;
  text-align: center;
}

.grid {

 padding: 32px 0;
}

.box {
  width: 25%;
  padding: 40px;
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  border-bottom: solid 1px #F5F5F5;
}

#bcta {

}

footer {
  display: flex;
  justify-content: space-between;
}


footer img {
  flex-basis: 20%;
}

footer ul {
 max-width: 15%;
 align-items: center;
 list-style: none;
 color: grey;
 line-height: 27px;

}
.bottom-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F5F5F5;
  padding: 24px 0;
}

.bottom-bar ul li {
  display: inline-block;
  text-align: center;
  list-style: none;
}

.bottom-bar img {
  width: 20px;
}

.bottom-menu  {
display: flex;
justify-content: center;

}

.flag {
position: absolute;
right: 5px;

}
