/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/



html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.nav-top {
  max-width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8vh;
  font-size: 1rem;
  color: #5b5e6d;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

}

.nav-top img {
  width: 125px;
  height: auto;
}

.nav-top ul{
  display: flex;
  flex-direction: row;
  font-weight: 400;
  line-height: 1.2;
  list-style-type: none;
}

.nav-top li {
  margin: 1rem;
  padding: 10px;
}

.nav-top button {
  background-color: white;
  border: 0px;
  display: none;
}

.nav-top i {
  font-size: 26px;
  color: #5b5e6d;
}

.border-button {
  border: 1px solid #5b5e6d;
  border-radius: 4px;
  padding: 10px;
}

.header-p {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.header-1 {
  flex-basis: 42.5%;
  margin-top: 80px;
}

.header-1 img {
  width: 100%;
  height: auto;
}

#header-2 {
  flex-basis: 52.5%;
}

#header-2 h1 {
  font-size: 3.5em;
  width: 70%;
}

.head-text {
  width: 90%;
  font-size: 1.2em;
  line-height: 2;
  color: #5b5e6d;
}

.sign-text {
  color: #5b5e6d;
  font-size: 0.9em;
}

#header-2 button {
  background-color: rgb(63, 70, 173);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 19px 40px;
}


.main-p {

}

#main-1 {
  text-align: center;
  background-color: #F4F3F4;
}

#main-1 h2{
  font-size: 32px;
  padding-top: 50px;
}

#main-1 button {
  background-color: white;
  border: 1px solid rgb(28, 41, 157);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(28, 41, 157);
  padding: 20px 40px;
  margin-top: 20px;
}

.first.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.grup-img img {
  width: 20%;
  margin: 50px;
}

#main-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 3%;
}

#text-1 h2 {
  font-size: 24px;
  font-weight: bold;
}

.button-1 button {
  background-color: rgb(63, 70, 173);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 19px 40px;

}

/*FOOTER CSS*/
.footer {
  max-width: 100%;
  padding-top: 50px;
}

#footer-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px;
}

#footer-1 img {
  width: 100px;
  height: auto;
  margin-right: 20%;
}

#footer-1 ul {
  list-style-type: none;
  flex-basis: 15%;
}

#footer-1 li:first-child{
  font-weight: bold;
  text-transform: uppercase;
}

#footer-1 li {
  padding: 8.8px;
  line-height: 16.8px;
  font-size: 14px;
}

#footer-2 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  background-color: #F4F3F4;
}

#footer-2 ul {
  list-style-type: none;
  flex-basis: 22%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
  margin-left: 1%;
}

#footer-social {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5%;
}

#footer-social img {
  width: 20px;
  height: 20px;
}

#footer-social i {
  font-size: 20px;
}

@media (max-width: 700px) {
  .nav-top ul {  1
    display: none;
  }

  .nav-top button {
    display: inline;
  }

  .header-p {
    flex-direction: column-reverse;
    margin: 5%;
    padding-top: 70px;
  }

  #header-2 h1{
    font-size: 4em;
    width: 100%;
    margin-bottom: 20px;
  }

  .head-text {
    font-size: 1.2em;
    color: #5b5e6d;
    width: 100%;
  }

  #header-2 button {
    padding: 19px 35px;
  }

  .header-1 {
    flex-basis: 80%;
    margin-left: 10%;
  }

  .header-1 img {
    width: 80%;
    height: auto;
  }

  .footer-2 ul {
    flex-basis: 30%;
  }

  .footer-social{
    flex-basis: 30%;
  }
}


@media (max-width: 960px) {
  .grup-img img {
    width: 30%;
    margin: 50px;
  }
}

@media (max-width: 768px) {
  .header-p {
    display: flex;
    flex-direction: column-reverse;
  }

  #header-2 h1 {
    font-size: 9em;
    margin: 0;
  }

  .head-text {
    font-size: 2.5em;
    line-height: 1.5;
    color: #5b5e6d;
  }

  .sign-text {
    color: #5b5e6d;
    font-size: 1.6em;
    font-weight: bold;
  }

  #header-2 button {
    background-color: rgb(63, 70, 173);
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-size: 1.8em;
    font-weight: bolder;
    padding: 40px;
    width: 100%;
  }

  .header-1 {
    width: 80%;
  }

  .header-1 img {
    display: inline;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }


  .main-p {
    max-width: 100%;
  }

  #main-1 {
    text-align: center;
    background-color: #F4F3F4;
    padding-bottom: 60px;
  }

  #main-1 h2{
    font-size: 3.5em;
    padding-top: 50px;
  }

  #main-1 p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: bold;
    color: #5b5e6d;
  }

  #main-1 button {
    background-color: white;
    border: 1px solid rgb(28, 41, 157);
    border-radius: 4px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(28, 41, 157);
    padding: 40px;
    margin: 60px auto;
    width: 45%;
  }


  .grup-img {
    display: inline;
  }

  .grup-img img {
    width: 20%;
    margin: 50px 35%;
    display: inline;
  }

  #main-2 {
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  #text-1 h2 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  #text-1 p {
    font-size: 1.6em;
    font-weight: bold;
    color: #5b5e6d;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .button-1 button {
  background-color: rgb(63, 70, 173);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1.6em;
  font-weight: bold;
  padding: 40px;
  margin-bottom: 50px;
  width: 90%;
}

.footer {
  max-width: 100%;
  padding-top: 50px;
}

#footer-1 {
  display: inline-block;
}

#footer-1 img {
  width: 30%;
  margin-right: 60%;
  display: inline;
}

#footer-1 ul {
  display: inline-block;
  list-style-type: none;
  width: 40%;
  margin: 0;
  vertical-align: text-top;
}

#footer-1 li:first-child{
   font-weight: bold;
   text-transform: uppercase;
   margin: 0;
 }

 #footer-1 li {
   margin: 0;
   padding-bottom: 40px;
   padding-top: 0;
   font-size: 1.5em;
 }

 .footer-2 {
   display: inline-block;
   width: 100%;
   font-size: 1.5em;
   font-weight: bolder;
   background-color: #F4F3F4;
   color: #2C303F;
   margin-top: 100px;
 }

 .footer-2 ul {
   list-style-type: none;
   width: 60%;
   margin: 20px auto;
   margin-bottom: 30px;
 }

 .footer-2 li {
   display: inline-block;
 }


 .footer-social {
   display: inline-block;
   margin-left: 30%;
 }

 .footer-social img {
   width: 10%;
   height: auto;
 }

 .footer-social span {
   display: inline-block;
   width: 40%;
   margin-left: 5%;
 }

 .footer-social i {
   font-size: 1.5em;
   width: 30%;
   margin-bottom: 60px;
 }
}
