/* Iteracion 1 768px */

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    /* min-height: 600px; */
}

body a {
    color: #2E71A6;
    text-decoration: none;

}

.navbar {
    display: flex;
    background-color: #540B51;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;

}

.slack-logo {
    height: 22px;
}

.slack-iso {
    height: 60px;
}

.menu-items {
    display: none;
}

.navbar button {
    background-color: #540B51;
    border: 0px;
}

.btn {
    margin-bottom: 15px;
    border-radius: 5px;
    height: 60px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
}

.btn-white {
    background-color: white;
    color: #540B51;
    border: #540B51 solid 2px;
}


.btn-purple {
    background-color: #540B51;
    color: white;
    border: white 2px solid;
}

.btn-group {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}


header {
    display: flex;
    flex-direction: column;
    background-color: #540B51;
    text-align: center;
}

.header-content {
    padding: 20px 20px 0px 20px;

}

header h1 {
    color: white;
    font-size: 50px;

}

header p {
    color: white;
}

.hl-free-try {
    color: #ECB12F;
}



.btn-signup-google {
    background-color: #4285F4;
    color: white;
    position: relative;
}

.btn-signup-google img {
    position: absolute;
    left: 8px;
    top: 8px;
    height: 30px;
    background-color: white;
    border-radius: 2px;
    padding: 8px;

}

.app-screenshot {
    background-image: url("../images/hero-product-ui.png");
    height: 450px;
    background-position: -80px 0px;
    background-repeat: no-repeat;
    background-size: 900px;
}

.companies-container {
    padding: 20px;
    background-color: #F3EAE2;

}

.companies-container p {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.companies-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.companies-logos img {
    padding: 10px;
    height: 40px;
}


.content-container {
    background-color: #F3EAE2;
    font-size: 14pt;
    font-weight: bold;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 30px;
}

.content-container img {
    width: 100%;
}

.content-text {
    padding: 20px;
}

.content-container h2 {
    font-size: 30px;
}

.content2-container {
    padding: 20px;
    text-align: center;
    background-color: white;
    font-size: 14pt;
    font-weight: bold;
}

.content2-container h3 {
    font-size: 30px;
    padding-bottom: 0px;
}

.content2-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
}

.content2-container li {
    margin: 0px;
    padding-top: 30px;
}

.content2-container p {
    margin: 0px;
}

.content2-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbers {
    color: #540B51;
    font-size: 40pt;
    font-weight: bold;
}

.content3-container {
    padding: 20px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #540B51;
    font-size: 14pt;
    font-weight: bold;
    color: white;
    border-bottom-right-radius: 50% 70px;
    border-bottom-left-radius: 50% 70px;
}

.content3-container h3 {
    font-size: 30px;
    padding-bottom: 0px;
}

footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}

footer ul {
    list-style-type: none;
    padding-inline-start: 0px;

}

footer li {
    padding-bottom: 20px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.footer-menu>ul>li:nth-child(1) {
    font-weight: bold;
    color: black;
}

.footer-menu li {
    color: #454245;
}

.social-media {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.copyright {
    padding-top: 0px;
    padding-bottom: 40px;
}

/* Iteracion 2 */

@media all and (min-width: 768px) and (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
    }

    .app-screenshot {
        background-image: url("../images/hero-product-ui.png");
        height: 450px;
        background-position: 0px 50%;
        background-repeat: no-repeat;
        background-size: 300px;
        width: 300px;

    }
}

/* Iteracion 3 */
@media all and (min-width: 1025px) and (max-width: 1440px) {}

/* Iteracion 4 */
@media all and (min-width: 1441px) {}


/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/