@media (min-width: 768px) {
    nav {
        height: 70px;
    }

    [src*="mobile"] {
        display: none;
    }

    header {
        background: url(../images/background-singup.png) top left/cover;
        flex-direction: row;
        margin-top: 70px;
        height: 80vh;
        padding-right: 0;
    }

    .header-content {
        align-self: baseline;
        flex: 1 20%;
        margin: 15px;
        text-align: start;
    }

    .header-content h1 {
        text-align: start;
        font-size: 5rem;
        margin: 0 40px 30px 0;
    }

    header .header-img {
        flex: 1;
        height: calc(60vw/1.4);
    }
    
    header .header-img img {
        width: 70vw;
    }

    header p {
        font-size: 1.4rem;
    }

    header .sign-up {
        margin-right: 40px;
    }

    .logos div {
        width: 100%;
        padding: 0 10%;
    }

    .middle-sections {
        padding: 0;
    }

    .middle-sections > div > img {
        width: 80%;
    }

    .middle-sections:nth-child(3)  div  img {
        margin-left: 20%;
    }

    .middle-sections div:nth-child(2) {
        width: 60%;
        margin-bottom: 30px;
    }

    #enterprise .btns {
        flex-direction: row;
        justify-content: center;
    }

    #enterprise button.btn {
        width: auto;
        padding: 10px 25px;
        margin-left: 10px;
    }

    #enterprise ul {
        display: flex;
        text-align: start;
    }

    #enterprise ul li {
        flex: 1;
    }

    #enterprise ul p {
        width: 60%;
    }

    #try-out {
        padding-left: 15%;
        padding-right: 15%;
    }

    footer > ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    footer .icons {
        justify-content: start;
    }

}

@media (min-width:1024px) {
    nav {
        color: #fff;
    }
    
    ul.nav-menu {
        display: flex;
        margin-left: 20px;
    }

    ul.nav-menu li {
        padding: 0 25px;
    }

    ul.nav-menu li a {
        color: inherit;
    }

    nav .actions button:nth-child(2){
        display: none;
    }

    .actions .sign-in {
        display: flex;
        align-items: center;
    }

    .actions ul.sign-in li {
        border: none;
        flex-shrink: 0;
        width: auto;
        padding: 10px 25px;
    }

    .actions .sign-in a {
        color: inherit;
    }

    header {
        height: 80vh;
    }

    header > div {
        flex: 1 50%;
    }

    header .header-img {
        flex: 1;
        height: calc(60vw/1.4);
    }

    header .header-img img {
        width: 50vw;
    }

    .middle-sections {
        flex-direction: row;
        padding: 40px 0;
    }

    .middle-sections div {
        flex: 1 50%;
    }
    .middle-sections div:nth-child(2) {
        padding: 0 5%;
    }

    .middle-sections:nth-child(3) div:first-child {
        order: 2;
    }

    .middle-sections > div > img {
        width: 90%;
    }

    .middle-sections:nth-child(3) div img {
        margin-left: 10%;
    }

    #try-out div {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    #try-out button {
        width: auto;
        padding: 10px 40px;
    }
}

@media (min-width: 1440px) {
    header {
        height: 80vh;
        padding: 5% 10% 0;
    }

    header .header-img {
        flex: 1;
        height: calc(40vw/1.4);
    }

    header .header-img img {
        width: 35vw;
    }

    .sign-up {
        display: flex;
        gap: 20px;
    }

    .sign-up button {
        width: auto;
        padding: 10px 60px;
    }
}