/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
@media (max-width: 768px) {

.nav-bar-all {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  margin-top: -100px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar-all ul{
  padding-left: 200px;

}

nav img {
  height: 50px;
  width: auto;
}

.nav-bar-all ul {
  list-style: none;
}
.First-block button {
    background-color: #192592;
    color:white;
    padding: 15px 32px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
.First-block {
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin-top: 100px;
font-family: Arial, Helvetica, sans-serif;

}

.First-block img {
  height: auto;
  width: 350px;
  order: 1;
  align-self: center;
}

.First-block h1 {
  font-family: 'Times New Roman', Times, serif;
}

.discover {
  background-color: #F4F3F4;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.discover img {
  height: 50px;
  width: auto;
  align-self: center;
  margin-top: 30px;
}

.discover h2 {
  font-family: 'Times New Roman', Times, serif;
}

.discover button {
  background-color:white;
  border-color: #192592;
   border: 1px;
  color:#192592;;
  padding: 15px 32px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.last-block img {
  height: 100px;
  width: auto;
}

.try {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.button-two {
  background-color:white;
  border-color: #192592;
   border: 1px;
  color:#192592;;
  padding: 15px 32px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.last-block {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
 line-height: 30px;
 justify-content: left;
}

.last-block ul {
  list-style: none;
}

.footer-all ul {
  list-style: none;
}

.footer-all li {
  display: inline;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.footer-all {
  background-color:  #F4F3F4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 200px;
  text-align: center;
}

.footer-flag img {
  height: 50px;
  width: auto;
  margin-top: -20px;
}

}

@media (min-width: 768px) {

  .nav-bar-all {
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }

  .nav-bar-all ul {
    list-style: none;
    padding-right: 100px;
    padding-top: 30px;
  }

  .nav-bar-all li {
      display: inline;
      padding-right: 20px;
  }

  .li-border {
    border: 1px solid #5b5e6d;
    padding: 2px;
    padding-left: 20px;
  }

  nav img {
    height: 100px;
    width: auto;
    padding-left: 50px;
  }

  main img {
    height: 40px;
    width: 10%;
    align-self: initial;
    margin-bottom: 40px;
    margin: 10px 10px;
   padding: 40px 100px;
  }

  .First-block {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    height: 700px ;
    align-content: space-around;
    }

    .First-block button {
      background-color: #192592;
      color:white;
      padding: 15px 32px;
      border-radius: 3px;
      text-decoration: none;
      font-size: 16px;
      width: 200px;
      border-radius: 7px;
    }
  
  .First-block img {
    margin-top: 10px;
  height: auto;
  width: 600px;
  align-self: flex-start;
  } 

  .First-block h1 {
    font-size: 70px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #2C303F;

  }
  .First-block p {
    font-size: 20px;
    padding-bottom: 40px;
  }

  main {
    background-color: #F4F3F4;
    display: flex;
    flex-flow: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 600px;
  }


  main button {
    display: block;
    background-color:white;
    color: #192592;
    border:1px solid #192592;
    padding: 20px ;
    text-align: center;
    font-size: 16px;
    width: 250px;
    align-self: center;
    margin-left: 560px;
  }
  
 main h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    color: #2C303F;
  }

  main p {
    margin-bottom: 50px;
  }

  .last-block  {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    align-items: flex-start;
    justify-content: space-around;

  }

  .last-block img {
    width: auto;
    height: 100%;
    margin-top: -70px;
  }

  .last-block ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
  }

  .ul-title {
    margin-bottom: 10px;
  }

  .try {
    background-color: white;
    height: 300px;
    width: 100%;
    padding-bottom: 50px;
  }

  .try h4 {
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
  }

  .try p {
    width: 300px;
  }

  .try button {
    background-color:white;
    border-color: #192592;
     border: 2px solid;
    color:#192592;;
    padding: 15px 32px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 16px;
    width: 300px;
    margin-top: -100px;
    margin-right: -200px;
  }
footer {
  margin-top: 50px;
}

.footer-all {
  background-color: #F4F3F4;
  display: flex;
  justify-content: space-around;
}

 .footer-all ul {
   list-style: none;
 }

 .footer-all li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
 }
 .footer-flag img {
   height: 40px;
   width: auto;
   padding-right: 20px;
 }
 .footer-flag {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;

 }
}
