/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #5b5e6d;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Lato', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
}
@media screen and (max-width : 767px) 
{

    #logo {
        width: 100px;
    }
    #logo img{
        width: 100%;
    }
    #nav-bar{
        height: 60px;
        display:flex;
        align-items: center; 
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
        background: white;
        border-bottom: 1px solid lightgrey;
    
    }
    nav ul{
        display: none;
    }

    f.a-align-justify{ 
        font-size: 25px;
    }
    header{
        font-size: 20px;
        display: flex;
        max-width: 100%;
        flex-direction: column;
        padding: 20px;
    }
    .where-work{
        order: 1;
    }
    .img-wrap{
        order: 2;
        padding: 20px;
    }
    h1{
        font-size: 2em;
        color: #2C303F;
        font-weight: bold;
        font-family: '';
        padding: 10px;
    }
       

    
    p{
        font-size: 0.8em;
        color: #5b5e6d;
        padding: 10px;
        width: 100%;
        line-height: 2em;
    }
    
    .input{
      
        width: 100%;
        /* color: grey; */
        padding: 15px 20px;
        margin: 5px 0;
        /* border: none; */
        border-radius: 9px;
        border-color: lightgrey;
        border: 1px solid lightgrey;
    }

    button{
    background: #3f46ad;
    color: white;
    padding: 16px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 6px;
    width: 100%;
        }

    .email{
        max-width: 320px;
        padding: 20px 10px;
    }

    input {
        width: 100%;
    }
    .p1 {
        font-size:0.8em;
        color: #5b5e6d;
    }
    .p2{
        font-size: 0.8em;
        font-size: 0.8em;
        text-align: center;
    }
    .p2 a{
        color: blue;
        
    }
    h2{
        font-size: 1.6em;
        font-family: '';
        font-weight: bold;
        text-align: center;
    } 

    .company{
        background: #F4F3F4;
        padding: 30px 30px;
        text-align: center;
        flex-flow: row wrap;
        display: flex; 
    }
    .discover{
        background: white;
        color: #192592;

    }
    .company-wrap {
        width: 300px;
        height: 600px;
        display: flex;
        flex-direction: column; 
        

    }
    
    .company p{
        font-size: 1em;
        color: #5b5e6d;
        padding: 10px;
        width: 100%;
        line-height: 2em;
    
    }
    .company-img {
        width: 100%;
        border-bottom: 0.2px solid lightgrey;
        width: 100%;
        border-bottom: 1px solid;
        border-bottom: 0.2px solid lightgrey;
        height: 59%;
        padding: 20px 20px;
        /* flex: 12 8 70px; */
        flex-basis: 25px;
      
    }
    .email-2{
        max-width: 320px;
        padding: 20px 10px;
        margin: 0 auto;
        text-align: center;
    }
    .email-2 .p1{
        font-size: 1.2em;
        font-family: '';
        font-weight: bold;
    }
    .email-2 .p2{
        font-size: 0.8em;
    
    }
    a {
        text-decoration: none;
        color: #5b5e6d;
      }
    /*
    .iso {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    footer{
        width: 100px;
    }
    footer img{
        width: 100%;
    }
    .footer-wrap{

    }*/
    .status {

            background-color: #F4F3F4;
            width: 100%;
            height: 100%;
            padding: 2em 4em;
            text-align: center;
            border-bottom: 1px solid lightgray;
        
      }
    
  footer {
    max-width: 100%;
    margin: 0 auto;
  }

  .footer ul {
    margin: 1.2em auto;
  }

  .footer ul li{
    font-weight: 700;
    margin-bottom: 1.5em;
  }

  .footer ul li a{
    font-size: 0.7em;
  }

  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    padding: 0 3em;
  }

  .footer-column-4 {
    width: 50%;
    margin:0 auto;
  }

  .footer-cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
  }

  .languages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.8em;
  }

  .languages img{
    width: 3em;
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5em;
    margin-top: 0.4em;

  }
    /* Styles */
}