
.device {
	background-color: red;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: black;
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
	display: none;
}

.device::after{
	content: "TABLET";
}

/* GENERAL STYLES */
html {
	font-size: 26px;
}
body {
	/* margin-top: 130px; */
}

/* NAVIGATION */
nav {
	height: 130px;
}

.logo {
    width: 180px;
}

.hamburger-menu {
	width: 45px;
	margin: 8px 0;
	height: 6px;
}

/* HEADER */
.header {
	padding: 60px 60px;
}

.header h1 {
	font-size: 70px;
}

.header-paragraph {
	font-size: 30px;
}