@import url('https://fonts.googleapis.com/css?family=Varela+Round');


nav {
    background-color:white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    position: fixed;
}

nav img {
    width: 90px;
    height: 50px;
    padding: 10px 10px 10px 20px;
}

nav .hamburg {
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .hamburg .line {
    background-color: #333333;
    height: 3px;
    width: 30px;
    margin-bottom: 6px;
}

header {
    padding-top: 70px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
}

header img {
    width: 100%;
    height: auto;
}

header .img-header {
    order: 2;
}

header .content-header {
    order: 1;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: 600;
    margin: 20px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 600;
    margin: 0px 20px 40px 20px;
    color: #444444;
}

header .content-header p {
    padding: 5px 20px 20px 20px;
    line-height: 1.5;
    color: gray;
}

.menu-top {
    display: none;
}

.text-center {
    text-align: center;
}

main {
    background-color: #eeeeee;
    padding-top: 40px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

main img {
    width:40%;
    height: auto;
    margin: 40px 0px 40px 0px;
}

main .marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

main p {
    padding: 5px 20px 20px 20px;
    line-height: 1.5;
    color: gray;
}

button {
    width: 30%;
    height: 50px;
    background-color: #192592;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px .5% 10px .5%;
    font-weight: bold;
    display: inline-block;
}

main button {
    width: 30%;
    height: 50px;
    background-color: #ffffff;
    color: #192592;
    border: 1px solid #192592;
    border-radius: 5px;
    margin: 0px .5% 10px .5%;
    font-weight: bold;
    display: inline-block;
}

input {
    width: 60%;
    height: 50px;
    background-color: #ffffff;
    color: #666666;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 0px .5% 10px 3%;
    display: inline-block;
}

input::placeholder {
    padding-left: 15px;
}

main .tryforfree {
    background-color: white;
    font-family: 'Varela Round', sans-serif;
    margin-top: 20px;
}

main .tryforfree h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    font-weight: 600;
    padding: 20px 0px 0px 0px ;
    color: #444444;
}

footer img {
    width: 10%;
    height: auto;
}

.menu-bottom {
    display: flex;
    flex-wrap: wrap;
}

.menu-bottom ul {
    width: 22%;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'Varela Round', sans-serif;
    color: #999999;
}

.menu-bottom ul li {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold
}


.foot {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: .9em;
    color: #666666
}

.foot ul {
    display: flex;
    margin-top: 10px;
}

.foot ul li {
    padding: 10px;
}

.foot .flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.foot .flag img {
    width: 10%;
    height: auto;
}