@media (min-width: 768px) and (max-width: 1024px) {
    nav {
        align-items: center;
        padding: 15px 40px;
    }

    nav .menu-list {
        display: none;
    }

    .buttons {
        align-items: baseline;
    }

    .buttons ul .hidden {
        display: none
    }

    .menu-list li a {
        text-decoration: none;
    }

    .container-header {
        padding: 0px 15px
    }

    .container-header h1 {
        padding: 20px 170px 5px 0px;
    }

    .container-header-button {
        display: initial;
        padding: 0px
    }

    .buttons .hidden {
        padding: 0px;
        align-items: center;
    }

    div .dropdown {
        display: flex
    }

    .button-search {
        margin: 0px;
    }

    .button-search {
        display: flex;
    }

    .Sign-in {
        text-align: center;
        width: 120px;
        background-color: white;
        margin-left: 15px;
        border: 1px solid;

    }

    .dropdown {
        display: none;
    }

    nav div {
        display: flex;
    }

    header {
        height: 520px;
        display: flex;
        justify-content: space-between;
    }

    .container-header {
        width: 60%;
        text-align: start;
    }

    .menu-list {
        display: flex;
        flex: none;
    }

    .container-header h1 {
        font-size: 45px;
        text-align: left;
        padding: 20px 170px 5px 10px;
    }

    .photo-movil {
        width: 30%;
        margin: auto;
        margin-right: 0px;
    }

    .container-header-buttons button {
        width: 90%;
    }

    .container-header p {
        font-size: 18px;
        text-align: left;
        padding: 0px 140px 0px 10px;
    }

    .main-header-img {
        display: flex;
        gap: 40px;
        flex-wrap: nowrap;
    }

    .main-section-header {
        padding: 50px 20px
    }

    .main-header-img img {
        object-fit: cover;
        height: 25px;
        width: auto;
    }

    .main-header-img .logo-newyork,
    .main-header-img .logo-spotify {
        object-fit: cover;
        height: 25px;
        width: auto;
    }

    .article-one-img img,
    .article-two-img img,
    .article-three-img img {
        width: 85%;
    }

    .article-one,
    .article-two,
    .article-three {
        background-color: #F3EAE2;
    }

    .article-four .list-percentage {
        display: flex;
        padding: 50px 30px;
        padding: 50px 25px;
        gap: 40px;
    }

    .article-four-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .article-four-buttons .button-meet {
        width: 40%;
    }

    .article-four-buttons .button-talk {
        width: 30%
    }

    .ul-footer-links {
        display: flex;
        padding: 0px 20px;
        justify-content: space-between;
        font-size: 12px;
    }

    .icons-app {
        justify-content: revert;
    }

    .icons-app li {
        padding-right: 70px;
    }

    .article-one-text h3,
    .article-two-text h3,
    .article-three-text h3 {
        text-align: start;
    }

    .article-one-text p,
    .article-two-text p,
    .article-three-text p {
        text-align: start;
    }

    .article-one-text,
    .article-two-text,
    .article-three-text {
        padding: 60px 160px
    }

    .article-one-text p,
    .article-two-text p,
    .article-three-text p {
        text-align: start;
    }

    .article-two-img {
        flex-direction: row-reverse;
        display: flex;
    }

    nav .buttons button {
        padding-right: 10px;
    }

    .container-header-buttons .sign-up {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .article-four-buttons {

        text-align: center;
    }

    .article-four-buttons .button-talk {
        margin: 0px;
    }

    nav .buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .hidden {
        margin: 0px;
    }

    br {
        display: none;
    }

    .footer-columns {
        justify-content: space-between;
        padding-right: 20px;
    }

    .ul-footer-links {
        display: flex;
    }
}