.link-list {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  background-color: aquamarine;
}

.container-img-dl {
  display: flex;
  flex-flow: row nowrap;
}


.img-dl {
  display: block;
  width: 20px;
  height: 20px;
}

.img-region {
  display: block;
  width: 20px;
  height: 20px;
}

.a {
  display: flex;
}

.b {
  display: flex;
}

.c {
  display: flex;
}

.d {
  display: flex;
}

.e {
  display: flex;
}

.f {
  display: flex;
}

.g {
  display: flex;
}
