.third {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    width: 100vw;
}

.third figure {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center;
}

.third figure img {
    width: 8vw;
    height: 8vh;  
}

.third span {
    display: flex;
    width: 20vw;
    justify-content: space-around;
}


@media only screen and (min-width: 767px) {
    .third figure {
        width: 20vw;
    }

    .third span {
        width: 12vw;
    }

    .third figure img {
        width: 5vw;
    }

    .third {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        width: 40vw;
    }
}