/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
  */

@import url("https://use.fontawesome.com/releases/v5.0.1/css/all.css");

@media (max-width: 768px) {
  .nav-bar {
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
