/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body{
 font-family: Arial, Helvetica, sans-serif;
 margin:0 auto;
}

@media (max-width:768px){
  .body{
    background-color:#F4F3F4;
    margin: 0 auto;
    width:765px;
  }
  .nav{
    width: 765px;
    height:100px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-image: url("https://svgshare.com/i/CsB.svg");*/
    background-repeat: no-repeat;
    position: static;
  }
  .slackLogo{
    height:90px;
    width:155px;
    padding-left: 7%;
    padding-top: 1%;
  }
  .menuHam{
    justify-content: space-between;
  }
  .menuUl{
    display:none;
    list-style-type: none;
  }
  li{
    text-decoration:none;
  }

 main{
   width:735px;
 }
  .header{
    width:735px;
    display: flex;
    flex-direction: column;
  }
  .titulo1{
    font-size: 45px;
    color:#2C303F;
    padding-top: 1%;
    padding-left: 7%;
    display: flex;
    align-self:flex-start;
    width:50%;
    letter-spacing: 0.5px;
  }
  .parrafo1{
    font-size:35px;
    color: #5b5e6d;
    width:95%;
    padding-left:7%;
    padding-bottom: 0.01%;
    letter-spacing: 0.7px;
  }
  .email{
    border: 1px solid lightgray;
    height:32px;
    width: 680px;
    border-radius: 5px;
    color:grey;
    padding-left: 3.5%;
    padding-top: 3.5%;
    padding-bottom:1.5%;
    font-size: 20px;
  }
  .claseEmail{
    display: flex;
    align-self: flex-start;
    padding-left: 6%;
    padding-bottom: 4%;
  }
  .getStarted{
    border-radius: 5px;
    background:#192592;
    color:white;
    height:80px;
    width:690px;
    font-size: 16px;
  }
  .divBoton{
    display:flex;
    align-self: flex-start;
    padding-left: 6%;
  }
  .already{
    padding-left:31%;
    display: flex;
    align-self: flex-start;
    font-size:25px;
  }
  signIn{
   color: #192592;
  }
  .imgWorking{
    width:400px;
    height:430px;
    order:1;
    padding-left: 26%;
    padding-top: 3%;
  }
  


  .divGoodCompany{
    background: #F4F3F4;
    width: 775px;
    height: 1500px;
  }
  .h2GoodCompany{
   padding-top: 8%;
   text-align: center;
   font-size: 40px;
  }
  .pGoodCompany{
    padding-top:2%;
    padding-bottom:2%;
    text-align:center;
    padding-left: 20%;
    width:60%;
    font-size: 25px;
  }
  .discover{
    border-radius: 5px;
    background:white;
    color:#192592;
    height:90px;
    width:650px;
    font-size: 26px;
    border-color: #192592;
    font-weight: 650;
  }
  .contenedorImagenes2{
    text-align: center;
  }
  .contenedorImagenes{
    display: flex;
    flex-direction: column;
  }
  .imagenes{
    width:305px;
    height: 100px;
    align-self:center;
    padding-top: 5%;
    padding-bottom: 4%;
    border-bottom: 0.5px solid lightgray;
    
  }
  .hrImagenes{
    border: 0.5px solid lightgray;
    width:75%;
  }
 
  .divTryIt{
   width:760px;
  }
  .pTryIt{
    text-align: center;
    font-size: 30px;
  }
  .divBoton2{
    padding-left: 8.5%;
  }
  .already2{
    padding-left:26%;
    font-size:25px;
  }
  .signIn2{
   color: #192592;
  }
  .email2{
    border: 1px solid lightgray;
    height:32px;
    width: 630px;
    border-radius: 5px;
    color:grey;
    padding-left: 3.5%;
    padding-top: 3%;
    padding-bottom:1%;
    font-size: 20px;
  }
  
  .claseEmail2{
    display: flex;
    align-self: flex-start;
    padding-left: 1%;
    padding-bottom: 4%;
    order:1;
  }
  .getStarted2{
    border-radius: 5px;
    background:#192592;
    color:white;
    height:80px;
    width:660px;
    font-size: 16px;
  }
  /*footer*/
  .footer{
    border-top: 1px solid lightgray;
  }
  .footerImg{
    width:770px;
    display: flex;
    flex-wrap: wrap;
  }
  ul li{
    list-style-type: none;
    color:gray;
    line-height: 45px;
    font-size: 25px;
    padding-right: 40%;
  }
  .liGrandes {
    color: #2C303F;
    font-weight: 600;
    line-height: 45px;
    text-align: left;
  }
  .slack2{
    height: 140px;
    width:140px;
  }
  .div2Footer{
    background:#F4F3F4;
     height:200px;
     width: 770px; 
  }
  .ul4{
   flex-wrap:wrap;
   flex-direction: row;
   justify-content: flex-start;
  }
  .lastul{
   display: flex;
   flex-direction: row;
   justify-content: center;
  }
  .lastlis{
    padding-top: 3%;
    font-weight: 800;
    font-size: 19px;
    padding-right: 3%;
    text-align: center;
  }
  .usFlag{
    width:25px;
    height: 25px;
  }
  .primeros{
   display: flex;
   justify-content: center;
   padding-top: 2%;
  }
  .segundos{
   display: flex;
   justify-content: center;
   padding-top:3%;
  }
  div div span{
    padding-left: 2%;
  }
  div i{
    padding-left: 2%;
  }
}

/* Segunda Iteracion*/


@media (min-width:767px) and (max-width:961px){
  .body{
    background-color:#F4F3F4;
    margin: 0 auto;
    width:365px;
  }
  .nav{
    width: 900px;
    height:90px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-image: url("https://svgshare.com/i/CsB.svg");*/
  }
  .slackLogo{
    height:62px;
    width:137px;
    padding-left: 5%;
    padding-top:2%;
  }
  .menuHam{
    justify-content: space-between;
  }
  .menuUl{
    display:none;
    list-style-type: none;
  }
  li{
    text-decoration:none;
  }

 main{
   width:900px;
 }
  .header{
    width:900px;
    display: flex;
    flex-direction: column;
  }
  .titulo1{
    font-size: 60px;
    color:#2C303F;
    padding-left: 6%;
    display: flex;
    align-self:flex-start;
    width:80%;
    letter-spacing: 0.5px;
  }
  .parrafo1{
    font-size:17px;
    color: #5b5e6d;
    width:87%;
    padding-left:6%;
    letter-spacing: 0.7px;
  }
  .divEspecial{
    display:flex;
    flex-direction:row;
    align-content: flex-start;
  }
  .email{
    border: 1px solid lightgray;
    height:32px;
    width: 310px;
    border-radius: 5px;
    color:grey;
    padding-left: 3.5%;
    padding-top: 7%;
  }
  .claseEmail{
    display: flex;
    align-self: flex-start;
    padding-left: 6%;
    
  }
  .getStarted{
    border-radius: 5px;
    background:#192592;
    color:white;
    height:60px;
    width:130px;
    font-size: 12px;
  }
  .divBoton{
    display:flex;
    align-self: flex-start;
    padding-left: 6%;
  }
  .already{
    padding-left:6%;
    display: flex;
    align-self: flex-start;
  }
  signIn{
   color: #192592;
  }
  .imgWorking{
    width:400px;
    height:430px;
    order:1;
    padding-left: 28%;
  }
  


  .divGoodCompany{
    background: #F4F3F4;
    width: 930px;
    height: 900px;
  }
  .h2GoodCompany{
    font-size: 35px;
   padding-top: 8%;
   text-align: center;
  }
  .pGoodCompany{
    font-size: 22px;
    padding-top:2%;
    padding-bottom:2%;
    text-align:center;
    padding-left: 5%;
    width:92%;

  }
  .discover{
    border-radius: 5px;
    background:white;
    color:#192592;
    height:70px;
    width:210px;
    font-size: 16px;
    border-color: #192592;
    font-weight: 650;
  }
  .contenedorImagenes2{
    text-align: center;
  }
  .contenedorImagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .imagenes{
    width:205px;
    height: 50px;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 10%;
  }
  
 
  .divTryIt{
   width:360px;
  }
  .pTryIt{
    text-align: center;
    font-size: 25px;
    padding-top: 5%;
  }
  .divBoton2{

  }
  .already2{
    padding-left:16%;
    font-size: 20px;
  }
  .signIn2{
   color: #192592;
  }
  .getStarted2{
    border-radius: 5px;
    background:#192592;
    color:white;
    height:60px;
    width:130px;
    font-size: 12px;
    position: absolute;
    left:750px;
    bottom:-1500px;
  }
  .email2{
    border: 1px solid lightgray;
    height:52px;
    width: 210px;
    border-radius: 5px;
    color:grey;
    position: absolute;
    left: 540px;
    bottom: -1524px;
  }
  .claseEmail2{
    
  }
  

  /*footer*/
  .footer{
    width:930px;
  }
  .ul4{
    border-top: 1px solid lightgray;
    width:930px;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 5%;
  }
  .footerImg{
    display: flex;
  }
  ul li{
    list-style-type: none;
    color:gray;
    line-height: 35px;
  }
  .liGrandes {
    color: #2C303F;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
  }
  .slack2{
    height: 160px;
    width:160px;
  }
  .div2Footer{
    background:#F4F3F4;
     height:100px;
     width: 930px; 
     display: flex;
     flex-direction: row;

  }
  .lastul{
   display: flex;
   flex-direction: comun;
  }
  .lastlis{
    font-weight: 700;
    font-size: 15px;
 
    
  }
  .usFlag{
    width:25px;
    height: 25px;
  }
  .lastDiv{
    display: flex;
   flex-direction: row;
   justify-content: flex-end;

  }
  .primeros{
  text-align: left;
   
  }
  .segundos{
  
  
  }
  div div span{
    
  }
  div i{
   
  }
  
}


/* Tercera Iteracion */


@media (min-width:960px) and (max-width:1024px){
  .body{
    background-color:#F4F3F4;
    margin: 0 auto;
    width:1024px;
  }
  .nav{
    width: 1004px;
    height:90px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-image: url("https://svgshare.com/i/CsB.svg");*/
  }
  .slackLogo{
    height:72px;
    width:137px;
    padding-left: 5%;
    padding-top:1%;
  }
  .menuHam{
    justify-content: space-between;
  }
  .menuUl{
    display:none;
    list-style-type: none;
  }
  li{
    text-decoration:none;
  }

 main{
   width:900px;
 }
  .header{
    width:1024px;
    display: flex;
    flex-direction: column;
  }
  .titulo1{
    font-size: 60px;
    color:#2C303F;
    padding-left: 6%;
    display: flex;
    align-self:flex-start;
    width:80%;
    letter-spacing: 0.5px;
  }
  .parrafo1{
    font-size:17px;
    color: #5b5e6d;
    width:87%;
    padding-left:6%;
    letter-spacing: 0.7px;
  }
  .divEspecial{
    display:flex;
    flex-direction:row;
    align-content: flex-start;
  }
  .email{
    border: 1px solid lightgray;
    height:32px;
    width: 310px;
    border-radius: 5px;
    color:grey;
    padding-left: 3.5%;
    padding-top: 7%;
  }
  .claseEmail{
    display: flex;
    align-self: flex-start;
    padding-left: 6%;
    
  }
  .getStarted{
    border-radius: 5px;
    background:#192592;
    color:white;
    height:60px;
    width:130px;
    font-size: 12px;
  }
  .divBoton{
    display:flex;
    align-self: flex-start;
    padding-left: 6%;
  }
  .already{
    padding-left:6%;
    display: flex;
    align-self: flex-start;
  }
  signIn{
   color: #192592;
  }
  .imgWorking{
    width:400px;
    height:430px;
    order:1;
    padding-left: 28%;
  }
  


  .divGoodCompany{
    background: #F4F3F4;
    width: 1024px;
    height: 700px;
  }
  .h2GoodCompany{
    font-size: 35px;
   padding-top: 8%;
   text-align: center;
  }
  .pGoodCompany{
    font-size: 22px;
    padding-top:2%;
    padding-bottom:2%;
    text-align:center;
    padding-left: 5%;
    width:92%;

  }
  .discover{
    border-radius: 5px;
    background:white;
    color:#192592;
    height:70px;
    width:210px;
    font-size: 16px;
    border-color: #192592;
    font-weight: 650;
  }
  .contenedorImagenes2{
    text-align: center;
    padding-bottom: 5%;
  }
  .contenedorImagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .imagenes{
    width:200px;
    height: 50px;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 5%;
    padding-bottom:5%;
  }
  
 
  .divTryIt{
   width:360px;
  }
  .pTryIt{
    text-align: center;
    font-size: 25px;
    padding-top: 5%;
  }
  .divBoton2{

  }
  .already2{
    padding-left:16%;
    font-size: 20px;
  }
  .signIn2{
   color: #192592;
  }
  .getStarted2{
    border-radius: 5px;
    background:#192592;
    color:white;
    height:60px;
    width:130px;
    font-size: 12px;
    position: absolute;
    left:750px;
    bottom:-1500px;
  }
  .email2{
    border: 1px solid lightgray;
    height:52px;
    width: 210px;
    border-radius: 5px;
    color:grey;
    position: absolute;
    left: 540px;
    bottom: -1524px;
  }
  .claseEmail2{
    
  }
  

  /*footer*/
  .footer{
    width:930px;
  }
  .columnas4{
    
  }
  .ul4{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footerImg{
    display: flex;
  }
  
  ul li{
    list-style-type: none;
    color:gray;
    line-height: 35px;
  }
  .liGrandes {
    color: #2C303F;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
  }
  .slack2{
    height: 160px;
    width:160px;
  }
  .div2Footer{
    background:#F4F3F4;
     height:100px;
     width: 930px; 
     display: flex;
     flex-direction: row;

  }
  .lastul{
   display: flex;
   flex-direction: comun;
  }
  .lastlis{
    font-weight: 700;
    font-size: 15px;
 
    
  }
  .usFlag{
    width:25px;
    height: 25px;
  }
  .lastDiv{
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
  }
  }
  .primeros{
  text-align: left;
   
  }
  .segundos{
  
  
  }
  div div span{
    
  }
  div i{
   
  }



/* Iteracion 4 */


@media (min-width:1024px){
  .body{
    background-color:#F4F3F4;
    margin: 0 auto;
    width:auto;
  }
  .nav{
    width: auto;
    height:110px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-image: url("https://svgshare.com/i/CsB.svg");*/
  }
  .slackLogo{
    height:90px;
    width:150px;
    padding-left: 5%;
    padding-top:1%;
  }
  .menuHam{
    display: none;
  }
  .menuUl{
    list-style-type: none;
    display:flex;
    padding-right: 8%;
  }
  .menuli{
    flex-direction: row;
    padding-left: 1%;
  }
  li{
    text-decoration:none;
  }

 main{
   width:auto;
 }
  .header{
    width:auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .extraDiv{
    display:flex;
    flex-direction: column;
  }
  .titulo1{
    font-size: 60px;
    color:#2C303F;
    padding-left: 6%;
    display: flex;
    align-self:flex-start;
    width:80%;
    letter-spacing: 0.5px;
  }
  .parrafo1{
    font-size:17px;
    color: #5b5e6d;
    width:85%;
    padding-left:6%;
    letter-spacing: 0.7px;
  }
  .divEspecial{
    display:flex;
    flex-direction:row;
    align-content: flex-start;
  }
  .email{
    display: none;
  }
  .getStarted{
    border-radius: 5px;
    background:#192592;
    color:white;
    height:60px;
    width:165px;
    font-size: 12px;
  }
  .divBoton{
    display:flex;
    align-self: flex-start;
    padding-left: 6%;
  }
  .already{
    padding-left:6%;
    display: flex;
    align-self: flex-start;
  }
  signIn{
   color: #192592;
  }
  .imgWorking{
    padding-top: 5%;
    width:400px;
    height:430px;
    padding-left: 4%;
    order:1;
  }
  


  .divGoodCompany{
    background: #F4F3F4;
    width: auto;
    height: 680px;
  }
  .h2GoodCompany{
    font-size: 35px;
   padding-top: 8%;
   text-align: center;
  }
  .pGoodCompany{
    font-size: 22px;
    padding-top:2%;
    padding-bottom:2%;
    text-align:center;
    padding-left: 5%;
    width:92%;

  }
  .discover{
    border-radius: 5px;
    background:white;
    color:#192592;
    height:70px;
    width:210px;
    font-size: 16px;
    border-color: #192592;
    font-weight: 650;
  }
  .contenedorImagenes2{
    text-align: center;
    padding-bottom: 5%;
  }
  .contenedorImagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .imagenes{
    width:200px;
    height: 50px;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 5%;
    padding-bottom:5%;
  }
  
 
  .divTryIt{
   border-bottom: 1px solid lightgray;
   width:auto;
  }
  .pTryIt{
    font-size: 25px;
    padding-top: 4%;
    padding-left: 6%;
  }
  .already2{
    padding-left:6%;
    font-size: 20px;
    padding-bottom: 3%;
  }
  .signIn2{
   color: #192592;
  }
  .getStarted2{
    border-radius: 5px;
    background:#192592;
    color:white;
    height:60px;
    width:165px;
    font-size: 12px;
    position: absolute;
    left:750px;
    bottom:-550px;
  }
  .email2{
   display: none;
  }
  

  /*footer*/
  .footer{
    width:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .columnas4{
    width:auto;
  }
  .ul4{
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 5%;
  }
  .footerImg{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  ul li{
    list-style-type: none;
    color:gray;
    line-height: 35px;
  }
  .liGrandes {
    color: #2C303F;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
  }
  .slack2{
    height: 160px;
    width:160px;
  }
   .div2Footer{
    background:#F4F3F4;

     width: 1000px; 
     display: flex;
     align-items: space-between;
  } 
  .lastul{
   display: flex;
   flex-direction: comun;
  }
  .lastlis{
    font-weight: 700;
    font-size: 15px;
  }
  .usFlag{
    width:25px;
    height: 25px;
  }
  .lastDiv{
   
  }
  }
  .primeros{

   
  }
  .segundos{
  
  
  }
  div div span{
    
  }
  div i{
   
  }
