*{
  width: 700px;
}
.slack-logo img {
  height: 75%;
  width: 60%;
  margin-left: 40px;
  margin-top: 25px;
}

.nav-bar li{
  display:none;
}

.slack-logo a {
  display: block;
  color: #5b5e6d;
  font-size: 71px;
  text-align: end;
  text-decoration: none;
  margin-right: -777px;
  margin-top: -100px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 28px;
  padding-top:85px;
}

header img {
  order: 1;
  padding-top:40px;
}

header h1 {
  font-size: 72px;
  color: #2C303F;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  padding-top:100px;

}

header p{
  font-size: 35px;
  color: #5b5e6d;
  justify-content: center;
  text-align: justify;
  padding:3px;
}

.sign{
  text-align:center;
}
header button {
  background-color: #192592;
  color: #FFF;
  border-radius: 5%;
  align-content: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  padding: 30px;
  width: 95%;
  margin-left: 20px;
}

header a{
color: #192592;
justify-content: center;
}

main{
  background-color:#F4F3F4;
  margin-top:430px;
  width:767px;
}
main h2{
  font-size: 47px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 26px;
}

main p{
  font-size: 35px;
  text-align: center;
}
main img{
  margin-left: 200px;
  width: 363px;
  height: 100px;
  padding-bottom: 100px;
  padding-top: 50px;
}

main button{
  border: 2px solid #192592;
  background-color: white;
  color: #192592;
  height: 60px;
  margin:60px 0 40px 34px;
  font-size: 29px;
  font-weight: bolder;
}

.get{
  background-color: #192592;
  color:white;
}

.footer img{
  width: 260px;
}

.footer{
  width: 800px;
}

.flag{
    display: flex;
    background-color: #F4F3F4;
    align-items: center;
}

.flag img{
  width:70px;
}

.flag-links{
  background-color: #F4F3F4;
  height: 15px;
}

.flag-links ul{
  display: flex;
  align-content: space-between;
}

.flag-links li{

text-decoration: none;

}