

.nav-menu li {
    list-style: none;
    display: inline;
    float: right;
    padding-right: 5%;
    padding-top: 5%;
}

body{
    padding: 0px;
    margin: 0px;
}

.slack-logo {
    width: 20%;
    padding-top: 6px;
    padding-left: 30px;
}
.burger-stack{
    height: 2px;
    background-color: black;
    margin: 3px 4px;
    width: 20px;
}

.nav-burg {
    width: 100% -1px;
    border: 1px solid rgb(216, 216, 216);
    margin: 0px;
}

h1 {
    font-size: 50px;
    padding: 0 30px;
}

h5 {
    font-weight: 100;
    font-size: 20px;
    padding: 0 30px;
}
.work-happens-container p {
    font-size: 15px;
    text-align: center;
}
    
.email-input {
    width: 70%;
    height: 40px;
    display: block;
    border: 1px solid gray;
    margin-left: 14.5%;
    text-indent: 20px;
}
.get-started-button {
    border: 2px solid purple;
    height: 40px;
    width: 69%;
    margin-top: 2%;
    margin-left: 14%;
}

.work-happening-container img {
    margin-top: 4%;
    width: 100%;
}

.good-company-container {
    background-color: #F4F3F4;
    text-align: center;
    padding-top: 20px;
    flex-wrap: wrap;
}
.good-company-container h2 {
    font-size: 25px;
}

#discover-button {
    border: 2px solid purple;
    height: 40px;
    width: 69%;
    margin-bottom: 20px;
}

.logo {
    width: 300px;
    height: 80px;
    margin: 20px 0;
    /*flex: 1 0 50%;*/
}

.logos {
    flex-wrap: wrap;
    display:inline;
}
.good-company-container hr {
    width: 85%;
    color: rgba(194, 182, 182, 0.26);
}

.try-it-container {
    text-align: center;
}

.try-it-container button {
    margin: 0px;
}

.footer-links li,
.footer-final-links li {
    list-style: none;
}

.footer-links-container {
    display: flex;
}
.footer-links li {
    color: gray;
    padding-bottom: 10px;
}

.footer-links-container ul > :first-child {
    font-weight: bold;
}

.footer-final-links li {
    display:inline;
    text-align: center;
    font-weight: bold;
    margin-right: 5.5%;
}
#lang {
    text-align: center;

}
.footer {
    padding: 10px 0;
    background-color: gray;
}

@media only screen and (min-width: 768px) {
    #burger {
        display: none;
    }
    .nav-menu {
        display: inline;

    }
}
@media (max-width:769px) {
.nav-menu {
    display:none;
}
}

#burger {
    float: right;
    margin: 15px;
    
}