
/* GIVEN INFO*/
/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* ------ DEFAULT THINGS ------ */
html{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow-x: hidden;
}

*:before, *, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*
div{
  border: 1px solid red;
}
*/

/* ------ITERATION 4 (Extra-small Screen)- width < 768px // 430px - 750px------ */

/*------NAV------*/
nav > img {
   width: 105px;
   display: flex;
   position: relative;
   left: 6%;
 }

 nav{
   border-bottom: 1px solid #b7b7b7;
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: flex-start;
   background: white;
   width: 100%;
   height: 70px;
   position: fixed;
   z-index: 1;
   justify-content: space-between;
 }

 nav ul{
   display: none;
 }

nav > button {
  font-size: 2.3em;
  padding: 0;
  border:0;
  border: 0;
  background-color: white;
  color: #636363;
  position: relative;
  right: 6%;

 }

/*------HEADER------*/
header{
  position: relative;
  top: 96px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

header > h1{
  font-family: "Prata", serif;
  color: #3A3A3A;
  word-wrap: break-word;
  font-size: 6em;
  padding: 0;
  margin: 0;
  line-height: 92px;
}

.header-paragraph{
  font-family: "Roboto-light", sans-serif;
  word-wrap: break-word;
  margin: 0;
  color: #9197AE;
  font-size: 1.4em;
  line-height: 1.5em;
  font-family: "Roboto-light", sans-serif;
  word-wrap: break-word;
  margin: 0;
  width: 100%;
  margin-top: 23px;
  margin-bottom: 29px;
  padding-right: 8px;

}

header > button{
  background-color: #4148a6;
  border: none;
  color: white;
  width: 100%;
  height: 72px;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: "Roboto-black";
}


.slack-users-option{
  color: #9197AE;
  font-family: "Roboto-light", sans-serif;
  font-size: 1em;
  margin-top: 16px;
}
header > img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 75px;
}


/*------MAIN------*/

main{
  position: relative;
  top: 102px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.you-are-in-good-company-main{
  background-color: #f5f5f5;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  font-family: "Prata", serif;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

}

.you-are-in-good-company-paragraph{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.you-are-in-good-company-paragraph > h2{
  font-size: 2.3em;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 50px;
  color: #3A3A3A;
}

.you-are-in-good-company-paragraph > p{
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #6d6d6d;
  font-size: 1.1em;
}

.you-are-in-good-company-paragraph > button{
  background-color: white;
  border-color: #9ba0cf;
  height: 72px;
  border-radius: 7px;
  font-size: 1.1em;
  font-family: "Roboto-black";
  color: #1f2c96;
  display: flex;
  margin: 50px auto;
  width: 190px;
  justify-content: center;

}


/*------BRANDS------*/
.airbnb-logo, .oracle-logo, .ticketmaster-logo, .losangelestimes-logo,
.harvard-logo, .capitalone-logo, .try-it-for-free {
  justify-content: center;
  width: 30%;
  display: flex;
  margin: 73px auto;
}

.try-it-for-free-frame{
  width: 100%;
  border-bottom: 1px solid #b7b7b7;
  height: 276px;
}
.try-it-for-free{
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 120px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 40px;
}

.try-it-for-free > h2{
  font-size: 2.3em;
  text-align: center;
  color: #3A3A3A;
  margin-top: 60px;
  margin-bottom: 9px;


}

.try-it-for-free > p{
  color: #3A3A3A;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

}
.try-it-for-free > p > a{
  font-family: "Roboto", sans-serif;
  color: #4148a6;
  text-decoration: none;
  border-bottom: 0.5px solid #4148a6;
}

.try-it-for-free button{
  background-color: #4148a6;
  border: none;
  color: white;
  width: 100%;
  height: 72px;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: "Roboto-black";

}

/*------FOOTER------*/
footer{
  width: 100%;
  height: 40%;
  position: relative;
  font-size: 1.1em;
  font-family: "Roboto";
  color: #636363;
  list-style-type: none;
}

footer > .cols{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  top: 180px;
  height: 780px;
  column-count: 2;
  column-width: 50%;
  height: 780px;
  flex-direction: row;
  justify-content: flex-start;
}

.slack-brand{
  width: 152px;
  padding: 0;
  margin: 0;
  position: relative;
  right: 5%;
  top: 200px;
}


.col-right-1, .col-right-2, .col-left-1, .col-left-2{
  list-style-type: none;
  padding: 0;
  flex-direction: column;
}


.cols > ul > li {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}


.right-shit > ul > li {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.right-shit{
  position: relative;
  bottom: 67px;
}

.col-left-2{
  height: 380px;
}

/*------RE-FOOTER------*/


.re-footer-color{
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  margin: 0;
  color: #636363;
  position: relative;
  top: 140px;
}

.re-footer-margins{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.profile-stuff > ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.profile-stuff > ul > li{
  flex-direction: row;
  margin: 0 10px;
  font-family: "Roboto-Black"
}

.country{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0;

}

.country > img{
  width: 33px;
  justify-content: center;
}


.country > i{
  margin-left: 17px;

}

.social{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.social > i{
  font-size: 2em;
  margin: 0 10px;
}

/* ------ITERATION 3 (Small Screen) - width 961px>width>767px ------ */


@media (min-width: 767px) {
.you-are-in-good-company-paragraph{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

  }

.logos{
  width: 80%;
  flex-shrink: 2;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 auto;
}

.logos > img{
  padding: 0;
  margin: 0;
  width: 60%;
}

.airbnb-logo, .oracle-logo, .ticketmaster-logo, .losangelestimes-logo, .harvard-logo, .capitalone-logo {
width: 60%;
}


.losangelestimes-logo, .capitalone-logo {
  margin-bottom: 84px;
}

/* ------ITERATION 2 (Medium Screen)- width 1024px > width > 960px------ */

@media (min-width: 960px) {

header > button{
  width: 21%;
}


}
