/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body {
  font-family: sans-serif;
  box-sizing: border-box;
}
hr {
}
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: white;
}
.slackLogo {
  width: 105px;
  height: 50px;
  display: inline-block;
}
.divNav {
  position: absolute;
  right:60px;
  top: 20px;
  bottom:10px;
  display: inline-block;
  padding-top: 10px;
  background-color: white
}
ul {
  -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
img {
  max-width: 100%;
}
.inline {
  display: inline-block;
  margin-left: 10px;
}
.link {
  text-decoration: none;
  color:#5b5e6d;
  text-align: center;
}
.buttonNav {
  text-align: center;
  border-radius: 4px;
  line-height: 1;
  background-color: white;
  display: inline-block;
  border: 1px solid #5b5e6d;
  padding: 10px 20px;
}
header {
  display: flex;
  padding-bottom:40px;
  width: 100vw;
  padding-top:185px;
}
.hcol1{
  margin-left: 130px;
  width: 50vw;
}
.imghome {
  max-width: 200px;
  min-width: 20%;
  width:50%;
  height: auto;
}
.hcol2{
  width: 50vw;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 200px;
}
.htitle1 {
  font-family: sans-serif;
  font-size: 3em;
}
.hp {
  font-family: sans-serif;
  color:#5b5e6d;
  font-size: 12px;
}
.buttonPurple {
  background-color: #192592;
  padding:10px 30px;
  border:  0px solid #192592;
  border-radius: 4px;
  color: white;
}
main {
  width: 100%;
}

.buttonDiscover{
  border-radius: 4px;
}
.imagesMain{
  width: 220px;
  display: inline-block;
}
.articlesCointer{
  width: 33%;
  margin:auto;
}


@media (min-width: 400px and max-width: 768px){
  .slackLogo {
    height: 70px;
  }



}
