/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/


nav {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-around;
  padding-top: 18vh;
  margin-bottom: 14vh;
}

h1 {
  font-size: 6.5vw;
  margin: 0;
}

h2 {
  font-size: 3.3vw;
  margin: 0;
  padding-top: 7vh;
}

hr {
  color: lightgray;
}

p, li {
  color: #5b5e6d;
}

.getStarted {
  background-color: #192592;
  border-radius: 5px;
  color: white;
  font-size: 1.2vw;
  padding: 1.5vw 3vw;
}

header img {
  height: 55vh;
  padding-top: 5vh;
}

header div {
  width: 45vw;
}

.header-main-text {
  font-size: 1.8vw;
  line-height: 5.3vh;
}

.nav-logo {
  width: 10vw;
}

.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 40vw;
}

.your-workspaces {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.6vw;
}

.main-primary-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F4F3F4;
}

.main-primary-div button {
  background-color: white;
  border-color: #192592;
  border-radius: 5px;
  color: #192592;
  font-size: 1.2vw;
  padding: 1.5vw 3vw;
  margin-top: 3vh;
}


.main-images {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.company-images {
  width: 17vw;
  padding: 6vw;
}

.capital-one-logo {
  border: 1px solid lightgray;
  border-top: 0;
  border-bottom: 0;
}

.los-angeles-times-logo {
  border-top: 1px solid lightgray;
  margin-bottom: 7vh;
  width: 27vw;
  padding: 5.5vw 2vw 5vw 0;
}

.oracle-logo {
  border: 1px solid lightgray;
  border-bottom: 0;
  margin-bottom: 7vh;
}

.ticketmaster-logo {
  border-top: 1px solid lightgray;
  margin-bottom: 7vh;
}

.main-footer-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 4vh;
  padding-bottom: 4vh;
  border-bottom: 1px solid lightgray;
}

.footer-top-div {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25vh;
  margin-top: 7vh;
}

.footer-top-div img {
  width: 12vw;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
  width: 64vw;
}

.footer-info ul {
  list-style: none;
  line-height: 4.5vh;
  height: 12vh;
  color: #5b5e6d;
}

.actual-footer {
  display: flex;
  justify-content: space-between;
  padding: 2.5vh 0;
  background-color: #F4F3F4;
  margin-bottom: 7vh;
}

.actual-footer ul {
  list-style: none;
}

.actual-footer-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25vw;
}

.us-flag {
  width: 2vw;
}
