/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/


img {
    width: 100%;
}

/* Header menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 105px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background: white;
    list-style: none;
}

.logo img {
    width: 70px;
}

.menu .navicon {
    width: 30px;
}

.menu nav {
    display: none;

}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

section {
    margin-top: 40px;
}

/* button */
.button {
    padding: 5px 20px;
}

.buttoncolor {
    background-color: #4049aa;
}

.block {
    display: block;
    width: 50%;
}

.discoverybutton {
    background-color: white;
    color: #4049aa;
}

.squaresize {
    width: 100%;
    padding: 15px;
}

/* Center */
.centered {
    text-align: center;
}

.brands {
    padding: 50px;
}

.list {
    list-style: none;
}

/* Footer */
.footlinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 60%;
    justify-content: center;
}

.footlogo {
    width: 15px;
    height: 15px;
}

.footsize {
    font-size: 60%;
}

.grey {
    background-color: #F4F3F4;
}

.inputform {
    color: white;
    padding: 20px;
}

.but2 {
    margin-bottom: 5px;
}

.vertical {
    align-items: flex-end;
}

@media screen and (min-width:990px) {
    input {
        display: none;
    }

    .but1 {
        margin-left: -450px;
    }

    .but2 {
        margin-left: -230px;
    }

    .dis {
        display: none;
    }

    .footlinks {
        justify-content: left;
    }

    .left {
        text-align: left;
    }

    .menu nav {
        display: contents;
    }
}