/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* General Styles */

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

/* NavBar Styles */

nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #5b5e6d;
  padding: 10px 20px;
  z-index: 100;
}

.logo {
  width: 100px;
}

nav ul {
  display: none;
}

.navicon {
  width: 40px;
  height: 40px;
}

header {
  padding-top: 100px;
}

/* Hero Section */

p {
  padding: 20px 0;
  margin-bottom: 0;
}

.input-email {
  width: 280px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.hero p {
  text-align: center;
  font-size: 0.8em;
}

/* Sponsors Section */

.sponsors {
  background-color: #f4f3f4;
  text-align: center;
}

.sponsors img {
  width: 50%;
}

.row {
  margin-right: auto;
  margin-left: auto;
}

/* Buttons Styles */

.button {
  border: 1px solid;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  padding: 14px 0;
  width: 280px;
  font-size: 0.8em;
  text-align: center;
}

.button.blue {
  background-color: #192592;
  color: white;
}

.button-white {
  background-color: white;
  color: #192592;
}

.centered {
  margin: 10px auto;
}

@media screen and (min-width: 1200px) {
  nav ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
  }

  .navicon {
    display: none;
  }

  nav ul li {
    list-style: none;
  }
}
