/*
background-grey: 
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* General */

:root{
    --background-grey: #F4F3F4;
    --background-margin-grey: #c0bfc0;
    --button-purple: #192592;
    --main-titles-dark-grey: #2C303F;
    --paragraph-grey: #5b5e6d;
    --nav-grey: #5b5e6d;
}

body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .8px;
    color: var(--paragraph-grey);
}

img{
    width: 100%;
}

ul{    
    list-style: none;
}

input{
    display: block;
    width: 100%;
    padding: 14px 0;
    margin-bottom: 20px;
    border: 2px solid var(--background-grey);
    border-radius: 5px;
}

h1, h2{
    margin: 40px 0;
    color: var(--main-titles-dark-grey);
}

h3 {
    margin-top: 60px;
}

p {
    color: var(--paragraph-grey);
    margin-bottom: 20px;
    /* font-size: 1em; */
}

.centered{
    text-align: center;
}
/* 
section{
    margin-top: 50px;
} */

/* Buttons */

.button{
    border: 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .9px;
    display: block;
    padding: 14px 0;
    text-align: center;
    margin-bottom: 20px;
    /* font-size: 1em; */
}

.button-dark{
    background-color: var(--button-purple);
    color: white;
}

.button-light{
    color: var(--button-purple);
}

/* Nav */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid var(--background-grey);
}

.menu>nav{
    display: none;
    color: var(--nav-grey);
}

.menu nav>ul{
    display: flex;
    margin: 0;
}

.menu nav>ul li{
    padding: 0 10px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.menu .logo img{
    width: 150px;
}

.menu .navicon{
    width: 40px;
}

section{
}

/* 1. Hero Section  */
.hero>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    display: block;
    padding-left: 20px;
}

/* 2. Sponsors' Section */
.sponsors{
    
    
    text-align: center;
}

.light-grey-background{
    background-color: var(--background-grey);
    padding: 40px 0;
}

.sponsors img{
    width: 250px;
}

.logo-sponsors{
    padding: 30px 0;
    border-bottom: 1px solid var(--background-margin-grey);
    text-align: center;
}

div:last-child{
    border: none;
}

.sponsors-footer{
    display: flex;
    flex-direction: column;
}

/* 3. Subfooter Section */

.subfooter li{
    padding: 5px;
}

.logo-subfooter img{
    width: 40px;
}

/* Footer */
footer{
    background-color: var(--background-grey);
}

footer>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-info>ul{
    display: flex;
}

.footer-info>ul li{
    padding: 0 10px;
}

img.flag{
    width: 40px;
}


/* media queries */

@media screen and (min-width: 768px) {
    footer>div{
        flex-direction: row;
    }

    .hero>div{
        display: flex;
        flex-direction: row-reverse;
    }

    .sponsors-footer{
        flex-direction: row;
    }

    .button{
        width: 250px;
    }

    input{
        width: 250px;
    }

    .logo-sponsors{
        padding: 30px 0;
        /* border-bottom: 1px solid var(--background-margin-grey); */
        text-align: center;
    }
}

@media screen and (min-width: 961px) {
    
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1200px) {
    img.navicon{
        display: none;
    }

    .menu>nav{
        display: block;
    }
}