/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* GENERAL STYLING */

img {
    width: 100%;
}

section {
    padding: 100px 0;
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
    line-height: 1.4;
    margin-bottom: 40px;
}

p {
    font-size: .9em;
}

/* NAV SECTION */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 150px;
}

.navicon {
    width: 50px;
}

.menu div {
    display: none;
    font-size: .9em;
}

.menu div ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: inherit  ;
}

/* HERO SECTION */

.hero {
    color: black;
    text-align: left;
}

.hero div p {
    margin: 30px 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 55px;
    text-align: center;
}

.input-group button {
    background-color: #192592;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px 100px;
}

.signin {
    text-align: center;
}

.signin p a {
    text-decoration: underline;
}   



/* MAIN / DISCOVER SECTION */

.discover {
    text-align: center;
    background-color: #F4F3F4;
    margin-bottom: 30px;
    padding-top: 20px;
}

.discover button {
    background-color: white;
    color: #192592;
    border-radius: 3px;
    padding: 10px 100px;
    border-color: #192592;
    font-weight: bold;
}



/* SPONSORS SECTION */

.sponsors img {
    width: 60%;
    display: block;
    margin: 20px auto;
}

/* TRY SECTION */
 
.try-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.try-flex div {
    display: flex;
    flex-direction: column;
}

.try-flex article {
    display: flex;
    flex-direction: column;
}



.try {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.signin-2 {
    text-align: center;
}

.signin-2 a {
    text-decoration: underline;
}   


.input-group-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group-2 input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 55px;
    text-align: center;
}

.input-group-2 button {
    background-color: #192592;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 12px 100px;
}


/* FOOTER SECTION */

.footer div div ul {
    list-style: none;
}

.hash {
    width: 100px;
}

.legal {
    background-color: #F4F3F4;
    padding-top: 15px;
    padding-bottom: 30px;
}

.legal ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social div img {
    width: 50px;
}

.social div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
}

.social article i {
    margin-right: 5px;
    margin-left: 5px;
}






@media screen and (min-width: 768px) {
    
    .menu div {
        display: block;
    }

    .menu .navicon {
        display: none;
    }

    .features img {
        width: 100px;
    }

}

@media screen and (min-width: 961px) {

/* input 1 (HERO SECTION) */
.input-group {
    display: block;
    align-items: center;
}

.input-group input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 55px;
    text-align: center;
}

.input-group button {
    background-color: #192592;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px 100px;
}

.signin p {
    text-align: left;
}



/* input 2 (TRY SECTION) */

.try-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.try-flex div {
    display: flex;
    flex-direction: column;
}

.try-flex article {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.try {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.signin-2 {
    text-align: center;
}

.signin-2 a {
    text-decoration: underline;
}   


.input-group-2 {
    display: flex;
    flex-direction: column;
}

.input-group-2 input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 35px;
    text-align: center;
}

.input-group-2 button {
    background-color: #192592;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 12px 85px;
    margin-bottom: 10px;
    margin-left: 5px;
}
}








}

/*
@media screen and (min-width: 1024px) {
    
    .menu nav {
        display: block;
    }

    .menu .navicon {
        display: none;
    }

    .features img {
        width: 100px;
    }

} */