@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*NAV*/
nav {
  position: fixed;
  width: 100vw;
  border-bottom: 2px solid #EBEBEB;
}
nav img[alt=slack_logo] {
  width: 130px;
}
nav div {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
nav div ul {
  list-style: none;
}
nav #main-nav {
  display: none;
}

/*end of nav*/
/*HEADER*/
header {
  padding: 100px 30px 40px 30px;
}
header h1 {
  font-size: 3.8em;
  line-height: 60px;
  padding: 40px 0;
  color: #3C434B;
  box-sizing: border-box;
}
header p:last-of-type {
  text-align: center;
}

p {
  font-family: "Muli", sans-serif;
  font-size: 1.4em;
  line-height: 36px;
  color: #6E707D;
  padding-bottom: 40px;
}

form {
  width: 100%;
}
form input {
  width: 100%;
  padding: 20px;
  font-size: 1.3em;
  box-sizing: border-box;
  border-radius: 6px;
  border: 2px solid #EBEBEB;
}
form button {
  color: #fff;
  background-color: #4049AA;
}

/*end of header*/
/*UNIVERSAL BUTTON STYLES*/
.button-style {
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin: 20px 0;
  border-radius: 6px;
}

img[alt=home_work_happening] {
  width: 100%;
  padding-top: 30px;
}

/*MAIN*/
main #container-main {
  background-color: #F4F3F4;
  padding: 50px 30px;
  text-align: center;
}
main h2 {
  font-size: 2.2em;
  padding: 14px 0;
}
main div > button {
  color: #4049AA;
  background-color: #fff;
  border: 2px solid #4049AA;
}
main img[alt*=clients] {
  width: 50%;
  height: auto;
  margin: 40px auto;
  display: block;
}
main #la-img {
  width: 80%;
}
main #container-form-two {
  background-color: white;
  padding: 40px 30px;
  text-align: center;
}
main div:last-child > div > h3 {
  font-size: 1.6em;
}

/*end of main*/
hr {
  border: 1px solid #EBEBEB;
}

footer {
  padding-top: 40px;
  font-size: 1.3em;
  color: #3C434B;
  font-family: "Muli", sans-serif;
  /*end of footer-top*/
  /*end of footer-bottom*/
}
footer img[alt=logo-simple] {
  width: 80px;
}
footer #footer-top {
  margin: 0 30px;
}
footer #footer-top ul {
  list-style: none;
  width: 50%;
}
footer #footer-top li:first-of-type {
  font-weight: 700;
}
footer #footer-top li {
  padding: 16px 0;
  margin-right: 10px;
}
footer #footer-top ul:first-of-type, footer #footer-top ul:nth-child(2) {
  padding-bottom: 30px;
}
footer #footer-top #footer-links {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
footer #footer-bottom {
  text-align: center;
  background-color: #F4F3F4;
}
footer #footer-bottom ul {
  width: 100%;
  padding-top: 40px;
}
footer #footer-bottom li {
  padding: 0 8px;
  font-weight: 700;
  display: inline;
}
footer #footer-bottom img[alt=flag] {
  width: 8%;
}
footer #footer-bottom div {
  margin: 0 auto;
}
footer #footer-bottom div > div:first-of-type {
  display: flex;
  justify-content: space-between;
  width: 44%;
  padding-top: 40px;
}
footer #footer-bottom div > div:last-of-type {
  display: flex;
  justify-content: space-between;
  width: 24%;
  padding: 40px 0;
}

/*end of footer*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Ipad Version*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Mobile Version*/
@media (min-width: 960px) {
  body {
    background-color: blue;
  }
}

/*# sourceMappingURL=main.css.map */
