* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Muli', sans-serif;
	color: rgba(0, 0, 0, .5);
	overflow-x: hidden;
}
.container {
	width: 100vw;
	height: 100vh;
}
.nav {
	width: 100%;
	height: 7rem;
	background-color: #fff;
	position: fixed;
	z-index: 10;
	/* box-shadow: 0 2px 8px rgba(0,0,0,.2); */
	padding: 0 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	border-top: 1px solid rgba(0, 0, 0, .2);
}
.nav-logo {
	width: 14rem;
	height: 8rem;
}
.nav-list {
	height: 100%;
	display: flex;
	list-style: none;
	font-size: 2rem;
	color: rgba(0, 0, 0, .5);
}
.nav-list li {
	line-height: 7rem;
}
.list-item:not(:last-child) {
	margin-right: 3rem;
}
.section-1 {
	width: 100%;
	height: 650px;
	display: flex;
	flex-flow: row wrap;
}
.section-1-right {
	width: 50%;
	margin-top: 7rem;
	height: calc(100% - 7rem);
	padding: 2rem;
}
.section-1-left {
	width: 50%;
	height: calc(100% - 7rem);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 7rem;
}
.left-img {
	width: 50rem;
	height: 40rem;
}
.right-title {
	font-size: 7rem;
	font-family: 'Playfair Display', sans-serif;
}
.right-text {
	font-size: 1.5rem;
}
.right-btn {
	border-radius: 5px;
	border: none;
	color: white;
	background-color: #4049aa;
	padding: 2rem;
	display: flex;
	align-items: center;
	text-align: center;
	font-family: 'Muli';
	font-weight: 800;
}
.section-2-btn {
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .5);
	color: #4049aa;
	background-color: white;
	padding: 2rem;
	text-align: center;
	font-family: 'Muli';
	font-weight: 800;
}
.right-wrapper-title {
	height: 15rem;
	margin-bottom: 10rem;
	color: rgba(0, 0, 0, .8);
}
.right-wrapper {
	height: 10rem;
	width: 100%;
	margin-bottom: 5rem;
}
.section-2 {
	width: 100%;
	height: 700px;
	background-color: #f5f5f5;
	padding: 4rem;
}
.section-2-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section-2-title {
	color: rgba(0, 0, 0, .8);
	font-size: 2.5rem;
	margin-bottom: 3rem;
}
.section-2-subtitle {
	font-size: 1.2rem;
	margin-bottom: 3rem;
}
.company {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 12rem);
	margin: 0 auto;
	margin-top: 5rem;
}
.company-items {
	justify-self: stretch;
	align-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
}
.border-right {
	border-right: 1px solid rgba(0, 0, 0, .2);
}
.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.company-img {
	width: 37%;
	height: 37%;
}
.try-it {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	border-top: 1px solid rgba(0, 0, 0, .2);
	padding: 3rem;
}
.try-it-title {
	font-size: 2rem;
	color: rgba(0, 0, 0, .8);
}
.try-it-subtitle {
	font-size: 1.2rem;
}
.section-3 {
	width: 100%;
	height: 100vh;
	display: flex;
}
.section-3-left {
	height: 100%;
	width: 40%;
	position: relative;
}
.section-3-right {
	height: 100%;
	width: 60%;
	display: flex;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	padding-top: 10rem;
}
.section-3-list {
	list-style: none;
	margin-right: 10rem;
}
.section-3-list li {
	margin-bottom: 2rem;
}
.section-3-list li:first-child {
	color: rgba(0, 0, 0, 1);
}
.section-3-img {
	width: 5rem;
	height: 5rem;
	position: absolute;
	top: 12rem;
	left: 8rem;
	transform: rotate(-10deg);
}
footer {
	background-color: #f5f5f5;
	height: 7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3rem;
}
.flag {
	width: 2rem;
	height: 1.5rem;
}
footer ul {
	display: flex;
	height: 100%;
	align-items: center;
	font-size: 1.2rem;
	list-style: none;
}
footer ul li {
	line-height: 7rem;
}
footer ul li:not(:last-child) {
	margin-right: 2rem;
}

/*Small screen
 size*/

@media all and (min-width: 768px) {
	.section-1-right {
		order: 2;
	}
	.section-1-left {
		order: 1;
	}
}
