* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Slack-Averta', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 10px;
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;
  --background-grey: #F4F3F4;
  --button-purple: #192592;
  --main-titles-dark-grey: #2C303F;
  --nav-grey: #5b5e6d;
  --paragraph-grey: #5b5e6d;
  --border-gray: #ebebeb;
}
.container {
  padding-left: 8.1vw;
  padding-right: 8.1vw;
}
.pad-top {
  padding-bottom: 4.8em;
  padding-top: 4.8em;
}
.clear-fix {
  display: none;
}
.flex {
  display: flex;
}
.get-started {
  background: var(--button-purple);
  color: #fff;
}
body {
  overflow-x: hidden;
  padding-top: 7em;
}
img {
  align-self: center;
  width: 100%;
}
h1, h2, h3 {
  font-family: 'Slack-Tiempos', serif;
  font-weight: 500;
  color: var(--main-titles-dark-grey);
}
h4, h5, .extras {
  font-weight: 700;
  color: var(--paragraph-grey);
}
h1 {
  font-size: 3.4em;
  line-height: 1;
  margin-bottom: 3.2rem;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 2em;
  margin-bottom: 1rem;
}
h4 {
  text-transform: uppercase;
}
h5 {
  font-size: 1.6em;
}
p {
  color: var(--paragraph-grey);
  font-size: 1.7em;
  font-weight: 400;
  margin-bottom: 3.2rem;
}
ul {
  list-style: none;
}
input {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1.25em 1em;
}
button {
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 2rem 0;
  text-transform: uppercase;
}
body, nav .container, .menu, .menu ul, header .container, #customers .container, #trial, .signup, #sitemap, #referrals, #referrals ul {
  display: flex;
}
body, header .container, #customers .container, #trial, .signup {
  flex-direction: column;
}
nav, header, main, #customers .container button, footer  {
  background: #fff;
}
header .container p:last-child, #customers .container, #trial, #referrals ul, .social {
  text-align: center;
}
#customers, #referrals {
  background: var(--background-grey);
}
#customers, .img-wrapper, #trial, footer, #referral {
  border-top: 1px solid var(--border-gray);
}
#sitemap, #referrals {
  flex-flow: row wrap;
}
#referrals li, .social i {
  margin-right: 1.6rem;
}
#referrals li:last-child, .social i:last-child {
  margin: 0;
}
.language, .social {
  padding: 1.6em 0;
}
nav {
  border-bottom: 1px solid var(--border-gray);
  height: 7em;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
nav .container {
  align-items: center;
  height: 100%;
  width: 100%;
}
nav img {
  width: auto;
  max-height: 85%;
}
.menu {
  color: var(--nav-grey);
  justify-content: flex-end;
  width: 100%;
}
.menu i {
  font-size: 2.1em;
}
.menu ul {
  display: none;
}
header {
  padding-top: 4em;
}
header img {
  max-width: 672px;
  order: 1;
}
header .container p:first-of-type {
  text-align: justify;
}
header .container p a {
  color: var(--button-purple);
}
#customers .container {
  padding-top: 4.8em;
  padding-bottom: 4.8em;
}
#customers .container button {
  border: 1px solid var(--button-purple);
  color: var(--button-purple);
  font-weight: bold;
}
.img-wrapper {
  padding: 3em;
}
.img-wrapper:first-of-type {
  border: none;
}
.img-wrapper img {
  max-width: 15em;
}
#trial p {
  margin: 0;
}
#sitemap {
  justify-content: space-between;
}
.logo-footer {
  width: 100%;
}
.logo-footer img {
  max-width: 5.4em;
}
#sitemap ul {
  margin-top: 1.6em;
}
#sitemap ul:nth-child(even) {
  margin-right: 0.8em;
  width: calc(50% - 0.8em);
}
#sitemap ul:nth-child(odd) {
  margin-left: 0.8em;
  width: calc(50% - 0.8em);
}
#sitemap ul.top-menu {
  margin-top: 3.2em;
}
#sitemap li {
  font-size: 1.6em;
  color: var(--paragraph-grey);
  padding: 1.2rem 0;
}
#referrals {
  justify-content: center;
}
#referrals ul {
  margin: 1.6rem 0;
}
.language img {
  max-width: 2em;
  margin-right: 1em;
}
.language span {
  font-size: 1.6em;
}
.language i {
  margin-left: 1rem;
}
.extras i {
  font-size: 2em;
}