/* GENERAL STYLING */


body {
    font-family: 'Montserrat', sans-serif;
    
}
img, .email{
    width: 100%;
}

/* NAVIGATION */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 9999;
}

.menu .logo img {
    width: 120px;
}

.menu .botonmenu {
    width: 40px;
}

.menu nav {
    display: none;
    font-size: .8em;
}

.menu nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: inherit;
}

/*Buttons*/
.button {
    border: 1px solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding: 10px 0;
    width: 100%;
    font-size: .8em;
    text-align: center;
    border-radius: 3px;
}
.button.centered {
    margin: 10px auto;
}

.button.purple {
    color: white;
    background-color: #4049aa;

}
.button.white {
    
    background-color: white;
    color: #4049aa;
}


/*SECTIONS*/

.first{

padding-top: 100px;

}

.center, .middle, .second, .third, footer, .foo  {

    text-align: center;
}

.second{

    background-color:#f6f6f6 ;
    padding: 50px;

}

.third{

   padding: 50px;

}



/*LINKS DECORATION*/

.link{

text-decoration: underline;
color: #4049aa;

}

/*IMAGE SIZE SPONSORS*/

.sponsors img{
padding: 50px;
    width: 80%;
}


/*IMG logo*/

.fourth img{

    width: 150px;
    
}


li {
    
    list-style: none;
    
   
}

.fourth ul{

    Line-height : 2;
}

.foo ul{

    display: flex;
    
}

.foo li{

    margin: 0 14px;
}

.flag{
    padding-right: 5px;
    width: 33px;
}

footer li, footer span{
font-weight: bold;
align-items: center ;


}

footer{

    color: #706e79;
    background-color: #f6f6f6;
    padding-bottom: 30px;
    font-size: 0.8em;
}

.social-networks{

font-size: 1.5em;

}

.social-networks i{

    padding-left: 20px;
}

footer div{

    margin-top: 30px;
}

.email{

    border: 1px solid;
    letter-spacing: 1px;
    display: block;
    padding: 10px 0;
    width: 100%;
    font-size: .8em;
    text-align: center;
    margin-top: 10px;
    border-radius: 3px;
}

@media screen and (min-width: 768px) {

    .md-screen{
    text-align: left;

    }

   .lg-screen{

    font-size: 1.4em;
   }

   .menu nav {
        display: block;
    }

    .menu .botonmenu {
        display: none;
    }



   }