/*
    **** SOME BREAKING POINTS ****
    
    Iteration 1 | Mobile Screens (width < 390px)                        - phone --> default
    Iteration 2 | tablet portrait (width > 390px and width < 768px)     - table
    Iteration 3 | Small Screens (width > 768px and width < 1024px)      - small
    Iteration 4 | Medium Screens (width > 1024px and width < 1440px)    - medium
    Iteration 5 | Large Screens (width > 1440px)                        - large
    
    **** UNIT ****
    1em = 16px

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 37.5%; }
  @media all and (max-width: 91em) {
    html {
      font-size: 87.5%; } }
  @media all and (min-width: 65em) and (max-width: 90em) {
    html {
      font-size: 75%; } }
  @media all and (min-width: 48em) and (max-width: 64em) {
    html {
      font-size: 62.5%; } }
  @media all and (min-width: 24.37em) and (max-width: 47em) {
    html {
      font-size: 50%; } }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  background-color: #f3eae2; }

body {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 6.2rem;
  background-color: #540b51; }
  .navbar__start {
    display: flex;
    align-items: center;
    gap: 4rem; }
    .navbar__start > img {
      width: 20%;
      height: 20%; }
    .navbar__start > ul {
      display: none; }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .navbar__start > ul {
          list-style: none;
          display: flex;
          font-size: 1.4rem;
          gap: 2rem; } }
      @media all and (max-width: 91em) {
        .navbar__start > ul {
          list-style: none;
          display: flex;
          font-size: 1.4rem;
          gap: 2rem; } }
      .navbar__start > ul a {
        color: #fff;
        text-decoration: none; }
  .navbar__end {
    display: flex;
    gap: 2rem; }
    .navbar__end button {
      background-color: inherit;
      border: none; }
      .navbar__end button:nth-child(2) {
        display: none; }
    .navbar__end ul {
      flex: 0 0 100%;
      background-color: #fff;
      gap: 2rem;
      padding: 0.8rem 1.2rem; }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .navbar__end ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          font-size: 1.6rem;
          font-weight: 500; } }
      @media all and (max-width: 91em) {
        .navbar__end ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          font-size: 1.6rem;
          font-weight: 500; } }
      .navbar__end ul a {
        color: #540b51;
        text-decoration: none; }

.header {
  display: flex;
  flex-direction: column;
  padding: 0 6.2rem;
  gap: 2rem;
  background-color: #540b51; }
  @media all and (min-width: 48em) and (max-width: 64em) {
    .header {
      flex-direction: row;
      height: 50rem; } }
  @media all and (min-width: 65em) and (max-width: 90em) {
    .header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
      height: 70rem; } }
  @media all and (max-width: 91em) {
    .header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
      height: 70rem; } }
  @media all and (min-width: 48em) and (max-width: 64em) {
    .header img {
      width: 50%;
      height: 50%;
      align-self: center;
      justify-self: flex-end; } }
  @media all and (min-width: 65em) and (max-width: 90em) {
    .header img {
      width: 40%;
      height: 20%;
      align-self: center;
      justify-self: flex-end; } }
  @media all and (max-width: 91em) {
    .header img {
      width: 40%;
      height: 30%;
      align-self: center;
      justify-self: flex-end; } }
  .header > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 50%;
    gap: 2rem; }
    .header > div :is(h1, p) {
      color: #fff;
      text-align: center; }
    .header > div h1 {
      font-size: 5.4rem;
      margin-bottom: 2rem;
      color: #fff; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .header > div h1 {
          font-size: 4.2rem;
          text-align: left; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .header > div h1 {
          font-size: 5.2rem;
          text-align: left; } }
      @media all and (max-width: 91em) {
        .header > div h1 {
          font-size: 5.2rem;
          text-align: left; } }
    .header > div p {
      font-size: 2rem;
      margin-bottom: 2rem; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .header > div p {
          font-size: 1.4rem;
          text-align: left;
          margin-bottom: 0; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .header > div p {
          font-size: 2rem;
          text-align: left;
          margin-bottom: 0; } }
      @media all and (max-width: 91em) {
        .header > div p {
          font-size: 2rem;
          text-align: left;
          margin-bottom: 0; } }
      .header > div p span {
        color: #ecb12f; }
  .header__btn {
    width: 100%; }
    .header__btn button {
      width: inherit;
      height: 6rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 2rem; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .header__btn button {
          font-size: 1.4rem;
          width: inherit;
          height: 4rem; } }
      @media all and (max-width: 91em) {
        .header__btn button {
          font-size: 1.6rem;
          width: inherit;
          height: 6rem; } }
      .header__btn button:first-child {
        padding-left: 3rem; }
      .header__btn button + :last-child {
        display: flex;
        align-items: center;
        background-color: #4285f4;
        padding-left: 0.6rem; }
        .header__btn button + :last-child > img {
          width: 4rem;
          background-color: #fff; }
          @media all and (min-width: 48em) and (max-width: 64em) {
            .header__btn button + :last-child > img {
              height: 3rem; } }
          @media all and (min-width: 65em) and (max-width: 90em) {
            .header__btn button + :last-child > img {
              height: 4rem; } }
          @media all and (max-width: 91em) {
            .header__btn button + :last-child > img {
              height: 4rem; } }
        .header__btn button + :last-child > span {
          color: #fff;
          margin: 0 auto; }

.features {
  background-color: #f3eae2;
  margin-top: -6rem;
  padding: 0 2.8rem;
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4rem; }
  @media all and (min-width: 48em) and (max-width: 64em) {
    .features {
      margin-top: 0rem; } }
  .features p {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2.6rem; }
    @media all and (min-width: 65em) and (max-width: 90em) {
      .features p {
        font-size: 1.8rem; } }
    @media all and (max-width: 91em) {
      .features p {
        font-size: 2em; } }
  .features div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.8rem; }
    .features div > img {
      width: 20%; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .features div > img {
          width: 16%; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .features div > img {
          width: 14%; } }
      @media all and (max-width: 91em) {
        .features div > img {
          width: 12%; } }
      .features div > img + img:nth-child(2) {
        width: 15%; }
        @media all and (min-width: 48em) and (max-width: 64em) {
          .features div > img + img:nth-child(2) {
            width: 8%; } }
        @media all and (min-width: 65em) and (max-width: 90em) {
          .features div > img + img:nth-child(2) {
            width: 8%; } }
        @media all and (min-width: 65em) and (max-width: 90em) {
          .features div > img + img:nth-child(2) {
            width: 6%; } }
      .features div > img + img:nth-child(3) {
        width: 14%; }
        @media all and (min-width: 48em) and (max-width: 64em) {
          .features div > img + img:nth-child(3) {
            width: 14%; } }
        @media all and (min-width: 65em) and (max-width: 90em) {
          .features div > img + img:nth-child(3) {
            width: 12%; } }
        @media all and (max-width: 91em) {
          .features div > img + img:nth-child(3) {
            width: 12%; } }
      .features div > img + img:nth-child(4) {
        width: 10%; }
        @media all and (min-width: 48em) and (max-width: 64em) {
          .features div > img + img:nth-child(4) {
            width: 6%; } }
        @media all and (min-width: 65em) and (max-width: 90em) {
          .features div > img + img:nth-child(4) {
            width: 6%; } }
        @media all and (max-width: 91em) {
          .features div > img + img:nth-child(4) {
            width: 4%; } }
      .features div > img + img:nth-child(5) {
        width: 30%; }
        @media all and (min-width: 48em) and (max-width: 64em) {
          .features div > img + img:nth-child(5) {
            width: 20%; } }
        @media all and (min-width: 65em) and (max-width: 90em) {
          .features div > img + img:nth-child(5) {
            width: 18%; } }
        @media all and (min-width: 65em) and (max-width: 90em) {
          .features div > img + img:nth-child(5) {
            width: 16%; } }

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem; }
  .cards div {
    display: flex;
    padding: 0 1.2rem;
    flex-direction: column;
    justify-content: center;
    gap: 2.6rem; }
    .cards div div {
      align-self: center; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div div {
          width: 45%; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div div {
          width: 50%; } }
      @media all and (max-width: 91em) {
        .cards div div {
          width: 55%; } }
    .cards div > h2 {
      font-size: 3.4rem;
      color: #191817; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div > h2 {
          font-size: 3.6rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div > h2 {
          font-size: 3.8rem; } }
      @media all and (max-width: 91em) {
        .cards div > h2 {
          font-size: 4rem; } }
    .cards div > p {
      line-height: 2.2rem;
      font-weight: 600;
      font-size: 1rem; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div > p {
          font-size: 1.2rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div > p {
          font-size: 1.2rem; } }
      @media all and (max-width: 91em) {
        .cards div > p {
          font-size: 1.4rem; } }
    .cards div img {
      width: 50%; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div img {
          width: 55%; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div img {
          width: 60%; } }
      @media all and (max-width: 91em) {
        .cards div img {
          width: 65%; } }
      .cards div img:nth-child(2) {
        align-self: flex-end; }
      .cards div img:not(:first-child) {
        margin-top: 3rem; }
    .cards div a:link {
      font-size: 1.4rem;
      color: #2e71a6;
      font-weight: 500;
      text-decoration: none; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div a:link {
          font-size: 1.2rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div a:link {
          font-size: 1.2rem; } }
      @media all and (max-width: 91em) {
        .cards div a:link {
          font-size: 1.2rem; } }

.footer {
  padding: 0 1.2rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem; }
  .footer img {
    width: 8%;
    grid-column: 1 / -1; }
  .footer hr {
    grid-column: 1 / -1; }
  .footer__list {
    list-style: none;
    font-size: 1.4rem; }
    .footer__list :not(:last-child) {
      margin-bottom: 1.6rem; }
    .footer__list :first-child {
      font-weight: 600; }
  .footer > :nth-child(7) {
    grid-column: 1 / -1;
    font-weight: 600;
    font-size: 1rem;
    list-style: none; }
    @media all and (max-width: 91em) {
      .footer > :nth-child(7) {
        display: flex;
        align-items: center;
        justify-content: space-between; } }
    .footer > :nth-child(7) :not(:last-child) {
      margin-bottom: 1.6rem; }
  .footer > :nth-child(8) {
    grid-column: 1 / -1;
    font-size: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media all and (max-width: 91em) {
      .footer > :nth-child(8) {
        align-items: flex-start;
        justify-content: flex-start;
        gap: 4rem; } }
  .footer > :nth-child(9) {
    grid-column: 1 / -1;
    font-size: 1.4rem; }

.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  background-color: #fff; }
  .cta > div:first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 100%; }
    .cta > div:first-child h3 {
      margin-top: 5.2rem;
      text-align: center;
      font-size: 3rem; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cta > div:first-child h3 {
          font-size: 3rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cta > div:first-child h3 {
          font-size: 3.2rem; } }
      @media all and (max-width: 91em) {
        .cta > div:first-child h3 {
          font-size: 3.2rem; } }
    .cta > div:first-child > p {
      text-align: center;
      font-size: 1rem;
      margin-top: -2rem; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cta > div:first-child > p {
          font-size: 1.2rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cta > div:first-child > p {
          font-size: 1.4rem; } }
      @media all and (max-width: 91em) {
        .cta > div:first-child > p {
          font-size: 1.6rem; } }
    .cta > div:first-child div {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 4rem;
      padding: 0 1.2rem;
      width: 100%; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cta > div:first-child div {
          flex-direction: row; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cta > div:first-child div {
          flex-direction: row; } }
      @media all and (max-width: 91em) {
        .cta > div:first-child div {
          flex-direction: row; } }
      .cta > div:first-child div button {
        width: 100%;
        height: 4rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        border: 1px solid #540b51; }
        @media all and (min-width: 48em) and (max-width: 64em) {
          .cta > div:first-child div button {
            flex: 0 0 40%;
            font-size: 1.4rem; } }
        @media all and (min-width: 65em) and (max-width: 90em) {
          .cta > div:first-child div button {
            flex: 0 0 30%;
            font-size: 1.4rem; } }
        @media all and (max-width: 91em) {
          .cta > div:first-child div button {
            flex: 0 0 30%;
            font-size: 1.4rem; } }
        .cta > div:first-child div button:first-child {
          background-color: #540b51;
          color: #fff; }
    .cta > div:first-child > ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 4rem;
      list-style: none;
      font-size: 2rem; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cta > div:first-child > ul {
          flex-direction: row;
          justify-content: space-around; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cta > div:first-child > ul {
          flex-direction: row;
          justify-content: space-around; } }
      @media all and (max-width: 91em) {
        .cta > div:first-child > ul {
          flex-direction: row;
          justify-content: space-around; } }
      .cta > div:first-child > ul > li {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 2rem; }
        .cta > div:first-child > ul > li > :first-child {
          font-size: 4rem;
          font-weight: 600;
          color: #540b51; }
          @media all and (min-width: 48em) and (max-width: 64em) {
            .cta > div:first-child > ul > li > :first-child {
              font-size: 3.2rem; } }
          @media all and (min-width: 65em) and (max-width: 90em) {
            .cta > div:first-child > ul > li > :first-child {
              font-size: 3.2rem; } }
          @media all and (max-width: 91em) {
            .cta > div:first-child > ul > li > :first-child {
              font-size: 3.2rem; } }
        .cta > div:first-child > ul > li > :last-child {
          text-align: center;
          font-size: inherit;
          font-weight: 500; }
          @media all and (min-width: 48em) and (max-width: 64em) {
            .cta > div:first-child > ul > li > :last-child {
              font-size: 1.2rem;
              padding: 0 4rem; } }
          @media all and (min-width: 65em) and (max-width: 90em) {
            .cta > div:first-child > ul > li > :last-child {
              font-size: 1.2rem;
              padding: 0 4rem; } }
          @media all and (max-width: 91em) {
            .cta > div:first-child > ul > li > :last-child {
              font-size: 1.4rem;
              padding: 0 4rem; } }
  .cta > div:last-child {
    background-color: #540b51;
    width: 100%;
    height: 40rem;
    border-radius: 0 0 50% 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0 1.2rem; }
    @media all and (min-width: 48em) and (max-width: 64em) {
      .cta > div:last-child {
        height: 30rem; } }
    @media all and (min-width: 65em) and (max-width: 90em) {
      .cta > div:last-child {
        height: 30rem;
        display: block;
        text-align: center; } }
    @media all and (max-width: 91em) {
      .cta > div:last-child {
        height: 30rem;
        display: block;
        text-align: center; } }
    .cta > div:last-child h3 {
      font-size: 4rem;
      color: #fff;
      margin: 2.4rem 0; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cta > div:last-child h3 {
          font-size: 3.4rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cta > div:last-child h3 {
          font-size: 3.4rem; } }
      @media all and (max-width: 91em) {
        .cta > div:last-child h3 {
          font-size: 3.4rem; } }
    .cta > div:last-child button {
      width: inherit;
      height: 6rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 600;
      border: 1px solid #fff; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cta > div:last-child button {
          width: 80%;
          height: 4rem;
          font-size: 1.4rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cta > div:last-child button {
          width: 20%;
          height: 4rem;
          font-size: 1.4rem; } }
      @media all and (max-width: 91em) {
        .cta > div:last-child button {
          width: 20%;
          height: 4rem;
          font-size: 1.4rem; } }
    .cta > div:last-child > :nth-child(2) {
      background-color: #540b51;
      color: #fff; }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cta > div:last-child > :nth-child(2) {
          margin-right: 2rem; } }
      @media all and (max-width: 91em) {
        .cta > div:last-child > :nth-child(2) {
          margin-right: 2rem; } }
    .cta > div:last-child > :nth-child(3) {
      color: #540b51; }

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem; }
  .cards div {
    display: flex;
    padding: 0 1.2rem;
    flex-direction: column;
    justify-content: center;
    gap: 2.6rem; }
    .cards div div {
      align-self: center; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div div {
          width: 45%; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div div {
          width: 50%; } }
      @media all and (max-width: 91em) {
        .cards div div {
          width: 55%; } }
    .cards div > h2 {
      font-size: 3.4rem;
      color: #191817; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div > h2 {
          font-size: 3.6rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div > h2 {
          font-size: 3.8rem; } }
      @media all and (max-width: 91em) {
        .cards div > h2 {
          font-size: 4rem; } }
    .cards div > p {
      line-height: 2.2rem;
      font-weight: 600;
      font-size: 1rem; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div > p {
          font-size: 1.2rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div > p {
          font-size: 1.2rem; } }
      @media all and (max-width: 91em) {
        .cards div > p {
          font-size: 1.4rem; } }
    .cards div img {
      width: 50%; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div img {
          width: 55%; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div img {
          width: 60%; } }
      @media all and (max-width: 91em) {
        .cards div img {
          width: 65%; } }
      .cards div img:nth-child(2) {
        align-self: flex-end; }
      .cards div img:not(:first-child) {
        margin-top: 3rem; }
    .cards div a:link {
      font-size: 1.4rem;
      color: #2e71a6;
      font-weight: 500;
      text-decoration: none; }
      @media all and (min-width: 48em) and (max-width: 64em) {
        .cards div a:link {
          font-size: 1.2rem; } }
      @media all and (min-width: 65em) and (max-width: 90em) {
        .cards div a:link {
          font-size: 1.2rem; } }
      @media all and (max-width: 91em) {
        .cards div a:link {
          font-size: 1.2rem; } }
