/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey:  ;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* General styling */

* {
    font-family: 'Quicksand', sans-serif;
    color: #5b5e6d
}

h1,
h2 {

    font-family: 'Merryweather';
    font-weight: 900;
    color: black

}

h2 {

    margin-bottom: .5em;
    font-size: 1.8em

}

p {

    margin-bottom: 2em;

}

ul {

    margin: 0;
    padding:0;

    list-style: none;

}

a,
a:hover{

    color: #5b5e6d;
    text-decoration: none

}

section {

    padding: 40px 20px 20px 20px;

}

figure {

    margin: 0

}

div[class*='col'] img {

    /* background-color: red; */

}

.try-it .sign-in {

    text-align: center;

}

header {

    z-index: 1;

}

main {

    z-index: 2;

}

/* Web header section */

.web-header {

    position:fixed;
    width: 100%;
    background-color: white;

    padding: 0 30px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 1px #F4F3F4

}

.web-header .home-logo {

    height: 80%;

}

.web-header .hambur {

    height: 40%;
    display: block;

}

.web-header .nav-list {

    display: none;

}

.web-header figure,
.web-header img {

    height: 100%;

}

.web-header li {

    margin: 0 20px

}

/* Presentation section */

.presentation {

    padding-top: 90px;
    border-bottom: solid 1px lightgray

}

.presentation img {

    width: 100%;

}

.email-field input,
.email-field button {

    width: 100%;

}

input {

    padding: 0 15px;
    outline: none;

}

a.sign {

    text-decoration: underline;
    color: #3F48A9;

}

/* Sponsors section */

.sponsors {

    padding: 40px 30px 20px 30px;
    text-align: center;
    background-color: #F4F3F4;


}

.sponsors img {

    width: 50%;

}

.sponsors div[class*='col'] {

    margin: 30px 0;

}

/* Try-it section */

.try-it {

    padding: 30px;
    border: solid 1px lightgray;
    border-left: none;
    border-right: none

}

.try-it h2 {

    font-size: 1.5em;

}

.try-it p,
.try-it h2 {

    margin-bottom: 0px;
    text-align: center

}

/* Navigator section */

.navigator h2 {

    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: #5b5e6d;
    font-size: 1.2em;

}

.navigator li {

    margin: 15px 0;

}

.navigator img {

    width: 80px

}

.navigator div[class*='col']{

    margin: 10px 0

}

/* Footer */

footer {

    padding: 10px 0;
    background-color: #F4F3F4;

}

footer ul {

    display: flex;
    justify-content: center;

}

footer ul a {

    font-weight: 700;

}

footer li {

    margin-right: 20px;

}

footer figure {

    display: inline

}

footer img {

    height: 30px;

}

.social img {

    height: 20px;
    filter: saturate(0);

}

footer div[class*='col'] {

    margin: 10px 0

}

footer span {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px

}



/* COMPONENTS */

.button {

    height: 50px;
    margin: 10px 0;

    background-color: white;

    color: #5b5e6d;

    border: solid 1px;
    border-radius: 5px;

}

.button.hard {

    text-transform:uppercase;
    font-weight: 700;
    font-size: .9em;

}

.button.hard.blue {

    background-color: #3F48A9;
    color: white;
    border-color: #3F48A9;

}

.button.hard.white {

    color: navy;
    display: block;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto 40px auto

}

/* RESPONSIVE */

@media (min-width: 576px) {

    
}

@media (min-width: 768px) {

    h1 {

        font-size: 3.8em;

    }

    h2 {

        font-size: 2.2em;

    }

    p {

        font-size: 1.1em;

    }

    .input-field {

        padding-right: 5px;

    }
    
    .get-started-b {

        padding-left: 5px;

    }

    .presentation img {

        width: 55%;
        display: block;
        margin: 0 auto;
                        
    }

    .button.button.hard.white {

        width: 200px

    }

    .try-it h2,
    .try-it .sign-in {

        text-align: left

    }
    
    .try-it h2 {

        font-size: 1.8em

    }

    footer {

        padding: 0;

    }

    footer span {

        width: 200px

    }
    
}

@media (min-width: 992px) {

    .web-header {
    
        padding: 0 50px;
        height: 70px;
        
    }

    .web-header .hambur {

        display: none;

    }

    .web-header .nav-list {

        display: flex;

    }

    h1 {

        font-size: 5em;

    }

    .presentation {

        padding-top: 110px;

    }

    .presentation .input-field {

        display: none;

    }

    .get-started-b {

        padding-left: 15px;

    }

    .presentation img {
        
        width: 100%;
                        
    }

    .try-it .input-field {

        display: none;

    }

}

@media (min-width: 1200px) {     

}