/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
@import url('stylesheets/reset.css');

*{
  overflow:hidden;
}

body{
  font-size:18px;
  color:#3b434b;
  font-family: 'Lato',sans-serif;
}

img{
  max-width: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
#logo-img{
  width: 120px;
}

#menu-bars{
  width:30px;
}

ul{
  display:none;
}

#hero-img{
  display:none;
}

h1{
  font-size:2.5rem;
  padding-left: 5%;
  width: 80%;
}

#header-text{
  padding: 0 5%;
  width: 80%;
  font-size: 1rem;
  line-height: 1.6rem;
}
#input-field-container{
  padding: 0 5%;
  width: 80%;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 5% 0;
}

.input-field{
  width:80%;
  padding:5%;
  color:#3b434b;
  float:left;
}

















