/* Team Section */

.team-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-section-text {
    padding-bottom: 50px;
}

.team-section ul {
  display: flex;
  padding: 40px 50px 60px 50px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.team-section li {
  list-style-type: none;
}

.figure-text {
  padding-bottom: 5px;
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.32px;
}

.team-section-title {
  color: #540b51;
  text-align: center;
  font-family: "Gothic A1";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: 0.5px;
  padding-bottom: 25px;
}

.figure {
  color: #540b51;
  font-family: "Gothic A1";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
}

/* Medium screens and larger */

@media (min-width: 1025px) {
    .team-section ul {
        flex-direction: row;
    }

    .figure {
        font-size: 44px;

    }
}


