<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer>
      <ul>
        <li>Status</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Cookie Preferences</li>
        <li>Contact Us</li>
        <li>Change Region</li>
        <li>Download Slack</li>
      </ul>

      <hr />

      <ul>
        <li>
          <i class="fab fa-twitter"></i>
        </li>
        <li>
          <i class="fab fa-facebook"></i>
        </li>
        <li>
          <i class="fab fa-youtube"></i>
        </li>
        <li>
          <i class="fab fa-linkedin"></i>
        </li>
      </ul>

      <div>
        <small>
          &copy; 2022 Slack Technologies, LLC, a Salesforce company. All rights
          reserved. Various trademarks held by their respective owners.
        </small>
      </div>
    </footer>
  </body>
</html>
