<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/starter_code/stylesheets/style.css">
    <link rel="stylesheet" href="/starter_code/stylesheets/header.css">
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div>
        <h1>Great teamwork starts with a digital HQ</h1> Test

        <p>Slack is free to try for as long as you'd like.</p>

        <div>
          <button>Sign up with email</button>

          <button>
            <img src="./images/logo-google.png" alt="Google logo" />
            <span>Sign up with Google</span>
          </button>
        </div>
      </div>

      <div>
        <img src="./images/hero-product-ui.png" alt="Slack app screenshot" />
      </div>
    </header>
  </body>
</html>
