<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/starter_code/stylesheets/style.css" />
    <link rel="stylesheet" href="/starter_code/stylesheets/team-section.css" />
  </head>
  <body>
    <section>
      <h3>Teams large and small rely on Slack</h3>
      <p>
        Slack securely scales up to support collaboration at the world’s biggest
        companies.
      </p>

      <ul>
        <li>
          <p><span>85%</span></p>
          <p>
            of users say Slack has improved communication
            <sup>*</sup>
          </p>
        </li>

        <li>
          <p><span>86%</span></p>
          <p>
            feel their ability to work remotely has improved has improved
            <sup>*</sup>
          </p>
        </li>

        <li>
          <p><span>88%</span></p>
          <p>
            feel more connected to their teams*
            <sup>*</sup>
          </p>
        </li>
      </ul>
    </section>
  </body>
</html>
