/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
    padding: 0;
    margin: 0;
}

/* GENERAL STYLING */

body {
    font-family: 'Raleway',
        sans-serif;

}

img {
    width: 100%;
}

h1 {
    font-family: "Playfair", serif;
    font-size: 4em;
    font-weight: 600;
    color: #2e2e2e;
}

h2 {

    font-family: "Playfair", serif;
    font-size: 3em;
    font-weight: 600;
    color: #2e2e2e;
    text-align: center;
}

h3 {

    font-family: "Playfair", serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #2e2e2e;
    text-align: center;

}

p {
    font-size: 1.3em;
    line-height: 1.9em;
    color: #5f5f5f;
    font-weight: 500;
}

a {
    text-decoration: underline;
    color: #3c47a8;
}

ul li {
    font-size: 1em;
    line-height: 2em;
    color: #5f5f5f;
    font-weight: 400;
    list-style: none;
}



/* NAVIGATION */

header.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(134, 134, 134, 0.671);
    padding: 20px 40px;
}

header .logo {
    width: 160px;
}

header .navicon {
    width: 50px;
}

header nav {
    display: none;

}

nav ul li {
    font-size: 1.2em;
    margin-right: 20px;
}

/* HERO */

.hero {
    margin-top: 80px;
}




/* INTRO SECTION */

.intro .log-in {
    margin-top: 15px;
    margin-bottom: 80px;
    text-align: center;

}

.intro img {
    width: 100%;
}

/* MAIN */

.main {
    background-color: #F4F3F4;
    width: 100%;
    padding-top: 100px;

}

.main p {
    text-align: center;

}

.main .sponsors .box-img {
    display: flex;
    align-items: center;
    height: 200px;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid rgba(134, 134, 134, 0.671);
}

.main .sponsors .box-img:last-child {
    border-bottom: 0px;
}

.main .sponsors img {
    width: 55%;
    margin: 0 auto;
    display: block;
}


/* TRY */
.try {
    padding: 100px 0;
}

.try p {
    text-align: center;
}




/* FOOTER */
.footer {
    margin-bottom: 40px;
}

.footer .logo-footer img {
    width: 200px;

}

.footer-lists ul li:first-child {
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 10px;
}

/* FOOTER-bottom */

.footer-bottom {
    background-color: rgb(233, 233, 233);


}

.footer-bottom ul {
    padding: 0 40px;
    display: flex;
    justify-content: space-evenly;

}

.left li {
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 30px;
}

.footer-bottom img {
    width: 50px;

}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right>* {
    margin-bottom: 30px;
}

.social i {
    padding: 5px;

}


/* COMPONENTS: BUTTONS  */
.button {
    text-transform: uppercase;
    background-color: #3c47a8;
    font-size: 1.5em;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 8px;
    letter-spacing: 2px;
    margin-top: 15px;
    height: 80px;

}

.white {
    background-color: white;
    color: #3c47a8;
    border-color: #3c47a8;
    margin: 40px auto;
}

button,
input {
    overflow: visible;
    padding: 22px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: 1.4em;
    margin-top: 30px;
}







/* RESPONSIVE */





@media (min-width: 768px) {

    body {}




    nav ul {
        display: none
    }


    .hero .row {
        align-items: baseline;
    }

    .white {
        width: 60%;
    }

    .intro.log-in {
        text-align: start;
    }

    .intro .log-in {
        text-align: start;
    }

    .try {
        align-items: baseline;

    }

    h3,
    .try p {
        text-align: start;
    }

    .button {
        font-size: 1em;
        font-weight: 400;
    }

    .footer-bottom {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

    }

    .left li {
        margin-right: 12px;
    }

    .right {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        align-items: baseline;
        padding: 0 40px;

    }

    .right>* {
        margin-left: 12px;
    }

    @media (min-width: 1200px) {

        header .navicon {
            display: none;

        }

        header nav {
            display: block;
        }



        nav ul {

            display: flex;
        }

        .button .white {
            display: block;
            margin: 0 auto;
        }

    }









}